<div class="row">
  <div *ngIf="legalEntityCreateOpen" class="col s12">
    <mat-card class="main">
      <mat-card-content>
        <div class="row" *ngIf="onCreate">
          <h5>Create {{legalEntity.name}}</h5>
        </div>
        <div class="row" *ngIf="!onCreate">
          <h5>Edit {{legalEntity.name}}</h5>
        </div>
        <mat-form-field>
          <input id="edit-name" name="edit-name" type="text" [(ngModel)]="legalEntity.name" matInput
                 [placeholder]="'Name'"/>
        </mat-form-field>
        <mat-form-field>
          <input id="edit-code" name="search-code" type="text" [(ngModel)]="legalEntity.code" matInput
                 [placeholder]="'Code'"/>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select country" [(ngModel)]="legalEntity.country" name="edit-country">
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let country of countries" [value]="country.value">
              {{country.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select organization" [(ngModel)]="legalEntity.organization_ref.pk" name="edit-country">
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let o of organizations" [value]="o.pk">{{o.__str__}}</mat-option>
          </mat-select>
        </mat-form-field>
        <sp-save-undo (save)="saveLegalEntity()" (undo)="undoEditLegalEntity()"></sp-save-undo>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col s12 m3" *ngIf="!legalEntityCreateOpen">
    <h5>Filters</h5><br>
    <div class="row">
      <form>
        <mat-form-field>
          <input name="search-name" type="text" [(ngModel)]="legalEntityFilter.name" matInput [placeholder]="'Name'"/>
        </mat-form-field>

        <mat-form-field>
          <input name="search-code" type="text" [(ngModel)]="legalEntityFilter.code" matInput [placeholder]="'Code'"/>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select country" [(ngModel)]="legalEntityFilter.country" name="country">
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let country of countries" [value]="country.value">
              {{country.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select organization" [(ngModel)]="legalEntityFilter.organization_ref.pk" name="organization">
            <mat-option>---</mat-option>
            <mat-option *ngFor="let o of organizations" [value]="o.pk">{{o.__str__}}</mat-option>
          </mat-select>
        </mat-form-field>

        <sp-search-reset (search)="reload()" (reset)="reset()"></sp-search-reset>
      </form>
    </div>
  </div>

  <div class="col s12 m9" *ngIf="!legalEntityCreateOpen">
    <mat-card>
      <div class="row">
        <div class="flex" style="margin-bottom:10px">
          <h5 style="margin: 0;">Legal Entities</h5>
         <span class="fill-remaining-space"></span>
          <mat-slide-toggle color="primary" [(ngModel)]="active" (ngModelChange)="legalEntitiesTable.reload()">Active
          </mat-slide-toggle>
        </div>
        <sp-table-with-pages #legalEntitiesTable [nResults]="15" [small]="true"
                             [noItemsMessage]="noItemsMessageLegalEntities"
                             [headerConf]="headerConfLegalEntities"
                             [availableActions]="availableActions"
                             [getData]="loadLegalEntities.bind(this)"></sp-table-with-pages>

      </div>
      <div class="row">
        <div class="add-button-container flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'"
                  (click)="createLegalEntity()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

    </mat-card>


  </div>

</div>


