header {
  /*height:115px;*/
  padding:10px;
}
.calendar-container {
  height:calc(100% - 135px);
  width: calc(100% - 25px);
}

.wo-container {
  /*height:calc(100% - 100px);*/
  overflow: auto;
  /*min-height: calc(100% - 100px);*/
  max-height: calc(100% - 100px);
}

.ver-bar {
  width:calc(100% - 1px);
  min-height:100%;
  border-right:1px solid black;
  overflow:hidden;
}

.data-container {
  width:calc(100%);
  min-height:100%;
  position:relative;
  overflow:hidden;
}

.arrow {
  position:absolute;
}

.arrow.up {
  top:-10px;
  left:-13px;
}

.arrow.right {
  bottom:-13px;
  right:-10px;
}


.hor-bar {
  height:100px;
  width: calc(100% / 12 * 11 + 2px);
  margin-left: calc(100% / 12 - 2px);
  position:relative;
  border-top:1px solid black;
}

.hor-bar-button {
  position:absolute;
  top:0;
  height:100%;
  cursor:pointer;
  /*z-index:9999999;*/
}

.hor-bar-button:hover {
  background-color:#eee;
}

.hor-bar-button.back {
  left:-24px;
}

.hor-bar-button.forward {
  right:-24px;
}
.date {

  transform: rotate(-45deg);
}

.date.month.odd {
  /*display:none;*/
}

.date.month {
  transform: rotate(-90deg);
  display: block;
  height: 30px;
  width: 100px;
  position: absolute;
  text-align: right;
  padding-right: 5px;
}

.site-label {
  display: block;
  height: 100%;
  width: 30px;
  position:relative;
  overflow:hidden;
}

.site-label.odd {
  background:#ccc;
}

.site-label-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
  overflow: hidden;
}

.column {
  border-right:1px dashed #ccc;
}

.column.sunday {
  border-right:2px solid #ccc;
}

.closed {
  background-color:rgb(255, 103, 103);
}

.part-closed {
  background-color: rgba(255, 103, 103,0.5);
}

.today {
  background-color: #00cc00;
}

.full-height {
  height:100%!important;
}

.full-width {
  width:100%!important;
}

md-grid-tile.odd {
  background-color: #eee;
}

.workorder-dialog {
  width:900px;
}

*>>>.mat-grid-tile {
  overflow: visible;
}

.row.main-cal .col {
  height:100%;
  padding:0;
}

.status-cb >>> .mat-checkbox-label {
  color:black;
}

.main-cal.reduced {
  width:calc(100% - 35px)!important;
}
