<div class="row main nomargin" *ngIf="ready">
  <div class="col s12">
    <header>
      <div class="flex">
        <div style="width:300px; margin-right:10px;">
          <user-sites [label]="tr('SITE')" #sitesCombo (siteChange)="siteFilterSelected($event)" [additionalQuery]="{active_on_sap:true}" [prepopulate]="prepopulate" [initialValue]="prepopulate?null:siteFilter" [allowEmpty]="true" (sitesReady)="sitesReady()"></user-sites>
        </div>
        <div style="width:200px">
          <mat-form-field>
            <mat-select [placeholder]="tr('TYPE')" [(ngModel)]="typeFilter" (ngModelChange)="redraw()"[disabled]="onlySampling">
              <mat-option [value]="-1">Both</mat-option>
              <mat-option *ngFor="let t of types" [value]="t.delta_rel">{{t.__str__}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <span class="fill-remaining-space"></span>
        <mat-form-field style="width:200px; margin-right:10px;">
          <mat-select [placeholder]="tr('VERTICAL_VIEW')" [(ngModel)]="verticalView" (ngModelChange)="redrawVertical()">
            <mat-option [value]="'W'">Workcenter</mat-option>
            <mat-option [value]="'P'">People</mat-option>
            <mat-option [value]="'M'">Materials</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width:200px">
          <mat-select [placeholder]="tr('HORIZONTAL_VIEW')" [(ngModel)]="horizontalView" (ngModelChange)="redraw()">
            <mat-option [value]="'WEEK'">Week</mat-option>
            <mat-option [value]="'MONTH'">Month</mat-option>
          </mat-select>
        </mat-form-field>
        <span class="fill-remaining-space"></span>
        <button mat-mini-fab class="serioplast-green" (click)="createWorkorder()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="flex" style="padding:10px 0">
        <span class="fill-remaining-space"></span>
        <mat-checkbox *ngFor="let ss of statusesStructure" [(ngModel)]="ss.active" color="primary" [style]="getStatusStyle(ss.sl)" class="status-cb" (ngModelChange)="redraw()">{{ss.sl.__str__}}</mat-checkbox>
        <span class="fill-remaining-space"></span>
      </div>
    </header>
    <div class="calendar-container" *ngIf="structuresWithSites && structuresWithSites[0] && structuresWithSites[0].structures && structuresWithSites[0].structures[0]">
      <div class="wo-container" [style]="getWoContainerHeight()">
        <ng-container *ngFor="let ss of structuresWithSites; let ind=index">
          <div class="flex" [style]="getWoContainerHeight(ss.site)">
            <div class="site-label flex" *ngIf="!siteFilter.pk" [ngClass]="{odd:(ind%2==0)}" matTooltip="{{ss.site.__str__}}" matTooltipPosition="right">
              <div class="site-label-text">{{ss.site.code}}</div>
            </div>
            <div class="row main-cal nomargin full-width" [ngClass]="{reduced:!siteFilter.pk}">
              <div class="col s1 no-padding">
                <div class="ver-bar" [style]="getWoContainerHeight(ss.site)">
                  <mat-grid-list [cols]="1" rowHeight="32px">
                    <mat-grid-tile *ngFor="let k of ss.verKeys; let i=index" [rowspan]="ss.structures[0].cells[i].rowspan">
                      <span matTooltip="{{k.extendedLabel}}" matTooltipPosition="right">{{k.label}}</span>
                    </mat-grid-tile>
                  </mat-grid-list>
                </div>
              </div>
              <div class="col s11 no-padding">
                <div class="data-container" [style]="getWoContainerHeight(ss.site)">
                  <div class="data">
                    <!--<md-icon class="arrow up">keyboard_arrow_up</md-icon>-->
                    <!--<md-icon class="arrow right">keyboard_arrow_right</md-icon>-->
                    <mat-grid-list *ngIf="ss.structures.length>0" [cols]="ss.structures.length" rowHeight="{{32*ss.structures[0].rows}}" gutterSize="0" >
                      <mat-grid-tile *ngFor="let s of ss.structures; let i=index" class="column" [ngClass]="{sunday:s.isSunday}">
                        <mat-grid-list [cols]="1" class="full-width" rowHeight="32" gutterSize="0">
                          <mat-grid-tile *ngFor="let c of s.cells; let k=index" [rowspan]="c.rowspan" class="row-tile"
                                        [ngClass]="{even:k%2==0,odd:k%2!=0}">
                            <div class="full-width">
                              <workorder-label *ngFor="let d of c.data" [workorder]="d" class="full-width" style="display:block"
                                               (change)="redraw()" [columnDate]="s.date"
                                               (viewWorkorder)="viewWorkorder($event)" [nColumns]="ss.structures.length" [columnIndex]="i"></workorder-label>
                            </div>
                          </mat-grid-tile>
                        </mat-grid-list>
                      </mat-grid-tile>
                    </mat-grid-list>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </ng-container>



      </div>

      <div class="flex">
        <div class="site-label" *ngIf="!siteFilter.pk">
        </div>
        <div class="hor-bar">

          <div class="hor-bar-button flex back" (click)="backDate()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </div>
          <div class="hor-bar-button flex forward" (click)="forwardDate()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </div>
          <mat-grid-list *ngIf="structuresWithSites.length>0 && structuresWithSites[0].structures && structuresWithSites[0].structures.length>0" [cols]="structuresWithSites[0].structures.length" rowHeight="100%" gutterSize="0">
            <mat-grid-tile *ngFor="let s of structuresWithSites[0].structures; let i=index" [ngClass]="{'closed':s.isClosed, 'part-closed':s.isPartiallyClosed, 'today':s.isToday}">
              <span class="date" [ngClass]="{month:structuresWithSites[0].structures.length!=9,week:structuresWithSites[0].structures.length==9, odd:((i+1)%2==0)}">
                {{s.date|date:'EE, MMM d'}}
              </span>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>

    </div>
  </div>
</div>

