<div class="row main">
  <div class="col s2">
    <sales-pricelist-filters #filters (reloadEvent)="reload($event)" (preventAccess)="preventAccess()"></sales-pricelist-filters>
  </div>
  <div class="col s10">

    <div class="flex" style="padding:10px">
      <ng-container *ngIf="hasSelectedPeriods()">
        <button mat-mini-fab class="serioplast-green" [matTooltip]="'Promote to pricelist'" (click)="promoteSelectedWIPP()">
          <mat-icon>file_upload</mat-icon>
        </button>

        <button style="margin-left:100px" mat-mini-fab class="serioplast-red" [matTooltip]="'Delete work in progress'" (click)="deleteSelectedWIPP()">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="createWIP()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="hor-scroll">
      <table class="mdl-data-table bordered striped noclick" *ngIf="wipPeriods.length>0">
        <thead>
        <tr>
          <th style="width:50px">
            <mat-checkbox [(ngModel)]="selectAll" (ngModelChange)="toggleSelectAll()"></mat-checkbox>
          </th>
          <th style="width:100px">Material</th>
          <th style="width:100px">Organization</th>
          <th style="width:100px">Customer</th>
          <th style="width:100px">Plant</th>
          <th style="width:100px">Ship to party</th>
          <th style="width:100px">Packing Instruction</th>
          <th style="width:100px">Price Unit</th>
          <th style="width:100px" *ngFor="let c of condColumns" >

              <span [matTooltip]="c.conditionName.Helper+' '+c.conditionName.Formula">{{c.conditionName.Condition}}</span>

              <ng-container *ngIf="c.conditionName && (c.conditionName.Rule=='MB' || c.conditionName.Rule=='MP') && allPeriodsHaveOkCondition(c.conditionName) && hasSelectedPeriods()">
                <mat-icon (click)="editConditionMassively(c.conditionName)">edit</mat-icon>
              </ng-container>

          </th>
          <!--<th style="width:100px">Actions</th>-->
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let wipp of wipPeriods; let i=index;">
          <tr>
            <!--<ng-container *ngFor="let m of [(wipp.Material|materialCode|async)]">-->
              <!--<ng-container *ngIf="m">-->
                <td class="small" (click)="$event.stopPropagation()">
                  <mat-checkbox [(ngModel)]="wipp.selected" color="primary"></mat-checkbox>
                </td>
                <td class="small data" (click)="editWIP(wipp)">
                  <ng-container *ngIf="wipp.materialFull">
                    {{wipp.Material}} - {{wipp.materialFull.Description}}
                  </ng-container>

                </td>
                <td class="small data" (click)="editWIP(wipp)">{{wipp.SalesOrganization}}</td>
                <td class="small data" (click)="editWIP(wipp)" [innerHTML]="getCustomerDescription(wipp)"></td>
                <td class="small data" (click)="editWIP(wipp)" >{{wipp.Plant|siteSapCode}}</td>
                <td class="small data" (click)="editWIP(wipp)" [innerHTML]="getShipToPartyDescription(wipp)"></td>
                <td class="small data" (click)="editWIP(wipp)">{{wipp.PackInstruction?wipp.PackInstruction:'-'}}</td>
                <td class="small" style="width:150px">
                  <input type="number" [(ngModel)]="wipp.basePriceUnit" (ngModelChange)="updateCondsPriceUnit(wipp)" style="width:calc(100% - 50px); margin: 0;"/> {{wipp.materialFull.Uom}}
                </td>
                <td *ngFor="let c of condColumns" (click)="editWIP(wipp)">
                  <ng-container *ngFor="let cond of [c.conditions[i]]">
                    <ng-container *ngIf="cond">
                      <ng-container *ngIf="isConditionEditable(wipp,cond.Condition)">
                        <!--<div class="">-->
                          <!--<input type="number" [(ngModel)]="cond.Value"/>-->
                          <!--<label>Value ({{cond.Currency}})</label>-->
                         <!---->
                        <!--</div>-->
                        <ng-container *ngIf="cond.Currency!='%' && cond.Currency">
                          {{cond.Value|currency:cond.Currency:'symbol'}}
                        </ng-container>
                        <ng-container *ngIf="cond.Currency=='%'">
                          {{cond.Value}} %
                          <ng-container *ngIf="cond.conditionName.Formula">
                            / {{calcValue(wipp,cond)}} {{getWIPCurrency(wipp,cond, true)}}
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="!isConditionEditable(wipp,cond.Condition)">
                        <ng-container *ngFor="let condName of [getCondition(filters.query.SalesOrganization, cond.Condition)]">
                          <ng-container *ngIf="condName.Rule=='T'">
                            <ng-container *ngIf="doesConditionHaveAllData(wipp,cond.Condition)">
                              {{calculateTotal(wipp,cond.Condition)|currency:getWIPCurrency(wipp,cond):'symbol'}}
                            </ng-container>
                            <ng-container *ngIf="!doesConditionHaveAllData(wipp,cond.Condition)">
                              <mat-icon [matTooltip]="'Missing required data'">warning</mat-icon>
                            </ng-container>
                          </ng-container>
                          <ng-container *ngIf="condName.Rule=='MP'">
                            <ng-container *ngIf="doesConditionHaveAllData(wipp,cond.Condition)">
                              <ng-container *ngIf="cond.Currency!='%'&& cond.Currency">
                                {{cond.Value|currency:cond.Currency:'symbol'}}
                              </ng-container>
                              <ng-container *ngIf="cond.Currency=='%'">
                                {{cond.Value}} %
                                <ng-container *ngIf="condName.Formula">
                                  / {{calcValue(wipp,cond)|currency:getWIPCurrency(wipp,cond, true):'symbol'}}
                                </ng-container>
                              </ng-container>

                              <!--<div class="">-->
                                <!--<input type="number" [(ngModel)]="cond.Value"/>-->
                                <!--<label>Value ({{cond.Currency}})</label>-->
                              <!--</div>-->
                            </ng-container>
                            <ng-container *ngIf="!doesConditionHaveAllData(wipp,cond.Condition)">
                              <mat-icon [matTooltip]="'Missing required data'">warning</mat-icon>
                            </ng-container>
                          </ng-container>
                          <ng-container *ngIf="condName.Rule=='MB'">
                            <ng-container *ngIf="doesConditionHaveAllData(wipp,cond.Condition)">
                              <!--<div class="">-->
                                <!--<input type="number" [(ngModel)]="cond.Value"/>-->
                                <!--<label>Value ({{cond.Currency}})</label>-->
                              <!--</div>-->
                              <ng-container *ngIf="cond.Currency!='%'&& cond.Currency">
                                {{cond.Value|currency:cond.Currency:'symbol'}}
                              </ng-container>
                              <ng-container *ngIf="cond.Currency=='%'">
                                {{cond.Value}} %
                              </ng-container>
                            </ng-container>
                            <ng-container *ngIf="!doesConditionHaveAllData(wipp,cond.Condition)">
                              <mat-icon [matTooltip]="'Missing required data'">warning</mat-icon>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!cond">
                      <div class="fill"></div>
                    </ng-container>
                  </ng-container>
                </td>
                <!--<td>-->
                  <!--<mat-icon (click)="editWIP(wipp)">edit</mat-icon>-->
                  <!--<mat-icon (click)="deleteWIP(wipp)">delete</mat-icon>-->
                  <!--<mat-icon (click)="promoteWIP(wipp)">file_upload</mat-icon>-->
                <!--</td>-->
              <!--</ng-container>-->
            <!--</ng-container>-->
          </tr>

        </ng-container>
        </tbody>
      </table>
      <span *ngIf="wipPeriods.length==0">
        No work in progress period available
      </span>
    </div>

    <div class="flex" style="padding:10px">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="saveAll()">
        <mat-icon>send</mat-icon>
      </button>
    </div>

  </div>
</div>

<sp-dialog #mbDialog>
  <div class="mb-dialog flex">
    <mat-form-field>
      <input type="number" [(ngModel)]="mbPrice" matInput placeholder="Price"/>
    </mat-form-field>
    <span class="fill-remaining-space"></span>
    <mat-form-field>
      <mat-select [(ngModel)]="mbUom" [placeholder]="'Measure unit'">
        <mat-option *ngFor="let u of uoms" [value]="u.uom">{{u.uom}}</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="fill-remaining-space"></span>
    <button mat-mini-fab class="serioplast-green" (click)="mbConfirm = true; mbDialog.close()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</sp-dialog>

<sp-dialog #mpDialog>
  <div class="mb-dialog flex">
    <mat-form-field>
      <input type="number" [(ngModel)]="mpPercentage" step="0.01" matInput placeholder="Percentage"/>
    </mat-form-field>
    <span class="fill-remaining-space"></span>
    <button mat-mini-fab class="serioplast-green" (click)="mpConfirm = true; mpDialog.close()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</sp-dialog>

