td.small{
  font-size:12px;
  padding:5px;
}

td.data {
  width:300px;
}

td input {
  height:30px;
}

material-selector>>>.col {
  padding:0;
}

.hor-scroll {
  width:100%;
  overflow: auto;
}

.hor-scroll table{
  width:max-content;
}

.hor-scroll table input{
  width:100px;
}

.vis-hidden {
  visibility: hidden;
}

tr {
  cursor:pointer;
}

.mb-dialog {
  width:400px;
}
