.container-dialog {
  width: 600px;
  height: 600px;
}

.container-dialog-content {
  overflow: auto;
  height: calc(100% - 20px);
}

.hideInput >>> input.mat-input-element {
  display: none;
}

.selected >>> input.mat-input-element {
  min-width: calc(100% - 50px);
}

.selected >>>.mat-input-infix {
  display:flex;
  align-items: center;
  flex-direction: row;
}



