<ng-container *ngIf="user && user.pk">
  <div class="flex">
    <div style="width:calc(100% - 40px)">
      <fixed-field [label]="label" [value]="user.__str__"></fixed-field>
    </div>

    <button mat-mini-fab class="serioplast-red" (click)="reset()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</ng-container>

<ng-container *ngIf="user && !user.pk">

  <div class="flex">
    <div style="width:calc(100% - 40px)">
      <fixed-field [label]="label" [value]="'Select user'"></fixed-field>
    </div>

    <button mat-mini-fab class="serioplast-blue" (click)="openDialog()">
      <mat-icon>people</mat-icon>
    </button>
  </div>
</ng-container>

<sp-dialog #dialog [nopadding]="true">
  <div class="container-dialog">
    <div class="serioplast-green" style="height:20px">&nbsp;</div>
    <div class="container-dialog-content" *ngIf="dialog.opened">
      <div class="row nomargin" style="margin-top:20px">
        <div class="col s9">
          <mat-form-field>
            <input matInput placeholder="Search" [(ngModel)]="search" (ngModelChange)="doSearchByInput()">
          </mat-form-field>
        </div>
        <div class="col s3">
          <button mat-mini-fab class="serioplast-green" (click)="table.reload()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <sp-table-with-pages #table [small]="true" [getData]="getUsers.bind(this)" [nResults]="20"
                               [clickable]="true" (rowclick)="select($event)"
                               [headerConf]="headerConf" [availableActions]="[]"></sp-table-with-pages>
        </div>
      </div>
    </div>
  </div>
</sp-dialog>
