<div class="create-container">
<div class="row" >
  <div class="col s3">
    <div *ngIf="!selected_worktool" class="orange-text">
      Select Worktool Type First!
    </div>
    <mat-form-field *ngIf="selected_worktool">
      <mat-select  placeholder="Select Package Item" name="package" [(ngModel)]="localpackageitem.object_id" required>
        <mat-option  *ngFor="let hit of selected_worktool.objects" [value]="hit.pk">
          {{ hit.__str__ }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div class="col s3 ">
    <mat-form-field>
      <input id="input1" placeholder="Select Local Label" [(ngModel)]="localpackageitem.label" name="name" type="text" required matInput [placeholder]="'Local Label'"/>
    </mat-form-field>
  </div>
  <div class="col s3">
    <fixed-field [label]="tr('SITE')" [value]="selected_site.__str__"></fixed-field>
  </div>
  <div class="col s3">
    <user-search [user]="localpackageitem.reference && localpackageitem.reference.pk? localpackageitem.reference:null" [label]="tr('REFERENCE')" (userSelected)="selectedReference.bind(this)($event)"></user-search>
  </div>
</div>
<div>
  <sp-save-undo (save)="createLocalPackage()" (undo)="undoCreate()"></sp-save-undo>
</div>
</div>


