<div class="flex">
  <button mat-fab class="grey back" (click)="back()" matTooltip="Back" [matTooltipPosition]="'below'">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <ng-container *ngIf="material">
    <h5>{{material.code}} - {{material.description}}</h5>
  </ng-container>
</div>

<app-material-edit-routings *ngIf="material" [material]="material"></app-material-edit-routings>
