<div class="property_set">
  <ng-container *ngIf="getActivePS().length>0">
    <div align="right">
      <button mat-button class="blue add-all" (click)="addAllPropertiesToMaterial()">Add all</button>
    </div>

    <table class="mdl-data-table noclick">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">
          <sp-ng-translate [value]="'NAME'"></sp-ng-translate>
        </th>
        <th>
          <sp-ng-translate [value]="'TYPE'"></sp-ng-translate>
        </th>
        <th>
          <sp-ng-translate [value]="'TEST_METHOD'"></sp-ng-translate>
        </th>
        <th>
          <sp-ng-translate [value]="'CALCULATED'"></sp-ng-translate>
        </th>
        <th>
          <sp-ng-translate [value]="'INTERNAL'"></sp-ng-translate>
        </th>
        <th style="min-width:125px">
          <sp-ng-translate [value]="'ACTIONS'"></sp-ng-translate>
        </th>
      </tr>
      </thead>

      <tbody>
      <ng-container *ngFor="let ps of getActivePS(); let i=index">
        <tr [ngClass]="{'disabled':!isMaterialInStructure(ps)}">
          <td>
            <sp-property [propertyPK]="ps.property.pk"></sp-property>
          </td>
          <td>
            {{ps.property.type.__str__}}
          </td>
          <td>
            <ng-container *ngFor="let i of [(ps.property.object_id|test_method:ps.property.content_type.pk|async)]">
              <ng-container *ngIf="i">{{i.__str__}} {{i.organizations&&i.organizations.__str__?' ('+i.organizations.__str__+')':''}}</ng-container>
            </ng-container>
          </td>
          <td>
            <span *ngIf="!ps.property.calculated"><mat-icon>clear</mat-icon></span>
            <ul *ngIf="ps.property.calculated">
              <li >Formula: <span matTooltip="{{ps.property.formula.description}}" matTooltipPosition="right">{{ps.property.formula.__str__}}</span></li>
              <li>Parameters:
                <mat-chip-list>
                  <mat-chip *ngFor="let p of ps.property.parameter_list">
                    <sp-property [propertyPK]="p.parameter"></sp-property>
                  </mat-chip>
                </mat-chip-list>
              </li>
            </ul>
          </td>
          <td>
            <mat-icon *ngIf="ps.property.internal" [ngClass]="{'no-pointer':true}">visibility_off</mat-icon>
            <mat-icon *ngIf="!ps.property.internal" [ngClass]="{'no-pointer':true}">visibility</mat-icon>
          </td>
          <td>
            <mat-icon (click)="editProp(ps.property)" matTooltip="Edit" [matTooltipPosition]="'below'">edit</mat-icon>
            <mat-icon (click)="cloneProp(ps.property)" matTooltip="Copy" [matTooltipPosition]="'below'">content_copy</mat-icon>
            <mat-icon matTooltip="Remove" [matTooltipPosition]="'below'" (click)="deleteProp(ps)">delete</mat-icon>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </ng-container>

  <div *ngIf="getActivePS().length==0">
    <div class="no-results">
      <sp-ng-translate [value]="'NO_PROPERTIES_AVAILABLE'"></sp-ng-translate>
    </div>
  </div>
  <div align="right" class="add-button" *ngIf="siblings.length>0">
    <button mat-mini-fab class="green add" (click)="createProp()" matTooltip="Create" [matTooltipPosition]="'below'">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div *ngIf="getInactivePS().length>0">

    <h5>Inactive properties</h5>

    <table class="bordered striped noclick inactiveProperties">
      <thead>
      <tr>
        <th>
          <sp-ng-translate [value]="'NAME'"></sp-ng-translate>
        </th>
        <th>
          <sp-ng-translate [value]="'TYPE'"></sp-ng-translate>
        </th>
        <th>
          <sp-ng-translate [value]="'TEST_METHOD'"></sp-ng-translate>
        </th>
        <th>
          <sp-ng-translate [value]="'CALCULATED'"></sp-ng-translate>
        </th>
        <th>
          <sp-ng-translate [value]="'INTERNAL'"></sp-ng-translate>
        </th>
        <th>
          <sp-ng-translate [value]="'ACTIONS'"></sp-ng-translate>
        </th>
      </tr>
      </thead>

      <tbody>
      <ng-container *ngFor="let ps of getInactivePS(); let i=index">
        <tr>
          <td>
            <sp-property [propertyPK]="ps.property.pk"></sp-property>
          </td>
          <td>
            {{ps.property.type.__str__}}
          </td>
          <td>
            <ng-container *ngFor="let i of [(ps.property.object_id|test_method:ps.property.content_type.pk|async)]">
              <ng-container *ngIf="i">{{i.__str__}} {{i.organizations&&i.organizations.__str__?' ('+i.organizations.__str__+")":''}}</ng-container>
            </ng-container>
          </td>
          <td>
            <span *ngIf="!ps.property.calculated"><mat-icon>clear</mat-icon></span>
            <ul *ngIf="ps.property.calculated">
              <li>Formula: {{ps.property.formula.__str__}}</li>
              <li>Parameters:
                <mat-chip-list>
                  <mat-chip *ngFor="let p_ of ps.property.parameter_list">
                    <sp-property [propertyPK]="p_.parameter"></sp-property>
                  </mat-chip>
                </mat-chip-list>
              </li>
            </ul>
          </td>
          <td>
            <mat-icon *ngIf="ps.property.internal">visibility_off</mat-icon>
            <mat-icon *ngIf="!ps.property.internal">visibility</mat-icon>
          </td>
          <td>
            <mat-icon matTooltip="Restore" [matTooltipPosition]="'below'" (click)="restoreProp(ps)">open_in_browser</mat-icon>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>

</div>

