.back{
  margin-top:20px;
}

*>>>tr.active {
  background-color:#96db91!important;
}

.period-view {
  margin-top:10px;
}

*>>>.small-icon {
  font-size: 150%!important;
  line-height: 190%!important;
}

.pir-header, .periods{
  margin-top:10px;
}
