<div class="row">
  <div class="col s1">
    <button mat-fab class="serioplast-grey back" (click)="back()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div class="col" *ngIf="phToView" [ngClass]="{s11:!phToView['wip'],s10:phToView['wip']}">
    <mat-card class="pir-header">
      <div class="row nomargin">
        <div class="col s3">
          <fixed-field [label]="'Material'" [value]="materialSAP.Code+' - '+materialSAP.Description"></fixed-field>
        </div>
        <div class="col s3">
          <fixed-field [label]="'Sales Organization'" [value]="organization.SalesOrganizationCode+' - '+organization.Description"></fixed-field>
        </div>
        <div class="col s3">
          <fixed-field [label]="'Plant'" [value]="phToView.Plant?(phToView.Plant|siteSapCode):'-'"></fixed-field>
        </div>
        <div class="col s3">
          <fixed-field [label]="'Customer'" [value]="customer.Customer+' - '+customer.Name"></fixed-field>
        </div>


      </div>
      <div class="row nomargin">
        <div class="col s3">
          <fixed-field [label]="'Ship to party'" [value]="shipToParty.Customer+' - '+shipToParty.Name"></fixed-field>
        </div>
        <div class="col s3">
          <fixed-field [label]="'Packing Instruction'" [value]="phToView.PackInstruction"></fixed-field>
        </div>
        <div class="col s3">
          <fixed-field [label]="'Customer Currency'" [value]="phToView.CustCurrency"></fixed-field>
        </div>
        <div class="col s3">
          <fixed-field [label]="'Ship to Party Currency'" [value]="phToView.ShipCurrency"></fixed-field>
        </div>

      </div>
    </mat-card>
  </div>
  <div class="col s1" *ngIf="phToView['wip']">
    <div class="flex" style="padding:20px 10px">
      <span class="fill-remaining-space"></span>
      <button mat-fab class="serioplast-blue" (click)="goToWip()">
        <img style="width:60%;margin-top: 5px;" src="/assets/img/constructions_white.png"/>
      </button>
    </div>

  </div>
</div>

<div class="row">
  <div class="col s4 no-padding">
    <mat-card class="periods">
      <mat-card-content>
        <sp-table-with-pages [small]="true" [renderOnly]="true" [data]="phToView.PeriodLink" [nResults]="20"
                             [headerConf]="headerConfPeriods"
                             [availableActions]="availableActionsPeriods"
                             [getRowClass]="highlightPeriod.bind(this)" #periodsTable></sp-table-with-pages>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col s8">
    <mat-card class="period-view" *ngIf="periodToView">
      <div class="flex">
        <h5>{{periodToView.ValidFrom|sapDate}} -> {{periodToView.ValidTo|sapDate}}</h5>
      </div>


      <div class="flex">
        <button mat-mini-fab class="serioplast-blue" (click)="openSimulateOrder()" [matTooltip]="'Simulate sale order'">
          <sap-icon [iconName]="'sales-order'" [iconClass]="'small-icon'"></sap-icon>
        </button>
        <span class="fill-remaining-space"></span>
        <mat-select [(ngModel)]="currencyToConvertTo" style="width:200px" (ngModelChange)="convertConditions()" [placeholder]="'Currency to convert to'">
          <mat-option *ngFor="let c of currencies" [value]="c[0]">{{c[1]}}</mat-option>
        </mat-select>
      </div>
      <sp-table-with-pages [small]="true" [renderOnly]="true" [data]="periodToView.ConditionLink" [nResults]="50"
                           [headerConf]="headerConfConditions" [availableActions]="[]"
                           #conditionsTable></sp-table-with-pages>

    </mat-card>
  </div>
</div>

<sp-dialog #saleOrderSimulationDialog [nopadding]="true">
  <div class="sales-order-simulation">
    <mat-card>
      <div class="row nomargin">
        <div class="col s12">
          <div class="">
            <date-input [placeholder]="'Reference Date'" [(ngModel)]="simulatedOrder.ReferenceDate"></date-input>
          </div>
        </div>
        <div class="col s12">
          <div class="">
            <mat-form-field>
              <input type="number" [(ngModel)]="simulatedOrder.Quantity" matInput placeholder="Quantity"/>
            </mat-form-field>
          </div>
        </div>
        <div class="col s12">
          <div class="flex">
            <span class="fill-remaining-space"></span>
            <button mat-mini-fab class="serioplast-green" (click)="simulateOrder()"><mat-icon>send</mat-icon></button>
            <span class="fill-remaining-space"></span>
          </div>
        </div>
        <div class="col s12" *ngIf="simulatedOrder.Value">
          <h5 style="text-align: center;border: 3px solid green;">Value: {{parseFloat(simulatedOrder.Value)}} {{phToView.CustCurrency}}</h5>

        </div>
      </div>
    </mat-card>
  </div>
</sp-dialog>


