<mat-card class="property_edit" *ngIf="propertyToEdit">
  <mat-card-content>
    <!--<form (submit)="saveProperty()">-->
      <div class="row">
        <div class="col s8">
          <div class="row nomargin">
            <div class="col s3">
              <sp-autocomplete [label]="tr('NAME')" [initialValue]="propertyToEdit.name?propertyToEdit.name:null"
                               [source]="propertyNames" [sourceFunction]="getPropertyNames.bind(this)" [displayKey]="'__str__'"
                                 (valueChanged)="selectedName.bind(this)($event)"></sp-autocomplete>
            </div>

            <div class="col s9">
              <sp-chip-autocomplete [label]="tr('ATTRIBUTES')" [source]="attributes" [sourceFunction]="getAttributes.bind(this)"
                                    [displayKey]="'__str__'" [model]="propertyToEdit.attribute" [minChars]="1"></sp-chip-autocomplete>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <mat-checkbox name="internal" [(ngModel)]="propertyToEdit.internal" color="primary">
                <sp-ng-translate [value]="'INTERNAL'"></sp-ng-translate>
              </mat-checkbox>
            </div>
          </div>
          <div class="row nomargin">
            <div class="col s4">
              <mat-form-field>
                <mat-select name="test_method_type" [placeholder]="tr('TEST_METHOD_TYPE')" class="full-width" [(ngModel)]="propertyToEdit.content_type.pk" (ngModelChange)="handleTestMethodTypeChange()">
                  <mat-option *ngFor="let t of testMethodTypes" [value]="t.pk">{{t.__str__}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col s4" *ngIf="!(propertyToEdit.content_type.pk==55)">
              <organization-search [label]="tr('ORGANIZATION')" (organizationSelected)="organizationSelected($event)" [organization]="organizationFilter" [small]="true"></organization-search>
              <!---->
              <!--<mat-form-field>-->
                <!--<mat-select [placeholder]="tr('ORGANIZATION')" class="full-width" [(ngModel)]="organizationFilter" (ngModelChange)="handleOrganizationChange()">-->
                  <!--<mat-option [value]="">No Organization</mat-option>-->
                  <!--<mat-option *ngFor="let o of organizations" [value]="o.pk">{{o.__str__}}</mat-option>-->
                <!--</mat-select>-->
              <!--</mat-form-field>-->
            </div>
            <div class="col s4">
              <mat-form-field *ngIf="testMethods.length>0">
                <mat-select  class="full-width" name="test_method" [placeholder]="tr('TEST_METHOD')" [(ngModel)]="propertyToEdit.object_id" (ngModelChange)="handleTestMethodChange()">
                  <mat-option *ngFor="let t of testMethods" [value]="t.pk">{{t.__str__}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row nomargin">
            <div class="col s2">
              <mat-form-field>
                <mat-select name="type" class="full-width" [placeholder]="tr('TYPE')" [(ngModel)]="propertyToEdit.type.pk" (ngModelChange)="handleTypeChange()">
                  <mat-option *ngFor="let t of types" [value]="t.pk">{{t.__str__}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col s2" *ngIf="getPropertyType(propertyToEdit)!=PropertyTypes.BOOLEAN">
              <mat-form-field>
                <input type="number" class="form-control" id="LSL" name="LSL" required step="0.001"
                       [(ngModel)]="propertyToEdit.lsl" matInput [placeholder]="'LSL'"/>
              </mat-form-field>
            </div>
            <div class="col s2" *ngIf="getPropertyType(propertyToEdit)!=PropertyTypes.BOOLEAN">
              <mat-form-field>
                <input type="number" class="form-control" id="target" name="target" required step="0.001"
                       [(ngModel)]="propertyToEdit.target" matInput [placeholder]="'Target'"/>
              </mat-form-field>
            </div>
            <div class="col s2" *ngIf="getPropertyType(propertyToEdit)!=PropertyTypes.BOOLEAN">
              <mat-form-field>
                <input type="number" class="form-control" id="USL" name="USL" required step="0.001"
                       [(ngModel)]="propertyToEdit.usl" matInput [placeholder]="'USL'"/>
              </mat-form-field>
            </div>
            <div class="col s4" *ngIf="getPropertyType(propertyToEdit)!=PropertyTypes.BOOLEAN">
              <mat-form-field>
                <mat-select class="full-width" name="measure_unit" [(ngModel)]="propertyToEdit.uom.pk"
                            (ngModelChange)="handleMeasureChange()" [placeholder]="tr('MEASURE_UNIT')">
                  <mat-option *ngFor="let m of measureUnits" [value]="m.pk">{{m.uom}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row nomargin">
            <div class="col s3">
              <mat-checkbox name="calculated" [(ngModel)]="propertyToEdit.calculated"
                           (ngModelChange)="handleCalculatedChange()" color="primary">
                <sp-ng-translate [value]="'CALCULATED'"></sp-ng-translate>
              </mat-checkbox>
            </div>
            <div class="col s3" *ngIf="propertyToEdit.calculated">
              <mat-form-field>
                <mat-select class="full-width" [placeholder]="tr('FORMULA')" name="calculation" [(ngModel)]="propertyToEdit.formula.pk" (ngModelChange)="handleFormulaChange()" matTooltip="{{propertyToEdit.formula.description}}" matTooltipPosition="right">
                  <mat-option *ngFor="let f of formulas" [value]="f.pk">{{f.__str__}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col s6" *ngIf="propertyToEdit.calculated && propertyToEdit.formula">
              <div>
                <span class="label">Parameters</span>
              </div>
              <div class="flex">
                <mat-icon (click)="openParametersDialog()"
                         *ngIf="propertyToEdit.parameter_list.length==0">add
                </mat-icon>
                <mat-icon (click)="openParametersDialog()"
                         *ngIf="propertyToEdit.parameter_list.length!=0">edit
                </mat-icon>
                <span>
                  <span class="tag parameter blue" *ngFor="let fp of propertyToEdit.parameter_list">
                    <sp-property [propertyPK]="fp.parameter"></sp-property>
                  </span>
                </span>
              </div>
              <sp-dialog #parametersDialog>
                <div class="row">
                  <div class="col s6">Available properties</div>
                  <div class="col s6">Formula parameters</div>
                </div>
                <div class="row main" style="width:600px; position:relative;">
                  <div class="col s6">
                    <div *ngFor="let p of getAvailableProperties(); let i=index" class="propertySource flex">
                      <mat-icon *ngIf="isPropertySetAsParameter(p)" (click)="togglePropertyAsParameter(p)" >check_box</mat-icon>
                      <mat-icon *ngIf="!isPropertySetAsParameter(p)" (click)="togglePropertyAsParameter(p)">check_box_outline_blank</mat-icon>
                      <sp-property [propertyPK]="p.pk"></sp-property>
                    </div>
                  </div>
                  <div class="col s6" id="destination">
                    <div *ngFor="let fp of propertyToEdit.parameter_list; let i=index;"
                         class="propertyDestination flex">
                      <ng-container *ngFor="let p of [(fp.parameter|property|async)]">
                        <ng-container *ngIf="p">
                          <sp-property [propertyPK]="p.pk"></sp-property>
                          <span class="fill-remaining-space"></span>
                          <mat-icon [ngClass]="{'invisible':(i==0)}" (click)="moveParameterUp(fp)">arrow_upward</mat-icon>
                          <mat-icon [ngClass]="{'invisible':(i==(propertyToEdit.parameter_list.length-1))}"
                                   (click)="moveParameterDown(fp)">arrow_downward
                          </mat-icon>
                          <mat-icon (click)="removeParameter(fp)">clear</mat-icon>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </sp-dialog>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <mat-form-field>
                <textarea id="note" name="note" [(ngModel)]="propertyToEdit.note" matInput [placeholder]="tr('NOTE')" resizable="false"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col s4">
          <mat-card>
            <mat-card-title>Materials</mat-card-title>
            <mat-card-content>
              <div class="material flex" *ngFor="let ps of propertyToEdit.sets">
                <mat-checkbox [(ngModel)]="ps.is_active" color="primary" (ngModelChange)="changePSStatus(ps)">
                  <pk-tr [source]="ps.material.pk|material"></pk-tr>
                </mat-checkbox>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <sp-save-undo (undo)="undoEditProp()" (save)="saveProperty()"></sp-save-undo>
    <!--</form>-->
  </mat-card-content>
</mat-card>

