mat-tab-group>>>.mat-tab-body.mat-tab-active{
  padding:20px;
}

table {
  background-color: #fff;
}

tr.disabled {
  opacity:0.4;
}

.add-all,.add{
  margin:10px 0;
}

.invisible {
  visibility: hidden;
}

.back {
  margin:20px;
}



.propertySource {
  background:#eee;
  margin-bottom:10px;
  padding:10px;
}

.propertyDestination {
  background:#ddd;
  margin-bottom:10px;
  padding:10px;
}

.propertySource mat-icon {
  color:#26a69a;
  margin-right:5px;
}

.propertySource ul {
  display:inline;
}

.propertySource ul>li {
  display:inline-block;
  font-size: 12px;
  margin-right: 5px;
  background: #CCC;
  border-radius: 10px;
  padding: 0 5px;
}

.tag.attribute, .tag.parameter {
  margin-right:5px;
  margin-bottom: 5px;
  display: inline-block;
}

span.label {
  font-size: 0.8rem;
  color:#9e9e9e;
}

mat-icon {
  cursor:pointer;
}

.material-icons[aria-label=done] {
  color: #4CAF50;
}

.material-icons[aria-label=clear] {
  color: red;
}

.inactiveProperties tr{
  background:#CCC;
}

.add-button {
  padding:20px;
}

.property_set {
  padding-top:20px;
}

.no-pointer {
  cursor:default;
}
