<workcenters-list *ngIf="!editMode && !loading" (createEvent)="createWorkcenter($event)" (editEvent)="editWorkcenter($event)"
                                  (deleteEvent)="deleteWorkcenter($event)" (restoreEvent)="restoreWorkcenter($event)"> </workcenters-list>

<workcenter-edit *ngIf="editMode && !loading" [workcenterToEdit]="wcToEdit" (backEvent)="back()" [createMode]="createMode"></workcenter-edit>

<mat-progress-spinner color="primary" *ngIf="loading"></mat-progress-spinner>
