<div>
  <h5 id="Languages">Professional Experiences</h5>

  <div *ngIf="professionalExperienceCreateOpen" class="col s12">
    <mat-card class="main" style="margin-bottom:20px">
      <mat-card-content>
        <div class="row" *ngIf="onCreate && !professionalExperience.pk">
          <h5>Create</h5>
        </div>
        <div class="row" *ngIf="professionalExperience.pk">
          <h5>Edit {{professionalExperience.job_title}} at {{professionalExperience.company_name}}</h5>
        </div>

        <mat-form-field>
          <input matInput [placeholder]="'Company Name'" name="edit-company-name" type="text" [(ngModel)]="professionalExperience.company_name" required/>
        </mat-form-field>

        <mat-form-field>
          <input matInput [placeholder]="'Job Title'" name="edit-job-title" type="text" [(ngModel)]="professionalExperience.job_title" required/>
        </mat-form-field>

        <mat-form-field>
          <input matInput [placeholder]="'City'" name="edit-city" type="text" [(ngModel)]="professionalExperience.city" (placechanged) = "getAddress($event)" google-places-autocomplete required/>
        </mat-form-field>

        <date-input [placeholder]="'Date from'" [(ngModel)]="professionalExperience.date_from"></date-input>

        <date-input [placeholder]="'Date to'" [(ngModel)]="professionalExperience.date_to"></date-input>

        <mat-form-field>
          <mat-select placeholder="Select country" [(ngModel)]="professionalExperience.country" name="edit-country" required>
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let country of countries" [value]="country.value">
              {{country.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
             <mat-select placeholder="Select function" [(ngModel)]="professionalExperience.function.pk" name="edit-function" required>
              <mat-option>Select a value</mat-option>
              <mat-option *ngFor="let pefunction of pefunctions" [value]="pefunction.pk">
                {{pefunction.__str__}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select industry" [(ngModel)]="professionalExperience.industry.pk" name="edit-industry" required>
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let industry of peindustries" [value]="industry.pk">
              {{industry.__str__}}
            </mat-option>
          </mat-select>
        </mat-form-field>


         <mat-form-field>
           <mat-select placeholder="Select contract_type" [(ngModel)]="professionalExperience.contract_type.pk" name="edit-contract_type" required>
             <mat-option>Select a value</mat-option>
             <mat-option *ngFor="let contract_type of contract_types" [value]="contract_type.pk">
               {{contract_type.__str__}}
             </mat-option>
           </mat-select>
         </mat-form-field>

          <sp-save-undo (save)="saveProfessionalExperience()" (undo)="undoProfessionalExperience()"></sp-save-undo>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row">
    <sp-table-with-pages #professionalExperiencesTable [nResults]="15" [small]="true" [noItemsMessage]="noItemsMessageprofessionalExperiences"
                         [headerConf]="headerConfprofessionalExperiences"
                         [availableActions]="availableActions" [getData]="loadProfessionalExperiences.bind(this)"></sp-table-with-pages>
  </div>

  <div class="row" *ngIf="!professionalExperienceCreateOpen">
    <div class="add-button-container flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'" (click)="createProfessionalExperience()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

</div>
