<div class="search-reset-container flex">
  <button class="serioplast-white" mat-mini-fab (click)="doReset()" type="reset">
    <mat-icon>cached</mat-icon>
  </button>
  <span class="fill-remaining-space"></span>
  <button class="serioplast-green" mat-mini-fab (click)="doSearch()" *ngIf="searchCondition">
    <mat-icon>search</mat-icon>
  </button>
</div>



