<div class="flex header">
  <button mat-fab class="grey back" matTooltip="Back" [matTooltipPosition]="'below'" [routerLink]="['/materials','materials']">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <ng-container *ngIf="material">
    <h5 style="margin-left:20px">{{material.code}} - {{material.description}}</h5>
  </ng-container>
  <div class="fill-remaining-space"></div>
  <button *ngIf="material && isCreatable(material.material_type.pk)" mat-fab class="serioplast-green edit"
          matTooltip="Edit" [matTooltipPosition]="'below'" [routerLink]="['/materials', 'materials','detail', material.pk,'edit']">
    <mat-icon>edit</mat-icon>
  </button>
</div>

<div class="row">
  <div class="col s4">
    <mat-card *ngIf="material" class="main">
      <mat-card-content>
        <p>
          <b>
            <sp-ng-translate [value]="'CODE'"></sp-ng-translate>
            : </b> {{material.code}}
        </p>
        <p>
          <b>
            <sp-ng-translate [value]="'DESCRIPTION'"></sp-ng-translate>
            : </b> {{material.description}}
        </p>
        <p>
          <b>
            <sp-ng-translate [value]="'TYPE'"></sp-ng-translate>
            : </b> {{material.material_type.__str__}}
        </p>
        <p class="flex">
          <b>
            <sp-ng-translate [value]="'VALUATED'"></sp-ng-translate>
            : </b>
          <mat-icon *ngIf="material.valuated">done</mat-icon>
          <mat-icon *ngIf="!material.valuated">clear</mat-icon>
        </p>
        <p>
          <b>
            <sp-ng-translate [value]="'MEASURE_UNIT'"></sp-ng-translate>
            : </b> {{material.uom.__str__}}
        </p>
        <p>
          <b>
            <sp-ng-translate [value]="'WEIGHT'"></sp-ng-translate>
            : </b> {{material.weight}} {{material.weight_uom.__str__}}
        </p>
        <p *ngIf="material.sub_model && material.sub_model.subtype">
          <b>
            <sp-ng-translate [value]="'SUBTYPE'"></sp-ng-translate>
            : </b>
          <pk-tr [source]="material.sub_model.subtype|material_subtype_link"></pk-tr>
        </p>


        <!-- Resin -->
        <ng-container *ngIf="getMaterialType(material)==MATERIAL_TYPES.RESIN">
          <p class="flex">
            <b>PCR: </b>
            <mat-icon *ngIf="material.sub_model.pcr">done</mat-icon>
            <mat-icon *ngIf="!material.sub_model.pcr">clear</mat-icon>
          </p>
          <p class="flex">
            <b>
              <sp-ng-translate [value]="'FOOD_APPROVED'"></sp-ng-translate>
              : </b>
            <mat-icon *ngIf="material.sub_model.food_approved">done</mat-icon>
            <mat-icon *ngIf="!material.sub_model.food_approved">clear</mat-icon>
          </p>
        </ng-container>

        <!-- Additive -->
        <ng-container *ngIf="getMaterialType(material)==MATERIAL_TYPES.ADDITIVE">
          <p class="flex">
            <b>
              <sp-ng-translate [value]="'FOOD_APPROVED'"></sp-ng-translate>
              : </b>
            <mat-icon *ngIf="material.sub_model.food_approved">done</mat-icon>
            <mat-icon *ngIf="!material.sub_model.food_approved">clear</mat-icon>
          </p>
        </ng-container>

        <!-- Decoration -->
        <ng-container *ngIf="getMaterialType(material)==MATERIAL_TYPES.DECORATION">

        </ng-container>

        <!-- Packaging -->
        <ng-container *ngIf="getMaterialType(material)==MATERIAL_TYPES.PACKAGING">

        </ng-container>

        <!-- Returnable Packaging -->
        <ng-container *ngIf="getMaterialType(material)==MATERIAL_TYPES.RETURNABLE_PACKAGING">

        </ng-container>

        <!-- Preform, Bottles, Closure -->
        <ng-container *ngIf="isBottlePrefClosure(material) || getMaterialType(material)==MATERIAL_TYPES.ASSEMBLED_GOODS">
          <p *ngIf="material.sub_model.market_segment" class="flex">
            <b>
              <sp-ng-translate [value]="'MARKET-SEGMENT'"></sp-ng-translate>
              : </b>
            <ng-container *ngIf="material.sub_model.market_segment">
              <pk-tr [source]="material.sub_model.market_segment|market_segment_link"></pk-tr>
            </ng-container>
            <ng-container *ngIf="!material.sub_model.market_segment">
              -
            </ng-container>

          </p>
          <p class="flex" *ngIf="!(getMaterialType(material)==MATERIAL_TYPES.ASSEMBLED_GOODS)">
            <b>PCR: </b>
            <mat-icon *ngIf="material.sub_model.pcr">done</mat-icon>
            <mat-icon *ngIf="!material.sub_model.pcr">clear</mat-icon>
          </p>
          <p class="flex">
            <b>
              <sp-ng-translate [value]="'PALLETIZED'"></sp-ng-translate>
              : </b>
            <mat-icon *ngIf="material.sub_model.palletized">done</mat-icon>
            <mat-icon *ngIf="!material.sub_model.palletized">clear</mat-icon>
          </p>
          <p *ngIf="material.sub_model.main_material">
            <b>
              <sp-ng-translate [value]="'MAIN_MATERIAL'"></sp-ng-translate>
              : </b>
            <ng-container *ngIf="material.sub_model.main_material">
              <pk-tr [source]="material.sub_model.main_material|main_material_link"></pk-tr>
            </ng-container>
            <ng-container *ngIf="!material.sub_model.main_material">
              -
            </ng-container>

          </p>
          <p *ngIf="material.sub_model.shape">
            <b>
              <sp-ng-translate [value]="'SHAPE'"></sp-ng-translate>
              : </b>
            <ng-container *ngIf="material.sub_model.shape">
              <pk-tr [source]="material.sub_model.shape|shape"></pk-tr>
            </ng-container>
            <ng-container *ngIf="!material.sub_model.shape">
              -
            </ng-container>

          </p>
        </ng-container>

        <!-- Component -->
        <ng-container *ngIf="getMaterialType(material)==MATERIAL_TYPES.COMPONENT">
          <p *ngIf="material.sub_model.plm_revision">
            <b>
              <sp-ng-translate [value]="'PLM_REVISION'"></sp-ng-translate>
            </b>: {{material.sub_model.plm_revision}}
          </p>
        </ng-container>

        <!-- MouldSet -->
        <ng-container *ngIf="getMaterialType(material)==MATERIAL_TYPES.MOULDSET">
          <p *ngIf="material.sub_model.plm_revision">
            <b>
              <sp-ng-translate [value]="'PLM_REVISION'"></sp-ng-translate>
            </b>: {{material.sub_model.plm_revision}}
          </p>
          <p *ngIf="material.sub_model.location!=undefined">
            <b>
              <sp-ng-translate [value]="'LOCATION'"></sp-ng-translate>
            </b>:
            <pk-tr [source]="material.sub_model.location|site"></pk-tr>
          </p>
          <p *ngIf="material.sub_model.construction_year!=undefined">
            <b>
              <sp-ng-translate [value]="'CONSTRUCTION_YEAR'"></sp-ng-translate>
            </b>:
            {{material.sub_model.construction_year}}
          </p>
          <p *ngIf="material.sub_model.owner!=undefined">
            <b>
              <sp-ng-translate [value]="'OWNER'"></sp-ng-translate>
            </b>:
            <pk-tr [source]="material.sub_model.owner|organization"></pk-tr>
          </p>
          <p *ngIf="material.sub_model.technology">
            <b>
              <sp-ng-translate [value]="'TECHNOLOGY'"></sp-ng-translate>
            </b>:
            <pk-tr [source]="material.sub_model.technology|technologyLink"></pk-tr>
          </p>
          <p *ngIf="material.sub_model.shape">
            <b>
              <sp-ng-translate [value]="'SHAPE'"></sp-ng-translate>
              : </b>
            <ng-container *ngIf="material.sub_model.shape">
              <pk-tr [source]="material.sub_model.shape|shape"></pk-tr>
            </ng-container>
            <ng-container *ngIf="!material.sub_model.shape">
              -
            </ng-container>

          </p>
        </ng-container>

        <!-- Regrind -->
        <ng-container *ngIf="getMaterialType(material)==MATERIAL_TYPES.REGRIND">
          <p class="flex">
            <b>
              <sp-ng-translate [value]="'FOOD_APPROVED'"></sp-ng-translate>
              : </b>
            <mat-icon *ngIf="material.sub_model.food_approved">done</mat-icon>
            <mat-icon *ngIf="!material.sub_model.food_approved">clear</mat-icon>
          </p>
        </ng-container>


        <!-- Billet -->
        <ng-container *ngIf="getMaterialType(material)==MATERIAL_TYPES.BILLET">

        </ng-container>

      </mat-card-content>
    </mat-card>
  </div>


  <div class="col s8">
    <mat-card class="cavities" *ngIf="cavities.length>0">
      <mat-card-subtitle>Cavities</mat-card-subtitle>
      <mat-card-content>
        <table class="mdl-data-table noclick">
          <thead>
          <tr>
            <th *ngFor="let cav of cavities" class="mdl-data-table__cell--non-numeric">
              {{cav.name}}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td *ngFor="let cav of cavities" class="mdl-data-table__cell--non-numeric">
              <mat-icon style="cursor: none" *ngIf="cav.is_active">done</mat-icon>
              <mat-icon style="cursor: none" *ngIf="!cav.is_active">clear</mat-icon>
            </td>
          </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>

    <mat-card class="material-plants">
      <mat-card-content *ngIf="materialPlants.length>0">
        <table class="mdl-data-table noclick full-width">
          <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">
              <sp-ng-translate [value]="'SITE'"></sp-ng-translate>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              <sp-ng-translate [value]="'COMMODITY_CODE'"></sp-ng-translate>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              <sp-ng-translate [value]="'PRODTYPESPPROCTYPE'"></sp-ng-translate>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              <sp-ng-translate [value]="'INSPECTION_STOCK'"></sp-ng-translate>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              <sp-ng-translate [value]="'MES'"></sp-ng-translate>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let mp of materialPlants">
            <td class="mdl-data-table__cell--non-numeric">
              {{mp.site.__str__}}
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <ng-container *ngIf="mp.commodity_code">{{mp.commodity_code}}</ng-container>
              <ng-container *ngIf="!mp.commodity_code">-</ng-container>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              {{mp.production_type.__str__}}
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <mat-icon *ngIf="mp.inspection_stock">done</mat-icon>
              <mat-icon *ngIf="!mp.inspection_stock">clear</mat-icon>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <mat-icon *ngIf="mp.mes">done</mat-icon>
              <mat-icon *ngIf="!mp.mes">clear</mat-icon>
            </td>
          </tr>
          </tbody>
        </table>

      </mat-card-content>
      <mat-card-content *ngIf="materialPlants.length==0">
        <sp-ng-translate [value]="'MATERIAL_NOT_ACTIVE'"></sp-ng-translate>
      </mat-card-content>
    </mat-card>

    <mat-card class="boms" *ngIf="boms.length>0">

      <mat-card-subtitle>BoM</mat-card-subtitle>
      <mat-card-content>
        <div class="bom-header">
          <sp-ng-translate [value]="'BASE_QUANTITY'"></sp-ng-translate>
          :
          {{material.material_type.bom_quantity}} {{material.uom.__str__}}
        </div>
        <div class="bom">
          <ng-container *ngFor="let b of boms">
            <div class="bom_alternative">
              <span class="alt_id"> <sp-ng-translate
                [value]="'ALTERNATIVE'"></sp-ng-translate> : {{b.alt_bom_id}}</span>

              <div class="row full-height">
                <div class="col s8 full-height">
                  <table class="mdl-data-table noclick small full-width">
                    <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">
                        <sp-ng-translate [value]="'MATERIAL'"></sp-ng-translate>
                      </th>
                      <th class="mdl-data-table__cell--non-numeric">
                        <sp-ng-translate [value]="'AMOUNT'"></sp-ng-translate>
                      </th>
                      <th class="mdl-data-table__cell--non-numeric">
                        <sp-ng-translate [value]="'GROUP'"></sp-ng-translate>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let bi of b.bomitem_set">
                      <td class="mdl-data-table__cell--non-numeric">
                        {{bi.material.code}} - {{bi.material.description}}
                      </td>
                      <td class="mdl-data-table__cell--non-numeric">
                        {{bi.quantity}} {{bi.uom.__str__}}
                      </td>
                      <td class="mdl-data-table__cell--non-numeric">
                        {{bi.group}}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col s4 full-height">
                  <mat-card class="sites">
                    <ul class="mdl-list small">
                      <li *ngFor="let s of b.sites" class="mdl-list__item">
                        {{s.__str__}}
                      </li>
                    </ul>
                  </mat-card>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="packing-instructions" *ngIf="packingInstructions.length>0">
      <mat-card-subtitle>Package Instructions</mat-card-subtitle>
      <mat-card-content>

        <ng-container *ngFor="let pi of packingInstructions">
          <div class="packing-instruction">
            <span class="alt_id"> <sp-ng-translate
              [value]="'DESCRIPTION'"></sp-ng-translate> : {{pi.description}}</span>

            <div class="row full-height">
              <div class="col s8 full-height">
                <table class="mdl-data-table noclick small full-width">
                  <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">
                      <sp-ng-translate [value]="'MATERIAL'"></sp-ng-translate>
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">
                      <sp-ng-translate [value]="'AMOUNT'"></sp-ng-translate>
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">
                      <sp-ng-translate [value]="'MAIN_PACKAGE'"></sp-ng-translate>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let pii of pi.packinstructionitem_set">
                    <td class="mdl-data-table__cell--non-numeric">
                      {{pii.material.code}} - {{pii.material.description}}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                      {{pii.quantity}} {{pii.uom.__str__}}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                      <mat-icon *ngIf="pii.main_package">done</mat-icon>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col s4 full-height">
                <mat-card class="sites">
                  <ul class="mdl-list small">
                    <li *ngFor="let p of pi.plants" class="mdl-list__item">
                      <ng-container *ngIf="p.material_plant && p.material_plant.site && p.material_plant.site.__str__">
                        {{p.material_plant.site.__str__}}
                      </ng-container>
                    </li>
                  </ul>
                </mat-card>
              </div>
            </div>
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>

    <mat-card class="routings" *ngIf="routings.length>0">
      <mat-card-subtitle>Routings</mat-card-subtitle>
      <mat-card-content>

        <ng-container *ngFor="let r of routings">
          <div class="routing">
            <div class="flex">
              <div class="alt_id"> <sp-ng-translate [value]="'DESCRIPTION'"></sp-ng-translate> : {{r.description}}</div>
              <span class="fill-remaining-space"></span>
              <ng-container *ngIf="r.production_version">
                Production Version: {{r.production_version.bom_header.alt_bom_id}}
                <span class="fill-remaining-space"></span>
              </ng-container>

              <span><sp-ng-translate [value]="'SITE'"></sp-ng-translate> : {{r.site.__str__}}</span>
            </div>


            <div class="row full-height">
              <div class="col s12 full-height">
                <table class="mdl-data-table noclick small full-width">
                  <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">
                      <sp-ng-translate [value]="'OPERATION'"></sp-ng-translate>
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">
                      <sp-ng-translate [value]="'WORKCENTER'"></sp-ng-translate>
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">
                      <sp-ng-translate [value]="'TECHNOLOGY'"></sp-ng-translate>
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">
                      <sp-ng-translate [value]="'BASE_QUANTITY'"></sp-ng-translate>
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">
                      <sp-ng-translate [value]="'EMPLOYEES'"></sp-ng-translate>
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">
                      <sp-ng-translate [value]="'PRT'"></sp-ng-translate>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let ro of r.operations">
                    <td class="mdl-data-table__cell--non-numeric">
                      {{ro.operation}}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                      {{ro.work_center.__str__}}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                      {{ro.work_center.technology?ro.work_center.technology.__str__:'-'}}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                      {{ro.base_quantity}}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                      {{ro.employees}}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                      <ul *ngIf="ro.prt && ro.prt.length>0">
                        <li *ngFor="let m of ro.prt">{{m.__str__}}</li>
                      </ul>
                      <span *ngIf="ro.prt.length==0">-</span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>




