mat-card.main {
  background-color:#f0f0f0;
}

mat-card.main ul{
  padding-left: 20px;
  margin: 0;
}

mat-card.main ul li{
  list-style-type: circle;
}

mat-card.cavities{
  margin-bottom: 10px;
}

mat-card.material-plants {
  background: rgba(76, 175, 80, 0.2);
  margin-bottom:10px;
}

mat-card.bom {
  margin-top:10px;
  padding:0;
}

mat-card.packing-instructions{
  margin-top:10px;
  padding:10px;
}

mat-card.routings{
  margin-top:10px;
  padding:10px;
}

.bom_alternative {
  padding:10px;
  background: rgba(80,76,175,0.2);
  margin-bottom:10px;
}

.bom_alternative>.row .col {
  padding:0;
}

.full-height {
  height:100%;
}
.alt_id {
  padding-bottom:10px;
  display:block;
}

.bom-header {
  background:#CCCCCC;
  padding:10px;
  margin-bottom:5px;
}

.packing-instruction {
  background:rgba(80,167,308,0.2);
  padding: 10px;
  margin-bottom: 10px;
}

.boms {
  padding: 10px;
  margin-bottom: 10px;
}

.packing-instruction>.row .col {
  padding:0;
}

.sites{
  margin-left: 10px;
  margin-bottom: 10px;
  padding:5px;
}

.routing>.row .col {
  padding:0;
}

.routing {
 background: rgba(175,130,76,0.2);
  padding: 10px;
  margin-bottom: 10px;
}

.header {
  margin:10px;
}
