sp-settings {
  position:fixed;
  left:20px;
  bottom:20px;
}

.row.main.outlet {
  overflow:auto;
  height:calc(100% - 100px);
}

.logout {
  position:absolute;
  bottom:20px;
  left: 100px;
}

.row.main {
  height:100%;
}
