<div class="row">
  <div *ngIf="skillCreateOpen" class="col s12">
    <mat-card class="main">
      <mat-card-content>
        <div class="row" *ngIf="onCreate">
          <h5>Create {{skill.name}}</h5>
        </div>
        <div class="row" *ngIf="!onCreate">
          <h5>Edit {{skill.name}}</h5>
        </div>

        <div class="row">
          <div class="col s6">
            <mat-form-field>
              <input matInput [placeholder]="tr('NAME')" type="text" [(ngModel)]="skill.name"/>
            </mat-form-field>
          </div>
          <div class="col s6">
            <mat-form-field *ngIf="skillTypes">
              <mat-select [(ngModel)]="skill.type" class="full-width" [placeholder]="tr('TYPE')">
                <mat-option *ngFor="let type of skillTypes" [value]="type.value">
                  {{type.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <markdown-textarea [object]="skill" [field]="'description'" [label]="'DESCRIPTION'"></markdown-textarea>

        <div>
          <sp-save-undo (save)="saveSkill()" (undo)="undoSkill()"></sp-save-undo>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col s12 m3" style="padding-right: 70px;padding-top: 20px;padding-left: 20px;" *ngIf="!skillCreateOpen">
    <h5>Filters</h5><br>
    <mat-form-field>
      <input matInput [placeholder]="tr('NAME')" type="text" [(ngModel)]="skillFilter.name"/>
    </mat-form-field>

    <mat-form-field *ngIf="skillTypes" >
      <mat-select name="search-type" placeholder="Select type"
                  [(ngModel)]="skillFilter.type" style="width: 100%;">
        <mat-option>Select a value</mat-option>
        <mat-option *ngFor="let type of skillTypes" [value]="type.value">
          {{type.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="codeChange()"><mat-icon>search</mat-icon></button>
    </div>
  </div>

  <div class="col s12 m9" *ngIf="!skillCreateOpen">
    <mat-card>
      <div class="row">
        <div class="flex" style="margin-bottom:10px">
          <h5 style="margin: 0;"><sp-ng-translate [value]="'SKILLS'"></sp-ng-translate></h5>
          <span class="fill-remaining-space"></span>
          <mat-slide-toggle color="primary" [(ngModel)]="active" (ngModelChange)="skillsTable.reload()">Active
          </mat-slide-toggle>
        </div>
        <sp-table-with-pages #skillsTable [nResults]="15" [small]="true" [noItemsMessage]="noItemsMessageSkills"
                             [headerConf]="headerConfSkills"
                             [availableActions]="availableActions" [getData]="loadSkills.bind(this)"></sp-table-with-pages>

      </div>
      <div class="row">
        <div class="add-button-container flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'" (click)="createSkill()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

    </mat-card>


  </div>

</div>


