<div class="row main" materialize>

  <!--<div class="col s1">-->
    <sp-settings>
      <div style="width:400px; height:400px">
        <sp-language-selector></sp-language-selector>
      </div>
    </sp-settings>
  <!--</div>-->

  <div class="col s12">



    <div class="row main outlet">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>






