<div class="chip-autocomplete flex">
  <sp-autocomplete *ngIf="sourceFunction && displayKey" [label]="label" [sourceFunction]="sourceFunction" [displayKey]="displayKey"
                   (valueChanged)="selectedValue.bind(this)($event)" [resetOnSelection]="true" [minChars]="minChars"></sp-autocomplete>
  <div class="chips-container">
    <mat-chip-list>
      <mat-chip *ngFor="let item of model" color="primary" [ngClass]="''">
        <span class="flex">
          <span class="text">{{item[displayKey]}}</span>
          <mat-icon (click)="remove(item)">clear</mat-icon>
        </span>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
