<mat-tab-group (selectTabChange)="handleTabChange($event)">
  <mat-tab label="Sites">
    <site-list></site-list>
  </mat-tab>
  <mat-tab label="Legal Entities">
  <legalentity-list></legalentity-list>
  </mat-tab>

</mat-tab-group>


