<div class="row main">
  <div class="col s12">
    <div class="filters">
      <div class="row nomargin">
        <div class="col s4">
          <user-sites [appName]="'quality-stock'" (siteChange)="selectedSite($event)" [initialValue]="(site&&site.pk)?site:null"></user-sites>
        </div>
        <div class="col s8">
          <material-selector (selectedMaterial)="selectedMaterial($event)"  [additionalQuery]="additionalQueryMaterial" [initialValue]="(material&&material.pk)?material:null"></material-selector>
        </div>
      </div>
      <div class="row nomargin">
        <div class="col s3">
          <date-input [placeholder]="tr('FROM')" [(ngModel)]="fromDate"></date-input>
        </div>
        <div class="col s3">
          <date-input [placeholder]="tr('TO')" [(ngModel)]="toDate"></date-input>
        </div>
        <div class="col s3">
          <mat-form-field>
            <input matInput placeholder="{{tr('BATCH')}}" type="text" [(ngModel)]="batchQuery" maxlength="10"/>
          </mat-form-field>
        </div>
        <div class="col s3">
          <mat-form-field>
            <input matInput placeholder="{{tr('SUPPLIER_BATCH')}}" type="text" [(ngModel)]="supplierBatchCode"/>
          </mat-form-field>
        </div>
      </div>
      <div class="row nomargin">
        <div class="col s4">
          <mat-form-field>
            <mat-select [placeholder]="tr('STATUS')" [(ngModel)]="statusFilter" class="full-width">
              <mat-option [value]="'ALL'"><sp-ng-translate [value]="'ALL'" selected></sp-ng-translate></mat-option>
              <mat-option [value]="HUQualityStatus.FREE"><sp-ng-translate [value]="'FREE_STOCK'"></sp-ng-translate></mat-option>
              <mat-option [value]="HUQualityStatus.QUALITY"><sp-ng-translate [value]="'QUALITY_STOCK'"></sp-ng-translate></mat-option>
              <mat-option [value]="HUQualityStatus.LOCKED"><sp-ng-translate [value]="'LOCKED_STOCK'"></sp-ng-translate></mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col s4">
          <mat-form-field>
            <input type="text" [(ngModel)]="workorderFilter" matInput placeholder="{{tr('WORK_ORDER')}}"/>
          </mat-form-field>
        </div>
        <div class="col s4">
          <mat-form-field>
            <input type="text" [(ngModel)]="deliveryFilter" matInput placeholder="{{tr('DELIVERY')}}"/>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="flex">
            <mat-radio-group [(ngModel)]="stockOnly">
              <mat-radio-button [value]="true">Only batch with stock</mat-radio-button>
              <mat-radio-button [value]="false">All</mat-radio-button>
            </mat-radio-group>
            <span class="fill-remaining-space"></span>
            <button mat-mini-fab (click)="reload()" class="serioplast-green"><mat-icon>search</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
    <sp-table-with-pages #batchTable [noItemsMessage]="tr('NO_BATCHES_AVAILABLE')" [availableActions]="availableActions"
                         [nResults]="20" [getData]="getBatches.bind(this)" [headerConf]="headerConf"
                         [small]="true" [ready]="ready" [mode]="'SAP'"></sp-table-with-pages>
  </div>
</div>

