<div class="row main" materialize>

    <!--<sp-settings>-->
      <!--<div style="width:400px; height:400px">-->
        <!--<sp-language-selector></sp-language-selector>-->
      <!--</div>-->
    <!--</sp-settings>-->

  <!--<button mat-fab class="logout serioplast-red" (click)="logout()">-->
      <!--<mat-icon class="md-24">power_settings_new</mat-icon>-->
  <!--</button>-->

  <div class="col s12">
    <router-outlet></router-outlet>
    <!--<mat-tab-group>-->
      <!--<mat-tab label="Materials">-->
        <!--<app-materials-list></app-materials-list>-->
          <!--&lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->
      <!--</mat-tab>-->
      <!--<mat-tab label="Shapes">-->
        <!--&lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->
        <!--<shape-list></shape-list>-->
      <!--</mat-tab>-->
    <!--</mat-tab-group>-->
  </div>

</div>






