<sp-dialog #reportsDialog>
  <div style="min-width: 600px;">
    <h4>Reports</h4>
    <div>
      <sp-stepper>
        <!-- STEP 1: Select report or raw data -->
        <sp-stepper-item [nextCondition]="step1ProceedCondition.bind(this)" (onConfirm)="step1ProceedConfirm()">
          <sp-stepper-item-title>Select report</sp-stepper-item-title>
          <sp-stepper-item-content-active>
            <div class="row">
              <div class="col s4">
                <mat-form-field>
                  <mat-select [(ngModel)]="selectedReport" [placeholder]="tr('REPORT')"
                              (ngModelChange)="handleReportChange()"
                              class="full-width">
                    <mat-option *ngFor="let r of reports" [value]="r">{{r.__str__}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <ng-container *ngIf="selectedReport && selectedReport.pk">
                <div class="col s8">
                  <fixed-field *ngIf="selectedReport && selectedReport.pk" [label]="'DESCRIPTION'" [value]="selectedReport.description.last_saved"></fixed-field>
                </div>
              </ng-container>
            </div>
          </sp-stepper-item-content-active>

          <sp-stepper-item-content-inactive>
            <div class="row">
              <div class="col s4">
                <fixed-field *ngIf="selectedReport && selectedReport.pk" [label]="'REPORT'" [value]="selectedReport.__str__"></fixed-field>
              </div>
              <div class="col s8">
                <fixed-field *ngIf="selectedReport && selectedReport.pk" [label]="'DESCRIPTION'" [value]="selectedReport.description.last_saved"></fixed-field>
              </div>
            </div>
          </sp-stepper-item-content-inactive>

        </sp-stepper-item>

        <!-- STEP 2: Select Parameteres-->
        <sp-stepper-item [nextCondition]="step2ProceedCondition.bind(this)" (onConfirm)="step2ProceedConfirm()">
          <sp-stepper-item-title>Parameters
          </sp-stepper-item-title>
          <sp-stepper-item-content-active>

            <ng-container *ngIf="parameters && parameters.length > 0">
              <!-- Parameters -->
              <div class="row">
                <ng-container *ngFor="let p of parameters">
                  <ng-container *ngIf="p.visible">
                  <ng-container *ngIf="p.type == 'text'">
                    <div class="col s4">
                      <mat-form-field>
                        <input [(ngModel)]="p.value" name="{{p.name}}" type="text" [disabled]="p.is_disabled" matInput [placeholder]="p.label"/>
                      </mat-form-field>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="p.type == 'select'">
                    <div class="col s4">
                      <mat-form-field>
                        <mat-select [(ngModel)]="p.value" [placeholder]="p.label" class="full-width"
                                    [disabled]="p.is_disabled">
                          <mat-option *ngFor="let choice of p.results" [value]="choice.pk">{{getValue(choice,p.value_field_display)}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="p.type == 'boolean'">
                    <div class="col s4">
                      <mat-slide-toggle color="primary" [(ngModel)]="p.value">{{p.label}}</mat-slide-toggle>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="p.type == 'date'">
                    <div class="input-field col s4">
                      <date-input [placeholder]="p.label" [(ngModel)]="p.value" [disabled]="p.is_disabled"></date-input>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="p.type == 'datetime'">
                    <div class="col s4">
                      <datetime-input [(ngModel)]="p.value" [disabled]="p.is_disabled" [placeholder]="p.label"></datetime-input>
                      <!--<mat-form-field>-->
                        <!--<input [(ngModel)]="p.value" name="{{p.name}}" type="datetime-local" [disabled]="p.is_disabled" matInput [placeholder]="p.label"/>-->
                      <!--</mat-form-field>-->
                    </div>
                  </ng-container>
                  <ng-container *ngIf="p.type == 'datetimerange'">
                    <div class="col s12">

                      <div class="input-field col s6">
                        <datetime-input [(ngModel)]="p.value1" [disabled]="p.is_disabled" [placeholder]="p.label1"></datetime-input>
                        <!--<mat-form-field>-->
                          <!--<input [(ngModel)]="p.value1" type="datetime-local" [disabled]="p.is_disabled" matInput [placeholder]="p.label1"/>-->
                        <!--</mat-form-field>-->
                      </div>
                      <div class="input-field col s6">
                        <datetime-input [(ngModel)]="p.value2" [disabled]="p.is_disabled" [placeholder]="p.label2"></datetime-input>
                        <!--<mat-form-field>-->
                          <!--<input [(ngModel)]="p.value2" type="datetime-local" [disabled]="p.is_disabled" matInput [placeholder]="p.label2"/>-->
                        <!--</mat-form-field>-->
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                  </ng-container>
              </div>
            </ng-container>
          </sp-stepper-item-content-active>
          <sp-stepper-item-content-inactive>
            <div class="row">
              <div class="col s4">
                <div>
                 <table>
                   <tr *ngFor="let p of parameters">
                     <td>{{p.label}}</td>
                     <td>{{p.value}}</td>
                   </tr>
                 </table>
                </div>
              </div>
            </div>
          </sp-stepper-item-content-inactive>

        </sp-stepper-item>

        <!-- STEP 3: Filters & previews & downloads-->
        <sp-stepper-item (onPrevious)="step2Previous()">
          <sp-stepper-item-title>Download report and datasets previews
          </sp-stepper-item-title>
          <sp-stepper-item-content-active>

            <ng-container *ngIf="filters && filters.length > 0">
              <!-- Filters -->
              <div class="row">
                <ng-container *ngFor="let f of filters">
                  <ng-container *ngIf="f.visible">
                    <ng-container *ngIf="f.type == 'text'">
                      <div class="input-field col s4">
                        <mat-form-field>
                          <input [(ngModel)]="f.value" type="text" [disabled]="f.is_disabled" matInput [placeholder]="f.label"/>
                        </mat-form-field>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="f.type == 'select'">
                      <div class="input-field col s4">
                        <mat-form-field>
                          <mat-select [(ngModel)]="f.value" [placeholder]="f.label" class="full-width"
                                      [disabled]="f.is_disabled">
                            <mat-option *ngFor="let choice of f.results" [value]="choice.pk">{{choice.__str__}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="f.type == 'boolean'">
                      <div class="col s4">
                        <mat-slide-toggle color="primary" [(ngModel)]="f.value">{{f.label}}</mat-slide-toggle>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="f.type == 'date'">
                      <div class="input-field col s4">
                        <date-input [placeholder]="f.label" [(ngModel)]="f.value"></date-input>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="f.type == 'datetime'">
                      <div class="input-field col s4">
                        <mat-form-field>
                          <input [(ngModel)]="f.value" name="{{f.name}}" type="datetime" [disabled]="f.is_disabled" matInput [placeholder]="f.label"/>
                        </mat-form-field>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="f.type == 'datetimerange'">
                      <div class="col s12">

                        <div class="input-field col s6">
                          <datetime-input [(ngModel)]="f.value1" [disabled]="f.is_disabled" [placeholder]="f.label1"></datetime-input>
                          <!--<mat-form-field>-->
                            <!--<input [(ngModel)]="f.value1" type="datetime-local" [disabled]="f.is_disabled" matInput [placeholder]="f.label1"/>-->
                          <!--</mat-form-field>-->
                        </div>
                        <div class="input-field col s6">
                          <datetime-input [(ngModel)]="f.value2" [disabled]="f.is_disabled" [placeholder]="f.label2"></datetime-input>
                          <!--<mat-form-field>-->
                            <!--<input [(ngModel)]="f.value2" type="datetime-local" [disabled]="f.is_disabled" matInput [placeholder]="f.label2"/>-->
                          <!--</mat-form-field>-->
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>


                </ng-container>
              </div>
              <!-- Search & Reset buttons -->
              <div class="row">
                <button mat-mini-fab class="serioplast-green right" (click)="loadDatasets()" title="View previews">
                  <mat-icon>search</mat-icon>
                </button>
                <ng-container *ngIf="checkVisibleFilters()">
                  <button mat-mini-fab class="white left" style="color: black" type="reset" (click)="resetDatasets()">
                    <mat-icon>cached</mat-icon>
                  </button>
                </ng-container>
              </div>
            </ng-container>

            <!-- Previews -->
            <div class="row" *ngIf="selectedReport && selectedReport.datasets">
              <div class="col s12">
                <ng-container *ngFor="let v of selectedReport.datasets">
                  <mat-card>
                    <mat-card-content>
                      <table class="responsive">
                        <tr>
                          <td><h5>{{v.name}}</h5></td>
                          <td>
                            <button *ngIf="v.file_url" mat-mini-fab class="serioplast-green right" (click)="downloadDataset(v)">
                              <mat-icon>file_download</mat-icon>
                            </button>
                          </td>
                        </tr>
                      </table>
                      <div class="row">
                        <!-- Previews -->
                        <ng-container *ngIf="v.results && v.results.length">
                          <div style="overflow-x:auto; !important;">
                            <table class="mdl-data-table bordered striped noclick">
                              <th *ngFor="let field of v.fields">
                                {{field}}
                              </th>
                              <tr *ngFor="let row of v.results">
                                <td *ngFor="let field of v.fields" [innerHTML]="getValue(row,field)|sanitizeHtml"></td>
                              </tr>
                            </table>
                          </div>
                          <p>

                              <sp-ng-translate [value]="'NUMBER_OF_ROWS'"></sp-ng-translate>
                              : {{v.count}}
                          </p>
                        </ng-container>

                        <!-- No items -->
                        <ng-container *ngIf="v.results && v.results.length == 0">
                          <div class="col s12">
                            No items.
                          </div>
                        </ng-container>
                      </div>
                      </mat-card-content>
                     </mat-card>
                  <br>
                   </ng-container>
              </div>
            </div>
            <!-- Download -->
            <div class="row">
              <div class="col s6"><h5>Download Report</h5></div>
              <div class="col s6"><button mat-mini-fab class="serioplast-green right" (click)="downloadReport(selectedReport)">
                <mat-icon>file_download</mat-icon>
              </button></div>
            </div>
          </sp-stepper-item-content-active>
        </sp-stepper-item>

      </sp-stepper>
    </div>
  </div>
</sp-dialog>

