<ng-container *ngIf="organization && organization.pk">

  <div class="flex">
    <div style="width:calc(100% - 40px)">
      <fixed-field [label]="label" [value]="organization.__str__"></fixed-field>
    </div>

    <button *ngIf="!small" mat-icon-button class="serioplast-red" (click)="reset()"><mat-icon>delete</mat-icon></button>
    <mat-icon *ngIf="small" (click)="reset()">delete</mat-icon>
  </div>

</ng-container>

<ng-container *ngIf="organization && !organization.pk">

  <div class="flex">
    <div style="width:calc(100% - 40px)">
      <fixed-field [label]="label" [value]="'Select organization'"></fixed-field>
    </div>

    <button mat-mini-fab class="serioplast-blue" (click)="openDialog()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</ng-container>


<sp-dialog #dialog [nopadding]="true">
  <div class="container-dialog">
    <div class="serioplast-green" style="height:20px">&nbsp;</div>
    <div class="container-dialog-content" *ngIf="dialog.opened">
      <div class="row nomargin" style="margin-top:20px">
        <div class="col s9">
          <mat-form-field>
            <input matInput placeholder="Search" [(ngModel)]="search">
          </mat-form-field>
        </div>
        <div class="col s3 ">
          <button mat-mini-fab class="serioplast-green" (click)="table.reload()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <sp-table-with-pages #table [small]="true" [getData]="getOrganizations.bind(this)" [nResults]="20"
                               [clickable]="true" (rowclick)="selectOrganization($event)"
                               [headerConf]="headerConfOrganization" [availableActions]="[]"></sp-table-with-pages>
        </div>
      </div>
    </div>
  </div>
</sp-dialog>
