<mat-card>
  <header>
    <div class="row">
      <div class="col s12 m6">
        <sp-user [userPK]="comment.created_by.pk"></sp-user>
      </div>
      <div class="col s12 m6" align="right">
        <mat-card-subtitle class="time">{{comment.created_on | date:'y-MM-dd HH:mm'}}</mat-card-subtitle>
      </div>
    </div>
  </header>
  <mat-card-content>
    <p Markdown [innerHTML]="comment.message"></p>
  </mat-card-content>
</mat-card>

