mat-tab-group{
  height: calc(100% - 100px);
}

*>>>.mat-tab-body-wrapper {
  height:calc(100% - 50px);
}

*>>>.mat-tab-body-content {
  height:100%;
}


.used>>>.mat-tab-body-active {
  overflow-x:auto;
}
