<ng-container *ngIf="batch">
  <div class="row main">
    <div class="col s12">
      <div class="flex" *ngIf="batch">
        <span class="fill-remaining-space"></span>
        <button mat-fab class="serioplast-grey" [routerLink]="['/quality-stock']">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <span class="fill-remaining-space"></span>
        <mat-card style="margin-top:10px; min-width: 1200px; padding:10px;">
          <div class="flex">
            <div class="batch-field">
              <fixed-field [label]="'Batch'" [value]="batch.Batch"></fixed-field>
            </div>
            <span class="fill-remaining-space"></span>
            <div class="batch-field">
              <fixed-field [label]="'Plant'" [value]="batch.Plant|siteSapCode"></fixed-field>
            </div>
            <span class="fill-remaining-space"></span>
            <div class="batch-field">
              <fixed-field [label]="'Supplier'" [value]="batch.Supplier?batch.Supplier:'-'"></fixed-field>
            </div>
            <span class="fill-remaining-space"></span>
            <div class="batch-field">
              <fixed-field [label]="'Supplier Batch'" [value]="batch.SupplierBatch?batch.SupplierBatch:'-'"></fixed-field>
            </div>
            <span class="fill-remaining-space"></span>
            <div class="batch-field">
              <fixed-field [label]="'Material'" [value]="batch.Material+' - '+batch.MaterialDescription"></fixed-field>
            </div>
            <span class="fill-remaining-space"></span>
            <div class="batch-field">
              <fixed-field [label]="'Creation'" [value]="(batch.CreationDate|sapDate)+' '+(batch.CreationTime|sapTime)"></fixed-field>
            </div>
            <span class="fill-remaining-space"></span>
            <div class="batch-field">
              <fixed-field [label]="'Quantity'" [value]="(batch.Quantity|ExpThousandsSeparator)+' '+(batch.Uom)"></fixed-field>
            </div>
          </div>
        </mat-card>
        <span class="fill-remaining-space"></span>
        <button mat-fab class="serioplast-blue" [routerLink]="['/quality-stock/batch/traceability']"
                [queryParams]="queryParams">
          <mat-icon>device_hub</mat-icon>
        </button>
        <span class="fill-remaining-space"></span>
      </div>
      <mat-tab-group>
        <mat-tab *ngFor="let bw of batchWarehouses" label="{{getBWLabel(bw)}}">
          <ng-container *ngIf="bw.HasHandlingUnit">
            <app-quality-stock-batch-detail-hu-list [fromDate]="batch.CreationDate|sapDate"
                                                       [fromTime]="batch.CreationTime|sapTime"
                                                       [material]="batch.Material" [batch]="batch.Batch"
                                                       [plant]="batch.Plant"
                                                       [warehouse]="bw.Warehouse"></app-quality-stock-batch-detail-hu-list>
          </ng-container>
          <ng-container *ngIf="!bw.HasHandlingUnit">
            <ng-container *ngIf="getBWTotalQuantity(bw)>0">
              <table class="mdl-data-table bordered striped noclick small">
                <thead>
                <tr>
                  <th>Type</th>
                  <th>Quantity</th>
                  <th></th>
                </tr>
                </thead>

                <tbody>
                <ng-container *ngFor="let bs of bw.WBatchStock.results">
                  <tr *ngIf="(bs.Quantity|ExpThousandsSeparator)!='0'">
                    <td>{{tr(getStatus(bs.StockType))}}</td>
                    <td>{{bs.Quantity|ExpThousandsSeparator}} {{bs.Uom}}</td>
                    <td>
                      <mat-icon [ngClass]="{invisible:!canLock(bs.StockType)}" matTooltip="Lock"
                               [matTooltipPosition]="'below'" (click)="lockBulkMaterial(bs)">lock
                      </mat-icon>
                      <mat-icon [ngClass]="{invisible:!canUnlock(bs.StockType)}" matTooltip="Unlock"
                               [matTooltipPosition]="'below'" (click)="unlockBulkMaterial(bs)">lock_open
                      </mat-icon>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </ng-container>
            <ng-container *ngIf="getBWTotalQuantity(bw)==0">
              <sp-ng-translate [value]="'NO_MATERIALS_IN_WAREHOUSE'"></sp-ng-translate>
            </ng-container>

          </ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</ng-container>

<sp-dialog #lockDialog>
  <div class="row nomargin" *ngIf="bsToLock">
    <div class="col s12">
      <h5>Lock bulk material in warehouse {{bsToLock.Warehouse}}</h5><br/>
      <mat-form-field>
        <input matInput [placeholder]="tr('QUANTITY_TO_LOCK')" type="number" [(ngModel)]="bsToLock.Quantity"/>
      </mat-form-field>
      <sp-save-undo [undoCondition]="false" (save)="doLock()"></sp-save-undo>
    </div>
  </div>
</sp-dialog>

<sp-dialog #unlockDialog>
  <div class="row nomargin" *ngIf="bsToUnlock">
    <div class="col s12">
      <h5>Unlock bulk material in {{bsToUnlock.Warehouse}}</h5><br/>
      <mat-form-field>
        <input matInput [placeholder]="tr('QUANTITY_TO_UNLOCK')" type="number" [(ngModel)]="bsToLock.Quantity"/>
      </mat-form-field>
      <sp-save-undo [undoCondition]="false" (save)="doUnlock()"></sp-save-undo>
    </div>
  </div>
</sp-dialog>

<sp-dialog #printDialog>
  <div class="print-dialog">
    <div class="row nomargin" *ngIf="bToPrint">
      <div class="col s6" *ngIf="printers.length>0">
        <mat-form-field>
          <mat-select [(ngModel)]="bToPrint.Printer" [placeholder]="tr('PRINTER')">
            <mat-option *ngFor="let p of printers" [value]="p.Name">{{p.Name}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col s6">
        <mat-form-field>
          <input type="number" [(ngModel)]="bToPrint.Copies" matInput placeholder="{{tr('COPIES')}}"/>
        </mat-form-field>
      </div>
    </div>
    <sp-save-undo [undoCondition]="false" [saveCondition]="bToPrint && bToPrint.Printer && bToPrint.Copies" (save)="doPrintBatch()"></sp-save-undo>
  </div>

</sp-dialog>
