.note-container {
  padding-top: 20px;
}

mat-card-title input, mat-card-title label {
  font-size: 24px;
}

mat-card-title input {
  height: 60px;
}

mat-card-actions {
  display: flex;
  margin: auto;
}




