<div class="note-container row">
  <div class="col s1 m2 l3"></div>
  <div class="col s10 m8 l6">
    <mat-card class="note">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Title" [(ngModel)]="note.title" required name="title">
        </mat-form-field>

        <mat-form-field class="full-width">
          <textarea matInput placeholder="Content" [(ngModel)]="note.content" required name="content"></textarea>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions>
        <sp-save-undo (undo)="back()" (save)="addNote()" class="full-width"></sp-save-undo>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col s1 m2 l3"></div>

</div>



