<ng-container *ngIf="shape && shape.pk">
  <div style="padding-bottom: 20px;padding-top: 20px;" class="flex">
    <button mat-fab class="grey back" matTooltip="Back" [matTooltipPosition]="'below'" (click)="goToList()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <ng-container *ngIf="shape">
      <h5 style="margin-left: 20px">Edit {{shape.code}} - {{shape.description}}</h5>
    </ng-container>
  </div>
  <div class="row">
    <div class="col s12">
      <mat-card *ngIf="shape" class="main">
        <mat-card-content>
          <div class="row">
            <div class="col s3">
              <mat-form-field>
                <input matInput [placeholder]="tr('CODE')" [value]="shape.code" [disabled]="true"/>
              </mat-form-field>
            </div>
            <div class="col s3">
              <mat-form-field>
                <input matInput [placeholder]="tr('DESCRIPTION')" [value]="shape.description" [disabled]="true"/>
              </mat-form-field>
            </div>
            <div class="col s3">
              <mat-form-field>
                <input matInput [placeholder]="tr('LONG_DESCRIPTION')" [value]="shape.long_description?shape.long_description:'-'" [disabled]="true"/>
              </mat-form-field>
            </div>
            <div class="col s3">
              <mat-form-field>
                <input matInput [placeholder]="tr('PLM_REVISION')" [value]="shape.plm_revision?shape.plm_revision:'-'" [disabled]="true"/>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col s3">
              <mat-form-field>
                <input matInput [placeholder]="tr('TYPE')" [value]="shape.material_type.__str__" [disabled]="true"/>
              </mat-form-field>
            </div>
            <div class="col s3">
              <mat-form-field>
                <mat-select placeholder="{{tr('SUBTYPE')}}" style="width: 100%;" [(ngModel)]="shape.subtype.pk"
                            id="shape_subtype"
                            name="shape_subtype">
                  <ng-container *ngFor="let t of materialSubTypeLinks">
                    <mat-option [value]="t.pk">{{t.__str__}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col s3">
              <mat-form-field>
                <input matInput [placeholder]="tr('TECHNOLOGY')" [value]="shape.technology.__str__" [disabled]="true"/>
              </mat-form-field>
            </div>
            <div class="col s3">
              <organization-search [organization]="shape.owner" [label]="tr('OWNER')" (organizationSelected)="selectedOwner.bind(this)($event)"></organization-search>
            </div>
          </div>
          <div class="row">
            <div class="col s4">
              <fixed-field [label]="tr('ALTERNATIVE_NAMES')" [useContent]="true">
                <div class="flex" *ngFor="let alternative_name of shape.alternative_name">
                  <mat-form-field>
                    <input type="text" id="shape_alternative_names" maxlength="40" name="shape_alternative_names"
                           [(ngModel)]="alternative_name.label" matInput/>
                  </mat-form-field>
                  <span class="fill-remaining-space"></span>
                  <button mat-mini-fab class="serioplast-green" (click)="deleteAlternativeName(alternative_name)"><mat-icon>delete</mat-icon></button>
                </div>
              </fixed-field>
              <div class="flex" *ngIf="!hasEmptyNames()">
                <span class="fill-remaining-space"></span>
                <button mat-mini-fab class="serioplast-green" (click)="addAlternativeName()"><mat-icon>add</mat-icon></button>
              </div>
            </div>
            <div class="col s8">
              <markdown-textarea [object]="shape" [field]="'notes'" [label]="'Notes'" [vertical]="true"></markdown-textarea>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col s12 flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="save serioplast-green" type="button" matTooltip="Save" [matTooltipPosition]="'left'"
              (click)="saveShape()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>


</ng-container>





