.filters {
  padding:10px;
  background:#ccc;
  margin-bottom:20px;
}

.action-buttons {
  padding:10px;
  width:250px;
}

.lockAll {
  background: black;
  color:white;
}

.unlockAll {
  background: white;
  color:black;
}

*>>>.error {
  color:red;
}

*>>>.success {
  color:green;
}

.print-dialog {
  width:500px;
}
