<div class="filters">
  <div class="row nomargin">
    <div class="col s2">
      <date-input [placeholder]="'CREATION_FROM_DATE'" [(ngModel)]="fromDate"></date-input>
    </div>
    <div class="col s2">
      <mat-form-field>
        <input matInput placeholder="{{tr('CREATION_FROM_TIME')}}" type="time" atp-time-picker [(ngModel)]="fromTime"/>
      </mat-form-field>
    </div>
    <div class="col s2">
      <date-input [placeholder]="'CREATION_TO_DATE'" [(ngModel)]="toDate"></date-input>
    </div>
    <div class="col s2">
      <mat-form-field>
        <input matInput placeholder="{{tr('CREATION_TO_TIME')}}" type="time" atp-time-picker [(ngModel)]="toTime"/>
      </mat-form-field>
    </div>
    <div class="col s4">
      <mat-form-field>
        <mat-select [placeholder]="tr('STATUS')" [(ngModel)]="statusFilter" class="full-width">
          <mat-option [value]="'ALL'"><sp-ng-translate [value]="'ALL'" selected></sp-ng-translate></mat-option>
          <mat-option [value]="HUQualityStatus.FREE"><sp-ng-translate [value]="'FREE_STOCK'"></sp-ng-translate></mat-option>
          <mat-option [value]="HUQualityStatus.QUALITY"><sp-ng-translate [value]="'QUALITY_STOCK'"></sp-ng-translate></mat-option>
          <mat-option [value]="HUQualityStatus.RETURN_STOCK"><sp-ng-translate [value]="'RETURN_STOCK'"></sp-ng-translate></mat-option>
          <mat-option [value]="HUQualityStatus.LOCKED"><sp-ng-translate [value]="'LOCKED_STOCK'"></sp-ng-translate></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <mat-form-field>
        <input type="number" [(ngModel)]="fromPallet" matInput placeholder="{{tr('PALLET_FROM')}}"/>
      </mat-form-field>
    </div>
    <div class="col s4">
      <mat-form-field>
        <input type="number" [(ngModel)]="toPallet" matInput placeholder="{{tr('PALLET_TO')}}"/>
      </mat-form-field>
    </div>
    <div class="col s4">
      <mat-form-field>
        <input type="text" [(ngModel)]="huFilter" maxlength="20" matInput placeholder="{{tr('HU')}}"/>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="flex">
        <button mat-mini-fab (click)="reset()" class="serioplast-white">
          <mat-icon>cached</mat-icon>
        </button>
        <span class="fill-remaining-space"></span>
        <button mat-mini-fab (click)="reload()" class="serioplast-green">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="action-buttons flex" [ngClass]="{invisible:!hasSelectedHU()}">
  <button mat-mini-fab matTooltip="Lock all" (click)="lockAllSelected()" class="lockAll"><mat-icon>lock</mat-icon></button>
  <span class="fill-remaining-space"></span>
  <button mat-mini-fab matTooltip="Unlock all" (click)="unlockAllSelected()" class="unlockAll"><mat-icon>lock_open</mat-icon></button>
  <span class="fill-remaining-space"></span>
  {{huTable.getSelectedItems().length}} items selected
  <!--<button mat-mini-fab matTooltip="Delete all" (click)="deleteAllSelected()" class="deleteAll"><mat-icon>delete</mat-icon></button>-->
</div>

<sp-table-with-pages #huTable [noItemsMessage]="tr('NO_HU_AVAILABLE')" [availableActions]="availableActions"
                     [nResults]="50" [getData]="getHUQualities.bind(this)" [headerConf]="headerConf"
                     [small]="true" [ready]="ready" [selectable]="true" [mode]="'SAP'"></sp-table-with-pages>

<sp-dialog #printDialog>
  <div class="print-dialog">
    <div class="row" *ngIf="huToPrint && huToPrint.SSCC">
      <div class="col s4" *ngIf="printers.length>0">
        <mat-form-field>
          <mat-select [(ngModel)]="huToPrint.Printer" [placeholder]="tr('PRINTER')">
            <mat-option *ngFor="let p of printers" [value]="p.Name">{{p.Name}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col s4" *ngIf="huLabels.length>0 && huToPrint.HULabelLink[0]">
        <mat-form-field>
          <mat-select [(ngModel)]="huToPrint.HULabelLink[0].LabelName" (ngModelChange)="handleLabelChange()" [placeholder]="tr('LABEL')">
            <mat-option *ngFor="let l of huLabels" [value]="l.LabelName">{{l.LabelDesc}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col s4 " *ngIf="huToPrint.HULabelLink[0] && huToPrint.HULabelLink[0].LabelName">
        <mat-form-field>
          <input type="number" id="copies" [(ngModel)]="huToPrint.HULabelLink[0].Copies" matInput placeholder="{{tr('COPIES')}}"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="huToPrint && huToPrint.Printer && huToPrint.HULabelLink[0].LabelName">
      <div class="col s12">
        <div class="flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab class="serioplast-green" (click)="doPrintHU()"><mat-icon>print</mat-icon></button>
        </div>
      </div>
    </div>
  </div>

</sp-dialog>



