<a style="cursor:pointer;color: #4CAF50" (click)="openModal()">{{label}}</a>

<sp-dialog #personalInfoModal>
  <div *ngIf="personalinfo && personalinfo.pk" class="personal-info-modal">
    <div class="row  nomargin full-width">
      <div class="col s4">
        <mat-card>
          <mat-card-title>
            Personal Informations
          </mat-card-title>
          <mat-card-content>
            <table class="bordered">
              <tr>
                <td>
                  <sp-ng-translate [value]="'First Name'"></sp-ng-translate>
                </td>
                <td>
                  {{personalinfo.first_name}}
                </td>
              </tr>
              <tr>
                <td>
                  <sp-ng-translate [value]="'Middle Name'"></sp-ng-translate>
                </td>
                <td>
                  {{personalinfo.middle_name}}
                </td>
              </tr>
              <tr>
                <td>
                  <sp-ng-translate [value]="'Last Name'"></sp-ng-translate>
                </td>
                <td>{{personalinfo.last_name}}
                </td>
              </tr>
              <tr>
                <td>
                  <sp-ng-translate [value]="'Real Name'"></sp-ng-translate>
                </td>
                <td>{{personalinfo.real_name}}
                </td>
              </tr>
              <tr>
                <td>
                  <sp-ng-translate [value]="'Sex'"></sp-ng-translate>
                </td>
                <td>
                  <ng-container *ngIf="personalinfo.sex && personalinfo.sex.__str__">
                    {{personalinfo.sex.__str__}}
                  </ng-container>
                </td>
              </tr>
              <tr>
                <td>
                  <sp-ng-translate [value]="'Birth Day'"></sp-ng-translate>
                </td>
                <td>{{personalinfo.birth_date}}
                </td>
              </tr>
              <tr>
                <td>
                  <sp-ng-translate [value]="'Birth Country'"></sp-ng-translate>
                </td>
                <td>
                  <ng-container *ngIf="personalinfo.birth_country">
                    {{personalinfo.birth_country}}
                  </ng-container>
                </td>
              </tr>
              <tr>
                <td>
                  <sp-ng-translate [value]="'Home Address'"></sp-ng-translate>
                </td>
                <td>
                  {{personalinfo.home_address}}
                </td>
              </tr>
              <tr>
                <td>
                  <sp-ng-translate [value]="'Home Email'"></sp-ng-translate>
                </td>
                <td>{{personalinfo.home_email}}
                </td>
              </tr>
              <tr>
                <td>
                  <sp-ng-translate [value]="'Home Landline Phone'"></sp-ng-translate>
                </td>
                <td>{{personalinfo.home_landline_phone}}
                </td>
              </tr>
              <tr>
                <td>
                  <sp-ng-translate [value]="'Home Mobile Phone'"></sp-ng-translate>
                </td>
                <td>{{personalinfo.home_mobile_phone}}
                </td>
              </tr>
              <tr>
                <td>
                  <sp-ng-translate [value]="'Skype'"></sp-ng-translate>
                </td>
                <td>{{personalinfo.skype}}
                </td>
              </tr>
              <tr>
                <td>
                  <sp-ng-translate [value]="'CV'"></sp-ng-translate>
                </td>
                <td>
                  <ng-container *ngIf="personalinfo.cv && personalinfo.cv.pk">
                    <a href="{{personalinfo.cv.__str__}}" *ngIf="personalinfo.cv" download="cv">
                      <mat-icon color="primary">play_for_work</mat-icon>
                    </a>
                  </ng-container>
                </td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col s8">
        <mat-card>
          <mat-card-title>
            Education
          </mat-card-title>
          <mat-card-content>
            <sp-table-with-pages [nResults]="5" [small]="true" [noItemsMessage]="noItemsMessageEducations"
                                 [headerConf]="headerConfEducations"
                                 [availableActions]="[]" [getData]="loadEducations.bind(this)"></sp-table-with-pages>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-title>
            Professional experiences
          </mat-card-title>
          <mat-card-content>
            <sp-table-with-pages [nResults]="5" [small]="true" [noItemsMessage]="noItemsMessageProfessionalExperiences"
                                 [headerConf]="headerConfProfessionalExperiences"
                                 [availableActions]="[]"
                                 [getData]="loadProfessionalExperiences.bind(this)"></sp-table-with-pages>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-title>
            Nationalities
          </mat-card-title>
          <mat-card-content>
            <sp-table-with-pages [nResults]="5" [small]="true" [noItemsMessage]="noItemsMessageNationalities"
                                 [headerConf]="headerConfNationalities"
                                 [availableActions]="[]" [getData]="loadNationalities.bind(this)"></sp-table-with-pages>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-title>
            Working contacts
          </mat-card-title>
          <mat-card-content>
            <sp-table-with-pages [nResults]="5" [small]="true" [noItemsMessage]="noItemsMessageWorkingContacts"
                                 [headerConf]="headerConfWorkingContacts"
                                 [availableActions]="[]"
                                 [getData]="loadWorkingContacts.bind(this)"></sp-table-with-pages>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-title>
            Languages
          </mat-card-title>
          <mat-card-content>
            <sp-table-with-pages [nResults]="5" [small]="true" [noItemsMessage]="noItemsMessageLanguages"
                                 [headerConf]="headerConfLanguages"
                                 [availableActions]="[]" [getData]="loadLanguages.bind(this)"></sp-table-with-pages>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>

</sp-dialog>


