.personal-info-modal {
  width:1200px;
  font-size:80%;
}

mat-card {
  padding:10px;
}

*>>>.mat-card-title {
  font-size:14px;
}

*>>>.mat-card-content {
  font-size:12px;
}

.s8 mat-card {
  margin-bottom:10px;
}



