.row.main {
  margin-bottom:0;
}

mat-card {
  background-color: rgba(255, 255, 165,0.8);
  margin-top:20px;
}

.time {
  margin-bottom: 0;
}

@media (min-width: 480px) {
  .time {
    line-height: 75px;
  }
}
