<div class="row main">
  <div class="col hide-on-small-only m1"></div>
  <div class="col s12 m10">
    <mat-card *ngIf="note && note.pk">
      <header class="row">
        <div class="col s12 m6">
          <sp-user [userPK]="note.created_by.pk"></sp-user>
        </div>
        <div class="col s12 m6" align="right">
          <mat-card-subtitle class="time">{{note.created_on | date:'y-MM-dd HH:mm'}}</mat-card-subtitle>
        </div>
      </header>

      <mat-card-content>
        <mat-card-title>{{note.title}}</mat-card-title>

        <p class="note-content" Markdown [innerHTML]="note.content">

        </p>
      </mat-card-content>

      <sp-comment-list [note]="note"></sp-comment-list>
    </mat-card>
  </div>
  <div class="col hide-on-small-only m1"></div>
</div>

