<div class="main-container">
  <div class="row filters">
    <div class="col s3">
      <mat-form-field>
        <input matInput [placeholder]="tr('TEXT_SEARCH')" type="text" [(ngModel)]="textFilterWC"
               (keyup)="handleTextFilterWorkcenterChange()">
      </mat-form-field>
    </div>
    <div class="col s3">
      <mat-form-field>
        <mat-select placeholder="{{tr('TECHNOLOGY')}}" [(ngModel)]="technologyFilterWC"
                    name="wc_tech_filter"
                    (ngModelChange)="handleTechnologyFilterChange()" style="width:100%">
          <mat-option [value]="">--</mat-option>
          <ng-container *ngFor="let t of technologyLinks">
            <mat-option [value]="t.pk">{{t.__str__}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="col s3">
      <mat-form-field>
        <mat-select placeholder="{{tr('LOCATION')}}" [(ngModel)]="siteWorkcenterFilter" class="full-width" (ngModelChange)="workcentersTable.reload()">
          <mat-option [value]="">--</mat-option>
          <mat-option *ngFor="let s of sites" [value]="s.pk">{{s.__str__}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col s3">
      <div class="flex">
        <span class="fill-remaining-space"></span>
        <mat-slide-toggle color="primary" [(ngModel)]="workcentersActive"
                         (ngModelChange)="workcentersTable.reload()">Active
        </mat-slide-toggle>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <sp-table-with-pages #workcentersTable [noItemsMessage]="noItemsMessageWorkcenters"
                           [headerConf]="headerConfWorkcenters"
                           [availableActions]="availableActionsWorkcenters"
                           [getData]="loadWorkcenters.bind(this)"
                           (editItem)="editWorkcenter.bind(this)($event)"
                           (deleteItem)="deleteWorkcenter.bind(this)($event)"
                           (restoreItem)="restoreWorkcenter.bind(this)($event)"
                           [expandData]="expandDataWorkcenters.bind(this)"
                           [expandDataAsync]="true"
                           [nResults]="10"></sp-table-with-pages>

      <div class="add-button-container flex">
        <span class="fill-remaining-space"></span>
        <button type="button" mat-mini-fab class="serioplast-green" matTooltip="Create"
                [matTooltipPosition]="'below'" (click)="createWorkcenter();">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

