<assets-list *ngIf="!editMode && !loading" (createEvent)="createAsset($event)" (editEvent)="editAsset($event)"
                                  (deleteEvent)="deleteAsset($event)" (restoreEvent)="restoreAsset($event)"> </assets-list>

<asset-edit *ngIf="editMode && !loading" [assetToEdit]="assetToEdit" (backEvent)="back()" [createMode]="createMode"></asset-edit>

<mat-progress-spinner color="primary" *ngIf="loading"></mat-progress-spinner>
