<div *ngIf="workorder && ready" style="padding:20px">
  <div class="row">
    <div class="col s12">
      <div class="flex">
        <button mat-fab class="serioplast-grey" matTooltip="Back" (click)="back()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <div class="workorder-nr">
          <h4>
            Workorder: {{workorder.work_order_nr?workorder.work_order_nr :'-'}}
            <span [style]="getWorkorderStyle()">
              <ng-container *ngIf="workorder.status">
                {{workorder.status.__str__}}
              </ng-container>
            </span>
          </h4>
        </div>
        <span class="fill-remaining-space"></span>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col s4">
      <ng-container *ngIf="workorder.pk">
        <fixed-field [label]="'Type'" [value]="workorder.type.__str__"></fixed-field>
      </ng-container>
      <ng-container *ngIf="!workorder.pk">

        <ng-container *ngIf="isAuthorizedEditSampling() && isAuthorizedEditProduction()">
          <mat-form-field>
            <mat-select [(ngModel)]="workorder.type.pk" (ngModelChange)="fixType()" [placeholder]="tr('TYPE')"
                        class="full-width">
              <mat-option *ngFor="let t of types" [value]="t.pk">{{t.__str__}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="!isAuthorizedEditSampling() || !isAuthorizedEditProduction()">
          <fixed-field [label]="'Type'" [value]="workorder.type.__str__"></fixed-field>
        </ng-container>


      </ng-container>

    </div>

    <div class="col s4">
      <ng-container *ngIf="!workorder.pk">
        <user-sites (siteChange)="siteChange($event)" [prepopulate]="false" [initialValue]="siteFilter"
                       [additionalQuery]="{active_on_sap:true}"></user-sites>
      </ng-container>
      <ng-container *ngIf="workorder.pk">
        <fixed-field [label]="'Site'" [value]="workorder.site.__str__"></fixed-field>
      </ng-container>
    </div>
  </div>

  <div class="row" *ngIf="workorder.type.pk">
    <div class="col s4" *ngIf="workorder.site && workorder.site.pk" [ngClass]="{nopadding:!workorder.pk}">
      <ng-container *ngIf="!workorder.pk">
        <material-selector [initialValue]="(workorder.material&&workorder.material.pk)?workorder.material:null"
                           (selectedMaterial)="selectedMaterial($event)"
                           [additionalQuery]="{only_routing_in_site: workorder.site.pk, routing_status_in:getRoutingStatuses()}"></material-selector>
      </ng-container>
      <ng-container *ngIf="workorder.pk">
        <fixed-field [label]="'Material'" [value]="workorder.material.__str__"></fixed-field>
      </ng-container>
    </div>
    <ng-container *ngIf="workorder.material && workorder.material.pk ">
      <div class="col s4 input-field">
        <mat-form-field>
          <input matInput placeholder="Quantity" type="number" [(ngModel)]="workorder.quantity" style="width:calc(100% - 30px)"/> {{(workorder.material&& workorder.material.uom)?workorder.material.uom.__str__:""}}
        </mat-form-field>
      </div>
      <div class="col s4">
        <mat-form-field>
          <mat-select [(ngModel)]="workorder.packing_instruction.pk" [placeholder]="tr('PACKING_INSTRUCTION')"
                      class="full-width" (ngModelChange)="handlePackingInstructionChange()">
            <mat-option *ngFor="let t of packingInstructions" [value]="t.pk">{{t.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
  </div>
  <div class="row" *ngIf="workorder.material && workorder.material.pk">
    <ng-container *ngIf="workorder._newFlow">
      <div class="col s3">
        <div class="flex">
          <mat-form-field style="width:calc(100% - 30px)">
            <mat-select [(ngModel)]="workorder.production_version.pk" [placeholder]="tr('PRODUCTION_VERSION')"
                         (ngModelChange)="setRouting()">
              <mat-option *ngFor="let t of productionVersions" [value]="t.pk">Alt {{t.bom_header.alt_bom_id}} - Group
                {{t.routing_header.group}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-icon *ngIf="workorder.production_version.pk" (click)="showSelectedPV()">visibility</mat-icon>
        </div>
      </div>
      <div class="col s3">
        <fixed-field [label]="'Routing'" [value]="workorder.routing?workorder.routing.group:'-'"></fixed-field>
      </div>
    </ng-container>
    <ng-container *ngIf="!workorder._newFlow">
      <div class="col s3">
        <mat-form-field style="width:calc(100% - 30px)">
          <mat-select [(ngModel)]="workorder.routing.pk" [placeholder]="tr('ROUTING')"
                      (ngModelChange)="setPV()">
            <mat-option *ngFor="let r of routings" [value]="r.pk">Group {{r.group}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon *ngIf="workorder.routing.pk" (click)="showSelectedRouting()">visibility</mat-icon>
      </div>
      <div class="col s3">
        <mat-form-field  style="width:calc(100% - 30px)">
          <mat-select [(ngModel)]="workorder.production_version.pk" [placeholder]="tr('PRODUCTION_VERSION')"
                      (ngModelChange)="setRouting()">
            <mat-option *ngFor="let t of productionVersions" [value]="t.pk">Group {{t.routing_header.group}} - Alt
              {{t.bom_header.alt_bom_id}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-icon *ngIf="workorder.production_version.pk" (click)="showBOM()">visibility</mat-icon>
      </div>
    </ng-container>
    <div class="col s3">

      <date-input [placeholder]="'Planned start date'" [min]="today" [(ngModel)]="workorder.planned_start"></date-input>
    </div>
    <div class="col s3">
      <date-input [placeholder]="'Planned end date'" [min]="today" [(ngModel)]="workorder.planned_end"></date-input>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <wbs-search [wbs]="workorder.wbs" [additionalQuery]="{site:workorder.site.pk,status_deltarel_in:'1'}" (wbsSelected)="wbsSelected($event)"></wbs-search>
    </div>
  </div>

  <mat-card>
    <mat-card-title>Team</mat-card-title>
    <mat-card-content>
      <div style="width:20%">
        <user-search [label]="'USER'" (userSelected)="selectUser($event)" [resetOnSelection]="true" [additionalQuery]="getTeamAdditionalQuery()"></user-search>
      </div>
      <div class="chips-container">
        <mat-chip-list>
          <mat-chip *ngFor="let item of workorder.team" color="primary" [ngClass]="''">
                <span class="flex">
                  <span class="text">{{item.__str__}}</span>
                  <mat-icon (click)="removeTeamUser(item)">clear</mat-icon>
                </span>
          </mat-chip>
        </mat-chip-list>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="workorder.material && workorder.material.pk">
    <mat-card-title>Control Plans</mat-card-title>
    <mat-card-content>
      <mat-checkbox *ngFor="let cp of controlPlanStructures" [(ngModel)]="cp.active" color="primary">{{cp.cp.__str__}} - ({{cp.cp.type.__str__}})
      </mat-checkbox>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="workorder.work_order_nr && workorder.packing_instruction.pk!=-1">
    <mat-card-title>
      <div class="flex">
        Labels
        <span class="fill-remaining-space"></span>
        <mat-icon (click)="editLabels()">edit</mat-icon>
      </div>

    </mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let l of workorder.labels">{{l.Description}} ({{l.Copies}} copies)</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <div class="row nomargin">
    <sp-save-undo (undo)="back()" (save)="saveWorkorder();" [saveCondition]="canSaveWorkorder()"></sp-save-undo>
  </div>
</div>

<sp-dialog #pvShowDialog>
  <ng-container *ngIf="pvShowDialog.opened">
    <div style="width:900px">
      <bom-display [bom]="workorder.production_version.bom_header"></bom-display>
      <hr/>
      <routing-display [routing]="workorder.routing"></routing-display>
    </div>
  </ng-container>
</sp-dialog>

<sp-dialog #bomShowDialog>
  <ng-container *ngIf="bomShowDialog.opened">
    <div style="width:900px">
      <bom-display [bom]="workorder.production_version.bom_header"></bom-display>
    </div>
  </ng-container>
</sp-dialog>

<sp-dialog #routingShowDialog>
  <ng-container *ngIf="routingShowDialog.opened">
    <div style="width:900px">
      <routing-display [routing]="workorder.routing"></routing-display>
    </div>
  </ng-container>
</sp-dialog>

<sp-dialog #typeSelectDialog>
  <ng-container *ngIf="typeSelectDialog.opened">
    <div style="width:400px">
      <mat-list>
        <mat-list-item *ngFor="let t of typesToSelect" (click)="selectTypeAndClose(t)" class="typeToSelect">{{t.Type}}</mat-list-item>
      </mat-list>
    </div>
  </ng-container>
</sp-dialog>

<sp-dialog #labelSelectionDialog [closeByOverlayClick]="false">
  <h5>Labels</h5>
  <div *ngFor="let l of availableLabels" class="flex" style="width:400px">
    <mat-checkbox [(ngModel)]="l.Preferred" color="primary">{{l.Description}}</mat-checkbox>
    <span class="fill-remaining-space"></span>
    <ng-container *ngIf="l.Preferred">
      <mat-form-field style="width:50px">
        <input type="number" [(ngModel)]="l.Copies" min="1" matInput placeholder="Copies"/>
      </mat-form-field>
    </ng-container>
  </div>
  <sp-save-undo [undoCondition]="false" [savePartial]="true" (save)="saveLabelEditing()"></sp-save-undo>
</sp-dialog>
