.workorder-nr {
  margin-left: 20px;
  padding: 10px;
}

.nopadding {
  padding: 0;
}

md-card {
  margin-bottom: 20px;
}

.typeToSelect {
  padding:10px;
  border:1px solid black;
  margin-bottom:10px;
  cursor:pointer;
}
