<mat-sidenav-container class="row">

  <mat-sidenav class="col s11 m6 l4 left" #left [opened]="sidenavService.leftMenu" (close)="closeLeftMenuCallback()" (open)="openLeftMenuCallback()">
    <div class="row" style="margin-top:20px">
      <div class="col s12">
        <user-sites (siteChange)="siteChange($event)"></user-sites>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <date-input [placeholder]="'Start date'" [(ngModel)]="date" (ngModelChange)="dateChange($event)"></date-input>
      </div>
    </div>
    <div>
      <sp-settings>
        <div style="min-width:400px; min-height: 400px">
          <sp-language-selector></sp-language-selector>
        </div>
      </sp-settings>
    </div>
  </mat-sidenav>

  <div class="sp-content">
    <div class="note_container">
      <div class="row">
        <div class="col s1" (click)="previous()">
          <div class="navigation_button" >
            <button mat-icon-button>
              <mat-icon class="md-24">keyboard_arrow_left</mat-icon>
            </button>
          </div>
        </div>
        <div class="col s10 m10 column_container" [ngClass]="{moveright:movingRight,moveleft:movingLeft}" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
          <div *ngFor="let col of columns; let i = index" class="col s12 m6 column">
            <sp-note-column [date]="col.date" [sitePK]="col.site" [dayDiff]="col.dayDiff"></sp-note-column>
          </div>
        </div>
        <div class="col s1" (click)="next()">
          <div class="navigation_button" >
            <button mat-icon-button>
              <mat-icon class="md-24">keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-sidenav class="col s11 offset-m2 m8 offset-l3 l6 note" #right [opened]="sidenavService.rightMenu && selectedNote.pk" [position]="'end'" (close)="closeRightMenuCallback()" (open)="openRightMenuCallback()">
    <sp-note-full [note]="selectedNote"></sp-note-full>
  </mat-sidenav>

</mat-sidenav-container>








