note {
  width: 400px;
  display:inline-block;
  margin:40px;
  cursor: pointer;
}

.sp-content {
  height:100%;
  background-color:whitesmoke;
  overflow:hidden;
}

md-list md-list-item .md-list-item{
  height:120px;
}

.toggle-container {
  padding:20px;
}

ul {
  padding:20px;
}

ul li {
  list-style-type: none;
  margin-bottom:20px;
  width:400px;
}

.message {
  background:white;
  padding:10px;
  width:30%;
  text-align:center;
  margin:0 auto;
}

.note_container {
  height:100%;
}

.note_container>.row {
  height:100%;
  margin-bottom:0;
}

.note_container>.row>.s1 {
  height:100%;
  cursor: pointer;
  position:relative;
}

.note_container>.row>.s10 {
  height:100%;
  position:relative;
}



.note_container>.row>.s1>.navigation_button{
  position:absolute;
  top:50%;
  margin-top:-20px;
  left:50%;
  margin-left:-20px;
}

.navigation_button button {
  color:black;
}


.navigation_button button:focus {
  background: transparent;
  color:black;
}

.navigation_button button:hover::after {
  background: transparent;
}

@media only screen and (min-width:769px){
  .note_container>.row>.s1:hover {
    background:rgba(76,175,80,0.6);
  }
}

sp-note-column {
  display: block;
  height: 100%;
  overflow:auto;
}

mat-sidenav-container {
  height:100%;
  margin-bottom:0;
}

mat-sidenav.note {

}

.activeTemp {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%)
}

@keyframes moveright {
  from {transform: translate(0px, 0px);}
  to {transform: translate(-100%, 0px);}
}

@keyframes moveleft {
  from {transform: translate(0px, 0px);}
  to {transform: translate(100%, 0px);}
}

.column_container {
  overflow:hidden;
}
.column_container div {
  top:0;
  height:100%;
  position:absolute;
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.column_container.moveright div {
  -webkit-animation-name: moveright; /* Chrome, Safari, Opera */
  animation-name: moveright;
}

.column_container.moveleft div {
  -webkit-animation-name: moveleft; /* Chrome, Safari, Opera */
  animation-name: moveleft;
}

sp-note-column{
  height:100%;
}

.column_container div:nth-child(0n+1) {left:-200%}

.column_container div:nth-child(0n+2) {left:-100%}

.column_container div:nth-child(0n+3) {left:0%}

.column_container div:nth-child(1n+4) {left:100%}

@media only screen and (min-width: 601px) {
  .column_container div:nth-child(0n+1) {left:-50%}

  .column_container div:nth-child(0n+2) {left:0%}

  .column_container div:nth-child(0n+3) {left:50%}

  .column_container div:nth-child(1n+4) {left:100%}
}

sp-settings {
  position:absolute;
  bottom:20px;
  left:20px;
}


