.session_detail {
  color:#000;
  margin:10px 0;
  padding: 10px;
}

td.property {
  background:grey;
}

.back {
  margin:20px 0;
}

li.property {
  display:flex;
  line-height:28px;
}

.measures_header .cell {
  height:30px;
  width:200px;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#ddd;
  font-size:14px;
}

.measures_header,.measures {
  align-self:flex-start;
}

.measures .cell {
  height:30px;
  width:60px;
  align-items:center;
  justify-content:center;
  display:flex;
}

.measures .cell.active_notes {
  width:80px;
}

.measures .cell.inactive {
  background:#ccc;
  width:60px;
}

.measures {
  overflow:auto;
  max-width:calc(100% - 140px);
}

.cell.header {
  background:#eee;
  min-height:55px;
  font-weight:bold;
  height:55px!important;
  position:relative;
  font-size:12px;
}

.cell.footer {
  background:#eee;
  font-weight:bold;
  font-size:12px;
}

.cell.header .deleteButton,
.cell.header .restoreButton
{
  position:absolute;
  top:0;
  right:0;
}

.cell.header.inactive {
  background:#ccc;
  width:50px;
  align-items: flex-start!important;
  flex-direction: row!important;
}

.cell.header>>>ul {
  min-width:inherit;
}

.measures .cell.header {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  /*padding:10px;*/
}

.cavity-data {
  background:#9aff9a;
  padding:10px;
}

.measures . {
  margin:0;
}

.cell.completed {
  background:rgba(0,255,0,0.2);
}

.cell.overflow {
  background-color:rgba(255, 165, 0, 0.2);
}

li.default.completed .collapsible-header {
  background:rgba(0,255,0,0.4);
}

.measure_wrapper>.button {
  align-self:flex-start;
  padding:0 10px;
}

.overall {
  background-color:rgba(0,0,255,0.1);
  margin-bottom:10px;
  font-size:80%;
  padding:10px;
}

.overall.completed {
  background-color:rgba(0,255,0,0.1);
}

.collapsible-header span.flex {
  width:calc(100% - 40px);
}

span.right {
  text-align:right;
}

.sample-id {
  font-weight:700;
  font-size:15px;
}

.header-label {
  font-weight:700;
}

.cell input,.cell>>>input {
  text-align:center;
  margin:0;
  font-size:12px;
  height:20px;
}

.propStatus {
  text-align: center;
  background:white;
  padding:3px 5px;
  height:100%;
  min-width:50px;
}

.propName {

}

.propInfo {
  width:100%;
  height:100%;
}

.cell {
  border:1px solid #ccc;
  border-bottom:none;
  border-right:none;
  position:relative;
}

.column {
  position:relative;
}

.column:last-child{
  border-right:1px solid #ccc;
}

.cell:last-child{
  border-bottom:1px solid #ccc;
}


.note {
  position: relative;
  width: 30%;
  padding: 1em 1.5em;
  margin: 2em auto;
  color: #fff;
  background: #97C02F;
  overflow: hidden;
}

.session_note_container {
  padding:10px;
  margin-top:20px;
  background:#c8e6c9;
}

.row.nomargin {
  margin:0;
}

.cell>.col {
  padding:0;
  height:100%;
}

.note-content {
  background:#ccc;
  padding:10px;
}

mat-select.ok>>>.mat-select-trigger {
  background:#9aff9a;
  font-size:12px;
}

mat-select.not-ok>>>.mat-select-trigger {
  background:#ff8080;
  font-size:12px;
}

.cards {
  height:calc(100% - 180px);
  overflow:auto;
}

.fullheight {
  height:100%;
}

.sideColumn {
  height:calc(100% - 100px);
}

.measures_container {
  height:calc(100% - 80px);
  margin-top:10px;
  /*overflow:auto;*/
}

.column.annotated {
  /*border:2px solid black;*/
  background: repeating-linear-gradient(
    45deg,
    #eee,
    #eee 10px,
    #fff 10px,
    #fff 20px);
}

.measures .cell.annotated:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 8px 0 0 8px;
  border-style: solid;
  border-color: #01579b  #01579b  #fff #fff ;
  background: #01579b;
  /* Firefox 3.0 damage limitation */
  display: block; width: 0;
  z-index:9999;
}

.overridden-show {
  background:#e1f5fe;
}



.overridden:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 8px 8px 0;
  border-style: solid;
  border-color: #fff #fff #658E15 #658E15;
  background: #658E15;
  /* Firefox 3.0 damage limitation */
  display: block; width: 0;
  z-index:9999;
}

.cell>>>.mat-select-trigger {
  width:50px;
  min-width: 50px;
  height:15px;
  font-size:15px;
}

.cell>>>.mat-icon {
  font-size:20px;
}

.toggle-container {
  position: absolute;
  right: 180px;
  bottom: 20px;
}

.factorLevels {
  width:600px;
  height:600px;
}

.factorLevels mat-tab-group{
  height:100%;
}

table.small td, th{
  padding:5px;
}

.comb:first-child {
  margin-top:10px;
}

.comb {
  background:#c8e6c9;
  margin-bottom:10px;
}

.comb table {
  background:white;
}

.factor-levels-card{
  padding:10px;
}

.cards mat-card-title {
  margin-bottom:10px;
  font-size: 16px;
  font-weight: bold;
}

.import-match-dialog {
  width:800px;
}

.unidentified {
  background-color: #ee6e73!important;
}

mat-icon {
  cursor:pointer;
}

.sample {
  width:300px;
}

.buttons {
  margin:10px 0;
}

.buttons button, .buttons mat-slide-toggle, .buttons sp-reports {
  margin-left:20px;
}

.editTypeDialog {
  width:400px;
}

.dialog-question {
  margin-bottom:20px;
}

*>>>.md-content._md.md-show {
  height: auto !important;
}

/* Apply this to the inner tooltip component */
*>>>.tooltip-inner {
  word-break: break-all;
  width: 500px;
  text-align: center;
}

/* Apply this to the text inside the tooltip */
*>>>.span-white-space {
  white-space: normal;
}

.fl-tooltip {
  display:none;
  position:absolute;
  background: red;
  width:300px;
  margin-left:-150px;
}

.cell.header:hover .fl-tooltip {
  display:block;
}

*>>>.mat-form-field-wrapper{
  padding-bottom:0!important;
}

*>>>.mat-form-field-infix {
  padding:0;
}
