<mat-progress-spinner [color]="'primary'" *ngIf="!session"></mat-progress-spinner>
<div class="row nomargin fullheight main" *ngIf="session && session.pk">
  <div class="col s2 sideColumn" *ngIf="!hideSide" [ngClass]="{s2:!panelCollapsed,s1:panelCollapsed}">
    <button mat-fab class="md-warn back grey" (click)="doBack()">
      <mat-icon class="md-24">keyboard_arrow_left</mat-icon>
    </button>

    <!--<div class="panel-toggle-container" *ngIf="panelCollapsed">-->
      <!--<button mat-mini-fab class="serioplast-blue" (click)="panelCollapsed=false;">-->
        <!--<mat-icon>fullscreen</mat-icon>-->
      <!--</button>-->
    <!--</div>-->

    <div class="cards" *ngIf="!panelCollapsed">
      <!--<button mat-mini-fab class="serioplast-blue" (click)="panelCollapsed=true;">-->
        <!--<mat-icon>fullscreen_exit</mat-icon>-->
      <!--</button>-->

      <mat-card class="session_detail green" *ngIf="!hideHeader">
        <div>
          <span class="header-label">Session ID</span>: {{session.pk}}
        </div>
        <div>
          <span class="header-label">Session date</span>: {{session.date|date:'y-MM-dd HH:mm'}}
        </div>
        <div>
          <span class="header-label">Material</span>: {{session.material.__str__}}
        </div>
        <div>
          <span class="header-label">Batch</span>: {{session.batch}}
        </div>
        <div class="fill-remaining-space"></div>
        <div>
          <span class="header-label">Site</span>: {{session.site.__str__}}
        </div>
      </mat-card>

      <mat-card class="overall" [ngClass]="{'completed':allCompleted}">
        <mat-card-title>
          Overall status
        </mat-card-title>
        <mat-card-content>

          Session status: {{session.status.__str__}}

          <ul style="margin:0; padding:0">
            <li *ngFor="let m of session.controlplansessionmeasure_set" class="property">
              <ng-container *ngIf="!m.property.calculated">
                <sp-property [property]="m.property"></sp-property>
                :
                {{m.progress}} {{m.overflow?"("+m.overflow+")":""}}
                <mat-icon *ngIf="m.is_complete">done</mat-icon>
              </ng-container>
              <ng-container *ngIf="m.property.calculated">
                <i>
                  <sp-property [propertyPK]="m.property.pk"></sp-property>
                </i>
              </ng-container>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>


      <mat-card style="background: rgba(0,0,255,0.2)" class="factor-levels-card">
        <mat-card-title>
          Factor levels

        </mat-card-title>
        <mat-card-content>
          <ng-container *ngFor="let gf of session.groupingfactor_set">
            <fieldset>
              <legend>{{gf.name}}</legend>
              <ng-container *ngFor="let fl of gf.factorlevel_set; let i=index">
                <ng-container *ngIf="fl.active">
                  <b>{{fl.name}}</b>
                </ng-container>
                <ng-container *ngIf="!fl.active">
                  {{fl.name}}
                </ng-container>
                <ng-container *ngIf="i!=(gf.factorlevel_set.length-1)">
                  ;&nbsp;
                </ng-container>
              </ng-container>
            </fieldset>
          </ng-container>
          <div class="flex">
            <span class="fill-remaining-space"></span>
            <mat-icon (click)="showFactorLevels()">edit</mat-icon>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="col"
       [ngClass]="{s10:!hideSide &&!panelCollapsed,s12:hideSide&&!panelCollapsed, s11:!hideSide&&panelCollapsed}"
       *ngIf="session" style="height:100%">

    <div class="measures_container">
      <div class="measure_wrapper flex">
        <div class="measures_header">
          <div class="cell header">
            Properties
          </div>
          <ng-container *ngFor="let m of session.controlplansessionmeasure_set">
            <div class="cell"
                 [ngClass]="{'completed':m.is_complete,'overflow':m.is_overflow}"
                 *ngIf="!m.property.calculated">
              <div class="propInfo flex">
                <div class="propName">
                  <sp-property [property]="m.property"></sp-property>
                  <ng-container *ngIf="m.property.uom && m.property.uom.pk">
                    &nbsp;({{m.property.uom.__str__}})
                  </ng-container>
                </div>
                <!--<div class="propStatus">-->
                <!--{{calcPropertyStatusPercentage(m.property_set.property.pk,m.repeats)}}-->
                <!--</div>-->
              </div>
            </div>
          </ng-container>

        </div>
        <div class="measures flex" #measuresDiv>
          <div class="column" *ngFor="let s of session.measuresessionsample_set; trackBy: trackBySampleId">
            <ng-container *ngIf="s.is_active">
              <div class="cell header flex" [ngClass]="{'active_notes':showNotes,annotated:s.notes, 'unidentified':!s.identified}">
                <div class="sample-id">
                  {{s.index}}
                  <ng-container *ngIf="(!viewMode || (viewMode && s.notes)) && showNotes">
                    <mat-icon (click)="annotateSample(s)">assignment</mat-icon>
                  </ng-container>
                </div>
                <div>
                  <mat-icon (click)="identifySample(s)">edit</mat-icon>
                </div>
              </div>
              <ng-container *ngFor="let m of s.samplemeasure_set;let l=index;">
                <div class="cell" [ngClass]="{'completed':checkPropertyCompleted(m.property.pk),annotated:m.notes,active_notes:showNotes,'overflow':checkPropertyOverflow(m.property.pk)}">
                  <div *ngIf="m.property.type" class="full-width" [ngClass]="{overridden:m.overridden_value,'overridden-show':isShowingOverride(m)}">
                    <!--<ng-container *ngIf="!viewMode">-->
                      <ng-container *ngIf="m.property.type.__str__!='Boolean'">
                        <mat-form-field style="text-align:center;" class="full-width" >
                          <input matInput title=" " type="number" [(ngModel)]="showOverride ? (m.overridden_value || m.value) : m.value"
                                 (ngModelChange)="updateModel($event, m)"
                                 [disabled]="viewMode || disableInput(s,m)?'disabled':null" (click)="askOverride(m,s)" min="0" (keydown)="keyPressMeasureEvent($event)"/>
                        </mat-form-field>
                      </ng-container>

                      <ng-container *ngIf="m.property.type.__str__=='Boolean'">
                        <mat-form-field class="full-width">
                          <mat-select
                            [(ngModel)]="showOverride ? (m.overridden_value || m.value):m.value"
                            (ngModelChange)="updateModel($event, m)" [disabled]="viewMode || disableInput(s,m)"
                            class="mini"
                            [ngClass]="{'not-ok':getSelectValue(m)==0,'ok':getSelectValue(m)==1}">
                            <mat-option [value]="">----</mat-option>
                            <mat-option [value]="toFixed(1)">OK</mat-option>
                            <mat-option [value]="toFixed(0)">Not OK</mat-option>
                          </mat-select>
                        </mat-form-field>

                      </ng-container>

                    <!--</ng-container>-->
                    <!--<ng-container *ngIf="viewMode">-->
                      <!--<div *ngIf="m.property.type.__str__!='Boolean'" class="flex"-->
                           <!--style="height:100%; justify-content: center;">-->
                        <!--{{showOverride ? (m.overridden_value || m.value) : m.value}}-->
                      <!--</div>-->
                      <!--<div *ngIf="m.property.type.__str__=='Boolean'">-->
                        <!--<mat-form-field class="full-width">-->
                          <!--<mat-select *ngIf="m.property.type.__str__=='Boolean'"-->
                                      <!--[(ngModel)]="showOverride ? (m.overridden_value || m.value):m.value"-->
                                      <!--[disabled]="true"-->
                                      <!--class="mini"-->
                                      <!--[ngClass]="{'not-ok':getSelectValue(m)==0,'ok':getSelectValue(m)==1}">-->
                            <!--<mat-option [value]="">&#45;&#45;&#45;&#45;</mat-option>-->
                            <!--<mat-option [value]="toFixed(1)">OK</mat-option>-->
                            <!--<mat-option [value]="toFixed(0)">Not OK</mat-option>-->
                          <!--</mat-select>-->
                        <!--</mat-form-field>-->

                      <!--</div>-->
                    <!--</ng-container>-->
                  </div>
                  <ng-container *ngIf="showNotes && (!viewMode || (viewMode && m.notes))">
                    <mat-icon (click)="annotateMeasure(m,s)">assignment</mat-icon>
                  </ng-container>
                </div>
              </ng-container>
              <div class="cell footer flex" [ngClass]="{'active_notes':showNotes,annotated:s.notes}" *ngIf="!viewMode">
                 <span class="sample-id">
                  {{s.index}}
                </span>
                <mat-icon class="deleteButton" (click)="deleteSample(s)">delete</mat-icon>
              </div>
            </ng-container>
            <ng-container *ngIf="!s.is_active">
              <div class="cell header flex inactive">
                <!--<mat-icon class="restoreButton" (click)="restoreSample(s)">open_in_browser</mat-icon>-->
                <span class="sample-id">
                {{s.index}}
              </span>
              </div>
              <ng-container *ngFor="let m of s.samplemeasure_set;let l=index;">
                <div class="cell row nomargin inactive">
                  <div class="col s12">
                    &nbsp;
                  </div>
                </div>
              </ng-container>
              <div class="cell footer flex inactive" *ngIf="!viewMode">

                <span class="sample-id">
                {{s.index}}
              </span>
                <mat-icon class="restoreButton" (click)="restoreSample(s)">open_in_browser</mat-icon>
              </div>
            </ng-container>

          </div>
        </div>
        <div class="button" *ngIf="!allCompleted && !viewMode">
          <button mat-mini-fab (click)="addColumn()" class="serioplast-green">
            <mat-icon class="md-24">add</mat-icon>
          </button>
        </div>
      </div>

      <div class="session_note_container" *ngIf="showNotes">
        <ng-container *ngIf="!viewMode">
          <mat-form-field>
            <textarea [(ngModel)]="session.notes" id="session_notes" matInput placeholder="{{tr('SESSION_NOTES')}}"></textarea>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="viewMode">
          <fixed-field [label]="tr('SESSION_NOTES')" [value]="session.notes"></fixed-field>
        </ng-container>


      </div>
    </div>

    <div class="buttons">

      <div class="flex" *ngIf="session && session.pk">
        <span class="fill-remaining-space"></span>

        <button mat-fab class="serioplast-blue import" (click)="openImportDialog()" *ngIf="canShowImportButton()" matTooltip="Import CMM measures" [matTooltipPosition]="'above'">
          <mat-icon>publish</mat-icon>
        </button>

        <mat-slide-toggle [color]="'primary'" [(ngModel)]="showNotes">Show notes</mat-slide-toggle>

        <mat-slide-toggle [color]="'primary'" [(ngModel)]="showOverride" *ngIf="canShowOverrideButton() && allCompleted" [disabled]="!viewMode">Show override</mat-slide-toggle>

        <ng-container *ngIf="canShowReports()">
          <sp-reports [tags]="reportTags" [reportsConfig]="reportsConfig"></sp-reports>
        </ng-container>

        <button mat-fab class="md-warn save green" (click)="saveSession()" *ngIf="!viewMode && canSave()"
                matTooltip="Save session" [matTooltipPosition]="'above'">
          <mat-icon class="md-24">send</mat-icon>
        </button>

        <button mat-fab class="md-warn pause grey" (click)="edit()" *ngIf="viewMode">
          <mat-icon class="md-24">edit</mat-icon>
        </button>

        <!--<button mat-fab class="md-warn save green" (click)="editOverride()" *ngIf="viewMode">-->
          <!--<mat-icon class="md-24">build</mat-icon>-->
        <!--</button>-->
      </div>

    </div>
  </div>
</div>

<sp-dialog #sampleNotes (onClose)="clearSampleToAnnotate()">
  <div class="note-container" *ngIf="sampleToAnnotate">
    <div class="note-header">
      <b>Sample</b>: {{session.measuresessionsample_set.indexOf(sampleToAnnotate)+1}}
    </div>
    <div class="note-content">
      <ng-container *ngIf="!viewMode">
        <textarea [(ngModel)]="sampleToAnnotate.notes" class="materialize-textarea"></textarea>
      </ng-container>
      <ng-container *ngIf="viewMode">
        {{sampleToAnnotate.notes}}
      </ng-container>
    </div>
  </div>
</sp-dialog>

<sp-dialog #measureNotes (onClose)="clearMeasureToAnnotate()">
  <div class="note-container" *ngIf="measureToAnnotateSample && measureToAnnotate">
    <div class="note-header">
      <b>Sample</b>: {{session.measuresessionsample_set.indexOf(measureToAnnotateSample)+1}}
      <br/><b>Property</b>:
      <sp-property [propertyPK]="measureToAnnotate.property.pk"></sp-property>
    </div>
    <div class="note-content">
      <ng-container *ngIf="!viewMode">
        <textarea [(ngModel)]="measureToAnnotate.notes" class="materialize-textarea"></textarea>
      </ng-container>
      <ng-container *ngIf="viewMode">
        {{measureToAnnotate.notes}}
      </ng-container>

    </div>
  </div>
</sp-dialog>

<sp-dialog #sampleGroupingFactors>
  <div class="sample" *ngIf="sampleToIdentify">
    <div class="note-header">
      <b>Sample</b>: {{sampleToIdentify.index}}
    </div>
    <div class="sample-gf">
      <ng-container *ngFor="let gf of session.groupingfactor_set, let i = index">
        <fieldset>
          <legend>{{gf.name}}</legend>
          <mat-form-field>
            <mat-select [(ngModel)]="sampleToIdentify.measuresessionsamplefactorlevel_set[i].factor_level" class="full-width">
              <ng-container  *ngFor="let fl of gf.factorlevel_set">
                <mat-option *ngIf="fl.active" [value]="fl.pk">{{fl.name}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </fieldset>
      </ng-container>
    </div>
  </div>
</sp-dialog>

<sp-dialog #factorLevelsDialog [nopadding]="true" >
  <div class="factorLevels" *ngIf="session">
    <mat-tab-group>
      <mat-tab [label]="'Grouping Factors & Factor Levels'">
        <ng-container *ngFor="let gf of session.groupingfactor_set">
          <div class="row">
            <div class="col s12">
              <fieldset>
                <legend>{{gf.name}}</legend>
                <ul>
                  <li *ngFor="let fl of gf.factorlevel_set">
                    <mat-checkbox *ngIf="fl.pk && !fl.inEdit" [(ngModel)]="fl.active" (ngModelChange)="checkFactorLevels(gf)" [disabled]="((fl.active && fl.inUse)||gf.factorlevel_set.length==1)?'disabled':null" color="primary">{{fl.name}} </mat-checkbox>
                    <mat-icon *ngIf="!fl.inEdit" (click)="editFL(fl)">edit</mat-icon>
                    <mat-form-field class="" *ngIf="!fl.pk || fl.inEdit">
                      <input matInput type="text" [(ngModel)]="fl.name" placeholder="Factor Name" style="width:calc(100% - 80px)"/> <mat-icon *ngIf="fl.name" (click)="saveFL(gf,fl)">send</mat-icon> <mat-icon (click)="undoFLEdit(gf, fl)">undo</mat-icon>
                    </mat-form-field>
                  </li>
                </ul>
                <div class="flex" style="padding: 10px">
                  <button mat-mini-fab class="serioplast-green" (click)="addFactorLevel(gf)"><mat-icon>add</mat-icon></button>
                </div>
              </fieldset>
            </div>
          </div>

        </ng-container>
      </mat-tab>
      <mat-tab [label]="'Status'">
        <div *ngFor="let f of sampleFactors" class="row nomargin">
          <div class="col s12">
            <mat-card class="comb">
              <div class="comb-name" [innerHTML]="getFactorCombinationRepresentation(f)"></div>
              <div class="comb-sample-number">
                Samples: {{getSimilarSamples(f).length}}
              </div>
              <mat-card-content>
                <table class="bordered striped noclick small">
                  <thead>
                    <tr>
                      <th width="90%">Property</th>
                      <th width="10%">Status</th>
                    </tr>
                  </thead>
                  <tbody>

                  <ng-container *ngFor="let m of session.controlplansessionmeasure_set">
                    <tr>
                      <td>
                        <sp-property [property]="m.property"></sp-property>
                      </td>
                      <td>
                        <ng-container *ngIf="m.property.calculated">
                          <i>Calculated</i>
                        </ng-container>
                        <ng-container *ngIf="!m.property.calculated">
                          {{calcPropertyStatus(m.property.pk, m.repeats, f)}}
                        </ng-container>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</sp-dialog>

<sp-dialog #importDialog>
  <div class="import-dialog">
    <div>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedParser" class="full-width" [placeholder]="'Parser'">
          <mat-option *ngFor="let p of parsers" [value]="p.pk">{{p.__str__}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <form #fileForm>
      <div class="file-field ">
        <div class="btn">
          <span>File</span>
          <input type="file" id="photo" #importInput>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </form>


    <div class="flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="uploadFileToParse()"><mat-icon>publish</mat-icon></button>
      <span class="fill-remaining-space"></span>
    </div>
  </div>
</sp-dialog>

<sp-dialog #importMatchDialog>
  <div class="import-match-dialog" *ngIf="match && importMatchDialog.opened">
    <div class="row">
      <div class="col s6">
        <div style="background-color: #CCCCCC">
          <h5 style="text-align: center; margin-bottom: 20px;">Properties</h5>
          <div class="row" *ngFor="let p of match.properties">
            <div class="col s6">
              <sp-property [propertyPK]="p.propertyPK"> </sp-property>
            </div>
            <div class="col s6">
              <ng-container *ngIf="p.propName">
                {{p.propName}} <mat-icon (click)="p.propName=null">delete</mat-icon>
              </ng-container>
              <ng-container *ngIf="!p.propName">
                <mat-form-field>
                  <mat-select class="mini" [(ngModel)]="p.propName">
                    <mat-option *ngFor="let pn of getUnmatchedProperties()" [value]="pn">
                      {{pn}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div style="background-color: #ffffdd">
          <h5 style="text-align: center; margin-bottom: 20px;">Samples</h5>
          <div class="row" *ngFor="let s of match.samples">
            <div class="col s6">
              <div class="flex">
                {{s.sampleIndex}} <mat-icon (click)="showSampleDetails(s.sampleIndex)">visibility</mat-icon>
              </div>
            </div>
            <div class="col s6">
              <ng-container *ngIf="s.sampleName">
                {{s.sampleName}} <mat-icon (click)="s.sampleName=null">delete</mat-icon>
              </ng-container>
              <ng-container *ngIf="!s.sampleName">
                <mat-form-field>
                  <mat-select class="mini" [(ngModel)]="s.sampleName">
                    <mat-option *ngFor="let sm of getUnmatchedSamples()" [value]="sm">
                      {{sm}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="writeImportData()"><mat-icon>vertical_align_bottom</mat-icon></button>
      <span class="fill-remaining-space"></span>
    </div>
  </div>
</sp-dialog>

<sp-dialog #sampleGroupingFactorsShow [onTop]="true">
  <div class="sample" *ngIf="sampleToShow">
    <div class="note-header">
      <b>Sample</b>: {{sampleToShow.index}}
    </div>
    <div class="sample-gf">
      <ng-container *ngFor="let gf of session.groupingfactor_set, let i = index">
        <fieldset>
          <legend>{{gf.name}}</legend>
          <mat-list>
            <ng-container  *ngFor="let fl of gf.factorlevel_set">
              <mat-list-item *ngIf="fl.active && (fl.pk==sampleToShow.measuresessionsamplefactorlevel_set[i].factor_level)">
                {{fl.name}}
              </mat-list-item>
            </ng-container>
          </mat-list>
        </fieldset>
      </ng-container>
    </div>
  </div>
</sp-dialog>

<sp-dialog #editTypeDialog [onTop]="true">
  <div class="editTypeDialog">
    <div class="dialog-question">
      What type of edit do you want to do?
    </div>

    <div class="flex">
      <button mat-button class="serioplast-green" (click)="editStandard()">
        Edit
      </button>
      <span class="fill-remaining-space"></span>
      <button mat-button class="serioplast-blue" (click)="editOverride()">
        Override
      </button>
    </div>
  </div>
</sp-dialog>

<sp-dialog #saveTypeDialog [onTop]="true">
  <div class="editTypeDialog">
    <div class="dialog-question">
      What type of save do you want to do?
    </div>

    <div class="flex">
      <button mat-button class="serioplast-green" (click)="saveAndSuspend()">
        Suspend
      </button>
      <span class="fill-remaining-space"></span>
      <button mat-button class="serioplast-blue" (click)="saveAndArchive()">
        Mark as closed
      </button>
    </div>
  </div>
</sp-dialog>

<sp-dialog #dialogAfterSave [onTop]="true" [closeByOverlayClick]="false">
  <div class="editTypeDialog">
    <div class="dialog-question">
      Where do you want to go?
    </div>


    <div class="flex">
      <button mat-button class="serioplast-green" (click)="stay()">
        Stay
      </button>
      <span class="fill-remaining-space"></span>
      <button mat-button class="serioplast-blue" (click)="backToList()">
        Exit
      </button>
    </div>
  </div>
</sp-dialog>

<sp-dialog #dialogErrorsImport [onTop]="true">
  <div class="dialogErrorsImport">
   <div *ngFor="let e of importErrors">
     <sp-property [propertyPK]="e.property"></sp-property>: {{e.overflow}} overflow for combination: {{getCombinationAsString(e.comb)}}
   </div>
  </div>
</sp-dialog>

<ng-container *ngIf="canShowReports()">
<sp-reports #reportsDialog [tags]="reportTags" [reportsConfig]="reportsConfig"></sp-reports>
</ng-container>







