<div *ngIf="workorder && ready" style="padding:20px">
  <div class="row">
    <div class="col s12">
      <div class="flex">
        <button mat-fab class="serioplast-grey" matTooltip="Back" (click)="back()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <div class="workorder-nr" >
          <h4>
            Workorder: {{workorder.work_order_nr?workorder.work_order_nr :'-'}}
            <span [style]="getWorkorderStyle()">
              <ng-container *ngIf="workorder.status">
                {{workorder.status.__str__}}
              </ng-container>
            </span>
          </h4>
        </div>
        <span class="fill-remaining-space"></span>
        <ng-container *ngIf="allowActions">
          <button mat-mini-fab class="serioplast-blue sap-icon" *ngIf="canAdvanceStatus()" (click)="advanceStatus()">
            <sap-icon [iconName]="'workflow-tasks'" [iconClass]="'mini'"> </sap-icon>
          </button>
          <button mat-mini-fab class="serioplast-blue" matTooltip="Edit" *ngIf="canDeleteWorkorder()" (click)="editWorkorder()" style="margin-left:10px">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab class="serioplast-red" matTooltip="Delete" *ngIf="canDeleteWorkorder()" (click)="deleteWorkorder()" style="margin-left:10px">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row nomargin">
    <div class="col s1">
      <fixed-field [label]="'Type'" [value]="workorder.type.__str__"></fixed-field>
    </div>

    <div class="col s2">
      <fixed-field [label]="'Site'" [value]="workorder.site.__str__"></fixed-field>
    </div>

    <div class="col s4">
      <fixed-field [label]="'Material'" [value]="workorder.material.code +' - '+ workorder.material.__str__"></fixed-field>
    </div>

    <div class="col s2">
      <fixed-field [label]="'Quantity'" [value]="((parseFloat(workorder.quantity)|ExpThousandsSeparator) + ' ' +(workorder.material&& workorder.material.uom)?workorder.material.uom.__str__:'')"></fixed-field>
    </div>

    <div class="col s2">
      <fixed-field [label]="'Packing Instruction'" [value]="(workorder.bulk_packing_instruction?'Bulk':(workorder.packing_instruction && workorder.packing_instruction.code?workorder.packing_instruction.code:'-'))"></fixed-field>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="workorder._newFlow">
      <div class="col s2">
        <fixed-field [label]="'Production Version'" [value]="('Alt '+workorder.routing.production_version.bom_header.alt_bom_id?workorder.routing.production_version.bom_header.alt_bom_id:'' + ' - Group '+workorder.routing.group?workorder.routing.group:'')"></fixed-field>
        <mat-icon (click)="showSelectedPV()">visibility</mat-icon>
      </div>
    </ng-container>
    <ng-container *ngIf="!workorder._newFlow">
      <div class="col s1 flex">
        <div style="width:calc(100% - 24px)">
          <fixed-field [label]="'Routing'" [value]="(workorder.routing?workorder.routing.group:'-')"></fixed-field>
        </div>
        <mat-icon *ngIf="workorder.routing.pk" (click)="showSelectedRouting()">visibility</mat-icon>
      </div>
      <div class="col s1 flex">

        <ng-container *ngIf="!workorder.production_version || !workorder.production_version.pk">
          <fixed-field [label]="'Production Version'" [value]="'-'"></fixed-field>
        </ng-container>

        <ng-container *ngIf="workorder.production_version && workorder.production_version.pk">
          <div style="width:calc(100% - 24px)" >
            <fixed-field [label]="'Production Version'" [value]="('Alt '+workorder.routing.production_version.bom_header.alt_bom_id)"></fixed-field>
          </div>
          <mat-icon (click)="showBOM()">visibility</mat-icon>
        </ng-container>
      </div>
    </ng-container>
    <div class="col s1">
      <fixed-field [label]="'Planned start date'" [value]="workorder.planned_start"></fixed-field>
    </div>
    <div class="col s1">
      <fixed-field [label]="'Planned end date'" [value]="workorder.planned_end"></fixed-field>
    </div>
    <div class="col s1" *ngIf="workorder.sap_actual_start && workorder.sap_actual_start!='00000000'">
      <fixed-field [label]="'Actual start'" [value]="workorder.sap_actual_start|sapDate"></fixed-field>
    </div>
    <div class="col s1" *ngIf="workorder.sap_actual_end && workorder.sap_actual_end!='00000000'">
      <fixed-field [label]="'Actual end'" [value]="workorder.sap_actual_end|sapDate"></fixed-field>
    </div>
    <div class="col s1" *ngIf="workorder.sap_actual_start && workorder.sap_actual_start!='00000000' && workorder.sap_actual_end=='00000000'">
      <fixed-field [label]="'Actual end (ext.)'" [value]="calcActualEndDate()"></fixed-field>
    </div>

    <div class="col s5">
      <fixed-field [label]="'WBS'" [value]="workorder.wbs?workorder.wbs.sap_name+' - '+workorder.wbs.name:'-'"></fixed-field>
    </div>
  </div>

  <mat-card *ngIf="workorder.team && workorder.team.length>0">
    <mat-card-title>Team</mat-card-title>
    <mat-card-content>
      <ng-container *ngFor="let item of workorder.team">
        <sp-user [userPK]="item.pk"></sp-user>
      </ng-container>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="workorder.control_plans && workorder.control_plans.length>0">
    <mat-card-title>Control Plans</mat-card-title>
    <mat-card-content>
      <ul>
        <li *ngFor="let cp of workorder.control_plans">

          {{cp.__str__}} - ({{cp.type.__str__}})
          <!--{{cp.__str__}}-->
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="workorder.labels && workorder.labels.length>0">
    <mat-card-title>Labels</mat-card-title>
    <mat-card-content>
      <ul>
        <li *ngFor="let l of workorder.labels">

          {{l.Description}} ({{l.Copies}} copies)
          <!--{{cp.__str__}}-->
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <div class="row">
    <div class="col s6">
      <sp-generic-comment-list [allowAdd]="true" [objectId]="workorder.pk"
                               [contentType]="workorderCT"></sp-generic-comment-list>
    </div>
    <div class="col s6">
      <sp-attachments [allowAdd]="allowActions" [objectId]="workorder.pk" [contentType]="workorderCT"></sp-attachments>
    </div>
  </div>
</div>

<sp-dialog #pvShowDialog>
  <ng-container *ngIf="pvShowDialog.opened">
    <div style="width:900px">
      <bom-display [bom]="workorder.routing.production_version.bom_header"></bom-display>
      <hr/>
      <routing-display [routing]="workorder.routing"></routing-display>
    </div>

  </ng-container>
</sp-dialog>

<sp-dialog #bomShowDialog>
  <ng-container *ngIf="bomShowDialog.opened">
    <div style="width:900px">
      <bom-display [bom]="workorder.routing.production_version.bom_header"></bom-display>
    </div>
  </ng-container>
</sp-dialog>

<sp-dialog #routingShowDialog>
  <ng-container *ngIf="routingShowDialog.opened">
    <div style="width:900px">
      <routing-display [routing]="workorder.routing"></routing-display>
    </div>
  </ng-container>
</sp-dialog>

<sp-dialog #labelSelectionDialog [closeByOverlayClick]="false">
  <!--<ng-container *ngIf="labelSelectionDialog.opened">-->
    <h5>Labels</h5>
    <div *ngFor="let l of availableLabels" class="flex" style="width:400px">
      <mat-checkbox [(ngModel)]="l.Preferred" color="primary">{{l.Description}}</mat-checkbox>
      <span class="fill-remaining-space"></span>
      <ng-container *ngIf="l.Preferred">
        <mat-form-field style="width:50px">
          <input type="number" [(ngModel)]="l.Copies" min="1" matInput placeholder="Copies"/>
        </mat-form-field>
      </ng-container>
    </div>
    <div class="flex">
      <span class="fill-remaining-space"></span>
      <button class="serioplast-green" md-mini-fab (click)="makeWoReleased()" >
        <mat-icon>send</mat-icon>
      </button>
    </div>
  <!--</ng-container>-->

</sp-dialog>
