.event-timeline-card {
  width:100%;
  overflow-x: hidden;
}

.header {
  text-align:center;
}

.column{
  height: 100%;
  border-right:  1px solid lightgrey;
}

.column:last-child{
  border-right:  none;
}

.column.day{
  width: calc(100% / 12);

}

.column.week{
  width: calc(100% / 7);
}

.column.month{
  width: calc(100% / 16);
}

.column.year{
  width: calc(100% / 12);
}


.column.day .header{
  text-align: left;
  padding-left: 2px;
}

.column.month .header{
  text-align: left;
  padding-left: 2px;
}

.timeline {
  position:relative;
  overflow: hidden;
}

.event {
  height:30px;
  position:absolute;
}

mat-icon {
  cursor:pointer;
}
