<mat-card class="event-timeline-card">
  <mat-card-title>
    <div class="flex">
      <div class="selection flex">
        <mat-icon (click)="previousPeriod()">keyboard_arrow_left</mat-icon>
        {{displayDate}}
        <mat-icon (click)="nextPeriod()">keyboard_arrow_right</mat-icon>
      </div>
      <div class="fill-remaining-space"></div>
      <div class="period">

        <mat-button-toggle-group [(ngModel)]="period" (ngModelChange)="periodChange()">
          <mat-button-toggle value="day">
            Day
          </mat-button-toggle>
          <mat-button-toggle value="week">
            Week
          </mat-button-toggle>
          <mat-button-toggle value="month">
            Month
          </mat-button-toggle>
          <mat-button-toggle value="year">
            Year
          </mat-button-toggle>
        </mat-button-toggle-group>

      </div>

    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="flex">
      <ng-container *ngFor="let c of columns">
        <div class="column {{c.cssClass}}">
          <div class="header">{{c.header}}</div>
        </div>
      </ng-container>
    </div>
    <div class="timeline" [style]="getTimelineStyle()">
      <ng-container *ngFor="let er of eventRows, let rowIndex = index;">
        <ng-container *ngFor="let e of er.events">
          <div class="event" [style]="getEventStyle(e, rowIndex)" >{{e.name}}</div>
        </ng-container>
      </ng-container>
    </div>
  </mat-card-content>

</mat-card>

