<h5>BoM</h5>

<div class="bom_alternative">
              <span class="alt_id"> <sp-ng-translate
                [value]="'ALTERNATIVE'"></sp-ng-translate> : {{bom.alt_bom_id}}</span>

  <div class="row full-height">
    <div class="col s8 full-height">
      <table class="mdl-data-table bordered striped noclick small">
        <thead>
        <tr>
          <th>
            <sp-ng-translate [value]="'MATERIAL'"></sp-ng-translate>
          </th>
          <th>
            <sp-ng-translate [value]="'AMOUNT'"></sp-ng-translate>
          </th>
          <th>
            <sp-ng-translate [value]="'GROUP'"></sp-ng-translate>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bi of bom.bomitem_set">
          <td>
            {{bi.material.code}} - {{bi.material.description}}
          </td>
          <td>
            {{bi.quantity}} {{bi.uom.__str__}}
          </td>
          <td>
            {{bi.group}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col s4 full-height">
      <mat-card class="sites">
        <mat-list>
          <mat-list-item *ngFor="let s of bom.sites">{{s.__str__}}</mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
</div>
