<mat-card (click)="select()">
  <header>

    <div class="row">
      <div class="col s12 m9">
        <sp-user [userPK]="note.created_by.pk"></sp-user>
      </div>
      <div class="col s12 m3" align="right">
        <mat-card-subtitle class="time">{{note.created_on | date:'HH:mm'}}</mat-card-subtitle>
      </div>
    </div>
  </header>

  <mat-card-content>
    <mat-card-title>{{note.title}}</mat-card-title>
    <p class="note-content" [innerHTML]="note.content|markdown"></p>
    <mat-card-subtitle>{{comments.length}} <sp-ng-translate [value]="comments.length==1?'COMMENT':'COMMENTS'"></sp-ng-translate></mat-card-subtitle>
  </mat-card-content>

</mat-card>
