.note-content {
  /*height: 20px;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-card {
  background-color: #FFFFA5;
  margin-bottom: 20px;
  cursor: pointer;
}

header div {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

mat-card-content mat-card-subtitle {
  text-align: right;
}

header .row {
  margin-bottom:0;
}


.time {
  margin-bottom: 0;
}

@media (min-width: 480px) {
  .time {
    line-height: 75px;
  }
}
