<div class="row main" materialize>

    <!--<sp-settings>-->
      <!--<div style="width:400px; height:400px">-->
        <!--<div class="col s12" materialize>-->
          <!--<select materialize="material_select" [(ngModel)]="siteId" (ngModelChange)="siteChange($event)" [materializeSelectOptions]="sites">-->
            <!--<option value="" disabled selected><sp-ng-translate [value]="'SITE_SELECTION'"></sp-ng-translate></option>-->
            <!--<option *ngFor="let site_ of sites" [value]="site_.id">{{site_.name}}</option>-->
          <!--</select>-->
          <!--<label>-->
            <!--<sp-ng-translate [value]="'SITE_SELECTION'"></sp-ng-translate>-->
          <!--</label>-->
        <!--</div>-->
        <!--<sp-language-selector></sp-language-selector>-->
      <!--</div>-->
    <!--</sp-settings>-->

    <!--<button mat-fab class="md-warn logout serioplast-red" color="warn" (click)="logout()">-->
      <!--<mat-icon class="md-24">power_settings_new</mat-icon>-->
    <!--</button>-->

  <div class="col s12">

    <div class="row main outlet">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>






