<mat-form-field>

  <div class="flex" style="min-width:110px">
    <input matInput [matDatepicker]="picker" placeholder="{{label}}" [(ngModel)]="date" [min]="min" [max]="max" (ngModelChange)="updateValue()" style="width:calc(100% - 40px)" [disabled]="disabled">
    <span class="fill-remaining-space"></span>
    <input matInput type="time" [(ngModel)]="time" (ngModelChange)="updateValue()"  style="width:40px; height: 15px;" [disabled]="disabled"/>
  </div>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
