<div *ngIf="personalinfo">
  <div>
    <h5 id="Informations">Personal Information</h5>
    <table class="bordered full-width">
      <tbody>


      <tr>
        <td>
            <sp-ng-translate [value]="'First Name'"></sp-ng-translate>
        </td>
        <td>
          <mat-form-field>
            <input matInput [(ngModel)]="personalinfo.first_name" required/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
            <sp-ng-translate [value]="'Middle Name'"></sp-ng-translate>
        </td>
        <td>
          <mat-form-field>
            <input matInput [(ngModel)]="personalinfo.middle_name" required/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>

            <sp-ng-translate [value]="'Last Name'"></sp-ng-translate>
        </td>
        <td>
          <mat-form-field>
            <input matInput [(ngModel)]="personalinfo.last_name" required/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>

            <sp-ng-translate [value]="'Real Name'"></sp-ng-translate>

        </td>
        <td>
          <mat-form-field>
            <input matInput [(ngModel)]="personalinfo.real_name" required/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>

            <sp-ng-translate [value]="'Sex'"></sp-ng-translate>

        </td>
        <td>
          <mat-form-field *ngIf="sex_list.length > 0">
            <mat-select placeholder="Select a value" id="edit-sex" name="edit-sex"
                        [(ngModel)]="personalinfo.sex.pk" style="width: 100%;margin-bottom: -2px;margin-top: 10px;">

              <mat-option *ngFor="let sex of sex_list" [value]="sex.pk">
                {{ sex.__str__ }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
            <sp-ng-translate [value]="'Birth Day'"></sp-ng-translate>
        </td>
        <td>
          <date-input [(ngModel)]="personalinfo.birth_date" (ngModelChange)="dateChange($event)"></date-input>
        </td>
      </tr>
      <tr *ngIf="countries.length > 0">
        <td>
            <sp-ng-translate [value]="'Birth Country'"></sp-ng-translate>
        </td>
        <td>
          <mat-form-field *ngIf="countries">
            <mat-select name="package" placeholder="Select a value"
                        [(ngModel)]="personalinfo.birth_country"
                        style="width: 100%;margin-bottom: -2px;margin-top: 10px;">
              <mat-option *ngFor="let country of countries" [value]="country[0]">
                {{country[1] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>

            <sp-ng-translate [value]="'Home Address'"></sp-ng-translate>

        </td>
        <td>
          <mat-form-field>
            <input matInput [(ngModel)]="personalinfo.home_address" required google-places-autocomplete
                   (placeChanged)="getAddress($event)" [types]="['geocode']"/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>

            <sp-ng-translate [value]="'Home Email'"></sp-ng-translate>

        </td>
        <td>
          <mat-form-field>
            <input matInput [(ngModel)]="personalinfo.home_email" required/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>

            <sp-ng-translate [value]="'Home Landline Phone'"></sp-ng-translate>

        </td>
        <td>
          <mat-form-field>
            <input matInput [(ngModel)]="personalinfo.home_landline_phone" required/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>

            <sp-ng-translate [value]="'Home Mobile Phone'"></sp-ng-translate>

        </td>
        <td>
          <mat-form-field>
            <input matInput [(ngModel)]="personalinfo.home_mobile_phone" required/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>

            <sp-ng-translate [value]="'Skype'"></sp-ng-translate>

        </td>
        <td>
          <mat-form-field>
            <input matInput [(ngModel)]="personalinfo.skype" required/>
          </mat-form-field>
        </td>
      </tr>
      </tbody>
    </table>


    <mat-form-field class="hideInput" style="margin-top:10px">
      <input matInput placeholder="{{tr('CV')}}" value=" " [disabled]="true">
      <div class="flex" *ngIf="personalinfo.cv && personalinfo.cv.pk">
        <a href="{{personalinfo.cv.__str__}}" download="cv">
          <mat-icon color="primary">play_for_work</mat-icon>
        </a>
        <button type="button" mat-mini-fab (click)="deleteCvPersonalInfo()" type="button" color="primary">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <ng-container *ngIf="!personalinfo.cv || !personalinfo.cv.pk">
        <button mat-raised-button color="primary" (click)="cv.click()">File</button>
        <input hidden type="file" #cv (change)="uploadCvPersonalInfo()"/>
      </ng-container>
    </mat-form-field>

  </div>
  <sp-save-undo [undoCondition]="false" (save)="updatePersonalInfo()"></sp-save-undo>
</div>
