sp-settings {
  position:fixed;
  left:20px;
  bottom:20px;
}

.logout {
  position:absolute;
  bottom:20px;
  left: 100px;
}

.row.main.outlet {
  overflow:auto;
}

mat-tab-group {
  height: calc(100% - 75px);
}

*>>>.mat-tab-body-content,
*>>>.mat-tab-body-wrapper{
  height:100%;
}

.row.main {
  height:100%;
}

.container {
  height: 100%;
}

.main-container .row{
  width:100%;
  margin:0;
}

.main-container {
  padding:20px;
  height:100%;
}

table {
  background:white;
}

.create {
  margin:10px 0;
}

.main-container table{
  max-height:100%;
  overflow:auto;
}

.main-container form{
  padding:20px;
}

.no-results {
  padding: 20px;
  background: #eee;
}

.main-container .scroll {
  height:calc(100% - 210px);
  overflow:auto;
}

.workcenters .table-container {
  height:calc(100% - 185px);
  overflow: auto;
}

.workcenters {
  height:100%;
  padding:20px;
}

.workcenters form {
  /*background-color: #ddd;*/
  padding: 20px;
}

.add-button-container {
  padding-top:20px;
}

.site {
  padding: 10px;
  background: #FFF;
  color: #000;
  margin-bottom: 10px;
}

mat-card.sites {
  background: rgba(76, 175, 80, 0.2);
}

.siteToAdd {
  background:#eee;
  height:100%;
  text-align:center;
}

.site-form {
  height:80px;
}


.site-autocomplete {
  background:white;
  height:100%;
}

.site.inactive {
  background: #eee;
}

mat-checkbox[name=asset_bookable]{
  margin: 20px 0;
  display: block;
}

#assetTypeFilter {
  width:100%;
}

mat-card.assets {
  background:rgba(80,76,175,0.2)
}

.row.sub_type {
  margin-bottom:20px!important;
}

.network-interfaces,.asset-users {
  margin-bottom:20px;
}

.network-interfaces {
  background:#cdcdff;
}

.socket-container {
  background:#8181ff;
  padding:10px;
  margin-bottom:10px;
}

.socket {
  padding-top:10px;
  margin-bottom:10px!important;
  background:white;
}

.asset-users {
  background:#e7ffe7;
}

#sap_code_wc {
  text-transform: uppercase;
}

.asset-view {
  width:500px;
}

.hideInput >>> input.mat-input-element {
  display: none;
}

.addEditForm {
  margin-top:10px;
}

