<div class="main-container" *ngIf="asset && ready">
  <div class="row">
    <div class="col s6">
      <ng-container *ngIf="asset.manufacturer.pk && asset.model">

        <mat-form-field>
          <input matInput placeholder="{{tr('NAME')}}" [(ngModel)]="asset.name">
        </mat-form-field>

      </ng-container>

    </div>
    <div class="col s6">
      <user-search [user]="asset.assigned_to?asset.assigned_to:null" [label]="tr('ASSIGNED_TO')" (userSelected)="selectedUserAsset($event)"></user-search>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <ng-container *ngIf="!asset.pk">
        <mat-select [placeholder]="tr('ASSET_TYPE')" name="asset_type" [(ngModel)]="asset.type.pk"
                   (ngModelChange)="handleAssetTypeChange()">
          <mat-option *ngFor="let at of assetTypes" [value]="at.pk">{{at.__str__}}</mat-option>
        </mat-select>
      </ng-container>
      <ng-container *ngIf="asset.pk">
        <mat-form-field>
          <input matInput placeholder="{{tr('ASSET_TYPE')}}" [value]="asset.type.__str__" [disabled]="true">
        </mat-form-field>
      </ng-container>
    </div>
    <div class="col s3">
      <organization-search [organization]="asset.manufacturer" (organizationSelected)="manufacturerSelected($event)"
                           [supplierOnly]="true" [label]="tr('MANUFACTURER')"></organization-search>

    </div>
    <div class="col s3">
      <mat-form-field>
        <input matInput placeholder="{{tr('MODEL')}}" [(ngModel)]="asset.model" (ngModelChange)="checkName()">
      </mat-form-field>
    </div>
    <div class="col s3">
      <mat-form-field>
        <mat-select [placeholder]="tr('LOCATION')" name="asset_type" [(ngModel)]="asset.location.pk">
          <mat-option *ngFor="let s of sites" [value]="s.pk">{{s.__str__}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <mat-form-field>
        <input matInput placeholder="{{tr('MANUFACTURER_CODE')}}" [(ngModel)]="asset.manufacturer_code">
      </mat-form-field>
    </div>
    <div class="col s3">
      <mat-form-field>
        <input matInput placeholder="{{tr('YEAR')}}" type="number" min="1960" max="2080" [(ngModel)]="asset.year">
      </mat-form-field>
    </div>
    <div class="col s3">
      <mat-form-field>
        <input matInput placeholder="{{tr('SAP_CODE')}}" [(ngModel)]="asset.sap_code">
      </mat-form-field>
    </div>
    <div class="col s3">
      <mat-form-field>
        <mat-select [placeholder]="tr('STATUS')" name="asset_status" [(ngModel)]="asset.status.pk">
          <mat-option *ngFor="let s of statusLinks" [value]="s.pk">{{s.__str__}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">

    <div class="col s3">
      <mat-form-field>
        <input matInput placeholder="{{tr('ASSET_TYPE')}}" [value]="asset.workcenter?asset.workcenter.__str__:'-'" [disabled]="true">
      </mat-form-field>
    </div>

    <div class="col s3">
      <organization-search [organization]="asset.ownership"
                           (organizationSelected)="ownerShipSelected($event)" [label]="tr('OWNERSHIP')"></organization-search>
    </div>
    <div class="col s3">
      <mat-checkbox name="asset_bookable" [(ngModel)]="asset.bookable" color="primary">
        {{tr('BOOKABLE')}}
      </mat-checkbox>

    </div>
  </div>
  <div class="row">
    <div class="col s6">

      <file-uploader [label]="tr('PHOTO')" [(ngModel)]="asset.photo" [contentType]="assetAppPk" [fieldName]="'photo'" [mode]="'image'"></file-uploader>

    </div>
    <div class="col s6">
      <mat-form-field>
        <textarea matInput [placeholder]="tr('DESCRIPTION')" [(ngModel)]="asset.description"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row sub_type" *ngIf="asset && asset.type && asset.type.pk">
    <ng-container *ngFor="let at of ASSET_TYPES_APP_KEYS">
      <ng-container *ngIf="getAssetType(asset)==ASSET_TYPES_APP[at] && assetSubModelConfiguration[at]">
        <ng-container *ngFor="let f of assetSubModelConfiguration[at].fields">
          <div class="col s3"
               [ngClass]="{'':(f.type==SubModelConfigurationFieldType.STRING||f.type==SubModelConfigurationFieldType.NUMBER)}">
            <ng-container *ngIf="f.type==SubModelConfigurationFieldType.MULTIPLE">
              <mat-form-field>
                <mat-select [placeholder]="f.label" [(ngModel)]="f.model" (ngModelChange)="f.assignModel(f.model)">
                  <mat-option *ngFor="let o of f.options" [value]="o.pk">{{o.__str__}}</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
            <ng-container
              *ngIf="f.type==SubModelConfigurationFieldType.STRING || f.type==SubModelConfigurationFieldType.NUMBER">
              <mat-form-field>
                <input type="{{(f.type==SubModelConfigurationFieldType.STRING)?'text':'number'}}" required
                       [(ngModel)]="f.model" (ngModelChange)="f.assignModel(f.model)"
                       [attr.step]="f.type==SubModelConfigurationFieldType.NUMBER?0.01:null" matInput [placeholder]="f.label">
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="f.type==SubModelConfigurationFieldType.BOOLEAN">
              <mat-checkbox color="primary" [(ngModel)]="f.model"
                           (ngModelChange)="f.assignModel(f.model)">
                {{f.label}}
              </mat-checkbox>
            </ng-container>
            <ng-container *ngIf="f.type==SubModelConfigurationFieldType.AUTOCOMPLETE">
              <sp-autocomplete [label]="f.label" [initialValue]="f.model?f.model:null"
                               [source]="f.source"
                               [sourceFunction]="f.sourceFunction" [displayKey]="f.displayKey"
                               (valueChanged)="f.assignModel($event)"
                               [resetOnSelection]="false"></sp-autocomplete>
            </ng-container>

          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="row" *ngIf="handleCredentials">
    <div class="col s12">
      <mat-card class="network-interfaces">
        <mat-card-title class="flex">
          <span> <sp-ng-translate [value]="'NETWORK_INTERFACES'"></sp-ng-translate></span>
        </mat-card-title>
        <mat-card-content>
          <sp-table-with-pages [data]="getActiveNI(networkInterfaces)" [availableActions]="availableActionsNI" [headerConf]="headerConfNI"
                               [noItemsMessage]="noItemsMessageNI" [renderOnly]="true" [showPaginator]="false"></sp-table-with-pages>
          <div class="flex add-button-container" *ngIf="!networkInterfacesEditOn">
            <span class="fill-remaining-space"></span>
            <button mat-mini-fab type="button" class="serioplast-green" (click)="createNetworkInterface()"
                    matTooltip="Add" [matTooltipPosition]="'below'">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div *ngIf="networkInterfacesEditOn" class="addEditForm">
            <div class="row">
              <div class="col s4" *ngIf="networkInterfaceTypes.length>0">
                <mat-form-field>
                  <mat-select [(ngModel)]="networkInterface.type.pk"
                              (ngModelChange)="handleNetworkTypeChange()" [placeholder]="tr('TYPE')">
                    <mat-option *ngFor="let t of networkInterfaceTypes" [value]="t.pk">{{t.__str__}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="col s4">
                <mat-form-field>
                  <input matInput [placeholder]="tr('IP_ADDRESS')" type="text" [(ngModel)]="networkInterface.ip_address">
                </mat-form-field>
              </div>
              <div class="col s4">
                <mat-form-field>
                  <input matInput [placeholder]="tr('MAC_ADDRESS')" type="text" [(ngModel)]="networkInterface.mac_address">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col s12 socket-container">
                Socket Services
                <div class="row socket" *ngFor="let s of networkInterface.socketservice_set;">
                  <div class="col s4">
                    <mat-form-field>
                      <input matInput [placeholder]="tr('SERVICE')" [(ngModel)]="s.service_name">
                    </mat-form-field>
                   </div>
                  <div class="col s4">
                    <mat-form-field>
                      <input matInput [placeholder]="tr('PORT')" [(ngModel)]="s.port">
                    </mat-form-field>
                  </div>
                </div>
                <div class="flex" *ngIf="canAddSocket(networkInterface)">
                  <span class="fill-remaining-space"></span>
                  <button type="button" mat-mini-fab class="serioplast-green" (click)="addSocketToInterface(networkInterface)"
                          matTooltip="Add" [matTooltipPosition]="'below'">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="flex">
              <sp-save-undo (save)="saveNetworkInterface()" (undo)="undoNetworkInterface()" [savePartial]="true" class="full-width"></sp-save-undo>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col s12">
      <mat-card class="asset-users">
        <mat-card-title class="flex">
          <span> <sp-ng-translate [value]="'ASSET_USERS'"></sp-ng-translate></span>
        </mat-card-title>
        <mat-card-content>
          <sp-table-with-pages [data]="getActiveAU(assetUsers)" [availableActions]="availableActionsAU" [headerConf]="headerConfAU"
                               [noItemsMessage]="noItemsMessageAU" [renderOnly]="true" [showPaginator]="false"></sp-table-with-pages>

          <div class="flex add-button-container" *ngIf="!assetUserEditOn">
            <span class="fill-remaining-space"></span>
            <button type="button" mat-mini-fab class="serioplast-green" (click)="createAssetUser()"
                    matTooltip="Add" [matTooltipPosition]="'below'">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div *ngIf="assetUserEditOn" class="addEditForm">
            <div class="row">
              <div class="col s4" *ngIf="assetUserTypes.length>0">
                <mat-form-field>
                  <mat-select [(ngModel)]="assetUser.type.pk" (ngModelChange)="handleAssetUserTypeChange()"
                              [placeholder]="tr('TYPE')">
                    <mat-option *ngFor="let t of assetUserTypes" [value]="t.pk">{{t.__str__}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="col s4">
                <mat-form-field>
                  <input matInput [placeholder]="tr('USERNAME')" [(ngModel)]="assetUser.user"/>
                </mat-form-field>
              </div>
              <div class="col s4">
                <mat-form-field>
                  <input matInput [placeholder]="tr('PASSWORD')" [(ngModel)]="assetUser.password"/>
                </mat-form-field>
              </div>
            </div>
            <div class="flex">
              <sp-save-undo (save)="saveAssetUser()" (undo)="undoAssetUser()" [savePartial]="true" class="full-width"></sp-save-undo>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row" style="margin-bottom:20px">
    <div class="col s12">
      <sp-save-undo (undo)="undoEditAsset()" (save)="saveAsset()"></sp-save-undo>
    </div>
  </div>
</div>
