<mat-accordion>
  <mat-expansion-panel [expanded]="packageName.selected" [hideToggle]="true" (opened)="selectPackage(packageName)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="flex full-width">
          <h6 ><b>{{ packageName.name }}</b></h6>
          <span class="fill-remaining-space"></span>
          <ng-container *ngIf="packageName.selected">
            <mat-icon (click)="updatePackageName(packageName)">mode_edit</mat-icon>
            <mat-icon matTooltip="Delete" *ngIf="packageName.is_active" (click)="removePackageName(packageName)">delete</mat-icon>
            <mat-icon matTooltip="Restore" *ngIf="!packageName.is_active" (click)="restorePackageName(packageName)">open_in_browser</mat-icon>
          </ng-container>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="package-name-content" *ngIf="packageName.selected">

      <div class="row">
        <mat-chip-list>
          <ng-container *ngFor="let pi of packageName.objects">
            <mat-chip *ngIf="pi.status!='toDelete'" [ngClass]="{'customChip':true,'mandat':pi.mandatory}"
                      (dblclick)="togglePackageItemAsMandatory(pi)">
              <div class="flex">
                {{pi.__str__}}
                <mat-icon (click)="removeItemFromPackage(pi)">close</mat-icon>
              </div>
            </mat-chip>
            <mat-chip *ngIf="pi.status=='toDelete'">
              {{pi.__str__}}
            </mat-chip>
          </ng-container>

        </mat-chip-list>

      </div>
      <sp-save-undo [undoCondition]="false" (save)="savePackageNameItems(packageName)"></sp-save-undo>
    </div>
  </mat-expansion-panel>
</mat-accordion>


