
td, th {
  padding: 4px 4px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

h5 {
  font-size: 1.44rem;
  line-height: 110%;
  margin: 0.2rem 0 1.66rem 0;
}



.customChip{
  outline: none;
  margin: 2px;
  padding-top: 0px;
  background-color: white;
  cursor: pointer;
  cursor: hand;

  /*no selectable*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari*/
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.mandat{
  background-color: #4caf50;
  color: white;
}

.package-name-header {
  background-color: whitesmoke;
  cursor: pointer;
}

.package-name-header h6 {
  margin-bottom:0px;
  padding:5px;
}

.package-name-content {
  background-color: rgba(76,175,80, 0.2);
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: solid 2px #4caf50;
}

.package-name-content>.row {
  margin:0;
  padding:0;
}

.mandat .flex, .customChip .flex{
  margin-top:7px
}

*>>>.mat-expansion-panel-body {
  padding:0;
}
