<div class="row" style="margin-top:10px">
  <div class="col s6" >
    <div class="centered">
      <user-sites [appName]="'deck'" (siteChange)="siteChange($event)"></user-sites>
    </div>
  </div>
  <div class="col s6" *ngIf="site && site.pk">
    <div class="centered">
      <material-selector [additionalQuery]="{site_list:site.pk}" (selectedMaterial)="selectedMaterial($event)"></material-selector>
    </div>
  </div>
</div>

<div class="row" *ngIf="material">
  <div class="col s6">
    <mat-form-field *ngIf="packInstr.length>0">
      <mat-select [placeholder]="tr('PACKING_INSTRUCTION')" [(ngModel)]="hu.Palletization" class="full-width">
        <mat-option *ngFor="let pi of packInstr" [value]="pi.Palletization">{{pi.Description}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col s6" >

  </div>

</div>

<div class="save-button-container flex" *ngIf="canSave()" style="padding:20px">
  <span class="fill-remaining-space"></span>
  <button mat-mini-fab class="serioplast-green" (click)="openAmountDialog()">
    <mat-icon>send</mat-icon>
  </button>
</div>

<sp-dialog #amountDialog>
  <div class="amount-dialog">
    <div class="row">
      <div class="col s12">
        <div class="centered">
          <mat-form-field *ngIf="packInstr.length>0">
            <input matInput [placeholder]="tr('AMOUNT')" type="number" min="0" [(ngModel)]="hu.PackedQty"/>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="hu.PackedQty">
      <div class="col s12">
        <div class="flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab class="serioplast-green" (click)="saveRepack()"><mat-icon>send</mat-icon></button>
        </div>
      </div>
    </div>
  </div>

</sp-dialog>

<sp-dialog #printDialog [closeByOverlayClick]="false">
  <div class="print-dialog">
    <div class="row" *ngIf="huToPrint && huToPrint.SSCC">
      <div class="col s4" *ngIf="printers.length>0">
        <mat-form-field>
          <mat-select [(ngModel)]="huToPrint.Printer" [placeholder]="tr('PRINTERS')">
            <mat-option *ngFor="let p of printers" [value]="p.Name">{{p.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s4" *ngIf="huLabels.length>0 && huToPrint.HULabelLink && huToPrint.HULabelLink[0]">
        <mat-form-field>
          <mat-select [(ngModel)]="huToPrint.HULabelLink[0].LabelName" (ngModelChange)="handleLabelChange()" [placeholder]="tr('LABELS')">
            <mat-option *ngFor="let l of huLabels" [value]="l.LabelName">{{l.LabelDesc}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s4 " *ngIf="huToPrint.HULabelLink && huToPrint.HULabelLink[0] && huToPrint.HULabelLink[0].LabelName">
        <mat-form-field>
          <input matInput [placeholder]="tr('COPIES')" type="number" id="copies" [(ngModel)]="huToPrint.HULabelLink[0].Copies"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="huToPrint && huToPrint.Printer && huToPrint.HULabelLink && huToPrint.HULabelLink[0].LabelName">
      <div class="col s12">
        <div class="flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab class="serioplast-green" (click)="doPrintHU()"><mat-icon>print</mat-icon></button>
        </div>
      </div>
    </div>
  </div>

</sp-dialog>


