<div class="flex">
  <button mat-fab class="grey back" (click)="back()" matTooltip="Back" [matTooltipPosition]="'below'">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <ng-container *ngIf="material">
    <h5>{{material.code}} - {{material.description}}</h5>
  </ng-container>
</div>
<mat-tab-group #tab (selectTabChange)="tabChange()" [selectedIndex]="selectedIndex">
  <mat-tab [disabled]="disabledStatus[0]" *ngIf="material" label="{{tr('MAIN_INFO')}}">
    <mat-card class="nopadding">
      <app-material-edit-main-info [material]="material" [editTab]="editTab.bind(this)" [saveTab]="saveTab.bind(this)"
                                   [setHasUnsavedData]="setHasUnsavedData.bind(this)"
                                   [setBOMAvailableForMaterial]="setBOMAvailableForMaterial.bind(this)" [hasCompanyPositions]="hasCompanyPositions"></app-material-edit-main-info>
    </mat-card>
  </mat-tab>

  <mat-tab [disabled]="!bomEditable || disabledStatus[1]" *ngIf="material && material.pk" label="{{tr('BOM')}}">

      <mat-card class="nopadding" *ngIf="loadStatus[1]">
        <app-material-edit-bom [material]="material" [editTab]="editTab.bind(this)" [saveTab]="saveTab.bind(this)"
                               [setHasUnsavedData]="setHasUnsavedData.bind(this)"
                               [bomCreatable]="bomCreatable" #BOMComp ></app-material-edit-bom>
      </mat-card>
  </mat-tab>

  <mat-tab [disabled]="disabledStatus[2]" *ngIf="material && material.pk" label="{{tr('PROPERTIES')}}">
  <!--<mat-tab [disabled]="true" *ngIf="material && material.pk" label="{{tr('PROPERTIES')}}">-->
    <mat-card class="nopadding" style="height:100%" *ngIf="loadStatus[2]">
      <app-material-edit-properties [material]="material" [editTab]="editTab.bind(this)" [saveTab]="saveTab.bind(this)"></app-material-edit-properties>

    </mat-card>

   </mat-tab>

  <mat-tab [disabled]="disabledStatus[3]" *ngIf="material && material.pk" label="{{tr('PACKING_INSTRUCTIONS')}}">
  <!--<mat-tab [disabled]="true" *ngIf="material && material.pk" label="{{tr('PACKING_INSTRUCTIONS')}}">-->
    <mat-card class="nopadding"  *ngIf="loadStatus[3]">
      <app-material-edit-packing-instructions [material]="material" [editTab]="editTab.bind(this)" [saveTab]="saveTab.bind(this)"></app-material-edit-packing-instructions>
    </mat-card>
  </mat-tab>

  <!--<mat-tab [disabled]="!routingCreatable || disabledStatus[4]" *ngIf="material && material.pk" label="{{tr('ROUTINGS')}}">-->
 <!--&lt;!&ndash;<mat-tab [disabled]="true" *ngIf="material && material.pk" label="{{tr('ROUTINGS')}}">&ndash;&gt;-->
    <!--<mat-card class="nopadding"  style="min-height:100%" *ngIf="loadStatus[4]">-->
      <!--<app-material-edit-routings [material]="material" [editTab]="editTab.bind(this)" [saveTab]="saveTab.bind(this)"></app-material-edit-routings>-->
    <!--</mat-card>-->
  <!--</mat-tab>-->

  <mat-tab [disabled]="disabledStatus[4]" *ngIf="material && material.pk" label="{{tr('DOCS')}}">
    <mat-card class="nopadding fullheight"  *ngIf="loadStatus[4]">
      <app-material-edit-docs [material]="material" [editTab]="editTab.bind(this)" [saveTab]="saveTab.bind(this)"></app-material-edit-docs>
    </mat-card>
  </mat-tab>

  <mat-tab [disabled]="disabledStatus[5]" *ngIf="material && material.pk"
          label="{{tr('DEACTIVATE')}}">

    <mat-card class="nopadding"  *ngIf="loadStatus[5]">

      <div class="deactivate-container">
        <button class="red" mat-button (click)="deleteMaterial(material)">
          <sp-ng-translate [value]="'DEACTIVATE'"></sp-ng-translate>
        </button>
      </div>


    </mat-card>
  </mat-tab>

</mat-tab-group>
