<div>
  <h5 id="Languages">Educations</h5>

  <div *ngIf="educationCreateOpen" class="col s12">
    <mat-card class="main" style="margin-bottom:20px;">
      <mat-card-content>
        <div class="row" *ngIf="onCreate && !education.pk">
          <h5>Create</h5>
        </div>
        <div class="row" *ngIf="education.pk">
          <h5>Edit {{education.__str__}}</h5>
        </div>

        <mat-form-field>
          <input matInput [placeholder]="'Description'" name="edit-description" type="text"
                 [(ngModel)]="education.description"
                 required/>
        </mat-form-field>

        <mat-form-field>
          <input matInput [placeholder]="'Institution'" name="edit-institution" type="text"
                 [(ngModel)]="education.institution"
                 required/>
        </mat-form-field>

        <mat-form-field>
          <input matInput [placeholder]="'City'" name="edit-city" type="text" [(ngModel)]="education.city"
                 (placeChanged)="getAddress($event)" google-places-autocomplete required/>
        </mat-form-field>

        <date-input [placeholder]="'Date from'" [(ngModel)]="education.date_from"></date-input>

        <date-input [placeholder]="'Date to'" [(ngModel)]="education.date_to"></date-input>

        <mat-form-field>
          <mat-select placeholder="Select country" [(ngModel)]="education.country" name="edit-country" required>
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let country of countries" [value]="country.value">
              {{country.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field *ngIf="onCreate">
          <mat-select placeholder="Select degree" [(ngModel)]="education.degree.pk"
                      name="edit-degree" required>
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let eduType of educationsTypes" [value]="eduType.pk">
              {{eduType.__str__}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput [placeholder]="'Final grade'" name="edit-final_grade" type="text"
                 [(ngModel)]="education.final_grade"
                 required/>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select study field" [(ngModel)]="education.study_field.pk"
                      name="edit-study_field" required>
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let study of educationStudyFields" [value]="study.pk">
              {{study.__str__}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <sp-save-undo (undo)="undoEducation()" (save)="saveEducation()"></sp-save-undo>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="row">
    <sp-table-with-pages #educationsTable [nResults]="15" [small]="true" [noItemsMessage]="noItemsMessageEducations"
                         [headerConf]="headerConfEducations"
                         [availableActions]="availableActions"
                         [getData]="loadEducations.bind(this)"></sp-table-with-pages>
  </div>

  <div class="row" *ngIf="!educationCreateOpen">
    <div class="add-button-container flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'"
              (click)="createEducation()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

</div>
