<div class="row main">

  <div class="col s12 m4">

    <mat-card >
      <div class="flex">
        <h5 style="margin-bottom: 0px;">Worktool Type objects</h5>
        <span class="fill-remaining-space"></span>
        <button mat-button class="serioplast-blue" (click)="changeOpentab()">Expand All</button>
        <!--<mat-slide-toggle color="primary" [checked]="true" (click)="changeOpentab()" >Expand All</mat-slide-toggle>-->

      </div>


      <div *ngFor="let wtt of worktooltypes" style="margin-bottom: 10px;">
        <!--<worktooltype-obj-list [OpenAll]="OpenAll" [worktooltype]="p" [select_package]="selectedPackageName"-->
                               <!--(load_packages)="loadPackages($event)" (selected_item)="selected_item($event)"></worktooltype-obj-list>-->
        <worktooltype-obj-list [OpenAll]="OpenAll" [worktooltype]="wtt" (selected_item)="selected_item($event)"></worktooltype-obj-list>

      </div>
    </mat-card>
  </div>

  <div class="col s12 m8">
    <mat-card *ngIf="formShow" style="margin-bottom: 10px;">
      <div class="row">
        <div >
          <h5 *ngIf="!mode_edit">New Packages Name</h5>
          <h5 *ngIf="mode_edit">Edit Package {{packageName.name}}</h5>
          <div class="row">
            <div class=" s12">
              <mat-form-field>
                <input id="input1" [(ngModel)]="packageName.name" name="name" type="text" [value]="packageName.name" required matInput placeholder="Name"/>
              </mat-form-field>
            </div>
          </div>
          <sp-save-undo (undo)="HideForm()" (save)="createPackageName()"></sp-save-undo>
        </div>
      </div>
    </mat-card>
    <mat-card>

      <div class="flex">
        <h5 style="margin-bottom: 0px;" >Packages Name</h5>

        <span class="fill-remaining-space"></span>

        <mat-slide-toggle color="primary" [(ngModel)]="activePackages" (ngModelChange)="loadPackages()"><sp-ng-translate [value]="'ACTIVE'"></sp-ng-translate></mat-slide-toggle>
      </div>

      <div *ngFor="let p of packageNames" style="margin-bottom: 10px;">
        <package-obj-list *ngIf="selectedPackageName.name" [packageName]="p" (selected_package)="selectPackage($event)"
                          (load_packages)="loadPackages($event)" (onSavePackageObj)="onSavePackageObj($event)" (onEditPackageName)="onEditPackageName($event)"></package-obj-list>
      </div>
      <div class="flex">
        <span class="fill-remaining-space"></span>
        <button *ngIf="!formShow" mat-mini-fab (click)="showForm()" class="serioplast-green right"><i class="material-icons">add</i>
        </button>
      </div>
    </mat-card>
  </div>
</div>







