<div class="row main">
  <div class="col s12">
    <mat-tab-group #tab [selectedIndex]="selectedTab" (selectTabChange)="tabChange()">
      <!--<mat-tab [label]="'Customer Info Record'">-->
        <!--<sales-pricelist-customer-info-record *ngIf="selectedTab==0"></sales-pricelist-customer-info-record>-->
      <!--</mat-tab>-->
      <mat-tab [label]="'Pricelist'">
        <sales-pricelist-pricelist *ngIf="selectedTab==1" (editWIPEvent)="editWIP($event)"></sales-pricelist-pricelist>
      </mat-tab>
      <!--<mat-tab [label]="'In progress'">-->
        <!--<sales-pricelist-in-progress *ngIf="selectedTab==2"></sales-pricelist-in-progress>-->
      <!--</mat-tab>-->
    </mat-tab-group>
  </div>
</div>
