<div class="row nomargin">
  <div class="col" *ngIf="!hideType" style="width:160px">
    <mat-form-field>
      <mat-select [(ngModel)]="materialType" (ngModelChange)="handleTypeChange()" [placeholder]="tr('MATERIAL_TYPE')">
        <mat-option *ngFor="let t of materialTypes" [value]="t.pk">{{t.__str__}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col" [ngClass]="{'fill':!hideType,'s12':hideType}">
    <sp-autocomplete [label]="label" [source]="materials" [initialValue]="initialMaterial||null"
                     [sourceFunction]="searchMaterials.bind(this)" [displayFunc]="getMaterialDesc.bind($this)"
                     (valueChanged)="clickedMaterial.bind(this)($event)"></sp-autocomplete>
  </div>
</div>



