<div>
  <div class="flex" style="margin-bottom:10px">
    <h5 style="margin: 0;">Badges</h5>
    <span class="fill-remaining-space"></span>
    <mat-slide-toggle color="primary" [(ngModel)]="active" (ngModelChange)="badgeUserRefsTable.reload()"
                      style="position: relative;top:5px;">Active
    </mat-slide-toggle>
  </div>

  <div *ngIf="badgeUserRefCreateOpen" class="col s12">
    <mat-card class="main" style="margin-bottom:20px">
      <mat-card-content>
        <div class="row" *ngIf="onCreate && !badgeUserRef.pk">
          <h5>Create</h5>
        </div>
        <div class="row" *ngIf="badgeUserRef.pk">
          <h5>Edit {{badgeUserRef.__str__}}</h5>
        </div>

        <ng-container *ngIf="badges.length>0">
          <mat-form-field>
            <mat-select placeholder="Select badge" [(ngModel)]="badgeUserRef.badge.pk" name="edit-badge" required
                        style="width: 100%;">
              <mat-option>Select a value</mat-option>
              <mat-option *ngFor="let badge of badges" [value]="badge.pk">
                {{badge.__str__}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select [(ngModel)]="badgeUserRef.language" placeholder="Select language" name="edit-language"
                        style="width: 100%;">
              <mat-option>Select a value</mat-option>
              <mat-option *ngFor="let lan of djangolanguages" [value]="lan.label">
                {{lan.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <date-input [placeholder]="tr('START_DATE_BADGE')" [(ngModel)]="badgeUserRef.start_date"></date-input>

          <date-input [placeholder]="tr('END_DATE_BADGE')" [(ngModel)]="badgeUserRef.end_date"></date-input>

          <sp-save-undo (save)="saveBadgeUserRef()" (undo)="undoBadgeUserRef()"></sp-save-undo>
        </ng-container>


        <ng-container *ngIf="badges.length == 0 && !badgeUserRef.badge.pk">
          <p style="color: orange">
            <sp-ng-translate [value]="'NO_BADGE_AVAILABLE'"></sp-ng-translate>
          </p>


          <sp-save-undo [saveCondition]="false" (undo)="undoBadgeUserRef()"></sp-save-undo>
        </ng-container>


      </mat-card-content>
    </mat-card>
  </div>

  <div class="row">
    <sp-table-with-pages #badgeUserRefsTable [nResults]="15" [small]="true"
                         [noItemsMessage]="noItemsMessageBadgeUserRefs"
                         [headerConf]="headerConfBadgeUserRefs"
                         [availableActions]="availableActions"
                         [getData]="loadBadgeUserRefs.bind(this)"></sp-table-with-pages>
  </div>

  <div class="row" *ngIf="!badgeUserRefCreateOpen">
    <div class="add-button-container flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'"
              (click)="createBadgeUserRef()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

</div>
