.complex-tooltip-container {
  position:fixed;
  background:white;
}

.hidden {
  display:none;
}

.hidden-temp {
  visibility: hidden;
}

.arrow_box_top {
  border: 1px solid #000000;
}

.arrow_box_top:after, .arrow_box_top:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_top:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box_top:before {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #000000;
  border-width: 11px;
  margin-left: -11px;
}
