.session_detail {
  color:#000;
  margin:20px auto;
}

td.property {
  background:grey;
}

.pause,.save {
  position:fixed;
  bottom:20px;
}

.save {
  right:20px;
}

.pause {
  right:100px;
}

.back {
  margin:20px 0;
}

li.property {
  display:flex;
  line-height:28px;
}

.measures_header .cell {
  height:50px;
  width:200px;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#ddd;
  font-size:14px;
}

.measures_header,.measures {
  align-self:flex-start;
}

.measures .cell {
  height:50px;
  width:130px;
  align-items:center;
  justify-content:center;
  display:flex;
}

.measures {
  overflow:auto;
  max-width:calc(100% - 140px);
}

.cell.header {
  background:#eee;
  min-height:75px;
  font-weight:bold;
  height:110px!important;
}

.cell.header>>>ul {
  min-width:inherit;
}

.measures .cell.header {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  padding:10px;
}

.cavity-data {
  background:#9aff9a;
  padding:10px;
}

.measures . {
  margin:0;
}

.cell.completed {
  background:rgba(0,255,0,0.2);
}

li.default.completed .collapsible-header {
  background:rgba(0,255,0,0.4);
}

.measure_wrapper>.button {
  align-self:flex-start;
  padding:0 10px;
}

.session_detail>div {
  padding:0 10px;
}

.overall {
  background-color:rgba(0,0,255,0.1);
  margin-bottom:20px;
  font-size:80%;
}

.overall.completed {
  background-color:rgba(0,255,0,0.1);
}

.collapsible-header span.flex {
  width:calc(100% - 40px);
}

span.right {
  text-align:right;
}

.sample-id {
  font-weight:700;
  font-size:20px;
}

.header-label {
  font-weight:700;
}

.cell input,.cell>>>input {
  text-align:center;
  margin:0;
}

.cavities sp-accordion-item>>> .mat-toolbar.mat-primary {
  height:35px;
  min-height:35px;
  font-weight: normal;
  font-size:14px;
  background:white;
  color:black;
}

.cavities sp-accordion-item>>>.mat-toolbar-row {
  height:35px;
  min-height:35px;
  font-weight: normal;
}

.cavities sp-accordion-item>>>.mat-card {
  padding:10px;
}

.cavities sp-accordion-item.disabled>>> .mat-toolbar.mat-primary {
  background:rgb(221,221,221);
  color:black;
}

.cavities sp-accordion-item.default.completed>>> .mat-toolbar.mat-primary {
  background:#4CAF50;
  color:white;
}

.propStatus {
  text-align: center;
  background:white;
  padding:3px 5px;
  height:100%;
  width:50px;
}

.propName {
  height:100%;
  width:calc(100% - 50px);
}

.propInfo {
  width:100%;
  height:100%;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.cell {
  border:1px solid #ccc;
  border-bottom:none;
  border-right:none;
  position:relative;
}

.column:last-child{
  border-right:1px solid #ccc;
}

.cell:last-child{
  border-bottom:1px solid #ccc;
}


.note {
  position: relative;
  width: 30%;
  padding: 1em 1.5em;
  margin: 2em auto;
  color: #fff;
  background: #97C02F;
  overflow: hidden;
}

.cell.overridden {
  background: rgba(0,255,0,0.6);
}

.overridden:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #fff #fff #658E15 #658E15;
  background: #658E15;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  /* Firefox 3.0 damage limitation */
  display: block; width: 0;
}

.overridden.rounded {
  -moz-border-radius: 5px 0 5px 5px;
  border-radius: 5px 0 5px 5px;
}

.overridden.rounded:before {
  border-width: 8px;
  border-color: #fff #fff transparent transparent;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}

.session_note_container {
  padding:10px;
  margin-top:20px;
  background:#c8e6c9;
}

.row.nomargin {
  margin:0;
}

.cell>.col {
  padding:0;
}

.note-content {
  background:#ccc;
  padding:10px;
}

.mat-card.cavities {
  padding:10px;
}

mat-select.ok>>>.mat-select-trigger {
  background:#9aff9a;
}

mat-select.not-ok>>>.mat-select-trigger {
  background:#ff8080;
}
