<mat-card *ngIf="periodRows">
  <mat-card-content style="display:flex">
    <div class="label-container" *ngIf="big">
      <ng-container *ngFor="let pr of periodRows, let rowIndex = index;">
        <div class="title {{big?'big':''}}" *ngIf="big && pr.event">{{pr.name}} - {{getPeriodDescription(pr)}}</div>
      </ng-container>
    </div>
    <div class="timeline" [style]="getTimelineStyle()" >
      <ng-container *ngFor="let pr of periodRows, let rowIndex = index;">
        <ng-container *ngIf="pr.event">
          <div class="event {{big?'big':''}}" [style]="getEventStyle(pr.event, rowIndex)"></div>
        </ng-container>
      </ng-container>
      <ng-container *ngFor="let y of years, let rowIndex = index;">
        <div class="year {{(rowIndex%2==0)?'even':'odd'}}" [style]="getYearStyle(y)" >
          <span class="{{getYearLabelClass(y)}}"> {{y.title}}</span>
        </div>
      </ng-container>
    </div>

  </mat-card-content>
</mat-card>

