mat-card {
  padding:5px;
}

.timeline {
  position:relative;
}


.year {
  height:100%;
  position:absolute;
  font-size:10px;
  z-index:1;
  text-align:center;
}


.year.odd {
 background:#eee;
}

.event {
  height:15px;
  position:absolute;
  font-size:10px;
  z-index:2;
}

 .title {
  /*position:absolute;*/
  /*top:-15px;*/
  /*left:0px;*/
  font-size:10px;
  /*width: 300px;*/
   /*margin-bottom:15px;*/
}

.title:first-child {
  padding-top:15px;
}

.title.big {
  /*font-size:14px;*/
}

.event.big {
  /*margin-top:21px;*/
}

.label-container {
  width:150px;
  border-right:1px solid #ccc;
}
