.filters {
  padding-top:20px;
}

.add-button-container {
  padding:20px;
}

form {
  background-color: #ddd;
  padding: 20px;
}

.intervals {
  width:300px;
  background:#ccc;
  padding:10px;
  margin-bottom:10px;
}
