<!--<div class="row" style="margin-top:20px;">-->
  <!--<div class="col s12">-->
    <!--<div class="subtype">-->
      <!--<div class="row" *ngIf="profileCreateOpen">-->
        <!--<div>-->
          <!--<label for="subtype_name_create">-->
            <!--<sp-ng-translate [value]="'CREATE_PROFILE'" *ngIf="!dayWeekProfile.pk"></sp-ng-translate>-->
            <!--<sp-ng-translate [value]="'EDIT_PROFILE'" *ngIf="dayWeekProfile.pk"></sp-ng-translate>-->
          <!--</label>-->
          <!--<input type="text" class="form-control" id="subtype_name_create" name="attribute_name" required-->
                 <!--[(ngModel)]="dayWeekProfile.name">-->

          <!--<div class="intervals">-->
            <!--<div *ngFor="let i of dayWeekProfile.intervals">-->
              <!--<div class="row">-->
                <!--<div class="col s5">-->
                  <!--<input type="number" [(ngModel)]="i.interval"/>-->
                <!--</div>-->
                <!--<div class="col s5">-->
                  <!--<mat-checkbox [(ngModel)]="i.holiday" color="primary">Holiday</mat-checkbox>-->
                <!--</div>-->
                <!--<div class="col s2">-->
                 <!--<mat-icon (click)="deleteInterval(i)">delete</mat-icon>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="flex">-->
              <!--<span class="fill-remaining-space"></span>-->
              <!--<button mat-mini-fab class="serioplast-green" (click)="addInterval()"><mat-icon>add</mat-icon></button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="flex">-->
          <!--<button mat-mini-fab type="button" class="serioplast-grey" (click)="undoEditDayWeekProfile()" matTooltip="Undo"-->
                  <!--[matTooltipPosition]="'below'">-->
            <!--<mat-icon>undo</mat-icon>-->
          <!--</button>-->
          <!--<span class="fill-remaining-space"></span>-->
          <!--<button mat-mini-fab type="submit" [color]="'primary'" matTooltip="Save" [matTooltipPosition]="'below'" (click)="saveDayWeekProfile()">-->
            <!--<mat-icon>send</mat-icon>-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row nomargin table-container onlyToggle" [hidden]="profileCreateOpen">-->
        <!--<div class="flex toggle-container">-->

          <!--<span class="fill-remaining-space"></span>-->
          <!--<mat-slide-toggle color="primary" [(ngModel)]="profilesActive" (ngModelChange)="profilesTable.reload()">-->
            <!--Active-->
          <!--</mat-slide-toggle>-->
        <!--</div>-->

        <!--<sp-table-with-pages #profilesTable [small]="true" [noItemsMessage]="noItemsMessageSubtypes"-->
                             <!--[headerConf]="headerConfSubtypes"-->
                             <!--[availableActions]="availableActions" [getData]="loadDayWeekProfile.bind(this)"></sp-table-with-pages>-->
      <!--</div>-->
      <!--<div class="add-button-container flex" *ngIf="!profileCreateOpen">-->
        <!--<span class="fill-remaining-space"></span>-->
        <!--<button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'"-->
                <!--(click)="createDayWeekProfile();profileCreateOpen = true; ">-->
          <!--<mat-icon>add</mat-icon>-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


