<ul *ngIf="comments.length>0">
  <li *ngFor="let comment of comments">
    <sp-comment-detail [comment]="comment"></sp-comment-detail>
  </li>
</ul>

<span *ngIf="comments.length==0">
  <i>No comments for this note</i>
</span>

<sp-comment-add [note]="note" *ngIf="showAddComment" [reload]="reload.bind(this)"></sp-comment-add>


