<div>
  <div class="flex" *ngIf="batch">
    <span class="fill-remaining-space"></span>
    <button mat-fab class="serioplast-grey" [routerLink]="['/quality-stock']">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <mat-card style="margin-top:10px; min-width: 1200px; padding:10px;">
      <div class="flex">
        <div class="batch-field">
          <fixed-field [label]="'Batch'" [value]="batch.Batch"></fixed-field>
        </div>
        <span class="fill-remaining-space"></span>
        <div class="batch-field">
          <fixed-field [label]="'Plant'" [value]="batch.Plant|siteSapCode"></fixed-field>
        </div>
        <span class="fill-remaining-space"></span>
        <div class="batch-field">
          <fixed-field [label]="'Supplier'" [value]="batch.Supplier?batch.Supplier:'-'"></fixed-field>
        </div>
        <span class="fill-remaining-space"></span>
        <div class="batch-field">
          <fixed-field [label]="'Supplier Batch'" [value]="batch.SupplierBatch?batch.SupplierBatch:'-'"></fixed-field>
        </div>
        <span class="fill-remaining-space"></span>
        <div class="batch-field">
          <fixed-field [label]="'Material'" [value]="batch.Material+' - '+batch.MaterialDescription"></fixed-field>
        </div>
        <span class="fill-remaining-space"></span>
        <div class="batch-field">
          <fixed-field [label]="'Creation'" [value]="(batch.CreationDate|sapDate)+' '+(batch.CreationTime|sapTime)"></fixed-field>
        </div>
        <span class="fill-remaining-space"></span>
        <div class="batch-field">
          <fixed-field [label]="'Quantity'" [value]="(batch.Quantity|ExpThousandsSeparator)+' '+(batch.Uom)"></fixed-field>
        </div>
      </div>
    </mat-card>
    <span class="fill-remaining-space"></span>
    <button mat-fab class="serioplast-blue" [routerLink]="['/quality-stock/batch/detail']"
            [queryParams]="queryParams">
      <mat-icon>visibility_on</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
  </div>
</div>

<div class="flex" style="align-items: flex-start" *ngIf="batch">
  <span class="fill-remaining-space"></span>
  <div class="fathers children" *ngIf="btsFathers && btsFathers.length>0">
    <div class="border father"></div>
    <app-quality-stock-batch-detail-where-used-leaf *ngFor="let bts of btsFathers"
                                                       [batchStructure]="bts"></app-quality-stock-batch-detail-where-used-leaf>
  </div>
  <div class="me">

    <div class="flex main-batch">
      <mat-icon *ngIf="btsFathers && btsFathers.length>0">chevron_right</mat-icon>
      <mat-card class="serioplast-green main-batch">
        <mat-card-title>
          Batch: {{batch.Batch}}
        </mat-card-title>
        <mat-card-content>
          <span class="label">Material</span><span>{{batch.Material}} - {{batch.MaterialDescription}}</span><br/>
          <span class="label">Plant</span><span>{{batch.Plant}}</span>
        </mat-card-content>
      </mat-card>
      <mat-icon *ngIf="btsSons && btsSons.length>0">chevron_left</mat-icon>
    </div>


  </div>
  <div class="sons children" *ngIf="btsSons && btsSons.length>0">
    <div class="border"></div>
    <app-quality-stock-batch-detail-where-used-leaf *ngFor="let bts of btsSons"
                                                       [batchStructure]="bts"></app-quality-stock-batch-detail-where-used-leaf>
  </div>
  <span class="fill-remaining-space"></span>
</div>

