.main-batch {
  margin-top:15px;
  width:200px;
  margin:10px;
  padding:5px;
}

.children {
  position:relative;
  margin-top:15px;
}

.main-batch mat-icon{
  cursor:default;
}

.children .border {
  position:absolute;
  width:20px;
  height:100%;
  border: 1px solid black;
  border-right:none;
}

.children .border.father {
  right:0;
  border-right:1px solid black;
  border-left:none;
}

mat-card-content {
  font-size:9px;
}

mat-card-content span.label {
  color: white;
  margin-right: 5px;
  font-size: 9px;
  font-weight: bold;
}

mat-card-title {
  font-size: 11px;
  font-weight: bold;
  border-bottom: 1px solid white;
  color: white;
  margin-bottom: 5px;
}

.batch-field {
  margin-right: 10px;
}
