<h5 *ngIf="label">{{label}}</h5>

<table #table class="mdl-data-table bordered striped noclick small" *ngIf="attachments.length>0">
  <thead>
  <tr>
    <th>File</th>
    <th>Document Id</th>
    <th>Version</th>
    <th>Notes</th>
    <th>Date</th>
    <th style="width:50px">Download</th>
  </tr>
  </thead>

  <tbody>
  <ng-container *ngFor="let a of attachments">
    <tr>
      <td>
        <div class="truncate-ellipsis">
          <span matTooltip="{{extractFileName(a.filepath.__str__)}}">{{extractFileName(a.filepath.__str__)}}</span>
        </div>
      </td>
      <td>
        {{a.filepath.doc_id?a.filepath.doc_id:"-"}}
      </td>
      <td>
        {{a.filepath.version?a.filepath.version:"-"}}
      </td>
      <td>
        <div class="truncate-ellipsis">
          <span matTooltip="{{a.filepath.notes}}">{{a.filepath.notes?a.filepath.notes:"-"}}</span>
        </div>
      </td>
      <td>
        {{a.created_on|date}}
      </td>
      <td >
        <a href="{{a.filepath.__str__}}" download="Attachment-{{a.pk}}"><mat-icon matTooltip="Download" [matTooltipPosition]="'below'" style="cursor:pointer;">
          file_download
        </mat-icon> </a>
        <mat-icon matTooltip="Delete" [matTooltipPosition]="'below'" (click)="deleteAttachment(a)" style="cursor:pointer;">
          delete
        </mat-icon>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>

<ng-container *ngIf="attachments.length==0">
  <i>No attachments available</i>
</ng-container>

<div class="flex" *ngIf="allowAdd" style="padding:10px 0">
  <span class="fill-remaining-space"></span>
  <button mat-mini-fab class="serioplast-green" (click)="addFile()" *ngIf="!fileAdd"><mat-icon>add</mat-icon></button>
</div>

<div *ngIf="fileAdd" class="file-field">
  <div class="input-field">
    <div class="btn">
      <span>File</span>
      <input type="file" id="attachment" #fileInput (change)="setFile()">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" #fileName>
    </div>
  </div>
</div>

<mat-form-field class="hideInput" *ngIf="allowAdd" style="margin-top:10px">
  <input matInput placeholder="{{tr('FILE')}}" value=" " [disabled]="true">

    <button mat-raised-button color="primary" (click)="fileInput.click()">File</button>
    <input hidden type="file" #fileInput (change)="uploadFile()"/>
</mat-form-field>
