<!--<div class="row">-->
  <!--<div class="col s12">-->
    <!--<div class="subtype">-->
      <!--<div class="row" *ngIf="profileCreateOpen">-->
        <!--<div>-->
          <!--<h5>-->
            <!--<sp-ng-translate [value]="'CREATE_PROFILE'" *ngIf="!clockProfile.pk"></sp-ng-translate>-->
            <!--<sp-ng-translate [value]="'EDIT_PROFILE'" *ngIf="clockProfile.pk"></sp-ng-translate>-->
          <!--</h5>-->
          <!--<div class="row">-->
            <!--<div class="col s4 ">-->
              <!--<input type="text" [(ngModel)]="clockProfile.name">-->
              <!--<label>Name</label>-->
            <!--</div>-->
            <!--<div class="col s2">-->
              <!--<mat-checkbox color="primary" [(ngModel)]="clockProfile.overtime">Overtime</mat-checkbox>-->
            <!--</div>-->
            <!--<div class="col s2">-->
              <!--<mat-checkbox color="primary" [(ngModel)]="clockProfile.shift">Shift</mat-checkbox>-->
            <!--</div>-->
            <!--<div class="col s2 ">-->
              <!--<input type="number" [(ngModel)]="clockProfile.tot_work_hours">-->
              <!--<label>Tot work hours</label>-->
            <!--</div>-->
            <!--<div class="col s2 ">-->
              <!--<input type="text" [(ngModel)]="clockProfile.color">-->
              <!--<label>Color</label>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="col s2 ">-->
              <!--<input type="time" [(ngModel)]="clockProfile.start_time">-->
              <!--<label>Start time</label>-->
            <!--</div>-->
            <!--<div class="col s2 ">-->
              <!--<input type="number" [(ngModel)]="clockProfile.start_time_max_delay">-->
              <!--<label>Start time max delay</label>-->
            <!--</div>-->
            <!--<div class="col s2 ">-->
              <!--<input type="number" [(ngModel)]="clockProfile.start_time_permitted_delay">-->
              <!--<label>Start time permitted delay (minutes)</label>-->
            <!--</div>-->
            <!--<div class="col s2 ">-->
              <!--<input type="time" [(ngModel)]="clockProfile.end_time">-->
              <!--<label>End time</label>-->
            <!--</div>-->
            <!--<div class="col s2 ">-->
              <!--<input type="number" [(ngModel)]="clockProfile.start_check_period">-->
              <!--<label>Start check period</label>-->
            <!--</div>-->
            <!--<div class="col s2 ">-->
              <!--<input type="number" [(ngModel)]="clockProfile.end_check_period">-->
              <!--<label>End check period</label>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="col s2">-->
              <!--<mat-checkbox color="primary" [(ngModel)]="clockProfile.break_period">Break Period</mat-checkbox>-->
            <!--</div>-->
            <!--<div class="col s2 " *ngIf="clockProfile.break_period">-->
              <!--<input type="time" [(ngModel)]="clockProfile.start_break_period">-->
              <!--<label>Start break period</label>-->
            <!--</div>-->
            <!--<div class="col s2 " *ngIf="clockProfile.break_period">-->
              <!--<input type="time" [(ngModel)]="clockProfile.end_break_period">-->
              <!--<label>End break period</label>-->
            <!--</div>-->
            <!--<div class="col s2 " *ngIf="clockProfile.break_period">-->
              <!--<input type="number" [(ngModel)]="clockProfile.break_time_max_delay">-->
              <!--<label>Break time max delay (minutes)</label>-->
            <!--</div>-->
            <!--<div class="col s2 " *ngIf="clockProfile.break_period">-->
              <!--<input type="number" [(ngModel)]="clockProfile.break_time_permitted_delay">-->
              <!--<label>Break time permitted delay (minutes)</label>-->
            <!--</div>-->
            <!--<div class="col s2 " *ngIf="clockProfile.break_period">-->
              <!--<input type="text" [(ngModel)]="clockProfile.min_break_duration">-->
              <!--<label>Min break duration</label>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="flex">-->
          <!--<button mat-mini-fab type="button" class="serioplast-grey" (click)="undoEditClockProfile()" matTooltip="Undo"-->
                  <!--[matTooltipPosition]="'below'">-->
            <!--<mat-icon>undo</mat-icon>-->
          <!--</button>-->
          <!--<span class="fill-remaining-space"></span>-->
          <!--<button mat-mini-fab type="submit" [color]="'primary'" matTooltip="Save" [matTooltipPosition]="'below'" (click)="saveClockProfile()">-->
            <!--<mat-icon>send</mat-icon>-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row nomargin table-container onlyToggle" [hidden]="profileCreateOpen">-->
        <!--<div class="flex toggle-container">-->

          <!--<span class="fill-remaining-space"></span>-->
          <!--<mat-slide-toggle color="primary" [(ngModel)]="profilesActive" (ngModelChange)="profilesTable.reload()">-->
            <!--Active-->
          <!--</mat-slide-toggle>-->
        <!--</div>-->

        <!--<sp-table-with-pages #profilesTable [small]="true" [noItemsMessage]="noItemsMessageSubtypes"-->
                             <!--[headerConf]="headerConfSubtypes"-->
                             <!--[availableActions]="availableActions" [getData]="loadClockProfiles.bind(this)"></sp-table-with-pages>-->
      <!--</div>-->
      <!--<div class="add-button-container flex" *ngIf="!profileCreateOpen">-->
        <!--<span class="fill-remaining-space"></span>-->
        <!--<button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'"-->
                <!--(click)="createClockProfile();profileCreateOpen = true; ">-->
          <!--<mat-icon>add</mat-icon>-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


