.loading {
  position:fixed;
  background:rgba(0,0,0,0.6);
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:table-row;
  vertical-align: middle;
  z-index:99999;
}

mat-spinner {
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-50px;
  margin-left:-50px;
}
