<div class="row">
  <div *ngIf="siteCreateOpen" class="col s12">
    <mat-card class="main">
      <mat-card-content>
        <div class="row" *ngIf="onCreate">
          <h5>Create {{site.name}}</h5>
        </div>
        <div class="row" *ngIf="!onCreate">
          <h5>Edit {{site.name}}</h5>
        </div>

        <mat-form-field>
          <input id="edit-name" name="edit-name" type="text" [(ngModel)]="site.name" matInput [placeholder]="tr('NAME')"/>
        </mat-form-field>

        <mat-form-field>
          <input id="edit-code" name="edit-code" type="text" [(ngModel)]="site.code" matInput [placeholder]="tr('CODE')"/>
        </mat-form-field>

        <mat-form-field>
          <input id="edit-address" name="edit-address" type="text" [(ngModel)]="site.address"
          matInput [placeholder]="tr('ADDRESS')" google-places-autocomplete (placeChanged)="getAddress($event)" [types]="['geocode']"/>
 </mat-form-field>

 <mat-form-field>
   <mat-select placeholder="Select legal entity" [(ngModel)]="site.legalentity_ref.pk"
               name="edit-legalentity_ref">
     <mat-option>Select a value</mat-option>
     <mat-option *ngFor="let l of legalEntities" [value]="l.pk">{{l.__str__}}</mat-option>
   </mat-select>
 </mat-form-field>

 <mat-form-field>
   <mat-select placeholder="Select organization level" [(ngModel)]="site.org_level.pk"
               name="edit-org-level">
     <mat-option>Select a value</mat-option>
     <mat-option *ngFor="let ol of orgLevels" [value]="ol.pk">
       {{ol.__str__}}
     </mat-option>
   </mat-select>
 </mat-form-field>

 <div style="margin-bottom:10px">
   <mat-checkbox color="primary" id="active_on_sap_edit" name="active_on_sap_edit"
                 [(ngModel)]="site.active_on_sap">Active on SAP
   </mat-checkbox>
 </div>

 <sp-save-undo (save)="saveSite()" (undo)="undoEditSite()"></sp-save-undo>
</mat-card-content>
</mat-card>
</div>

<div class="col s12 m3" *ngIf="!siteCreateOpen">
<h5>Filters</h5>
<form>
<mat-form-field>
 <input type="text" name="name" [(ngModel)]="siteFilter.name" matInput [placeholder]="'Name'"/>
</mat-form-field>

<mat-form-field>
 <input type="text" name="code" [(ngModel)]="siteFilter.code" matInput [placeholder]="'Code'"/>
</mat-form-field>

<mat-form-field>
 <mat-select placeholder="Select legal entity" [(ngModel)]="siteFilter.legalentity_ref"
             name="search-legalentity_ref">
   <mat-option>Select a value</mat-option>
   <mat-option *ngFor="let l of legalEntities" [value]="l.pk">
     {{l.__str__}}
   </mat-option>
 </mat-select>
</mat-form-field>

<mat-form-field>
 <mat-select placeholder="Select organization level" [(ngModel)]="siteFilter.org_level"
             name="search-edit-org-level">
   <mat-option>Select a value</mat-option>
   <mat-option *ngFor="let ol of orgLevels" [value]="ol.pk">
     {{ol.__str__}}
   </mat-option>
 </mat-select>
</mat-form-field>

<div style="margin-bottom:10px">
 <mat-checkbox color="primary" id="serach_active_on_sap_edit" name="activeonsap" [checked]="site.active_on_sap">Active on SAP
 </mat-checkbox>
</div>

<sp-search-reset (reset)="reset()" (search)="reload()"></sp-search-reset>
</form>

</div>


<div *ngIf="!siteCreateOpen" class="col s12 m9">
<mat-card>
<div class="row">
 <div class="flex" style="margin-bottom:10px">
   <h5 style="margin: 0;">Sites</h5>
   <span class="fill-remaining-space"></span>
   <mat-slide-toggle color="primary" [(ngModel)]="active" (ngModelChange)="sitesTable.reload()">Active</mat-slide-toggle>
 </div>
 <sp-table-with-pages #sitesTable [nResults]="15" [small]="true" [noItemsMessage]="noItemsMessageSites"
                      [headerConf]="headerConfSites"
                      [availableActions]="availableActions"
                      [getData]="loadSites.bind(this)"></sp-table-with-pages>

</div>
<div class="row">
 <div class="add-button-container flex">
   <span class="fill-remaining-space"></span>
   <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'"
           (click)="createSite()">
     <mat-icon>add</mat-icon>
   </button>
 </div>
</div>

</mat-card>


</div>

</div>


