<mat-card style="margin-bottom:10px;">
  <div class="flex toggle-container filters" >
    <h5 *ngIf="materialType">{{materialType.__str__}}</h5>
    <span class="fill-remaining-space"></span>
    <mat-slide-toggle color="primary" [(ngModel)]="subtypeLinksActive" (ngModelChange)="reload()">Active
    </mat-slide-toggle>
  </div>
  <div class="row nomargin">
    <sp-table-with-pages #table [small]="true"
                         [noItemsMessage]="noItemsMessageSubtypeLinks"
                         [headerConf]="headerConfSubtypeLinks"
                         [availableActions]="availableActionsSubtypeLinks"
                         [getData]="loadMaterialSubtypeLinks.bind(this)"></sp-table-with-pages>

  </div>
  <div class="add-button-container flex">
    <span class="fill-remaining-space"></span>
    <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create"
            [matTooltipPosition]="'below'" (click)="createSubtypeLink();">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-card>


