<div>
  <div class="flex" style="margin-bottom:10px">
    <h5 style="margin-bottom: 0px;">
      <sp-ng-translate [value]="'CONTRACTS'"></sp-ng-translate>
    </h5>
    <span class="fill-remaining-space"></span>
    <mat-slide-toggle color="primary" [(ngModel)]="active" (click)="contractsTable.reload()">Active
    </mat-slide-toggle>
  </div>

  <div *ngIf="contractCreateOpen" class="col s12">
    <mat-card class="main" style="margin-bottom:20px">
      <mat-card-content>
        <div class="row" *ngIf="onCreate && !contract.pk">
          <h5>Create</h5>
        </div>
        <div class="row" *ngIf="contract.pk">
          <h5>Edit {{contract.__str__}}</h5>
        </div>
        <div class="row">
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col s6">
              <sp-autocomplete #hierarchicalSuperior [label]="tr('HIERARCHICAL_SUPERIOR')"
                               [source]="hierarchicalUsers"
                               [initialValue]="contract.hierarchical_superior? contract.hierarchical_superior:null"
                               [sourceFunction]="loadHrUsersHier.bind(this)" [displayKey]="'__str__'"
                               (valueChanged)="selectedHierarchicalSuperior.bind(this)($event)"></sp-autocomplete>
            </div>
          </div>

          <div class="row">
            <div class="col s6">
              <mat-form-field>
                <mat-select [(ngModel)]="contract.legal_entity.pk" class="full-width" [placeholder]="tr('LEGAL_ENTITY')"
                            name="contract-edit-legal_entity">
                  <mat-option *ngFor="let l of legalEntities" [value]="l.pk">{{l.__str__}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col s6">
              <date-input [placeholder]="tr('START_DATE')" [(ngModel)]="contract.start_date"></date-input>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <date-input [placeholder]="tr('END_DATE')" [(ngModel)]="contract.end_date"></date-input>
            </div>
          </div>
        </div>
        <sp-save-undo (save)="saveContract()" (undo)="undoContract()"></sp-save-undo>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row">
    <sp-table-with-pages #contractsTable [nResults]="15" [small]="true" [noItemsMessage]="noItemsMessageContracts"
                         [headerConf]="headerConfContracts"
                         [availableActions]="availableActions"
                         [getData]="loadContracts.bind(this)"></sp-table-with-pages>
  </div>

  <div class="row">
    <div class="add-button-container flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'"
              (click)="createContract()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

</div>
