<mat-form-field class="hideInput">
  <input matInput placeholder="{{label}}" value=" " [disabled]="true">
  <div class="flex" *ngIf="value && value.pk">
    <ng-container *ngIf="mode=='image' && !hidePreview" >
      {{value|json}}
      <img style="width:calc(100% - 40px)" src="{{value.attachment_file}}" *ngIf="value.attachment_file">
    </ng-container>
    <ng-container *ngIf="mode!='image'">
      {{extractFileName(value.__str__)}}
    </ng-container>


    <button type="button" mat-mini-fab (click)="deleteImage()" class="serioplast-red">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="!value || !value.pk">
    <button mat-raised-button color="primary" (click)="input.click()">File</button>
    <input hidden type="file" #input (change)="uploadImage()"/>
  </ng-container>
</mat-form-field>
