<mat-card>
  <form (submit)="addComment()">
    <mat-form-field>
          <textarea id="textarea1" [(ngModel)]="comment.message" name="comment" class="materialize-textarea"
                    required matInput [placeholder]="tr('INSERT_COMMENT')"></textarea>
    </mat-form-field>

    <div align="right">
      <button mat-mini-fab class="serioplast-green">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>
</mat-card>

