.todo {
  height:40px;
}

.note-container {
  width:calc(100% - 100px);
}

.todo.done .note-container {
  text-decoration: line-through;
}

.delete {
  display:none;
}

.todo:hover {
  background:#eee;
  cursor:pointer;
}

.todo:hover .delete {
  display:block;
}

.done-container {
  color:#ddd;
}

.done, .undone {
  margin-right:20px;
}

.todo input {
  margin-bottom:5px;
  height:21px;
}

