<div class="todo-list-container">
  <h5>TODO</h5>
  <div class="todo-input" *ngIf="allowAdd">
    <form (submit)="insertNewTodo()">
      <mat-form-field>
        <input type="text" [(ngModel)]="todo.note" [ngModelOptions]="{standalone:true}" matInput/>
      </mat-form-field>
    </form>
  </div>
  <div class="todo-list">
    <ng-container *ngIf="todos.length>0">
      <ng-container *ngFor="let t of todos">
        <div class="todo flex" *ngIf="!t.done">
          <mat-icon class="undone" (click)="markTodoAsDone(t)" *ngIf="allowAdd">check_box_outline_blank</mat-icon>
          <div class="note-container fill-remaining-space" *ngIf="!t.editing" (click)="editTodo(t)">
            {{t.note}}
          </div>
          <div class="note-container fill-remaining-space" *ngIf="t.editing">
            <form (submit)="updateTodo(t)">
              <mat-form-field>
                <input type="text" [(ngModel)]="t.note" [ngModelOptions]="{standalone:true}" matInput/>
              </mat-form-field>

            </form>
          </div>
          <mat-icon class="delete" (click)="deleteTodo(t)" *ngIf="allowAdd">delete</mat-icon>
        </div>
      </ng-container>
      <ng-container *ngFor="let t of todos">
        <div class="todo flex done" *ngIf="t.done">
          <mat-icon class="done" (click)="markTodoAsUndone(t)" style="color:#ddd" *ngIf="allowAdd">check_box</mat-icon>
          <div class="note-container fill-remaining-space" *ngIf="!t.editing" (click)="editTodo(t)">
            {{t.note}}
          </div>
          <div class="note-container fill-remaining-space" *ngIf="t.editing">
            <form (submit)="updateTodo(t)">
              <mat-form-field>
                <input type="text" [(ngModel)]="t.note" [ngModelOptions]="{standalone:true}" matInput/>
              </mat-form-field>

            </form>
          </div>
          <mat-icon class="delete" (click)="deleteTodo(t)" *ngIf="allowAdd">delete</mat-icon>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="todos.length==0">
      No TODO available
    </ng-container>
  </div>
</div>
