<div class="" materialize>
  <div class="flex">
    <button mat-fab class="back grey" (click)="goToSessions()">
      <i class="material-icons">keyboard_arrow_left</i>
    </button>
    <h4><sp-ng-translate [value]="'CONTROL_PLANS'"></sp-ng-translate></h4>
    <span class="fill-remaining-space"></span>
  </div>
  <div class="filters">
    <div class="row">
      <div class="col s2">
        <mat-form-field *ngIf="types.length>0">
          <mat-select [(ngModel)]="typeFilter.pk" [placeholder]="tr('TYPE')"
                      (ngModelChange)="fixType()" class="full-width">
            <mat-option *ngFor="let t of types" [value]="t.pk">{{t.__str__}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s2">
        <mat-form-field>
          <input id="cp_name" [(ngModel)]="nameFilter" (ngModelChange)="loadControlPlans()" matInput [placeholder]="tr('NAME')"/>
        </mat-form-field>
      </div>
      <div class="col s3">
        <user-sites #userSites (siteChange)="selectedSite($event)"></user-sites>
      </div>
      <div class="col s5">
        <material-selector (selectedMaterial)="selectedMaterial.bind(this)($event)"></material-selector>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
       <div class="flex">
         <span class="fill-remaining-space"></span>
         <button mat-mini-fab class="serioplast-green" (click)="loadControlPlans()">
           <i class="material-icons">search</i>
         </button>
       </div>
      </div>

    </div>

  </div>
  <div class="row">
    <sp-table-with-pages #controlPlansTable [nResults]="20" [noItemsMessage]="noItemsMessageControlPlans" [headerConf]="headerConfControlPlans"
                         [availableActions]="availableActionsControlPlans" [getData]="loadControlPlans.bind(this)" [ready]="cpListReady"></sp-table-with-pages>
  </div>
  <div class="row flex nomargin">
    <span class="fill-remaining-space"></span>
    <button mat-mini-fab class="serioplast-green create" (click)="create()">
      <i class="material-icons">add</i>
    </button>
  </div>
</div>








