.filters {
  background: #eee;
  width:calc(100%);
  margin:0 0 20px 0;
  padding:10px;
}

.row.filters>.col{
height:100%;
}

#material {
  width:100%;
}

.clear {
  position:absolute;
  right:10px;
  top:10px;
}

tbody tr{
  cursor:pointer;
}

.row.flex button {
  color:white;
}

button.back {
  margin:20px;
  position: fixed;
  top: 60px;
  left: 0;
}

*>>>.materials {
  font-size:10px;
}

