<ng-container *ngIf="property">

  <ng-container *ngIf="activateDialog">
    <div style="cursor:pointer" (click)="dialog.open()">
      {{property.name?property.name.__str__:""}}
      <ng-container *ngFor="let a of property.attribute; let k=index">
        {{a.__str__}}<ng-container *ngIf="k!=(property.attribute.length-1)">;</ng-container>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="!activateDialog">
    {{property.name?property.name.__str__:""}}
    <ng-container *ngFor="let a of property.attribute; let k=index">
      {{a.__str__}}<ng-container *ngIf="k!=(property.attribute.length-1)">;</ng-container>
    </ng-container>
  </ng-container>

</ng-container>

<sp-dialog #dialog>
  <div class="property" *ngIf="property && dialog.opened">
    <h5>
      {{property.name.__str__}}
      <ng-container *ngFor="let a of property.attribute; let k=index">
        {{a.__str__}}<ng-container *ngIf="k!=(property.attribute.length-1)">;</ng-container>
      </ng-container>
    </h5>

    <div>
      <b>Type: </b> {{property.type.__str__}}<br/>
      <b>LSL: </b> {{property.lsl}} {{property.uom.__str__}}<br/>
      <b>Target: </b> {{property.target}} {{property.uom.__str__}}<br/>
      <b>USL: </b> {{property.usl}} {{property.uom.__str__}}<br/>
      <b>Test Method: </b> {{testMethod?testMethod.__str__:"-"}}<br/>
      <b>Internal: </b> {{property.internal}}<br/>
      <b>Calculated: </b> {{property.calculated}}<br/>
      <ul style="margin:0" *ngIf="property.calculated">
        <li><b>Formula:</b> <span matTooltip="{{property.formula.description}}" matTooltipPosition="right">{{property.formula.__str__}}</span></li>
        <li><b>Parameters:</b>
            <ng-container *ngFor="let p of property.parameter_list">
              <sp-property [propertyPK]="p.parameter"></sp-property>;&nbsp;
            </ng-container>
        </li>
      </ul>
      <b>Notes: </b> {{property.note?property.note:"-"}}<br/>
    </div>
  </div>
</sp-dialog>


