<div class="row main">
  <div class="col s2">
    <fieldset>
      <legend>{{tr('STATUS')}}</legend>
      <div *ngFor="let s of statusesFiltersCP">
        <mat-checkbox [(ngModel)]="s.active" color="primary">{{s.status.__str__}}</mat-checkbox>
      </div>
    </fieldset>

    <div class="select-filter">
      <user-sites (siteChange)="siteSelected($event)" [initialValue]="siteRef?siteRef:null"></user-sites>
    </div>

    <div class="cpn-selector">
      <div class="select-filter">
        <mat-form-field>
          <mat-select [(ngModel)]="organization.pk" (ngModelChange)="getDepartments()"
                      [placeholder]="tr('ORGANIZATION')" class="full-width">
            <mat-option *ngFor="let o of organizations" [value]="o.pk">{{o.__str__}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="select-filter">
        <mat-form-field *ngIf="organization.pk">
          <mat-select [(ngModel)]="department.pk" (ngModelChange)="getCPN()"
                      [placeholder]="tr('DEPARTMENT')" class="full-width">
            <mat-option *ngFor="let d of departments" [value]="d.pk"> {{d.__str__}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="select-filter">
        <mat-form-field *ngIf="department.pk" >
          <mat-select [(ngModel)]="companyPositionNameFilter"
                      [placeholder]="tr('COMPANY_POSITION_NAME')" class="full-width">
            <mat-option *ngFor="let cpn of companyPositionNames" [value]="cpn.pk">{{cpn.__str__}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div class="filter-button-container flex" style="padding:10px 0">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="reload();">
        <mat-icon>search</mat-icon>
      </button>
    </div>

  </div>
  <div class="col s10">
    <sp-table-with-pages #table [ready]="ready" [headerConf]="headerConf" [noItemsMessage]="noItemsMessage" [getData]="loadCompanyPositions.bind(this)" [expandDataAsync]="true"
                         [expandData]="expandDataPosition.bind(this)" [nResults]="20" [availableActions]="[]" [clickable]="true" (rowclick)="goToCompanyPosition($event)"></sp-table-with-pages>
  </div>
</div>
