<ng-container><div class="row main">


  <div class="col m3 s12 model_card_cont">
    <mat-card class="model_card">
      <mat-card-content class="main">
        <div>

          <div class="col s12">
            <table>
              <tr>
                <td width="5px">
                  <mat-icon>domain</mat-icon>
                </td>
                <td>
                  <user-sites *ngIf="activateUserSiteComponent" #siteSelector [appName]="'mes'" (siteChange)="changeSite($event)" [initialValue]="(selected_site && selected_site.pk)?selected_site:null"></user-sites>
                </td>
              </tr>
            </table>
          </div>

          <b class="right green-text" (click)="loadAll()" style="padding-right: 20px;">Reset</b>

          <table class="bordered highlight">
            <tr *ngFor="let wc of workcenters" (click)="changeWc(wc)">
              <td style="padding-left: 20px; background-color: lightgreen;" *ngIf="selected_wc==wc.sap_code"><h6>{{wc.sap_code}}- {{wc.description}}</h6></td>
              <td style="padding-left: 20px;" *ngIf="selected_wc!=wc.sap_code"><h6>{{wc.sap_code}}- {{wc.description}}</h6></td>
            </tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>

    <button mat-fab class="logout" (click)="logout()">
      <mat-icon class="md-24">power_settings_new</mat-icon>
    </button>
    <div class="setting">
      <sp-settings>
        <div style="min-width:400px; min-height: 400px">
          <sp-language-selector></sp-language-selector>
        </div>
      </sp-settings>
    </div>

  </div>

  <div class="col m9 s12">
    <div class="row" *ngIf="!bool">

      <mat-slide-toggle color="primary" class="right" [checked]="released" style="margin-bottom: 0px;" (change)="changeReleased()"><sp-ng-translate [value]="'VIEW_RELEASE'"></sp-ng-translate></mat-slide-toggle>
      <table class="bordered striped">
        <th><sp-ng-translate [value]="'WORK_ORDER'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'PACK_INS'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'MATERIAL'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'WORK_CENTER'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'QUANTITY'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'ACTIONS'"></sp-ng-translate></th>
        <!--<th><sp-ng-translate [value]="'STATUS'"></sp-ng-translate></th>-->
        <tr *ngFor="let wo of workorders">

          <td>{{wo.WorkOrderNumber}}</td>
          <td>{{wo|packagingDescription}}</td>
          <td>{{wo.MatDescription}}</td>
          <td>
            {{getWorkCenters(wo)}}
          </td>
          <td>{{wo.ConfirmedQuantity|ExpThousandsSeparator}}/{{wo.RequiredQuantity|ExpThousandsSeparator}}</td>
          <td>
            <mat-icon *ngIf="wo.Status=='WORKING'" (click)="changeWo(wo)">remove_red_eye</mat-icon>
            <mat-icon *ngIf="wo.Status=='RELEASED'" (click)="openWo(wo)">lock_open</mat-icon>
          </td>
        <!--  <td>{{wo.Status}}</td>-->
        </tr>
      </table>
    </div>
    <mes-wo-view *ngIf="bool && selected_wo && siteSelector.sites.length>0" [workorder]="selected_wo" [currentSite]="selected_site" [siteList]="siteSelector.sites"></mes-wo-view>
    <button mat-fab class="close" (click)="closeWo()" *ngIf="bool">
      <mat-icon class="md-24">highlight_off</mat-icon>
    </button>
  </div>
</div>

  <sp-dialog-confirm #popupMessageIndex [confirmFunction]="emptyFunc.bind(this)" [title]="popupHeaderTitle" [headerColor]="popupMessageHeaderColor">
    <div class="row">
      {{popupMessageResponse}}
    </div>
  </sp-dialog-confirm>

</ng-container>


