.model_card_cont{
  overflow: hidden;
  margin: 0px;
  padding-left: 0px;
  position: relative;
  cursor: pointer;
  height: calc(100% - 90px)!important;

}

.model_card{
  overflow: auto;
  height: 100%;
  padding:2px;
}

.main{
  height: 100%;
}

.logout {
  position:fixed;
  bottom:20px;
  /*left: 100px;*/
  left:20px;
}

.setting{
  position:fixed;
  bottom:20px;
  /*left: 100px;*/
  left:100px;
}

.close{
  position:fixed;
  bottom:20px;
  /*left: 100px;*/
  right:20px;
}

