<ng-container *ngIf="wipToEdit && ready">

  <div class="row">
    <div class="col s12">
      <button mat-fab class="serioplast-grey" (click)="back()" style="margin:10px 0">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
  </div>


  <div class="row main content-container">
    <div class="col s4">
      <mat-card>
        <ng-container *ngIf="!createMode">
          <div>
            <fixed-field [label]="'Material'" [value]="materialSAP.Code+' - '+materialSAP.Description"></fixed-field>
          </div>
          <div>
            <fixed-field [label]="'Packing Instruction'" [value]="wipToEdit.PackInstruction"></fixed-field>
          </div>
          <div>
            <fixed-field [label]="'Organization'" [value]="salesOrganization.SalesOrganizationCode+' - '+salesOrganization.Description"></fixed-field>
          </div>
          <div>
            <fixed-field [label]="'Customer'" [value]="customer.Customer+' - '+customer.Name"></fixed-field>
          </div>
          <div>
            <fixed-field [label]="'Ship to party'" [value]="shipToParty.Customer+' - '+shipToParty.Name"></fixed-field>
          </div>
          <div>
            <fixed-field [label]="'Plant'" [value]="wipToEdit.Plant|siteSapCode"></fixed-field>
          </div>
        </ng-container>

        <ng-container *ngIf="createMode">


           <material-selector (selectedMaterial)="selectedMaterial($event)"></material-selector>
           <div class="row">
            <div class="col s12 no-padding">
              <mat-select [placeholder]="'Packing Instruction'" class="full-width" [(ngModel)]="wipToEdit.PackInstruction">
                <mat-option value="">--</mat-option>
                <mat-option *ngFor="let p of packagings" [value]="p.Palletization">{{p.Palletization}} -
                  {{p.Description}}
                </mat-option>
              </mat-select>
            </div>
             <div class="col s12 no-padding">
               <mat-select [placeholder]="'Organization'" class="full-width" [(ngModel)]="organizationSerionet.pk"
                          (ngModelChange)="handleOrganizationChange()">
                 <mat-option value="">--</mat-option>
                 <mat-option *ngFor="let o of organizations" [value]="o.pk">{{o.__str__}}</mat-option>
               </mat-select>
             </div>
            <div class="col s12 no-padding">
              <mat-select [placeholder]="'Sales Organization'" class="full-width" [(ngModel)]="wipToEdit.SalesOrganization"
                         (ngModelChange)="handleSalesOrganizationChange()">
                <mat-option value="">--</mat-option>
                <mat-option *ngFor="let o of salesOrganizationsToShow" [value]="o.SalesOrganizationCode">
                  {{o.SalesOrganizationCode}} - {{o.Description}}
                </mat-option>
              </mat-select>
            </div>
            <div class="col s12 no-padding">
              <mat-select [placeholder]="'Customer'" class="full-width" [(ngModel)]="wipToEdit.Customer" (ngModelChange)="handleCustomerChange()">
                <mat-option value="">--</mat-option>
                <ng-container *ngFor="let c of customersToShow">
                  <mat-option [value]="c.Customer">{{c.Customer}} - {{c.Name}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </div>
            <div class="col s12 no-padding">
              <mat-select [placeholder]="'Ship to party'" class="full-width" [(ngModel)]="wipToEdit.ShipToParty">
                <mat-option value="">--</mat-option>
                <ng-container *ngFor="let c of shipToPartyToShow">
                  <mat-option [value]="c.Customer">{{c.Customer}} - {{c.Name}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </div>
            <div class="col s12 no-padding">
              <mat-select [placeholder]="'Plant'" class="full-width" [(ngModel)]="wipToEdit.Plant">
                <mat-option value="">--</mat-option>
                <mat-option *ngFor="let p of plantsToShow" [value]="p.Code">{{p.Code}} - {{p.Name}}</mat-option>
              </mat-select>
            </div>
          </div>
        </ng-container>

        <div class="row">
          <div class="col s6 no-padding">
            <date-input [placeholder]="'Valid From'" [(ngModel)]="wipToEdit.ValidFrom"></date-input>
          </div>
          <div class="col s6 no-padding">
            <date-input [placeholder]="'Valid To'" [(ngModel)]="wipToEdit.ValidTo"></date-input>
          </div>
        </div>

        <div style="width:200px">
          <mat-form-field>
            <input type="number" [(ngModel)]="wipToEdit.basePriceUnit" (ngModelChange)="updateCondsPriceUnit()" matInput placeholder="Price Unit ({{materialSAP.Uom}})"/>
          </mat-form-field>
        </div>
      </mat-card>
    </div>
    <div class="col s8">
      <ng-container *ngIf="wipToEdit.Material && conditions && conditions.length>0">

        <table #table class="mdl-data-table bordered striped noclick small">
          <thead>
          <tr>
            <th>
              Condition
            </th>
            <th>
              Helper
            </th>
            <!--<th>-->
              <!--Price Unit-->
            <!--</th>-->
            <th>
              Value
            </th>
            <th>
              Old Value
            </th>
            <th>
              Original Value
            </th>
          </tr>
          </thead>

          <tbody>
          <ng-container *ngFor="let i of wipToEdit.WIPConditionLink">
            <tr>
              <td>
                <span [matTooltip]="i.conditionName.Formula"> {{i.Condition + " - " + i.conditionName.Description}}</span>
              </td>
              <td>{{i.conditionName.Helper?i.conditionName.Helper:"-"}}</td>
              <!--<td>-->
                <!--<ng-container *ngIf="i.Currency!='%'">-->
                  <!--{{i.PriceUnit}} {{materialSAP.Uom}}-->
                <!--</ng-container>-->
                <!--<ng-container *ngIf="i.Currency=='%'">-</ng-container>-->
              <!--</td>-->
              <td>
                <ng-container *ngIf="!i.conditionName.NoEdit">
                  <input type="number" [(ngModel)]="i.Value" style="width:calc(100% - 100px); margin:0" step="0.01" (ngModelChange)="updateOldValue(i)"/> {{i.Currency}}
                  <ng-container *ngIf="i.conditionName.Formula">
                    / {{calcValue(wipToEdit,i)|currency:getWIPCurrency(wipToEdit,i, true):'symbol'}}
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="i.conditionName.NoEdit">
                  <ng-container *ngIf="i.conditionName.Rule=='T'">
                    <ng-container *ngIf="doesConditionHaveAllData(i)">
                      {{calculateTotal(i)|currency:i.Currency:'symbol'}}
                    </ng-container>
                    <ng-container *ngIf="!doesConditionHaveAllData(i)">
                      <mat-icon [matTooltip]="'Missing required data'">warning</mat-icon>
                    </ng-container>

                  </ng-container>
                  <ng-container *ngIf="i.conditionName.Rule!='T'">
                    <ng-container *ngIf="i.Currency!='%'">
                      {{i.Value|currency:i.Currency:'symbol'}}
                    </ng-container>
                    <ng-container *ngIf="i.Currency=='%'">
                      {{i.Value}}%
                    </ng-container>
                  </ng-container>

                </ng-container>
              </td>
              <td>
                <ng-container *ngIf="i.conditionName.Rule=='T'">
                  <ng-container *ngIf="doesConditionHaveAllData(i)">
                    {{calculateOldTotal(i)|currency:i.Currency:'symbol'}}
                  </ng-container>
                  <ng-container *ngIf="!doesConditionHaveAllData(i)">
                    <mat-icon [matTooltip]="'Missing required data'">warning</mat-icon>
                  </ng-container>

                </ng-container>
                <ng-container *ngIf="i.conditionName.Rule!='T'">
                  <ng-container *ngIf="i.Currency!='%'">
                    {{i.OldValue|currency:i.Currency:'symbol'}}
                  </ng-container>
                  <ng-container *ngIf="i.Currency=='%'">
                    {{i.OldValue}}%
                    <ng-container *ngIf="i.conditionName.Formula">
                      / {{calcOldValue(wipToEdit,i)|currency:getWIPCurrency(wipToEdit,i, true):'symbol'}}
                    </ng-container>
                  </ng-container>
                </ng-container>

              </td>
              <td>
                <ng-container *ngIf="i.Currency!='%'">
                  {{i.OriginalValue|currency:i.Currency:'symbol'}}
                </ng-container>
                <ng-container *ngIf="i.Currency=='%'">
                  {{i.OriginalValue}}%
                </ng-container>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>

  <div class="row nomargin">
    <div class="col s12" *ngIf="canSave()">
      <div class="flex" style="padding:10px">
        <span class="fill-remaining-space"></span>
        <button mat-mini-fab class="serioplast-green" (click)="save()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-container>

<mat-progress-spinner color="primary" *ngIf="!ready"></mat-progress-spinner>
