sp-settings {
  position:fixed;
  left:20px;
  bottom:20px;
}

.logout {
  position:absolute;
  bottom:20px;
  left: 100px;
}

.row.main.outlet {
  height:99%;
}

mat-tab-group {
  height: calc(100% - 70px);
}

*>>>.mat-tab-body-content,
*>>>.mat-tab-body-wrapper{
  height:100%;
}

.row.main {
  height:100%;
}

.container {
  height: 100%;
}

.main-container .row{
  width:100%;
  margin:0;
}

.main-container {
  padding:20px;
  height:100%;
}

table {
  background:white;
}

table.inner {
  font-size:13px;
}

.table-container {
  background:#b5dfb7;
  padding:10px;
}

.group-container {
  padding:20px;
}

.round {
  border-radius: 50%;
}

.avatar {
  width:50px;
  margin-right:20px;
}

***>>>.mat-radio-label-content{
  font-size:17px;
}

.filters {
  padding:10px;
}

.select-filter {
  margin-top:20px;
  padding:0px;
}

.cpn-selector {
  margin-top:20px;
  padding:10px;
  background:#eee
}
