<div class="row main outlet">
  <div class="flex">
    <h4>
      <sp-ng-translate [value]="'HR_RECRUITMENT'"></sp-ng-translate>
    </h4>
    <span class="fill-remaining-space"></span>
  </div>
  <mat-tab-group #tab (selectTabChange)="tabChange(tab)" [selectedIndex]="selectedIndex">
    <mat-tab [label]="tr('POSITIONS')">
      <hr-recruitment-positions *ngIf="selectedIndex==0"></hr-recruitment-positions>
    </mat-tab>
    <mat-tab [label]="tr('USERS')">
      <hr-recruitment-users *ngIf="selectedIndex==1"></hr-recruitment-users>
    </mat-tab>

    <mat-tab label="Direct Hire">
      <direct-hire *ngIf="selectedIndex==2"></direct-hire>
    </mat-tab>
  </mat-tab-group>
</div>






