<ul>
  <li>
    <mat-card>
      <h5>
        <sp-ng-translate [value]="'INSERT_COMMENT'"></sp-ng-translate>
      </h5>

      <form (submit)="addComment()">
        <div class="row">
          <div class="col s12">
            <mat-form-field  class="full-width">
              <textarea matInput [(ngModel)]="comment.message" required name="content"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div align="right">
          <button mat-mini-fab class="serioplast-green">
            <i class="material-icons">send</i>
          </button>
        </div>
      </form>


    </mat-card>
  </li>
</ul>
