material-selector>>>.col {
  padding:0;
}

sp-table-with-pages>>>table {
  font-size:13px;
}

*>>>span.circle {
  display:block;
  width:20px;
  height:20px;
  border-radius: 10px;
}

*>>>span.circle.red {
  background-color:red;
}

*>>>span.circle.green {
  background-color:green;
}

*>>>span.circle.yellow {
  background-color:yellow;
}

.pricelists {
  width:900px;
}

.period-dialog {
  width:900px;
}

.pricelist mat-icon {
  cursor:pointer;
}

*>>>.new {
  text-align: center;
  background-color:#82b1ff;
  color:black;
}

.status {
  margin-left:10px;
}



