<div class="row main">
  <div class="col s2">
    <sales-pricelist-filters #filters (reloadEvent)="reload($event)" (preventAccess)="preventAccess()"></sales-pricelist-filters>
  </div>
  <div class="col s10">
    <ng-container *ngIf="table.getSelectedItems().length>0">
      <button mat-mini-fab class="serioplast-green" (click)="openClonePriceDialog()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </ng-container>
    <sp-table-with-pages #table [small]="true" [headerConf]="headerConf" [nResults]="10" [availableActions]="availableActions"
                         [expandData]="expandData.bind(this)" [getData]="getPriceHeaders.bind(this)"
                        [noItemsMessage]="'No price header available'" [ready]="ready" [expandDataAsync]="true" [selectable]="true" [mode]="'sap'"></sp-table-with-pages>
  </div>
</div>

<sp-dialog #clonePriceDialog>
  <ng-container *ngIf="table.getSelectedItems().length">
    <div class="period row">
      <div class="col s6">
        <mat-select [placeholder]="'Period'" [(ngModel)]="newPeriodRange" (ngModelChange)="calcNewPeriodRange()" class="full-width">
          <mat-option value="MONTH">Next month</mat-option>
          <mat-option value="QUARTER">Next quarter</mat-option>
        </mat-select>
      </div>
      <div class="col s6">
        <div class="period-range" *ngIf="periodRange.length>0">
          New period: <b>{{periodRange[0]}} -> {{periodRange[1]}}</b>
        </div>
      </div>
    </div>
    <div class="pricelists">
      <div class="pricelist flex" *ngFor="let ph of getSelectedPricelists()">
        <div class="detail">
          {{ph.Organization}} -  {{ph.Customer}} - {{ph.Material}} - {{ph.Plant?ph.Plant:'-'}}
        </div>
        <div class="status">
          <ng-container *ngIf="periodRange.length>0">

            <div *ngIf="calcStatus(ph)=='OK'">
              <mat-icon class="green-text">done</mat-icon>
            </div>

            <div *ngIf="calcStatus(ph)=='WARN'">
              <mat-icon class="yellow-text" (click)="showPeriods(ph)">warning</mat-icon>
            </div>

            <div *ngIf="calcStatus(ph)=='KO'">
              <mat-icon class="red-text" (click)="showPeriods(ph)">clear</mat-icon>
            </div>

          </ng-container>
        </div>
        <div class="clone-status">
          {{ph.savedInProgress}}
        </div>
      </div>
    </div>
    <div class="flex" *ngIf="canCopy()">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" [matTooltip]="'Copy price headers'" (click)="copyPriceHeaders()"> <mat-icon>send</mat-icon></button>
    </div>
  </ng-container>
</sp-dialog>

<sp-dialog #periodsDialog>
  <div class="period-dialog">
    <sp-event-timeline [eventRows]="eventRows" [period]="'year'"></sp-event-timeline>
  </div>
</sp-dialog>
