<div class="row">
  <div *ngIf="trainingTypeCreateOpen" class="col s12">
    <mat-card class="main">
      <mat-card-content>
        <div class="row" *ngIf="onCreate">
          <h5>Create {{trainingType.label}}</h5>
        </div>
        <div class="row" *ngIf="!onCreate">
          <h5>Edit {{trainingType.label}}</h5>
        </div>
        <div class="row">
          <div class="col s4">
            <mat-form-field>
              <input matInput [placeholder]="tr('NAME')" type="text" [(ngModel)]="trainingType.label"/>
            </mat-form-field>
          </div>
          <div class="col s4">
            <mat-form-field *ngIf="trainingAreas">
              <mat-select name="area" [(ngModel)]="trainingType.area.pk" class="full-width" [placeholder]="tr('AREA')">
                <mat-option *ngFor="let area of trainingAreas" [value]="area.pk">
                  {{area.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div>
          <sp-save-undo (save)="saveTrainingType()" (undo)="undoTrainingType()"></sp-save-undo>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col s12 m3" style="padding-right: 70px;padding-top: 20px;padding-left: 20px;" *ngIf="!trainingTypeCreateOpen">
    <h5>Filters</h5><br>

    <mat-form-field>
      <input matInput [placeholder]="tr('SEARCH')" [(ngModel)]="trainingTypeFilter.label"/>
    </mat-form-field>

    <mat-form-field>
      <mat-select name="search-type"
                  [(ngModel)]="trainingTypeFilter.area" placeholder="Select type" style="width: 100%;">
        <mat-option>Select a value</mat-option>
        <mat-option *ngFor="let area of trainingAreas" [value]="area.pk">
          {{area.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green right" (click)="labelChange()"><mat-icon>search</mat-icon></button>
    </div>
  </div>

  <div class="col s12 m9" *ngIf="!trainingTypeCreateOpen">
    <mat-card>
      <div class="row">
        <div class="flex" style="margin-bottom:10px">
          <h5 style="margin: 0px;"><sp-ng-translate [value]="'TRAINING_TYPES'"></sp-ng-translate></h5>
          <span class="fill-remaining-space"></span>
          <mat-slide-toggle color="primary" [(ngModel)]="active" (ngModelChange)="trainingTypesTable.reload()">Active
          </mat-slide-toggle>
        </div>
        <sp-table-with-pages #trainingTypesTable [nResults]="15" [small]="true" [noItemsMessage]="noItemsMessageTrainingTypes"
                             [headerConf]="headerConfTrainingTypes"
                             [availableActions]="availableActions" [getData]="loadTrainingTypes.bind(this)"></sp-table-with-pages>

      </div>
      <div class="row">
        <div class="add-button-container flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'" (click)="createTrainingType()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

    </mat-card>


  </div>

</div>


