<ng-container *ngFor="let comment of comments">
  <sp-generic-comment-detail [comment]="comment"></sp-generic-comment-detail>
</ng-container>

<ng-container *ngIf="comments.length==0">
  <i>No comments available</i>
</ng-container>

<sp-generic-comment-add [contentType]="contentType" [objectId]="objectId" [reload]="reload.bind(this)" *ngIf="allowAdd"></sp-generic-comment-add>


