.centered {
  width:300px;
  margin:auto;
}

.centered mat-select {
  width:100%;
}

.save-button-container {
  padding:20px;
}

.dn.odd {
  background-color: #ddd;
}

.dn.even {
  background-color: #ccc;
}

.dn mat-checkbox>>>label {
  color:#000;
  font-size:12px;
}
