<div class="row" style="margin-top:10px">

  <div class="col s6" >
    <div class="centered">
      <user-sites [appName]="'deck'" (siteChange)="handleSendingPlantChange($event)" [label]="tr('RETURNING_PLANT')"></user-sites>
    </div>
  </div>
  <div class="col s6" *ngIf="receivingSites.length>0">
    <div class="centered">
      <mat-form-field>
        <mat-select [placeholder]="tr('RETURN_TO')" [(ngModel)]="receivingPlant.pk" (ngModelChange)="handleReceivingPlantChange()">
          <mat-option *ngFor="let s of receivingSites" [value]="s.pk">{{s.__str__}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="hu-container" *ngIf="sendingPlant.pk">
  <h5><sp-ng-translate [value]="'HANDLING_UNITS'"></sp-ng-translate></h5>
  <ng-container *ngIf="structures.length>0">
    <table class="mdl-data-table mdl-shadow--2dp striped noclick small" >
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">
          <sp-ng-translate [value]="'DELIVERY_NUMBER'"></sp-ng-translate>
        </th>
        <th class="mdl-data-table__cell--non-numeric">
          <sp-ng-translate [value]="'SSCC'"></sp-ng-translate>
        </th>
        <th class="mdl-data-table__cell--non-numeric">
          <sp-ng-translate [value]="'MATERIAL'"></sp-ng-translate>
        </th>
        <th class="mdl-data-table__cell--non-numeric">
          <sp-ng-translate [value]="'AMOUNT'"></sp-ng-translate>
        </th>
      </tr>
      </thead>

      <tbody>
      <ng-container *ngFor="let s of structures; let l = index;">
        <tr *ngFor="let hu of s.hus; let i=index">
          <td [attr.rowspan]="s.hus.length" *ngIf="i==0" [ngClass]="{odd:(l%2!=0),even:(l%2==0)}" class="dn mdl-data-table__cell--non-numeric">
            <mat-checkbox color="primary" [(ngModel)]="s.selected" (ngModelChange)="processHULinks()" class="small">
              {{s.DeliveryNumber}}
            </mat-checkbox>
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            {{hu.SSCC}}
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            {{hu.Material}}
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            {{parseFloat(hu.PackedQty)}} {{hu.Uom}}
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </ng-container>

  <div *ngIf="huReturns.length==0 && !loading">
    <div class="message">
      {{tr('NO_AVAILABLE_HUS')}}
    </div>
  </div>
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<div class="save-button-container flex" *ngIf="canSave()">
  <span class="fill-remaining-space"></span>
  <button mat-mini-fab class="serioplast-green" (click)="saveHUReturn()">
    <mat-icon>send</mat-icon>
  </button>
</div>





