<div>
  <h5>Active positions</h5>

  <div class="row">
    <div class="col s12">

      <ng-container *ngIf="table.getSelectedItems().length>0">
        <button mat-mini-fab class="serioplast-red" (click)="deleteSelectedCP(table.getSelectedItems(),table)">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>

      <sp-table-with-pages #table [nResults]="15" [noItemsMessage]="noItemsMessage" [headerConf]="headerConf"
                           [availableActions]="availableActions" [getData]="loadCurrentPositions.bind(this)" [selectable]="true" [ready]="ready"></sp-table-with-pages>
    </div>
  </div>
</div>
