<div class="row">
  <div class="col s12 m3">
    <h5>Filters</h5>
    <div class="row">
      <form>
        <mat-form-field>
          <input id="input1" name="search-name" type="text" [(ngModel)]="organizationFilter.name" matInput
                 [placeholder]="'Name'"/>
        </mat-form-field>

        <mat-form-field>
          <mat-select [(ngModel)]="organizationFilter.is_customer" name="customer" [placeholder]="'Is customer'">
            <mat-option value="">---</mat-option>
            <mat-option value="true">True</mat-option>
            <mat-option value="false">False</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [(ngModel)]="organizationFilter.is_supplier" name="supplier" [placeholder]="'Is supplier'">
            <mat-option value="">---</mat-option>
            <mat-option value="true">True</mat-option>
            <mat-option value="false">False</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-bottom:10px">
          <mat-select [(ngModel)]="organizationFilter.is_serioplast_group" name="supplier" [placeholder]="'Is Serioplast group'">
            <mat-option value="">---</mat-option>
            <mat-option value="true">True</mat-option>
            <mat-option value="false">False</mat-option>
          </mat-select>
        </mat-form-field>
        <sp-search-reset (search)="reload()" (reset)="reset()"></sp-search-reset>
      </form>
    </div>
  </div>


  <div class="col s12 m9">
    <mat-card>
      <div class="row">
        <div class="flex" style="margin-bottom:10px">
          <h5 style="margin: 0;">Organizations</h5>
          <span class="fill-remaining-space"></span>
          <mat-slide-toggle color="primary" [(ngModel)]="active" (ngModelChange)="organizationsTable.reload()"
                            style="position: relative;top:5px;">Active
          </mat-slide-toggle>
        </div>
        <sp-table-with-pages #organizationsTable [nResults]="15" [small]="true"
                             [noItemsMessage]="noItemsMessageOrganizations"
                             [headerConf]="headerConfOrganizations"
                             [availableActions]="availableActions"
                             [getData]="loadOrganizations.bind(this)"></sp-table-with-pages>

      </div>
      <div class="row">
        <div class="add-button-container flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'"
                  (click)="createOrganization()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

    </mat-card>


  </div>

</div>


