<table #table class="bordered striped noclick profits" *ngIf="costStructures && costStructures.length>0">
  <thead>
  <tr>
    <th class="year" width="10%">Year</th>
    <th>Voice</th>
    <th class="value-column">
      Actual
    </th>
    <th class="value-column">
      Planned
    </th>
    <th class="value-column">
      Variation
    </th>
    <th class="value-column">
      Financial Commit
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let cs of costStructures">
    <tr>
      <td [attr.rowspan]="cs.rows.length+2" class="center-align">
        <h5>
          {{cs.year}}
        </h5>
      </td>
    </tr>
    <ng-container *ngFor="let csr of cs.rows">
      <tr>
        <td class="left-align">{{csr.CostingRevenueDescription}} ({{csr.CostingRevenueVoice}})</td>
        <td class="right-align">
          <!--{{getFormattedValue(csr.ActualValue,csr.Currency)}}-->
          {{csr.ActualValue|currency:csr.Currency:true}}
        </td>
        <td class="right-align">
          <!--{{getFormattedValue(csr.PlannedValue,csr.Currency)}}-->
          {{csr.PlannedValue |currency:csr.Currency:true}}
        </td>
        <td class="right-align">
          <!--{{getFormattedValue((csr.ActualValue - csr.PlannedValue),csr.Currency)}}-->
          {{(csr.ActualValue - csr.PlannedValue) |currency:csr.Currency:true}}
        </td>
        <td class="right-align">
          <!--{{getFormattedValue(csr.FinancialCommit,csr.Currency)}}-->
          {{csr.FinancialCommit |currency:csr.Currency:true}}
        </td>
      </tr>
    </ng-container>
    <tr class="year-total">
      <td class="left-align"><b>Total</b></td>
      <td class="right-align">
        <!--{{getFormattedValue(calculateTotal(cs.rows,'ActualValue'),cs.rows[0].Currency)}}-->
        {{calculateTotal(cs.rows,'ActualValue')|currency:cs.rows[0].Currency:true}}
      </td>
      <td class="right-align">
        <!--{{getFormattedValue(calculateTotal(cs.rows,'PlannedValue'),cs.rows[0].Currency)}}-->
        {{calculateTotal(cs.rows,'PlannedValue')|currency:cs.rows[0].Currency:true}}
      </td>
      <td class="right-align">
        <!--{{getFormattedValue((calculateTotal(cs.rows,'ActualValue') - calculateTotal(cs.rows,'PlannedValue')),cs.rows[0].Currency)}}-->
        {{(calculateTotal(cs.rows,'ActualValue') - calculateTotal(cs.rows,'PlannedValue'))|currency:cs.rows[0].Currency:true}}
      </td>
      <td class="right-align">
        <!--{{getFormattedValue(calculateTotal(cs.rows,'FinancialCommit'),cs.rows[0].Currency)}}-->
        {{calculateTotal(cs.rows,'FinancialCommit')|currency:cs.rows[0].Currency:true}}
      </td>
    </tr>
  </ng-container>
  <tr *ngIf="costStructures.length>0" class="full-total">
    <td class="left-align"><b>Total</b></td>
    <td></td>
    <td class="right-align">
      <!--{{getFormattedValue(calculateTotalFull('ActualValue'),costStructures[0].rows[0].Currency)}}-->
      {{calculateTotalFull('ActualValue')|currency:costStructures[0].rows[0].Currency:true}}
    </td>
    <td class="right-align">
      <!--{{getFormattedValue(calculateTotalFull('PlannedValue'),costStructures[0].rows[0].Currency)}}-->
      {{calculateTotalFull('PlannedValue')|currency:costStructures[0].rows[0].Currency:true}}
    </td>
    <td class="right-align">
      <!--{{getFormattedValue((calculateTotalFull('ActualValue')-calculateTotalFull('PlannedValue')),costStructures[0].rows[0].Currency)}}-->
      {{(calculateTotalFull('ActualValue') - calculateTotalFull('PlannedValue'))|currency:costStructures[0].rows[0].Currency:true}}
    </td>
    <td class="right-align">
      <!--{{getFormattedValue(calculateTotalFull('FinancialCommit'),costStructures[0].rows[0].Currency)}}-->
      {{(calculateTotalFull('FinancialCommit'))|currency:costStructures[0].rows[0].Currency:true}}
    </td>
  </tr>

  </tbody>
</table>
<ng-container *ngIf="costStructures && costStructures.length==0">
  <div>
    <sp-ng-translate [value]="'NO_AVAILABLE_COSTS'"></sp-ng-translate>
  </div>
</ng-container>
