tr.full-total {
  background:#81c784   !important;
}

tr.year-total {
  background:#a5d6a7   !important;
}

th.year {
  width:75px;
}

table {
  background:white;
}

.value-column {
  width:10%;
}

th.value-column {
  text-align:right;
}
