sp-settings {
  position:fixed;
  left:20px;
  bottom:20px;
}

.row.main.outlet {
  overflow:auto;
}

mat-tab-group {
  height: calc(100% - 75px);
}


.logout {
  position:absolute;
  bottom:20px;
  left: 100px;
}

.row.main {
  height:100%;
}

.container {
  height: 100%;
}

.property_names .row, .attributes .row, .subtype .row {
  width:100%;
  margin:0;
}

.property_names, .attributes, .subtype {
  padding:20px;
  height:calc(100% - 40px);
}

table {
  background:white;
}

.create {
  margin:10px 0;
}

.property_names table, .attributes table, .subtype table {
  max-height:100%;
  overflow:auto;
}

.property_names form, .attributes form, .subtype form {
  background-color:#ddd;
  padding:20px;
}

form label {
  color:black;
}

.row.filters {
  background:white;
  padding:10px;
  margin-bottom:20px!important;
}

.no-results {
  padding: 20px;
  background: #eee;
}

.subtype-scroll {
  height:calc(100% - 210px);
  overflow:auto;
}

.subtype {
  height:100%;
}

.table-container {
  height:calc(100% - 60px);
  overflow: auto;
}

*>>>.mat-tab-body-content,
*>>>.mat-tab-body-wrapper{
  height:100%;
}

.material_type_container>mat-select{
  width:300px;
}

.toggle-container {
  padding:20px;
}

.toggle-container.onlyToggle {
  padding:0 20px 0 0;
}

.toggle-container .fill-remaining-space {
  padding:0 20px;
}

mat-select[name=material_type__mainMaterialLink],mat-select[name=material_type_subtypeLink] {
  width:100%;
}

.toggle-container mat-select {
  width:200px;
}

*>>>td ul {
  margin:0;
}

.add-button-container {
  padding:20px;
}

*>>> .mat-column-actions {
  max-width:165px!important;
}

