<div class="row main">

  <div class="col s12">

    <div class="row main outlet">
      <div class="flex">
        <h4>
          <sp-ng-translate [value]="'RD-DASHBOARD'"></sp-ng-translate>
        </h4>
        <span class="fill-remaining-space"></span>
      </div>

      <mat-tab-group #tab (selectTabChange)="handleTabChange($event)">
        <mat-tab [label]="tr('PROPERTY_NAMES')">

          <div *ngIf="selectedIndex==0" class="property_names">
            <div *ngIf="propertyNamesCreateOpen" class="row">
              <div class="form-group">
                <mat-form-field>
                  <input type="text" class="form-control" id="name" name="name" required
                         [(ngModel)]="propertyName.name" matInput [placeholder]="'Name'">
                </mat-form-field>
              </div>
              <sp-save-undo (undo)="undoEditPropertyName()" (save)="savePropertyName()"></sp-save-undo>
            </div>
            <div *ngIf="!propertyNamesCreateOpen" class="row nomargin table-container">
              <div class="flex toggle-container onlyToggle">
                <span class="fill-remaining-space"></span>
                <mat-slide-toggle color="primary" [(ngModel)]="propertyNamesActive"
                                  (ngModelChange)="propertyNamesTable.reload()">Active
                </mat-slide-toggle>
              </div>

              <sp-table-with-pages #propertyNamesTable [nResults]="5000" [small]="true"
                                   [noItemsMessage]="noItemsMessagePropertyNames" [headerConf]="headerConfPropertyNames"
                                   [availableActions]="availableActionsPropertyNames"
                                   [getData]="loadPropertyNames.bind(this)" [showIndex]="propertyNamesActive"
                                   [indexOnLeft]="true"></sp-table-with-pages>


            </div>
            <div class="add-button-container flex" *ngIf="!propertyNamesCreateOpen">
              <span class="fill-remaining-space"></span>
              <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create"
                      [matTooltipPosition]="'below'" (click)="createPropertyName();propertyNamesCreateOpen = true; ">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>

        </mat-tab>
        <mat-tab [label]="tr('ATTRIBUTE')">
          <div *ngIf="selectedIndex==1" class="attributes">
            <div *ngIf="attributeCreateOpen" class="row">
              <mat-form-field *ngIf="attribute">
                <input type="text" class="form-control" id="attribute_name" name="attribute_name" required
                       [(ngModel)]="attribute.label" matInput [placeholder]="'Name'">
              </mat-form-field>
              <sp-save-undo (save)="saveAttribute()" (undo)="undoEditAttribute()"></sp-save-undo>
            </div>
            <div *ngIf="!attributeCreateOpen" class="row nomargin table-container">
              <div class="flex toggle-container onlyToggle">
                <span class="fill-remaining-space"></span>
                <mat-slide-toggle color="primary" [(ngModel)]="attributesActive"
                                  (ngModelChange)="attributesTable.reload()">
                  Active
                </mat-slide-toggle>
              </div>
              <sp-table-with-pages #attributesTable [nResults]="5000" [small]="true"
                                   [noItemsMessage]="noItemsMessageAttributes" [headerConf]="headerConfAttributes"
                                   [availableActions]="availableActionsAttributes" [getData]="loadAttributes.bind(this)"
                                   [showIndex]="attributesActive" [indexOnLeft]="true"></sp-table-with-pages>

            </div>
            <div class="add-button-container flex" *ngIf="!attributeCreateOpen">
              <span class="fill-remaining-space"></span>
              <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create"
                      [matTooltipPosition]="'below'" (click)="createAttribute();attributeCreateOpen = true; ">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </mat-tab>
        <mat-tab [label]="tr('MATERIAL_SUBTYPE')" #subtypeContainer>
          <div *ngIf="selectedIndex==2" class="row">
            <div class="col s12">
              <app-rd-dashboard-subtypes></app-rd-dashboard-subtypes>
            </div>
          </div>
        </mat-tab>
        <mat-tab [label]="tr('MATERIAL_SUBTYPE_LINK')" #subtypeLinkContainer>
          <div *ngIf="selectedIndex==3" class="subtype">
            <div class="row" *ngIf="subtypeLinkCreateOpen">
              <h5>
                <sp-ng-translate [value]="'CREATE'" *ngIf="!materialSubtypeLink.pk"></sp-ng-translate>
                <sp-ng-translate [value]="'EDIT'" *ngIf="materialSubtypeLink.pk"></sp-ng-translate>
                &nbsp;
                <sp-ng-translate [value]="'MATERIAL_SUBTYPE_LINK'"></sp-ng-translate>
                <sp-ng-translate [value]="'FOR'"></sp-ng-translate>
                {{materialSubtypeLink.app.__str__}}
              </h5>
              <!--<form (submit)="saveSubtypeLink()" *ngIf="materialSubtypeLink">-->
              <div class="row">
                <div class="col s4">
                  <mat-form-field *ngIf="!materialSubtypeLink.pk">
                    <input matInput [placeholder]="tr('MATERIAL_SUBTYPE')"
                           [value]="materialSubtypeLink.subtype_id? materialSubtypeLink.subtype_id.__str__:'-'"
                           [disabled]="true" style="width:calc(100% - 80px)"/>
                    <sp-dialog #subtypeLinkSubtypeDialog [closeByOverlayClick]="false" [behind]="true"
                               [dialogClass]="'fill-width'">
                      <app-rd-dashboard-subtypes [complete]="false" [typeToFilter]="materialSubtypeLink.app.pk"
                                                 [typeToFilterCategory]="'subtype'"
                                                 (subtypeSelected)="selectedSubtypeSubtypeLink($event)"></app-rd-dashboard-subtypes>
                    </sp-dialog>
                    <button *ngIf="!materialSubtypeLink.subtype_id||!materialSubtypeLink.subtype_id.pk" mat-mini-fab
                            (click)="subtypeLinkSubtypeDialog.open()" type="button" class="serioplast-green">
                      <mat-icon>add</mat-icon>
                    </button>
                    <mat-icon style="margin-left:10px" (click)="materialSubtypeLink.subtype_id = null"
                              *ngIf="materialSubtypeLink.subtype_id&& materialSubtypeLink.subtype_id.pk">delete</mat-icon>
                  </mat-form-field>

                  <mat-form-field *ngIf="materialSubtypeLink.pk">
                    <input matInput [placeholder]="tr('MATERIAL_SUBTYPE')"
                           [value]="materialSubtypeLink.subtype_id? materialSubtypeLink.subtype_id.__str__:'-'"
                           [disabled]="true"/>
                  </mat-form-field>
                </div>

                <div class="col s4">
                  <mat-form-field>
                    <input type="text" class="form-control" id="sap_code" name="sap_code" required
                           [(ngModel)]="materialSubtypeLink.sap_code" matInput [placeholder]="tr('SAP_CODE')">
                  </mat-form-field>
                </div>

                <div class="col s12">
                  <sp-save-undo (undo)="undoCreateSubtypeLink()" (save)="saveSubtypeLink()"></sp-save-undo>
                </div>

              </div>
            </div>
            <div class="row nomargin" *ngIf="!subtypeLinkCreateOpen">
              <ng-container *ngFor="let t of materialTypes">
                <app-rd-dashboard-subtypes-links [materialType]="t" [fieldname]="'subtype'"
                                                 (editMaterialSubtypeLink)="editMaterialSubtypeLink($event)"
                                                 (createMaterialSubtypeLink)="createMaterialSubtypeLink($event)"></app-rd-dashboard-subtypes-links>
              </ng-container>
            </div>
          </div>
        </mat-tab>
        <mat-tab [label]="tr('MAIN_MATERIAL_LINK')" #mainMaterialLinkContainer>
          <div *ngIf="selectedIndex==4" class="subtype subtypelink">
            <div class="row" *ngIf="mainMaterialLinkCreateOpen">
              <h5>
                <sp-ng-translate [value]="'CREATE'" *ngIf="!mainMaterialLink.pk"></sp-ng-translate>
                <sp-ng-translate [value]="'EDIT'" *ngIf="mainMaterialLink.pk"></sp-ng-translate>
                &nbsp;
                <sp-ng-translate [value]="'MAIN_MATERIAL_LINK'"></sp-ng-translate>
                <sp-ng-translate [value]="'FOR'"></sp-ng-translate>
                {{mainMaterialLink.app.__str__}}
              </h5>
              <div class="row">
                <div class="col s4">
                  <mat-form-field *ngIf="!mainMaterialLink.pk">
                    <input matInput [placeholder]="tr('MATERIAL_SUBTYPE')"
                           [value]="mainMaterialLink.subtype_id? mainMaterialLink.subtype_id.__str__:'-'"
                           [disabled]="true" style="width:calc(100% - 80px)"/>
                    <sp-dialog #mainMaterialLinkSubtypeDialog [closeByOverlayClick]="false" [behind]="true"
                               [dialogClass]="'fill-width'">
                      <app-rd-dashboard-subtypes [complete]="false" [typeToFilter]="mainMaterialLink.app.pk"
                                                 [typeToFilterCategory]="'main_material'"
                                                 (subtypeSelected)="selectedSubtypeMainMaterialLink($event)"></app-rd-dashboard-subtypes>
                    </sp-dialog>
                    <button *ngIf="!mainMaterialLink.subtype_id||!mainMaterialLink.subtype_id.pk" mat-mini-fab
                            (click)="mainMaterialLinkSubtypeDialog.open()" type="button" class="serioplast-green">
                      <mat-icon>add</mat-icon>
                    </button>
                    <mat-icon style="margin-left:10px" (click)="mainMaterialLink.subtype_id = null"
                              *ngIf="mainMaterialLink.subtype_id&& mainMaterialLink.subtype_id.pk">delete</mat-icon>
                  </mat-form-field>

                  <mat-form-field *ngIf="mainMaterialLink.pk">
                    <input matInput [placeholder]="tr('MATERIAL_SUBTYPE')"
                           [value]="mainMaterialLink.subtype_id? mainMaterialLink.subtype_id.__str__:'-'"
                           [disabled]="true"/>
                  </mat-form-field>
                </div>

                <div class="col s4">
                  <mat-form-field>
                    <input type="text" class="form-control" required
                           [(ngModel)]="mainMaterialLink.sap_code" matInput [placeholder]="tr('SAP_CODE')">
                  </mat-form-field>
                </div>

                <div class="col s12">
                  <sp-save-undo (undo)="undoCreateMainMaterialLink()" (save)="saveMainMaterialLink()"></sp-save-undo>
                </div>

              </div>
            </div>
            <div *ngIf="!mainMaterialLinkCreateOpen" class="row nomargin">
              <ng-container *ngFor="let t of materialTypesProducts">
                <app-rd-dashboard-subtypes-links [materialType]="t" [fieldname]="'main_material'"
                                                 (editMaterialSubtypeLink)="editMainMaterialLink($event)"
                                                 (createMaterialSubtypeLink)="createMainMaterialLink($event)"></app-rd-dashboard-subtypes-links>
              </ng-container>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<sp-dialog-confirm #positionDialog>
  Insert new position
  <input type="number" [(ngModel)]="positionToMoveTo">
</sp-dialog-confirm>






