<div class="row main">

  <div class="col s3 filters">
    <form>
      <mat-form-field>
        <mat-select name="type" [(ngModel)]="materialType"  [placeholder]="tr('MATERIAL_TYPE')">
          <mat-option [value]="">{{tr('ALL')}}</mat-option>
          <mat-option *ngFor="let t of materialTypes" [value]="t.pk">{{t.__str__}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input name="code" matInput [placeholder]="tr('CODE_OR_DESCRIPTION')" type="text" class="validate filter-input" [(ngModel)]="code_or_description">
      </mat-form-field>
      <mat-form-field>
        <mat-select name="site" [(ngModel)]="site.pk" [placeholder]="tr('SITE')">
          <mat-option [value]="">---</mat-option>
          <mat-option *ngFor="let s of sites" [value]="s.pk">{{s.__str__}}</mat-option>
        </mat-select>
      </mat-form-field>

      <sp-search-reset (reset)="reset()" (search)="reload()"></sp-search-reset>
    </form>


  </div>

  <div class="col s9">

    <sp-table-with-pages #materialsTable [availableActions]="availableActions" [noItemsMessage]="noItemsMessage" [nResults]="resultsPerPage" [getData]="loadMaterials.bind(this)" [headerConf]="headerConf"  [expandData]="expandDataSubTypes.bind(this)" [expandDataAsync]="true"></sp-table-with-pages>

  </div>

</div>
