input[auto-complete] {
  width:100%;
}

.>>>.ng2-auto-complete {
  width:100%;
}

.>>>.auto-complete input {
  width:100%!important;
}

.create {
  margin:20px;
}

.filters {
  padding-top:10px;
  padding-right:20px;
}

.filters mat-select {
  width:100%;
}

..flex {
  margin-top:0;
}

label.results {
  position:relative;
  top:auto;
  left:auto;
  margin-right:10px;
}

.material-icons.action {
  margin-right:20px;
}
