app .row.main {
  height:100%;
  margin-bottom:0;
}

app .row.main>.col{
  height:100%;
  overflow:auto;
}

.ng2-auto-complete+label {
  position: absolute;
  top: -14px;
  font-size: 0.8rem;
}

.select-dropdown {
  max-height:200px;
}



/*TABLET*/
@media only screen and (min-width: 600px) and (max-width: 1200px){
  app mat-card {
    padding:10px;
  }

  app mat-card-title {
    font-size:18px;
  }

  app mat-card-subtitle {
    font-size: 10px;
  }

  app md-list md-list-item .md-list-item{
    font-size:12px;
    height: 24px;
    padding:5px;
  }

  /*Aggiungo una classe di colonne che si applica al solo tablet*/

   app .row .col.t1 {
    width:8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  app .row .col.t2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  app .row .col.t3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  app .row .col.t4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  app .row .col.t5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  app .row .col.t6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  app .row .col.t7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  app .row .col.t8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  app .row .col.t9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  app .row .col.t10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  app .row .col.t11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  app .row .col.t12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  app .row .col.offset-t1 {
    margin-left: 8.3333333333%
  }

  app .row .col.pull-t1 {
    right: 8.3333333333%
  }

  app .row .col.push-t1 {
    left: 8.3333333333%
  }

  app .row .col.offset-t2 {
    margin-left: 16.6666666667%
  }

  app .row .col.pull-t2 {
    right: 16.6666666667%
  }

  app .row .col.push-t2 {
    left: 16.6666666667%
  }

  app .row .col.offset-t3 {
    margin-left: 25%
  }

  app .row .col.pull-t3 {
    right: 25%
  }

  app .row .col.push-t3 {
    left: 25%
  }

  app .row .col.offset-t4 {
    margin-left: 33.3333333333%
  }

  app .row .col.pull-t4 {
    right: 33.3333333333%
  }

  app .row .col.push-t4 {
    left: 33.3333333333%
  }

  app .row .col.offset-t5 {
    margin-left: 41.6666666667%
  }

  app .row .col.pull-t5 {
    right: 41.6666666667%
  }

  app .row .col.push-t5 {
    left: 41.6666666667%
  }

  app .row .col.offset-t6 {
    margin-left: 50%
  }

  app .row .col.pull-t6 {
    right: 50%
  }

  app .row .col.push-t6 {
    left: 50%
  }

  app .row .col.offset-t7 {
    margin-left: 58.3333333333%
  }

  app .row .col.pull-t7 {
    right: 58.3333333333%
  }

  app .row .col.push-t7 {
    left: 58.3333333333%
  }

  app .row .col.offset-t8 {
    margin-left: 66.6666666667%
  }

  app .row .col.pull-t8 {
    right: 66.6666666667%
  }

  app .row .col.push-t8 {
    left: 66.6666666667%
  }

  app .row .col.offset-t9 {
    margin-left: 75%
  }

  app .row .col.pull-t9 {
    right: 75%
  }

  app .row .col.push-t9 {
    left: 75%
  }

  app .row .col.offset-t10 {
    margin-left: 83.3333333333%
  }

  app .row .col.pull-t10 {
    right: 83.3333333333%
  }

  app .row .col.push-t10 {
    left: 83.3333333333%
  }

  app .row .col.offset-t11 {
    margin-left: 91.6666666667%
  }

  app .row .col.pull-t11 {
    right: 91.6666666667%
  }

  app .row .col.push-t11 {
    left: 91.6666666667%
  }

  app .row .col.offset-t12 {
    margin-left: 100%
  }

  app .row .col.pull-t12 {
    right: 100%
  }

  app .row .col.push-t12 {
    left: 100%
  }
}

/*DESKTOP*/
@media only screen and (min-width: 1200px){
  app mat-card-title {
    font-size:24px;
  }

  app mat-card-subtitle {
    font-size: 14px;
  }

  app md-list md-list-item .md-list-item{
    font-size:16px;
    height: 20px;
  }
}
