@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/*@import url("https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.css");*/

@import url("https://code.getmdl.io/1.3.0/material.green-red.min.css");

@import url("material-responsive-fix.css");

@import url("theme-fix.css");

html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

.language .flag {
  height:32px;
  width:32px;
}

app {
    width:100%;
    height:100%;
}

app>.loading {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.clear {
    float:none;
    clear:both;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.flex {
  display: flex!important;
  align-items: center;
  flex-direction: row;
}

.flex.vertical {
  display: flex!important;
  align-items: baseline;
  flex-direction: column;
}

.mat-tab-disabled {
  color: #ddd!important;
}

.row.nomargin {
  margin-bottom:0!important;
}

.tag {
  padding:5px 10px;
  border-radius:14px;
  font-size:12px;
}

.row.main {
  height:100%;
}

.row.main>.col {
  height:100%;
}

.serioplast-green {
  background:#4CAF50!important;
  color:white!important;
}

.serioplast-grey {
  background:#9e9e9e !important;
  color:white!important;
}

.serioplast-white {
  background:#ffffff!important;
  color:black!important;
}

.serioplast-red {
  background:#F44336!important;
  color:white!important;
}

.serioplast-blue {
  background:#2196F3!important;
  color:white!important;
}

button[md-micro-fab] {
  width:30px;
  height:30px;
}

button[md-micro-fab] .material-icons {
  padding: 3px 0;
}

.full-width {
  width:100%;
}

.circle-app {
  width:100%;
  height:100%;
  border-radius:50%;
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-app .icon{
 font-size:24px;
}


.square {
  position: relative;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square .content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.centerAll {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:8vw;
}

input:-webkit-autofill {
  background:inherit;
}

:focus {
  outline: none!important;
}

mat-form-field {
  width:100%;
}

.hidden {
  display:none!important;
}

label.small {
  font-size: 0.8rem;
  color: #9e9e9e;
}

ul.table-of-contents {
  list-style-type: none;
  padding:0;
}

.mat-card {
  box-sizing:border-box;
}

.nomargin {
  margin:0;
}

.cdk-global-overlay-wrapper .cdk-overlay-pane {
  overflow:auto;
}

.mdl-data-table.striped>tbody>tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.mdl-data-table.striped tbody tr:hover {
  background-color: #ddd;
}

.mdl-data-table td {
  white-space: normal;
}

/**
 * Paging
 */

.mdl-paging {
  color: rgba(0, 0, 0, 0.54);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 56px;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  font-size:12px;
}

.mdl-paging > * {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.mdl-list + .mdl-paging {
  margin: 0;
}

.mdl-paging__per-page {
  position: relative;
}

.mdl-paging__per-page-label {
  /*margin-right: 40px;*/
}

.mdl-paging__per-page-value {
  /*position: absolute;*/
  /*right: 36px;*/
  /*top: 6px;*/
}

.mdl-paging__per-page + .mdl-paging__count {
  margin-left: 24px;
}

.mdl-paging .mdl-menu {
  min-width: 64px;
}

.mdl-paging__prev:last-child {
  margin-right: 44px;
}

.mdl-paging__count + .mdl-paging__prev {
  margin-left: 24px;
}

.mdl-paging__prev + .mdl-paging__next {
  margin-left: 12px;
}

.mdl-paging__count + .mdl-paging__next {
  margin-left: 68px;
}

fieldset {
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-top-color: threedface;
  border-right-color: threedface;
  border-bottom-color: threedface;
  border-left-color: threedface;
  border-image: initial;;
  -webkit-margin-end: 2px;
  -webkit-margin-start: 2px;
  -webkit-padding-after: 8.75px;
  -webkit-padding-before: 4.9px;
  -webkit-padding-end: 10.5px;
  -webkit-padding-start: 10.5px;
  -webkit-border-image: none;
}

.mdl-list.small .mdl-list__item {
  padding:5px;
  font-size:12px;
  min-height:30px;
}
