app mat-card-subtitle {
  color:black;
}

.dialogs-container mat-card {
  background-color: white;
  color:black;
}

app mat-card > mat-card-actions:last-child {
  margin-bottom:0;
}

app i.material-icons {
  cursor:pointer;
}

app mat-icon {
  cursor:pointer;
}

app mat-chip.text {
  display:flex;
}

app mat-chip .text {
  line-height:24px;
  margin-right:5px;
}

app mat-radio-button[color=primary] .mat-radio-outer-circle{
  border-color:#4CAF50;
}

app mat-radio-button[color=primary] .mat-radio-inner-circle{
  background-color:#4CAF50;
}

/*app table.small td, th{*/
  /*padding:5px!important;*/
/*}*/
.cdk-overlay-container {
  z-index: 10000;
}

snack-bar-container.success{
  background-color: green;
}
snack-bar-container.warning simple-snack-bar{
  color: black;
}

snack-bar-container.warning{
  background-color: gold;
}
snack-bar-container.error{
  background-color: red;
}

app mat-select.full-width {
  width:100%;
}

app mat-select.full-width .mat-select-trigger {
  width:100%;
}

app mat-select.full-width {
  width:100%;
}

app .markdown ul:not(.browser-default) li {
  list-style-type: disc;
  margin-left: 20px;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.6);
}

.mat-input-element:disabled {
  color: rgba(0, 0, 0, 0.87)
}

.mat-form-field-disabled .mat-form-field-underline {
  background:none;
}

.no-padding-dialog .mat-dialog-container {
  padding:0;
}

mat-accordion.small mat-expansion-panel-header {
  height:30px!important;
}

.hideInput .mat-input-element {
  display: none;
}

.mdl-data-table {
  width:100%;
}

.mdl-data-table th, .mdl-data-table td {
  text-align: left;
}

.mat-input-wrapper {
  width:100%;
}

.sap.mat-mini-fab .mat-button-wrapper {
  padding:2px 0!important;
}


