<mat-card class="task-card" [ngClass]="{noclick:disableClick, onHold:isOnHold(),aborted:isAborted(),feasibility:task.feasibility}" (click)="selectTask()">
  <mat-card-subtitle [style]="getBgColor()">
    <div class="flex">
      <b>{{task.sap_name}} - {{task.name}}</b>
      <span class="fill-remaining-space"></span>
      <span *ngIf="task.next_status && ready" style="font-size:10px; cursor:pointer;" matTooltip="Waiting for approval">
        <sap-icon  [iconName]="'workflow-tasks'"> </sap-icon>
      </span>

      <!--<mat-icon >visibility_on</mat-icon>-->
    </div>
  </mat-card-subtitle>
  <mat-card-content>
    <div style="padding:10px">
      {{task.description}}
      <div class="flex">
        {{task.site?task.site.__str__:'-'}}
        <span class="fill-remaining-space"></span>
        <div>
          <sp-user [userPK]="task.assignee.user.pk" [small]="true"></sp-user>
        </div>
      </div>
      <ul *ngIf="task.children">
        <li *ngFor="let s of task.children">
          <div class="flex">
            <span class="dot" [style]="getSubTaskStyle(s)"></span>
            &nbsp;
            {{s.sap_name}} - {{s.name}}
            <span class="fill-remaining-space"></span>
          </div>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>


