.task-card, .task-card-full {
  padding:0;
}

.task-card {
  cursor:pointer;
  margin-bottom:10px;
}

mat-card-title, mat-card-subtitle {
  /*background:#cdeecb;*/
  padding:10px;
  border-bottom:3px solid #aaa;
}

sp-user>>>table {
  height:100%;
}

sp-user>>>table td {
 padding:0 5px;
}

mat-card-header>>>.mat-card-header-text {
  margin-left:5px;
}

.dot {
  display:inline-block;
  width:20px;
  height:20px;
  border-radius: 10px;
}

.dot.blue {
  background-color: blue;
}

.task-card-full {
  width:900px;
  min-height:600px;
}

.desc-container {
  height:300px;
  overflow: auto;
}

.noclick{
  cursor:default;
}

.onHold {
  background-color: #ddd;
}

.aborted {
  background-color: #ccc;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #eee 10px, #eee 20px);
}

.feasibility:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 16px 0 0 16px;
  border-style: solid;
  border-color: #01579b  #01579b  #fff #fff ;
  background: #01579b;
  /* Firefox 3.0 damage limitation */
  display: block; width: 0;
  z-index:9999;
}
