<div class="container">
  <div class="row">
    <div class="col s12">
      <h4>Project Management</h4>
    </div>
  </div>
  <div class="filters">
    <div class="row">
      <div class="col s6">
        <mat-form-field>
          <input matInput placeholder="{{tr('NAME')}}" type="text" [(ngModel)]="nameFilter" class="full-width">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{tr('ID')}}" type="text" [(ngModel)]="idFilter" class="full-width">
        </mat-form-field>

        <user-search [label]="'Leader'" (userSelected)="leaderSelected($event)"></user-search>
      </div>
      <div class="col s6">
        <div class="row nomargin">
          <div class="col s6">
            <fieldset>
              <legend>Types</legend>
              <div *ngFor="let pt of typesFilters" >
                <mat-checkbox [(ngModel)]="pt.active" color="primary">{{pt.pt.__str__}}</mat-checkbox>
              </div>
            </fieldset>
          </div>
          <div class="col s6">
            <fieldset>
              <legend>Status</legend>
              <div *ngFor="let sf of statusFilters">
                <mat-checkbox  [(ngModel)]="sf.active" color="primary">{{sf.status.__str__}}</mat-checkbox>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <div class="flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="reloadProjects()"><mat-icon>search</mat-icon></button>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <sp-table-with-pages #projectsTable [getData]="getProjects.bind(this)" [nResults]="nResults" [availableActions]="availableActions" [headerConf]="headerConf" [noItemsMessage]="noItemsMessage" [clickable]="true" (rowclick)="editProject($event)"></sp-table-with-pages>
      <div class="add-button-container flex">
        <button class="serioplast-blue" mat-mini-fab (click)="downloadCSV()">
          <mat-icon>file_download</mat-icon>
        </button>
        <span class="fill-remaining-space"></span>
        <button class="serioplast-green" mat-mini-fab [routerLink]="['detail','create']">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
