<div class="row nomargin">
  <div class="col s2">
    <button mat-fab class="serioplast-grey back" (click)="back()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div class="col s12">
    <mat-card style="margin-bottom:20px; background-color:#ddd">
      <mat-card-content>
        <ng-container *ngFor="let i of [(materialId|materialCode|async)]">
          <ng-container *ngIf="i">{{i.code}} - {{i.description}}</ng-container>
        </ng-container>
      </mat-card-content>
    </mat-card>

    <div class="plant" *ngFor="let mp of matPrices">
      <div>
        <div class="row nomargin">
          <div class="col s2">
            <mat-form-field>
              <input matInput [placeholder]="'Plant'" [value]="mp.Plant|siteSapCode" [disabled]="true"/>
            </mat-form-field>
          </div>
          <div class="col s2">
            <mat-form-field>
              <input matInput [placeholder]="'Type'" [value]="mp.PriceControlLabel" [disabled]="true"/>
            </mat-form-field>
          </div>
          <div class="col s2 ">
            <mat-form-field>
              <input matInput type="number" [placeholder]="'Price ('+mp.Currency+')'" [(ngModel)]="mp.Price"/>
            </mat-form-field>
          </div>
          <div class="col s2">
            <mat-form-field>
              <input matInput type="number" [placeholder]="'Price unit ('+mp.Uom+')'" [(ngModel)]="mp.PriceUnit" [disabled]="mp.noEditUnit"/>
            </mat-form-field>
          </div>
          <div class="col s2 " *ngIf="mp.PriceControl=='S'">
            <date-input [placeholder]="'Price Date'" [(ngModel)]="mp.PriceDate"></date-input>
          </div>
          <div class="col s2" [ngClass]="{'offset-s2':(mp.PriceControl!='S')}">
            <div class="flex" style="height:80px">
              <span class="fill-remaining-space"></span>
              <button mat-mini-fab class="serioplast-green" *ngIf="canSaveMP(mp)" (click)="savePrice(mp)">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


