<div class="row main">

  <div class="col s3 filters" style="padding-top:20px">

    <user-sites #siteSelector [appName]="'rfid-trays'" (siteChange)="changeSite($event)" [initialValue]="(site && site.pk)?site:null"></user-sites>

    <mat-form-field *ngIf="materialTypes.length>0">
      <mat-select [(ngModel)]="materialType"  [placeholder]="tr('MATERIAL_TYPE')">
        <mat-option [value]="">{{tr('ALL')}}</mat-option>
        <mat-option *ngFor="let t of materialTypes" [value]="t.pk">{{t.__str__}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input id="code" type="text" class="validate filter-input" [(ngModel)]="code_or_description" matInput [placeholder]="tr('CODE_OR_DESCRIPTION')">
    </mat-form-field>

    <div class="flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="materialsTable.reload()"><mat-icon>search</mat-icon></button>
    </div>

  </div>

  <div class="col s9">

    <ng-container *ngIf="site && site.pk">
      <div class="flex" style="margin: 20px 0;">
        <span class="fill-remaining-space"></span>
        <button mat-mini-fab class="serioplast-green" (click)="openDialogPrint()" *ngIf="materialsTable && materialsTable.getSelectedItems().length > 0"><mat-icon>print</mat-icon></button>
      </div>
      <sp-table-with-pages #materialsTable [availableActions]="availableActions" [noItemsMessage]="noItemsMessage" [nResults]="resultsPerPage" [getData]="loadMaterials.bind(this)" [headerConf]="headerConf" [selectable]="true"></sp-table-with-pages>
    </ng-container>
  </div>

</div>


<sp-dialog #printDialog [closeByOverlayClick]="true">
  <div class="print-dialog">
      <div class="col s4" *ngIf="printers.length>0">
        <mat-form-field>
          <mat-select [(ngModel)]="printer" [placeholder]="tr('PRINTERS')">
            <mat-option *ngFor="let p of printers" [value]="p.Name">{{p.Name}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col s4 " *ngIf="printer">
        <mat-form-field>
          <input type="number" id="copies" [(ngModel)]="copies" matInput [placeholder]="tr('COPIES')"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="printers && printer && copies">
      <div class="col s12">
        <div class="flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab class="serioplast-green" (click)="printRFIDTags()"><mat-icon>print</mat-icon></button>
        </div>
      </div>
    </div>

</sp-dialog>

