.wtt-header {
  background-color: whitesmoke;
  margin-bottom:0;
  padding:5px;
  border-bottom:1px solid #e0e0e0;
  font-weight:bold;
}

.wtt-content {
  background-color: rgba(76,175,80, 0.2);
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #4caf50;
}

.wtt-content-package {
  background-color: rgba(76,175,80, 0.5);
}

mat-chip.worktool {
  outline: none;
  background-color: white;
  margin: 2px;
  cursor: pointer;
}

.similarity {
  color: #4CAF50;
  cursor: pointer;
}
