<div style="padding-top:20px">
  <div class="row nomargin">
    <div class="col s8 offset-s2">
      <sp-stepper #stepper>
        <sp-stepper-item [nextCondition]="step1ProceedCondition.bind(this)" (onConfirm)="step1ProceedConfirm()">
          <sp-stepper-item-title>User selection</sp-stepper-item-title>
          <sp-stepper-item-content-active>
            <div class="row">
              <div class="col s3 ">
                <mat-form-field>
                  <input type="text" [(ngModel)]="personalInfo.first_name" matInput placeholder="Name"/>
                </mat-form-field>
              </div>
              <div class="col s4 ">
                <mat-form-field>
                  <input type="text" [(ngModel)]="personalInfo.last_name" matInput placeholder="Surname"/>
                </mat-form-field>
              </div>
              <div class="col s4 ">
                <mat-form-field>
                  <input type="email" [(ngModel)]="user.email" matInput placeholder="E-mail"/>
                </mat-form-field>
              </div>
              <div class="col s1">
                <button class="serioplast-grey" mat-mini-fab (click)="searchSimilarities()">
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </div>
            <div class="similarities" *ngIf="similaritiesActive">
              <ng-container *ngIf="similarities.length==0">
                <sp-ng-translate [value]="'NO_SIMILARITIES_FOUND'"></sp-ng-translate>
              </ng-container>
              <ng-container *ngIf="similarities.length>0">
                <h6><sp-ng-translate [value]="'MAYBE_YOU_WERE_SEARCHING'"></sp-ng-translate></h6>
                <ul>
                  <li *ngFor ="let s of similarities" (click)="selectResult(s)" class="similarity"> {{s.first_name}} {{s.last_name}}</li>
                </ul>
              </ng-container>
            </div>
          </sp-stepper-item-content-active>
          <sp-stepper-item-content-inactive>
            <div class="row" *ngIf="stepper.globalIndex>0">
              <div class="col s4">
                <fixed-field [label]="tr('NAME')" [value]="personalInfo.first_name"></fixed-field>
              </div>
              <div class="col s4">
                <fixed-field [label]="tr('SURNAME')" [value]="personalInfo.last_name"></fixed-field>
              </div>
              <div class="col s4">
                <fixed-field [label]="tr('E_MAIL')" [value]="user.email"></fixed-field>
              </div>
            </div>
          </sp-stepper-item-content-inactive>
        </sp-stepper-item>
        <sp-stepper-item [nextCondition]="step2ProceedCondition.bind(this)" (onConfirm)="step2ProceedConfirm()"
                         (onPrevious)="step2Previous()">
          <sp-stepper-item-title>Badge selection</sp-stepper-item-title>
          <sp-stepper-item-content-active>
            <div class="row">
              <div class="col s6">
                <user-sites (siteChange)="siteChange($event)"></user-sites>
              </div>
              <div class="col s6">
                <mat-form-field *ngIf="badges.length>0">
                  <mat-select class="full-width" [placeholder]="tr('BADGE')" [(ngModel)]="badgeUserRef.badge.pk"
                              (ngModelChange)="fixBadge()" >
                    <mat-option *ngFor="let b of badges" [value]="b.pk">{{b.__str__}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <span *ngIf="badges.length==0"><sp-ng-translate [value]="'NO_BADGES_AVAILABLE_FOR_PLANT'"></sp-ng-translate></span>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <date-input [placeholder]="'Start date'" [(ngModel)]="badgeUserRef.start_date"></date-input>
              </div>
              <div class="col s6 ">
                <date-input [placeholder]="'End date'" [(ngModel)]="badgeUserRef.end_date"></date-input>
              </div>
            </div>
            <div class="row">
              <div class="col s6 ">
                <mat-form-field>
                  <input type="text" [(ngModel)]="badgeUserRef.external_doc_id" matInput placeholder="Document ID"/>
                </mat-form-field>
              </div>
              <div class="col s6">
                <mat-form-field>
                  <mat-select class="full-width" [placeholder]="tr('LANGUAGE')" [(ngModel)]="badgeUserRef.language">
                    <mat-option *ngFor="let l of djangolanguages" [value]="l.value">{{l.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <mat-form-field>
                  <textarea class="materialize-textarea" [(ngModel)]="badgeUserRef.notes" matInput [placeholder]="'Notes'"></textarea>
                </mat-form-field>
              </div>
            </div>
          </sp-stepper-item-content-active>
          <sp-stepper-item-content-inactive>
            <ng-container *ngIf="badgeUserRef && badgeUserRef.badge">
              <div class="row">
                <div class="col s4">
                  <fixed-field [label]="'Badge'" [value]="badgeUserRef.badge.__str__"></fixed-field>
                </div>
                <div class="col s2">
                  <fixed-field [label]="'Start date'" [value]="badgeUserRef.start_date"></fixed-field>
                </div>
                <div class="col s2">
                  <fixed-field [label]="'End date'" [value]="badgeUserRef.end_date"></fixed-field>
                </div>
                <div class="col s2">
                  <fixed-field [label]="'Document ID'" [value]="badgeUserRef.external_doc_id"></fixed-field>
                </div>
                <div class="col s2">
                  <fixed-field [label]="tr('LANGUAGE')" [value]="badgeUserRef.language"></fixed-field>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <fixed-field [label]="'Notes'" [value]="badgeUserRef.notes"></fixed-field>
                </div>
              </div>
              <div class="row" *ngIf="stepper.globalIndex==2">
                <div class="col s12">
                  <div class="save-button-container flex">
                    <button mat-mini-fab class="serioplast-grey" (click)="backLastStep()">
                      <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <span class="fill-remaining-space"></span>
                    <button mat-mini-fab class="serioplast-green" (click)="saveData()">
                      <mat-icon>send</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </sp-stepper-item-content-inactive>
        </sp-stepper-item>
        <!--<sp-stepper-item [nextCondition]="step3ProceedCondition.bind(this)" (onConfirm)="step3ProceedConfirm()"-->
                         <!--(onPrevious)="step3Previous()">-->
          <!--<sp-stepper-item-title>Worktool assignments</sp-stepper-item-title>-->
          <!--<sp-stepper-item-content-active>-->
            <!--<div class="row" *ngIf="appWtt && appWtt.pk">-->
              <!--<div class="col s6">-->
                <!--<div style="margin-bottom: 10px;">-->
                  <!--<h6 class="wtt-header" style="">{{appWtt.name}}</h6>-->
                  <!--<div class="wtt-content">-->
                    <!--<mat-chip-list>-->
                      <!--<mat-chip *ngFor="let wt of appWtt.objects" class="worktool"-->
                               <!--(click)="addWorktooltoUser(appWtt,wt)">-->
                        <!--<div class="flex full-height">-->
                          <!--{{wt.__str__}}-->
                          <!--<mat-icon>keyboard_arrow_right</mat-icon>-->
                        <!--</div>-->
                      <!--</mat-chip>-->

                    <!--</mat-chip-list>-->
                  <!--</div>-->

                <!--</div>-->
              <!--</div>-->
              <!--<div class="col s6">-->
                <!--<div style="margin-bottom: 10px;">-->
                  <!--<h6 class="wtt-header" style="">App</h6>-->
                  <!--<div class="wtt-content wtt-content-package">-->
                    <!--<mat-chip-list>-->
                      <!--<mat-chip *ngFor="let uwt of userWorkTools" class="worktool" (click)="removeUserWorktool(uwt)">-->
                        <!--<div class="flex full-height">-->
                          <!--{{uwt.__str__}}-->
                          <!--<mat-icon>close</mat-icon>-->
                        <!--</div>-->
                      <!--</mat-chip>-->

                    <!--</mat-chip-list>-->
                  <!--</div>-->

                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</sp-stepper-item-content-active>-->
          <!--<sp-stepper-item-content-inactive>-->
            <!--<label>Apps</label>-->
            <!--<div class="fixed-field">-->
              <!--<ng-container *ngFor="let uwt of userWorkTools; let isLast=last">-->
                <!--{{uwt.__str__}}<ng-container *ngIf="!isLast">;</ng-container>-->
              <!--</ng-container>-->
            <!--</div>-->
          <!--</sp-stepper-item-content-inactive>-->
        <!--</sp-stepper-item>-->
      </sp-stepper>
    </div>
  </div>
</div>

