<div class="row main">
  <div class="col s12 m3">
    <h5><sp-ng-translate [value]="'FILTERS'"></sp-ng-translate></h5><br>
    <form>
      <mat-form-field>
        <input matInput [placeholder]="tr('FULL_NAME')" type="text" name="name" [(ngModel)]="hrprofileFilter.__str__" autocomplete="off"/>
      </mat-form-field>
      <sp-search-reset (search)="reload()" (reset)="reset()"></sp-search-reset>
    </form>
  </div>

  <div class="col s12 m9">
    <mat-card>
      <div class="row">
        <div class="flex" style="margin-bottom:10px">
          <h5 style="margin: 0px;"><sp-ng-translate [value]="'EMPLOYEES'"></sp-ng-translate></h5>
          <span class="fill-remaining-space"></span>
        </div>
        <sp-table-with-pages #employeesTable [nResults]="15" [small]="true" [noItemsMessage]="noItemsMessageEmployees"
                             [headerConf]="headerConfhremployees"
                             [availableActions]="availableActions" [getData]="loadEmployees.bind(this)"></sp-table-with-pages>

      </div>

    </mat-card>


  </div>

</div>


