<div class="main-container">
  <div class="row">
    <div class="row filters">
      <div class="col s2" *ngIf="assetTypes.length>0">
        <mat-form-field>
          <mat-select [(ngModel)]="assetTypePK" (ngModelChange)="handleAssetTypeFilterChange()"
                      [placeholder]="tr('TYPE')">
            <mat-option [value]="">{{tr('ALL')}}</mat-option>
            <mat-option *ngFor="let t of assetTypes" [value]="t.pk">{{t.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s2" *ngIf="assetSubtypes.length>0">
        <mat-form-field>
          <mat-select [(ngModel)]="assetSubtypePK" (ngModelChange)="handleAssetSubtypeFilterChange()"
                      [placeholder]="tr('SUBTYPE')">
            <mat-option [value]="">{{tr('ALL')}}</mat-option>
            <mat-option *ngFor="let t of assetSubtypes" [value]="t.pk">{{t.__str__}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{tr('TEXT_SEARCH')}}" [(ngModel)]="text_search_asset" (keyup)="assetSearchChange()">
        </mat-form-field>
      </div>
      <div class="col s3">
        <mat-form-field>
          <mat-select [(ngModel)]="siteAssetFilter" (ngModelChange)="assetTable.reload()" [placeholder]="tr('LOCATION')"
                      class="full-width">
            <mat-option [value]="">---</mat-option>
            <mat-option *ngFor="let s of sitesAssetFilter" [value]="s.pk">{{s.__str__}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s2 no-padding" align="right" [ngClass]="{'offset-s2':assetSubtypes.length==0}">
        <div class="flex">
          <span class="fill-remaining-space"></span>
          <mat-slide-toggle color="primary" [(ngModel)]="assetActive"
                            (ngModelChange)="assetTable.reload()">Active
          </mat-slide-toggle>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 no-padding">
        <sp-table-with-pages #assetTable [noItemsMessage]="noItemsMessageAssets"
                             [headerConf]="headerConfAssets"
                             [availableActions]="availableActionsAssets" [getData]="loadAssets.bind(this)"
                             (editItem)="editAsset.bind(this)($event)"
                             (deleteItem)="deleteAsset.bind(this)($event)"
                             (restoreItem)="restoreAsset.bind(this)($event)"
                             [nResults]="10" [mode]="'serionet'"></sp-table-with-pages>

        <div class="flex">
          <span class="fill-remaining-space"></span>
          <button type="button" mat-mini-fab class="serioplast-green create" (click)="createAsset()">
            <i class="material-icons">add</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<sp-dialog #assetViewDialog>
  <ng-container *ngIf="assetToShow && assetToShow.pk">
    <div class="row asset-view">
      <div class="col s8">
        <b>
          <sp-ng-translate [value]="'NAME'"></sp-ng-translate>
        </b>: {{assetToShow.name}}<br/>
        <b>
          <sp-ng-translate [value]="'TYPE'"></sp-ng-translate>
        </b>: {{assetToShow.type.__str__}}<br/>
        <b>
          <sp-ng-translate [value]="'MANUFACTURER'"></sp-ng-translate>
        </b>: {{assetToShow.manufacturer.__str__}}<br/>
        <b>
          <sp-ng-translate [value]="'MODEL'"></sp-ng-translate>
        </b>: {{assetToShow.model}}<br/>
        <b>
          <sp-ng-translate [value]="'LOCATION'"></sp-ng-translate>
        </b>: {{assetToShow.location.__str__}}<br/>
        <b>
          <sp-ng-translate [value]="'STATUS'"></sp-ng-translate>
        </b>: {{assetToShow.status.__str__}}<br/>
        <b>
          <sp-ng-translate [value]="'DESCRIPTION'"></sp-ng-translate>
        </b>: {{assetToShow.description}}<br/>
      </div>
      <div class="col s4">
        <img class="responsive-img" src="{{assetToShow.photo.__str__}}"
             *ngIf="assetToShow.photo && assetToShow.photo.__str__">
      </div>
    </div>
  </ng-container>
</sp-dialog>
