*>>>.fc-unthemed td.fc-today {
  background:inherit;
}

.event-edit {
  width: 100%;
  padding: 10px;
  background: #eee;
  margin-top: 20px;
}

.profile-color {
  width:20px;
  height:20px;
  margin-right:20px;
}

*>>>.fc-toolbar.fc-header-toolbar h2 {
  font-size:20px;
}
