<!--<div style="height:100%">-->
  <!--<div class="row main nomargin" style="padding-top:20px">-->
    <!--<div class="col s9">-->
      <!--<angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>-->
    <!--</div>-->
    <!--<div class="col s3">-->
      <!--<div class="flex vertical" style="height:100%;">-->
        <!--<div style="width:100%">-->
          <!--<ng-container *ngFor="let cp of clockProfiles">-->
            <!--<div class="clock-profile flex">-->
              <!--<div class="profile-color" [style]="getProfileColor(cp)"></div>-->
              <!--<div class="profile-name">{{cp.__str__}}</div>-->
              <!--<mat-icon (click)="showCPDetails(cp)" style="margin-left:10px">visibility</mat-icon>-->
            <!--</div>-->
          <!--</ng-container>-->
          <!--<ng-container *ngIf="periodToEdit">-->
            <!--<div class="event-edit">-->
              <!--<div class="row">-->
                <!--<div class="col s12">-->
                  <!--<label>Date</label>-->
                  <!--<div class="ixed-field">-->
                    <!--<ng-container *ngIf="periodToEdit.start!=periodToEdit.end">-->
                      <!--{{periodToEdit.start}} -> {{periodToEdit.end}}-->
                    <!--</ng-container>-->
                    <!--<ng-container *ngIf="periodToEdit.start==periodToEdit.end">-->
                      <!--{{periodToEdit.start}}-->
                    <!--</ng-container>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="row" *ngIf="periodToEdit.workday">-->
                <!--<div class="col s12">-->
                  <!--<mat-select [placeholder]="'Clock Profile'" [(ngModel)]="periodToEdit.clock_profile.pk" class="full-width" (ngModelChange)="fixClockProfile()">-->
                    <!--<mat-option *ngFor="let cp of clockProfiles" [value]="cp.pk">{{cp.__str__}}</mat-option>-->
                  <!--</mat-select>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="row">-->
                <!--<div class="col s12">-->
                  <!--<mat-checkbox [(ngModel)]="periodToEdit.workday" [color]="'primary'">Workday</mat-checkbox>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="row">-->
                <!--<div class="col s12">-->
                  <!--<div class="flex">-->
                    <!--<button mat-mini-fab class="serioplast-grey" (click)="undoEditPeriod()"><mat-icon>undo</mat-icon></button>-->
                    <!--<span class="fill-remaining-space"></span>-->
                    <!--<button mat-mini-fab class="serioplast-green" (click)="saveEditPeriod()" *ngIf="(periodToEdit.workday)?(periodToEdit.clock_profile && periodToEdit.clock_profile.pk):true"><mat-icon>keyboard_return</mat-icon></button>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</ng-container>-->
        <!--</div>-->
        <!--<span class="fill-remaining-space"></span>-->
        <!--<div class="flex" *ngIf="hasDataToSave" style="padding:10px;width:100%">-->
          <!--<span class="fill-remaining-space"></span>-->
          <!--<button mat-mini-fab class="serioplast-green" (click)="saveData()"><mat-icon>send</mat-icon></button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<sp-dialog #cpDialog>-->
  <!--<div *ngIf="profileToShow">-->
    <!--<div>-->
      <!--<b>Start time: </b> {{profileToShow.start_time}}-->
    <!--</div>-->
    <!--<div>-->
      <!--<b>End time: </b> {{profileToShow.end_time}}-->
    <!--</div>-->
    <!--<div>-->
      <!--<b>Has Overtime: </b> {{profileToShow.overtime}}-->
    <!--</div>-->
    <!--<div>-->
      <!--<b>Has Shift: </b> {{profileToShow.shift}}-->
    <!--</div>-->
    <!--<div>-->
      <!--<b>Has Break: </b> {{profileToShow.break_period}}-->
    <!--</div>-->
    <!--<div *ngIf="profileToShow.break_period">-->
      <!--<b>Start Break: </b> {{profileToShow.start_break_period}}-->
    <!--</div>-->
    <!--<div *ngIf="profileToShow.break_period">-->
      <!--<b>End Break: </b> {{profileToShow.end_break_period}}-->
    <!--</div>-->
  <!--</div>-->
<!--</sp-dialog>-->
