.index {
  width:24px;
  height:24px;
  line-height: 24px;
  border-radius: 50%;
  margin-right:20px;
  text-align:center;
  color:white;
}

.index.active {
  background:green;
}

.index.inactive {
  background: rgba(0, 0, 0, 0.38);

}

.step {
  font-size:14px;
}

.step.active {
  color:rgba(0, 0, 0, 0.87);
}

.step.inactive {
  color:rgba(0, 0, 0, 0.38);
}

.left-border {
  margin:10px 0 10px 12px;
  border-left:1px solid #BDBDBD;
  padding-left:12px;

}

.stepper-content-empty {
  height:50px;
}

