<ng-container *ngIf="isReady()">
  <div class="stepper-header flex" *ngIf="isReady()">
    <div class="index" [ngClass]="getClass()">
      {{index+1}}
    </div>
    <div class="step">
      <ng-content select="sp-stepper-item-title"></ng-content>
    </div>
  </div>

  <!-- This section is shown when this item is active-->
  <div class="stepper-content-active left-border" *ngIf="globalIndex==index">
    <ng-content select="sp-stepper-item-content-active"></ng-content>
    <div class="next-container flex" >
      <button mat-mini-fab class="serioplast-grey" *ngIf="index!=0" (click)="previous()"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="confirm()" *ngIf="nextCondition && nextCondition()"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>

  <!-- This section is shown when this item has been filled-->
  <div class="stepper-content-inactive left-border" *ngIf="globalIndex>index">
    <ng-content select="sp-stepper-item-content-inactive"></ng-content>
  </div>

  <!-- This section is shown when this item is not yet been reached-->
  <div class="stepper-content-empty left-border" *ngIf="globalIndex<index">

  </div>
</ng-container>





