<mat-tab-group #tab (selectTabChange)="handleTabChange()">
  <mat-tab label="Job Titles">
    <job-titles *ngIf="selectedIndex==0"></job-titles>
  </mat-tab>
  <mat-tab label="Packages">
    <package-item *ngIf="selectedIndex==1" #PackageItemComp (onSavePackage)="onSavePackage($event)"></package-item>
  </mat-tab>
  <mat-tab label="Package assignments">
    <global-packages *ngIf="selectedIndex==2" ></global-packages>
  </mat-tab>
  <mat-tab label="Skills ">
    <skill-list *ngIf="selectedIndex==3" ></skill-list>
  </mat-tab>
  <mat-tab label="Event Subtype">
    <event-subtypes *ngIf="selectedIndex==4" ></event-subtypes>
  </mat-tab>
  <mat-tab label="Event Subtype Link">
    <event-subtypes-links *ngIf="selectedIndex==5" ></event-subtypes-links>
  </mat-tab>
  <mat-tab label="Training Types">
    <trainingtype-list *ngIf="selectedIndex==6" ></trainingtype-list>
  </mat-tab>
  <mat-tab label="Day Week Profiles" [disabled]="true">
    <day-week-profiles *ngIf="selectedIndex==7" ></day-week-profiles>
  </mat-tab>
  <mat-tab label="Clock Profiles" [disabled]="true">
    <clock-profiles *ngIf="selectedIndex==8" ></clock-profiles>
  </mat-tab>
</mat-tab-group>


