/*mat-select{*/
  /*width:100%;*/
  /*margin:0 0 20px 0;*/
/*}*/

.no-results {
  padding:10px;
  background:#eee;
}

.table-container {
  padding:10px;
  background:#ddd;
  margin-bottom:10px;
}

.table-container.inactive {
  background:#aaa;
}

/*table {*/
  /*background:white;*/
/*}*/

h5, h6 {
  margin-top:0;
}
