<!--LISTA-->
<ng-container *ngIf="!companyPositionNameCreateOpen">
  <div class="row" style="margin-top:10px">
    <div class="col s12 m3">
      <h5 class="nomargin">Filters</h5>
      <form >
        <mat-form-field>
          <mat-select placeholder="Select organization" [(ngModel)]="organizationFilter.pk" name="organization_filter"
                      (ngModelChange)="organizationFilterChange()">
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let org of organizations" [value]="org.pk">
              {{org.__str__}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select department" [(ngModel)]="companyPositionNameFilter.department_ref.pk" (ngModelChange)="loadAreasFilter()"
                      name="department_ref">
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let dep of departments" [value]="dep.pk">
              {{dep.__str__}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="companyPositionNameFilter.department_ref.pk && areasFilter.length>0">
          <mat-select placeholder="Select area" [(ngModel)]="companyPositionNameFilter.area_ref.pk"
                      name="area_ref">
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let a of areasFilter" [value]="a.pk">
              {{a.__str__}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select org level" [(ngModel)]="companyPositionNameFilter.org_level.pk"
                      name="org_level">
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let ol of organizationsLevels" [value]="ol.pk">
              {{ol.__str__}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'Name'" type="text" name="name" [(ngModel)]="companyPositionNameFilter.name"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'Job Description'" type="text" name="job_description"
                 [(ngModel)]="companyPositionNameFilter.job_description"/>
        </mat-form-field>
        <sp-search-reset (reset)="reset()" (search)="reload()"></sp-search-reset>
      </form>

    </div>

    <div class="col s12 m9">
      <mat-card>
        <div class="row">
          <div class="flex" style="margin-bottom:10px;">
            <h5 style="margin-bottom: 0;">Job Titles</h5>
            <span class="fill-remaining-space"></span>
            <mat-slide-toggle color="primary" [(ngModel)]="active" (ngModelChange)="companyPositionNamesTable.reload()">Active
            </mat-slide-toggle>
          </div>
          <sp-table-with-pages #companyPositionNamesTable [nResults]="15" [small]="true"
                               [noItemsMessage]="noItemsMessagecompanyPositionNames"
                               [headerConf]="headerConfcompanyPositionNames"
                               [availableActions]="availableActions"
                               [getData]="loadCompanyPositionNames.bind(this)"></sp-table-with-pages>

        </div>
        <div class="row">
          <div class="add-button-container flex">
            <span class="fill-remaining-space"></span>
            <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create"
                    [matTooltipPosition]="'below'"
                    (click)="createCompanyPositionName()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

      </mat-card>


    </div>
  </div>

</ng-container>

<!--MODIFICA/CREAZIONE-->
<ng-container *ngIf="companyPositionNameCreateOpen">
  <div class="row">
    <div class="col s6">
      <mat-card class="main">
        <mat-card-content>
          <div class="row" *ngIf="onCreate && !companyPositionName.pk">
            <h5>Create {{companyPositionName.name}}</h5>
          </div>
          <div class="row" *ngIf="companyPositionName.pk">
            <h5>Edit {{companyPositionName.name}}</h5>
          </div>
          <div class="row">
          </div>
          <div class="form-group">
            <mat-form-field>
              <input matInput [placeholder]="'Name'" id="edit-name" name="edit-name" type="text"
                     [(ngModel)]="companyPositionName.name" required/>
            </mat-form-field>

            <markdown-textarea [object]="companyPositionName" [field]="'job_description'"
                               [label]="'Job description'"></markdown-textarea>

            <mat-form-field>
              <mat-select placeholder="Select department"
                          [(ngModel)]="companyPositionName.department_ref.pk" name="edit-department_ref" required (ngModelChange)="loadAreas()">
                <mat-option>Select a value</mat-option>
                <mat-option *ngFor="let dep of departmentsAll" [value]="dep.pk">
                  {{dep.__str__}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Select area"
                         [(ngModel)]="companyPositionName.area_ref.pk" name="edit-area_ref">
                <mat-option>Select a value</mat-option>
                <mat-option *ngFor="let a of areas" [value]="a.pk">
                  {{a.__str__}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Select org level"
                         [(ngModel)]="companyPositionName.org_level.pk" name="edit-org_level">
                <mat-option>Select a value</mat-option>
                <mat-option *ngFor="let ol of organizationsLevels" [value]="ol.pk">
                  {{ol.__str__}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-checkbox color="primary" [(ngModel)]="companyPositionName.direct_hire">Enable direct hire</mat-checkbox>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col s6">
      <mat-card class="main">
        <mat-card-content>
          <div class="row">
            <h5>Edit Hierarchy</h5>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col s12">
                <mat-form-field>
                  <mat-select [placeholder]="tr('ORGANIZATION')" [(ngModel)]="companyPositionHierarchyOrganization"
                              (ngModelChange)="loadCPHDepartments()">
                    <mat-option *ngFor="let o of organizationsHierarchy" [value]="o.pk">{{o.__str__}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col s12" *ngIf="companyPositionHierarchyOrganization">
                <mat-form-field>
                  <mat-select [placeholder]="tr('DEPARTMENT')" [(ngModel)]="companyPositionHierarchyDepartment"
                              (ngModelChange)="loadCPHCPN()">
                    <mat-option>Select a value</mat-option>
                    <mat-option *ngFor="let d of departmentsHierarchy" [value]="d.pk">
                      {{d.__str__}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col s12" *ngIf="companyPositionHierarchyDepartment">
                <mat-form-field>
                  <mat-select placeholder="Select parent" [(ngModel)]="companyPositionHierarchy.parent"
                              name="edit-parent">
                    <mat-option>Select a value</mat-option>
                    <mat-option *ngFor="let cp of companyPositionNamesHierarchy" [value]="cp.pk">
                      {{cp.__str__}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card class="main" *ngIf="cpnSkillEditOpen">
        <mat-card-content>
          <div class="row" *ngIf="onCreate">
            <h5>Assign Skill</h5>
          </div>
          <div class="row" *ngIf="!onCreate">
            <h5>Edit Company Position Name Skill</h5>
          </div>
          <div class="form-group">
            <div class="row">

              <div class="row">
                <div class="col s12">
                  <mat-form-field>
                    <mat-select placeholder="Select skill" [(ngModel)]="cpnSkillStatus.cpn_skill.skill.pk"
                                name="edit-skill"
                                (ngModelChange)="fixCpnSkillSkill()">
                      <mat-option>Select a value</mat-option>
                      <mat-option *ngFor="let skill of skills" [value]="skill.pk">
                        {{skill.__str__}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="col s12">
                <mat-form-field>
                  <mat-select placeholder="Select level" [(ngModel)]="cpnSkillStatus.cpn_skill.level.pk"
                              name="edit-level"
                              (ngModelChange)="fixCpnSkillLevel()">
                    <mat-option>Select a value</mat-option>
                    <mat-option *ngFor="let l of priorityLinks" [value]="l.pk">
                      {{l.__str__}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="flex">
              <sp-save-undo (undo)="undoEditCompanyPositionNameSkill()"
                            (save)="saveCompanyPositionNameSkillStatus(cpnSkillStatus)"></sp-save-undo>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="!cpnSkillEditOpen">
        <div class="row">
          <div class="flex">
            <h5>Skills</h5>
          </div>

          <div class="table-container active">
            <h6>Active</h6>

            <table class="mdl-data-table mdl-shadow--2dp noclick" *ngIf="getActiveCPNSkills().length>0">
              <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">
                  <sp-ng-translate [value]="'SKILL'"></sp-ng-translate>
                </th>
                <th class="mdl-data-table__cell--non-numeric" style="width:150px">
                  <sp-ng-translate [value]="'LEVEL'"></sp-ng-translate>
                </th>
                <th class="mdl-data-table__cell--non-numeric" style="width:100px">
                  <sp-ng-translate [value]="'ACTIONS'"></sp-ng-translate>
                </th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let cpnSkillStatus of getActiveCPNSkills()">
                <td class="mdl-data-table__cell--non-numeric">
                  <div class="flex">
                    <span [innerHTML]="cpnSkillStatus.cpn_skill.skill.pk|skillTypeIcon|async"
                          style="margin-right:10px"></span> {{cpnSkillStatus.cpn_skill.skill.__str__}}
                  </div>
                </td>
                <td class="mdl-data-table__cell--non-numeric">{{cpnSkillStatus.cpn_skill.level.__str__}}</td>
                <td class="mdl-data-table__cell--non-numeric">
                  <mat-icon matTooltip="Edit" [matTooltipPosition]="'below'"
                            (click)="editCompanyPositionNameSkillStatus(cpnSkillStatus)">edit
                  </mat-icon>
                  <mat-icon matTooltip="Delete" [matTooltipPosition]="'below'"
                            (click)="deleteCompanyPositionNameSkillStatus(cpnSkillStatus)">delete
                  </mat-icon>
                </td>
              </tr>
              </tbody>
            </table>

            <ng-container *ngIf="getActiveCPNSkills().length==0">
              <div class="no-results">
                <sp-ng-translate [value]="'NO_ACTIVE_CPN_SKILL_AVAILABLE'"></sp-ng-translate>
              </div>

            </ng-container>
          </div>

          <div class="table-container inactive">
            <h6>Inactive</h6>
            <table class="mdl-data-table mdl-shadow--2dp noclick noclick" *ngIf="getInactiveCPNSkills().length>0">
              <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">
                  <sp-ng-translate [value]="'SKILL'"></sp-ng-translate>
                </th>
                <th class="mdl-data-table__cell--non-numeric" style="width:150px">
                  <sp-ng-translate [value]="'LEVEL'"></sp-ng-translate>
                </th>
                <th class="mdl-data-table__cell--non-numeric" style="width:100px">
                  <sp-ng-translate [value]="'ACTIONS'"></sp-ng-translate>
                </th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let cpnSkillStatus of getInactiveCPNSkills()">
                <td class="mdl-data-table__cell--non-numeric">{{cpnSkillStatus.cpn_skill.skill.__str__}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{cpnSkillStatus.cpn_skill.level.__str__}}</td>
                <td class="mdl-data-table__cell--non-numeric">
                  <mat-icon matTooltip="Restore" [matTooltipPosition]="'below'"
                            (click)="restoreCompanyPositionNameSkillStatus(cpnSkillStatus)">open_in_browser
                  </mat-icon>
                </td>
              </tr>
              </tbody>
            </table>

            <ng-container *ngIf="getInactiveCPNSkills().length==0">
              <div class="no-results">
                <sp-ng-translate [value]="'NO_INACTIVE_CPN_SKILL_AVAILABLE'"></sp-ng-translate>
              </div>
            </ng-container>
          </div>

        </div>
        <div class="row">
          <div class="add-button-container flex">
            <span class="fill-remaining-space"></span>
            <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create"
                    [matTooltipPosition]="'below'"
                    (click)="createCompanyPositionNameSkill()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <sp-save-undo *ngIf="companyPositionNameCreateOpen" (save)="saveCPN()"
                    (undo)="undoCompanyPositionName()"></sp-save-undo>
    </div>
  </div>
</ng-container>





