<mat-accordion>

  <ng-content select="sp-accordion-item"></ng-content>

  <!--<mat-expansion-panel *ngFor="let item of items; let i = index; " [expanded]="step == i" (opened)="setStep(i)">-->
    <!--<mat-expansion-panel-header>-->
      <!--<mat-panel-title>-->
        <!--{{item.title}}-->
      <!--</mat-panel-title>-->
    <!--</mat-expansion-panel-header>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="First name">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput type="number" min="1" placeholder="Age">-->
    <!--</mat-form-field>-->

    <!--<mat-action-row>-->
      <!--<button mat-button color="primary" (click)="nextStep()">Next</button>-->
    <!--</mat-action-row>-->
  <!--</mat-expansion-panel>-->

  <!--<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">-->
    <!--<mat-expansion-panel-header>-->
      <!--<mat-panel-title>-->
        <!--Destination-->
      <!--</mat-panel-title>-->
      <!--<mat-panel-description>-->
        <!--Type the country name-->
        <!--<mat-icon>map</mat-icon>-->
      <!--</mat-panel-description>-->
    <!--</mat-expansion-panel-header>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Country">-->
    <!--</mat-form-field>-->

    <!--<mat-action-row>-->
      <!--<button mat-button color="warn" (click)="prevStep()">Previous</button>-->
      <!--<button mat-button color="primary" (click)="nextStep()">Next</button>-->
    <!--</mat-action-row>-->
  <!--</mat-expansion-panel>-->

  <!--<mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">-->
    <!--<mat-expansion-panel-header>-->
      <!--<mat-panel-title>-->
        <!--Day of the trip-->
      <!--</mat-panel-title>-->
      <!--<mat-panel-description>-->
        <!--Inform the date you wish to travel-->
        <!--<mat-icon>date_range</mat-icon>-->
      <!--</mat-panel-description>-->
    <!--</mat-expansion-panel-header>-->

    <!--<mat-action-row>-->
      <!--<button mat-button color="warn" (click)="prevStep()">Previous</button>-->
      <!--<button mat-button color="primary" (click)="nextStep()">End</button>-->
    <!--</mat-action-row>-->
  <!--</mat-expansion-panel>-->

</mat-accordion>



