<mat-expansion-panel [expanded]="false" (opened)="open()" >
  <mat-expansion-panel-header>
    <mat-panel-title>
      <ng-content select="sp-accordion-item-title"></ng-content>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-card>
    <ng-content select="sp-accordion-item-content"></ng-content>
  </mat-card>
</mat-expansion-panel>





