<ng-container *ngIf="editOpen">
  <div class="row">
    <div class="col s12">
      <h5>
        <sp-ng-translate [value]="'CREATE'" *ngIf="!eventSubtypeLink.pk"></sp-ng-translate>
        <sp-ng-translate [value]="'EDIT'" *ngIf="eventSubtypeLink.pk"></sp-ng-translate>
        <span><sp-ng-translate [value]="'EVENT_SUBTYPE_LINK'"></sp-ng-translate></span>
        <sp-ng-translate [value]="'FOR'"></sp-ng-translate>
        {{eventSubtypeLink.type.__str__}}
      </h5>
      <div class="form-container">


        <div class="row" >
          <div class="col s4">
            <mat-form-field>
              <mat-select [(ngModel)]="eventSubtypeLink.country" [placeholder]="tr('COUNTRY')" [disabled]="eventSubtypeLink.pk" (ngModelChange)="handleCountryChange()">
                <mat-option *ngFor="let c of countries" [value]="c[0]">{{c[1]}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col s4" *ngIf="eventSubtypeLink.country && !subtypeDisabled">
            <mat-form-field *ngIf="eventSubtypeLink.subtype_id && eventSubtypeLink.subtype_id.pk">
              <input matInput [placeholder]="tr('SUBTYPE')" [disabled]="true" [value]="eventSubtypeLink.subtype_id.__str__" style="width: calc(100% - 28px)"/>
              <mat-icon (click)="eventSubtypeLink.subtype_id = null" *ngIf="!eventSubtypeLink.pk">delete</mat-icon>
            </mat-form-field>
            <ng-container *ngIf="!eventSubtypeLink.subtype_id || !eventSubtypeLink.subtype_id.pk">

              <mat-form-field class="hideInput">
                <input matInput [placeholder]="tr('SUBTYPE')" [disabled]="true" [value]="'empty'"/>
                <button mat-mini-fab (click)="subtypeLinkSubtypeDialog.open()" type="button" class="serioplast-green">
                  <mat-icon>add</mat-icon>
                </button>
              </mat-form-field>

              <sp-dialog #subtypeLinkSubtypeDialog [closeByOverlayClick]="false" [behind]="true" [dialogClass]="'fill-width'">
                <event-subtypes [complete]="false" [typeToFilter]="eventSubtypeLink.type" [countryToFilter]="eventSubtypeLink.country" (subtypeSelected)="selectedSubtypeSubtypeLink($event)"></event-subtypes>
              </sp-dialog>
            </ng-container>
          </div>

          <div class="col s4">
            <div class="flex checkbox-container">
              <mat-checkbox [(ngModel)]="eventSubtypeLink.has_docs" color="primary">
                <sp-ng-translate [value]="'HAS_DOCS'"></sp-ng-translate>
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <mat-form-field>
              <input type="text" class="form-control" id="short_desc" required
                     [(ngModel)]="eventSubtypeLink.short_description" matInput [placeholder]="tr('LOCAL_NAME')">
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col s12 flex">
            <sp-save-undo (undo)="undoCreateSubtypeLink()" (save)="saveEventSubtypeLink()"
                          style="width:100%"></sp-save-undo>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-container>
<ng-container *ngIf="!editOpen">
  <div class="row">
    <div class="col s12">
      <ng-container *ngFor="let t of eventTypes" >
        <event-subtypes-links-card [type]="t" (createEventSubtypeLink)="createEventSubtypeLink($event)" (editEventSubtypeLink)="editEventSubtypeLink($event)" *ngIf="t.delta_rel!=0"></event-subtypes-links-card>
      </ng-container>
    </div>
  </div>
</ng-container>



