<div class="row" *ngIf="ready">
  <div class="col s12">

    <div class="flex toggle-container onlyToggle" *ngIf="!disableAddButton" style="margin-bottom:10px;">
      <button mat-mini-fab class="serioplast-blue" *ngIf="isFromPlm(material)" matooltip="Copy from..."
              (click)="openCloneDialog()">
        <mat-icon>content_copy</mat-icon>
      </button>
      <span class="fill-remaining-space"></span>
      <mat-slide-toggle color="primary" [(ngModel)]="routingsActive" (ngModelChange)="reload()">Active
      </mat-slide-toggle>
    </div>

    <mat-card *ngFor="let rp of routingPlants" style="margin-bottom:10px;">
      <h6><b>{{rp.site.__str__}}</b></h6>
      <div class="routing" *ngFor="let r of rp.routings; let i = index;" [ngClass]="{'inactive':!r.is_active}">
        <mat-card>
          <div class="row">
            <div class="col s4">
              <ng-container *ngIf="r.is_active">
                <mat-form-field style="width:calc(100% - 30px)">
                  <input type="text" id="desc_{{i}}" [(ngModel)]="r.description" maxlength="40" matInput
                         placeholder="{{tr('DESCRIPTION')}}"/>

                </mat-form-field>
                <mat-icon (click)="calcDescription(r)">refresh</mat-icon>
              </ng-container>
              <ng-container *ngIf="!r.is_active">
                <mat-form-field>
                  <input type="text" [value]="r.description" matInput placeholder="{{tr('DESCRIPTION')}}" disabled="true"/>
                </mat-form-field>
              </ng-container>
            </div>
            <div class="col s1" *ngIf="r.pk">
              <mat-form-field>
                <input type="text" [value]="r.group||'-'" matInput placeholder="{{tr('GROUP')}}" disabled="true"/>
              </mat-form-field>
            </div>

            <div class="col s3" *ngIf="r.site.pk" [ngClass]="{'input-field':r.is_active}">
              <ng-container *ngIf="r.is_active">
                <mat-form-field style="width:calc(100% - 30px)">
                  <mat-select placeholder="{{tr('BOM')}}" [(ngModel)]="r.productionVersionBOMpk"
                              (ngModelChange)="bomSelection(r)" name="bom_{{i}}">
                    <ng-container *ngFor="let b of r.available_pv">
                      <mat-option [value]="b.bom_header.pk">
                        <sp-ng-translate [value]="'ALTERNATIVE'"></sp-ng-translate>
                        : {{b.bom_header.alt_bom_id}}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                <mat-icon *ngIf="r.production_version.bom_header.pk" (click)="openBOMDetail(r)">visibility_on</mat-icon>
              </ng-container>
              <ng-container *ngIf="!r.is_active">
                <div class="flex">
                  <div style="width:calc(100% - 40px)">
                    <fixed-field [label]="tr('BOM')" [value]="(r.production_version && r.production_version.pk)?(tr('ALTERNATIVE')+':'+r.production_version.bom_header.alt_bom_id):null"></fixed-field>
                  </div>
                  <mat-icon *ngIf="r.production_version.bom_header.pk" (click)="openBOMDetail(r)">visibility_on
                  </mat-icon>
                </div>
              </ng-container>

            </div>

            <div class="col s3" [ngClass]="{'input-field':r.is_active}">
              <ng-container *ngIf="r.is_active">
                <mat-form-field>
                  <mat-select placeholder="{{tr('STATUS')}}" [(ngModel)]="r.status.pk"
                              (ngModelChange)="handleStatusChangeRouting(r)" class="full-width">
                    <mat-option *ngFor="let s of statuses" [value]="s.pk">{{s.__str__}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
              <ng-container *ngIf="!r.is_active">
                <fixed-field [label]="tr('STATUS')" [value]="r.status.__str__"></fixed-field>
              </ng-container>
            </div>

            <div class="s1">
              <div class="flex" style="height:45px">
                <span class="fill-remaining-space"></span>
                <mat-icon (click)="deleteRouting(r)" matTooltip="Delete" [matTooltipPosition]="'below'"
                          *ngIf="r.is_active && r.pk">delete
                </mat-icon>
                <mat-icon (click)="restoreRouting(r)" matTooltip="Restore" [matTooltipPosition]="'below'"
                          *ngIf="!r.is_active">open_in_browser
                </mat-icon>
              </div>
            </div>
          </div>

          <mat-card-content>
             <div class="row nomargin">
              <div class="col s12" *ngIf="r.site.pk">
                <mat-card class="bom">
                  <table class="mdl-data-table" *ngIf="getActiveOperations(r).length>0 && !r.enable_add_item">
                    <thead>
                    <tr>
                      <th>
                        <sp-ng-translate [value]="'OPERATION'"></sp-ng-translate>
                      </th>
                      <th>
                        <sp-ng-translate [value]="'WORKCENTER'"></sp-ng-translate>
                        /
                        <sp-ng-translate [value]="'MATERIAL_GROUP'"></sp-ng-translate>
                        -
                        <sp-ng-translate [value]="'SUPPLIER'"></sp-ng-translate>
                      </th>
                      <th>
                        <sp-ng-translate [value]="'DESCRIPTION'"></sp-ng-translate>
                      </th>
                      <th>
                        <sp-ng-translate [value]="'BASE_QUANTITY'"></sp-ng-translate>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let o of getActiveOperations(r); let l=index;">
                      <tr>
                        <td>
                          {{o.operation}}
                        </td>
                        <td>
                          <ng-container *ngIf="o.work_center && o.work_center.pk">
                            {{o.work_center.sap_code}} - {{o.work_center.description}}
                          </ng-container>
                          <ng-container *ngIf="!o.work_center||!o.work_center.pk">
                            {{o.material_group.__str__}} - {{o.vendor.__str__}}
                          </ng-container>

                        </td>
                        <td>
                          {{o.description}}
                        </td>
                        <td>
                          {{o.base_quantity}} {{o.uom?o.uom.__str__:''}}
                        </td>
                        <td *ngIf="r.is_active">
                          <mat-icon (click)="viewOperation(r,o)" matTooltip="View" [matTooltipPosition]="'below'">
                            visibility_on
                          </mat-icon>
                          <mat-icon (click)="editOperation(r,o)" matTooltip="Edit" [matTooltipPosition]="'below'">edit
                          </mat-icon>
                          <mat-icon (click)="deleteOperation(o)" matTooltip="Delete" [matTooltipPosition]="'below'">
                            delete
                          </mat-icon>

                        </td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>
                  <div *ngIf="r.routing_operations.length==0 && !r.enable_add_item" style="padding:10px">
                    <sp-ng-translate [value]="'NO_OPERATIONS_AVAILABLE'"></sp-ng-translate>
                  </div>
                  <div class="flex add-button-container" *ngIf="!r.enable_add_item && r.is_active">
                    <span class="fill-remaining-space"></span>
                    <button mat-mini-fab class="serioplast-green" (click)="enableAddOperationToRouting(r)"
                            matTooltip="Add"
                            [matTooltipPosition]="'below'">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                  <div *ngIf="r.enable_add_item" class="addEditForm">
                    <div class="row" style="margin-top:10px">
                      <div class="col s4" *ngIf="r.site.active_on_sap">
                        <mat-checkbox [(ngModel)]="routingOperation.subcontracting" [disabled]="routingOperation.pk"
                                      (ngModelChange)="resetOpUom()">Subcontracting
                        </mat-checkbox>
                      </div>
                      <ng-container *ngIf="routingOperation.subcontracting">
                        <div class="col s4">

                          <mat-form-field>
                            <mat-select [(ngModel)]="routingOperation.material_group.pk"
                                        [placeholder]="tr('MATERIAL_GROUP')" (ngModelChange)="fixMatGroup()">
                              <mat-option *ngFor="let mg of materialGroups" [value]="mg.pk">{{mg.__str__}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                        </div>
                        <div class="col s4">
                          <ng-container *ngIf="routingOperation.vendor && routingOperation.vendor.pk">
                            <div class="flex">
                              <div style="width:calc(100% - 50px)">
                                <fixed-field [label]="'Supplier'" [value]="routingOperation.vendor.__str__"></fixed-field>
                              </div>
                              <button mat-mini-fab class="serioplast-grey" (click)="clearSupplier()"
                                      style="margin-left:10px">
                                <mat-icon>clear</mat-icon>
                              </button>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="!routingOperation.vendor.pk">
                            <fixed-field [label]="'Select Supplier'" [useContent]="true">
                              <button mat-mini-fab (click)="openOrganizationDialog(r)">
                                <mat-icon>search</mat-icon>
                              </button>
                            </fixed-field>
                          </ng-container>

                        </div>
                      </ng-container>

                      <ng-container *ngIf="!routingOperation.subcontracting">
                        <div class="col s4">
                          <mat-form-field>
                            <mat-select [(ngModel)]="routingOperation.technologyLink.pk"
                                        [placeholder]="tr('TECHNOLOGY')"
                                        (ngModelChange)="handleOperationTechnologyChange(r,routingOperation)"
                                        class="full-width">
                              <mat-option *ngFor="let t of routingOperation.technologies" [value]="t.pk">{{t.__str__}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="col s4" *ngIf="routingOperation.technologyLink.pk">
                          <mat-form-field>
                            <mat-select [(ngModel)]="routingOperation.work_center.pk"
                                        (ngModelChange)="handleOperationWorkcenterChange(r,routingOperation)"
                                        [placeholder]="tr('WORKCENTER')" class="full-width">
                              <mat-option *ngFor="let wcl of routingOperation.active_work_centers" [value]="wcl.pk">
                                {{wcl.sap_code}} -
                                {{wcl.description}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                        </div>
                      </ng-container>
                    </div>
                    <div class="row" *ngIf="roHasMainData(routingOperation)">
                      <div class="col s6" *ngIf="!routingOperation.subcontracting && routingOperation.work_center.pk">
                        <div class="base_quantities">
                          <div class="row nomargin"
                               *ngIf="routingOperation.activities && routingOperation.activities.length>0">
                            <div class="col s6">
                              <h5>
                                <sp-ng-translate [value]="'ACTIVITY_DESCRIPTION'"></sp-ng-translate>
                              </h5>
                            </div>
                            <div class="col s6">
                              <h5>
                                <sp-ng-translate [value]="'VALUE'"></sp-ng-translate>
                              </h5>
                            </div>
                          </div>
                          <div class="activity" *ngFor="let a of routingOperation.activities; let i=index;">
                            <div class="row nomargin" *ngIf="a.Activity">
                              <div class="col s6">
                                <div class="">
                                  {{a.Description}}
                                </div>
                              </div>
                              <div class="col s3">
                                <mat-form-field>
                                  <input matInput type="number" step="0.001" min="0" id="value_{{i}}"
                                         [(ngModel)]="a.Value"
                                         style="width:calc(100%)" placeholder="&nbsp;"/>
                                </mat-form-field>

                              </div>
                              <div class="col s3">
                                <mat-form-field>
                                  <mat-select [(ngModel)]="a.Unit" class="full-width">
                                    <mat-option *ngFor="let uom of getActUom(a)" [value]="uom.__str__">{{uom.__str__}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>

                              </div>
                            </div>
                          </div>
                          <div class="row nomargin"
                               *ngIf="!routingOperation.activities || routingOperation.activities.length==0">
                            <div class="col s12">
                              <sp-ng-translate [value]="'NO_ROUTING_OPERATION_ACTIVITY_AVAILABLE'"></sp-ng-translate>
                            </div>
                          </div>
                          <div *ngIf="routingOperation.technologyLink.pk" class="row nomargin">
                            <div class="col s12">
                              <mat-form-field>
                                <input type="number" id="employees" min="0" step="0.01"
                                       [(ngModel)]="routingOperation.employees" matInput
                                       placeholder="{{tr('EMPLOYEES')}}"/>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col s6">
                        <div>

                          <mat-form-field style="width:calc(100% - 65px)">
                            <input matInput type="number" min="1" id="base_quantity"
                                   [(ngModel)]="routingOperation.base_quantity" placeholder="{{tr('BASE_QUANTITY')}}"/>
                          </mat-form-field>

                          <mat-form-field style="width:60px">
                            <mat-select [(ngModel)]="routingOperation.uom.pk"
                                        [disabled]="!routingOperation.subcontracting" (ngModelChange)="fixUom()">
                              <mat-option [value]="">---</mat-option>
                              <mat-option *ngFor="let uom of uoms" [value]="uom.pk">{{uom.__str__}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                        </div>

                        <mat-form-field>
                          <textarea matInput placeholder="{{tr('DESCRIPTION')}}"
                                    [(ngModel)]="routingOperation.description"
                                    class="materialize-textarea"></textarea>
                        </mat-form-field>

                        <mat-form-field
                          *ngIf="!routingOperation.subcontracting && routingOperation.technologyLink.pk && routingOperation.prt && routingOperation.prt[0]">
                          <mat-select [placeholder]="tr('PRT')" [(ngModel)]="routingOperation.prt[0].pk"
                                      class="full-width" (ngModelChange)="fixPRT(routingOperation)">
                            <mat-option [value]="">---</mat-option>
                            <mat-option *ngFor="let m of routingOperation.mouldsets" [value]="m.pk">{{m.code}} -
                              {{m.__str__}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <!--<material-selector-->
                        <!--[initialValue]="(routingOperation.prt && routingOperation.prt.length>0)?routingOperation.prt[0]:null"-->
                        <!--[additionalQuery]="{site_list:r.site.pk, technology:routingOperation.technologyLink.technology_id.pk}"-->
                        <!--(selectedMaterial)="selectedMouldset.bind(this)($event)"-->
                        <!--[label]="'PRT'" [hideType]="true"></material-selector>-->
                        <span class="mandat" *ngIf="showPRTMandatoryForRouting(r,routingOperation)">
                        <sp-ng-translate [value]="'PRT_MANDATORY'"></sp-ng-translate>
                      </span>
                      </div>
                    </div>
                    <div class="flex">
                      <button mat-mini-fab class="serioplast-grey" (click)="disableAddOperationToRouting(r)"
                              matTooltip="Undo" [matTooltipPosition]="'below'">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                      </button>
                      <span class="fill-remaining-space"></span>
                      <button mat-mini-fab [color]="'primary'" (click)="addOperationToRouting(r)" matTooltip="Add"
                              [matTooltipPosition]="'below'" *ngIf="isOperationComplete(r, routingOperation)">
                        <mat-icon>keyboard_return</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
            <sp-dialog #bomDialog [dialogClass]="'bom'">
              <div class="bom_alternative" *ngIf="bomToShow && bomToShow.pk">
          <span class="alt_id"> <sp-ng-translate
            [value]="'ALTERNATIVE'"></sp-ng-translate> : {{bomToShow.alt_bom_id}}</span>
                <table class="bordered striped noclick">
                  <thead>
                  <tr>
                    <th>
                      <sp-ng-translate [value]="'CODE'"></sp-ng-translate>
                    </th>
                    <th>
                      <sp-ng-translate [value]="'MATERIAL'"></sp-ng-translate>
                    </th>
                    <th>
                      <sp-ng-translate [value]="'AMOUNT'"></sp-ng-translate>
                    </th>
                    <th>
                      <sp-ng-translate [value]="'GROUP'"></sp-ng-translate>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let bi of bomToShow.bomitem_set">
                    <td>
                      {{bi.material.code}}
                    </td>
                    <td>
                      {{bi.material.description}}
                    </td>
                    <td>
                      {{bi.quantity}} {{bi.material.uom.__str__}}
                    </td>
                    <td>
                      {{bi.group}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </sp-dialog>
            <sp-save-undo [undoCondition]="false" [saveCondition]="canSaveRouting(r) && !saving"
                          (save)="saveRouting(r)"></sp-save-undo>
          </mat-card-content>
        </mat-card>
      </div>
      <ng-container *ngIf="rp.routings.length==0 && !disableAddButton">No routings available</ng-container>

      <div class="flex add-button-container add-alternative"
           *ngIf="!hasRoutingInEdit() && !hasUnsavedRouting() && !disableAddButton">
        <span class="fill-remaining-space"></span>
        <button mat-mini-fab (click)="createRouting(rp.site)" matTooltip="Add" [matTooltipPosition]="'below'" class="serioplast-green">
          <mat-icon>add</mat-icon>
        </button>
      </div>

    </mat-card>

    <ng-container *ngIf="routingPlants.length==0 && disableAddButton">
      <sp-ng-translate [value]="'NO_BOM_FOR_MATERIAL'"></sp-ng-translate>
    </ng-container>


  </div>
</div>

<sp-dialog #operationDialog [closeByOverlayClick]="true">
  <ng-container *ngIf="operationToShow">
    <div style="width:750px">
      <div class="row nomargin">
        <div class="col s6">
          <div class="row">
            <div class="col s12">
              <fixed-field [label]="tr('TECHNOLOGY')" [value]="operationToShow.technologyLink.__str__"></fixed-field>
            </div>
          </div>
        </div>
        <div class="col s6">
          <div class="row">
            <div class="col s12">
              <fixed-field [label]="tr('WORKCENTER')" [value]="operationToShow.work_center.__str__"></fixed-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <div class="base_quantities">
            <div class="row nomargin" *ngIf="operationToShow.activities && operationToShow.activities.length>0">
              <div class="col s6">
                <sp-ng-translate [value]="'ACTIVITY_DESCRIPTION'"></sp-ng-translate>
              </div>
              <div class="col s6">
                <sp-ng-translate [value]="'VALUE'"></sp-ng-translate>
              </div>
            </div>
            <div class="activity" *ngFor="let a of operationToShow.activities; let i=index;">
              <div class="row nomargin">
                <div class="col s6">
                  <div class="">
                    {{a.Description}}
                  </div>
                </div>
                <div class="col s6">
                  {{a.Value}} {{a.Unit}}
                </div>
              </div>
            </div>
            <div class="row nomargin" *ngIf="!operationToShow.activities || operationToShow.activities.length==0">
              <div class="col s12">
                <sp-ng-translate
                  [value]="'NO_ROUTING_OPERATION_ACTIVITYOPERATION_ACTIVITY_AVAILABLE'"></sp-ng-translate>
              </div>
            </div>
            <div *ngIf="operationToShow.technologyLink.pk" class="row nomargin">
              <div class="col s12">
                <fixed-field [label]="tr('EMPLOYEES')" [value]="operationToShow.employees"></fixed-field>
              </div>
            </div>
          </div>
        </div>
        <div class="col s6" *ngIf="operationToShow.technologyLink.pk">
          <div class="row nomargin">
            <div class="col s12">
              <fixed-field [label]="tr('BASE_QUANTITY')" [value]="operationToShow.base_quantity"></fixed-field>
            </div>
          </div>
          <div class="row nomargin">
            <div class="col s12">
              <fixed-field [label]="tr('DESCRIPTION')" [value]="operationToShow.description"></fixed-field>
            </div>
          </div>
          <div class="row nomargin">
            <div class="col s12">
              <fixed-field [label]="tr('PRT')" [useContent]="true">
                <mat-list dense>
                  <mat-list-item *ngFor="let m of operationToShow.prt">{{m.__str__}}</mat-list-item>
                </mat-list>
              </fixed-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</sp-dialog>


<sp-dialog #cloneRoutingDialog [closeByOverlayClick]="true">
  <div style="width:600px" *ngIf="cloneRoutingDialog.opened">
    <sp-stepper #cloneStepper>
      <sp-stepper-item>
        <sp-stepper-item-title>Material</sp-stepper-item-title>
        <sp-stepper-item-content-active>
          <div class="row nomargin">
            <div class="col s9 input-field">
              <mat-form-field>
                <input matInput type="text" [(ngModel)]="materialToCloneSearch" placeholder="Search"/>
              </mat-form-field>
            </div>
            <div class="col s3">
              <button mat-mini-fab class="serioplast-green" (click)="materialsTable.reload()">
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>
          <sp-table-with-pages #materialsTable [small]="true" [nResults]="20" [headerConf]="headerConfMaterialsToClone"
                               [availableActions]="[]" [clickable]="true"
                               (rowclick)="selectMaterialToClone($event,cloneStepper)"
                               [getData]="getMaterialsToClone.bind(this)"></sp-table-with-pages>
        </sp-stepper-item-content-active>
        <sp-stepper-item-content-inactive>
          Material model: {{materialToClone?materialToClone.code+" - "+materialToClone.description:"-"}}
        </sp-stepper-item-content-inactive>
      </sp-stepper-item>
      <sp-stepper-item>
        <sp-stepper-item-title>Routing</sp-stepper-item-title>
        <sp-stepper-item-content-active>
          <sp-table-with-pages [small]="true" [renderOnly]="true" [nResults]="20"
                               [headerConf]="headerConfRoutingsToClone" [availableActions]="availableActionsViewRouting"
                               [clickable]="true" (rowclick)="selectRoutingToClone($event, cloneStepper)"
                               [data]="routingsToClone" [ready]="routingsToClone.length>0"></sp-table-with-pages>
        </sp-stepper-item-content-active>
        <sp-stepper-item-content-inactive>
          Selected routing model: {{routingToClone?routingToClone.description:'-'}}

          <sp-save-undo (undo)="cloneStepper.setIndex(1)" (save)="cloneRouting()"></sp-save-undo>
        </sp-stepper-item-content-inactive>
      </sp-stepper-item>
    </sp-stepper>
  </div>
</sp-dialog>

<sp-dialog #cloneRoutingViewDialog [closeByOverlayClick]="true" [onTop]="true">
  <div class="routing" *ngIf="routingToCloneView">
    <div class="flex">
      <div class="alt_id">
        <sp-ng-translate [value]="'DESCRIPTION'"></sp-ng-translate>
        : {{routingToCloneView.description}}
      </div>
      <span class="fill-remaining-space"></span>
      <ng-container *ngIf="routingToCloneView.production_version">
        Production Version: {{routingToCloneView.production_version.bom_header.alt_bom_id}}
        <span class="fill-remaining-space"></span>
      </ng-container>

      <span><sp-ng-translate [value]="'SITE'"></sp-ng-translate> : {{routingToCloneView.site.__str__}}</span>
    </div>


    <div class="row full-height">
      <div class="col s12 full-height">
        <table class="bordered striped noclick small">
          <thead>
          <tr>
            <th>
              <sp-ng-translate [value]="'OPERATION'"></sp-ng-translate>
            </th>
            <th>
              <sp-ng-translate [value]="'WORKCENTER'"></sp-ng-translate>
              /
              <sp-ng-translate [value]="'MATERIAL_GROUP'"></sp-ng-translate>
              -
              <sp-ng-translate [value]="'SUPPLIER'"></sp-ng-translate>
            </th>
            <th>
              <sp-ng-translate [value]="'TECHNOLOGY'"></sp-ng-translate>
            </th>
            <th>
              <sp-ng-translate [value]="'BASE_QUANTITY'"></sp-ng-translate>
            </th>
            <th>
              <sp-ng-translate [value]="'EMPLOYEES'"></sp-ng-translate>
            </th>
            <th>
              <sp-ng-translate [value]="'PRT'"></sp-ng-translate>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ro of routingToCloneView.routing_operations">
            <td>
              {{ro.operation}}
            </td>
            <td>
              <ng-container *ngIf="ro.work_center && ro.work_center.pk">
                {{ro.work_center.sap_code}} - {{ro.work_center.description}}
              </ng-container>
              <ng-container *ngIf="!ro.work_center||!ro.work_center.pk">
                {{ro.material_group.__str__}} - {{ro.vendor.__str__}}
              </ng-container>
            </td>
            <td>
              {{ro.work_center.technology?ro.work_center.technology.__str__:'-'}}
            </td>
            <td>
              {{ro.base_quantity}} {{ro.uom?ro.uom.__str__:''}}
            </td>
            <td>
              {{ro.employees}}
            </td>
            <td>
              <ul *ngIf="ro.prt && ro.prt.length>0">
                <li *ngFor="let m of ro.prt">{{m.__str__}}</li>
              </ul>
              <span *ngIf="ro.prt.length==0">-</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</sp-dialog>

<sp-dialog #organizationDialog [nopadding]="true">
  <div class="organization-dialog">
    <div class="serioplast-green" style="height:20px">&nbsp;</div>
    <div class="organization-dialog-content" *ngIf="organizationDialog.opened">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{purchaseOrganization.PurchaseOrg}} - {{purchaseOrganization.Description}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row nomargin">
            <div class="col s6">
              <mat-form-field>
                <input type="text" [(ngModel)]="supplierCodeFilter" matInput placeholder="Supplier"/>
              </mat-form-field>
            </div>
            <div class="col s6">
              <mat-form-field>
                <input type="text" [(ngModel)]="supplierNameFilter" matInput placeholder="Name"/>
              </mat-form-field>
            </div>
          </div>
          <sp-table-with-pages [small]="true" [renderOnly]="true"
                               [data]="filterSuppliers(purchaseOrganization.SupplierLink.results)" [nResults]="20"
                               [clickable]="true" (rowclick)="selectedSupplier($event)"
                               [headerConf]="headerConfSuppliers" [availableActions]="[]"></sp-table-with-pages>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</sp-dialog>

<sp-dialog #routingRestorePV [closeByOverlayClick]="!pvToSelectMandatory">
  <div class="row nomargin">
    <div class="col s12">
      <sp-ng-translate [value]="'SELECT_PV'"></sp-ng-translate>
      <ng-container *ngIf="pvToSelectMandatory">
        &nbsp;(
        <sp-ng-translate [value]="'MANDATORY'"></sp-ng-translate>
        )
      </ng-container>
      <ng-container *ngIf="!pvToSelectMandatory">
        &nbsp;(
        <sp-ng-translate [value]="'OPTIONAL'"></sp-ng-translate>
        )
      </ng-container>
      <ul class="pvRestore">
        <li *ngFor="let p of pvsToSelect" (click)="selectPV(p)">
          <sp-ng-translate [value]="'ALTERNATIVE'"></sp-ng-translate>&nbsp;{{p.bom_header.alt_bom_id}}
        </li>
      </ul>

      <div class="flex">
        <span class="fill-remaining-space"></span>
        <button md-fab class="serioplast-red" *ngIf="!pvToSelectMandatory" (click)="routingRestorePV.close()">
          <mat-icon>close</mat-icon>
        </button>
        <span class="fill-remaining-space"></span>
      </div>
    </div>
  </div>
</sp-dialog>
