.add-button-container {
  padding:10px;

}

.add-button-container.add-alternative {
  padding-right:10px;
}

table {
  background:white;
}

.routing {
  margin-top:20px;
  width:100%;
}

.routing>mat-card {
  margin-bottom:20px;
  background:rgba(175,130,76,0.2);
  padding:10px;
}

.routing.inactive>mat-card {
  background:#eeeeee;
}

.addEditForm{
  background:white;
  padding: 20px;
  margin-top: 20px;
}

sp-accordion-item>>>.mat-radio-inner-circle {
  background:#fff;
}

sp-accordion-item>>>.mat-radio-checked .mat-radio-outer-circle {
  border-color:#fff;
}

.siteAdded .fixed-field {
  height:30px;
}

.routing-description {
  font-size:16px;
}

*>>>.bom.mat-card {
  padding:0;
}

.base_quantities {
  background:#eee;
}

.activity input {
  margin-bottom:0;
}

span.mandat {
  padding: 0 13px;
  font-size: 11px;
  color: #ccc;
}

.pvRestore {
  padding:0;
}

.pvRestore li {
  padding:5px;
  cursor:pointer;
  background:#eee;
  margin-bottom:10px;
}

sp-accordion-item.organization-accordion>>>.mat-toolbar.mat-primary{
  background-color:#ccc;
  min-height:30px;
}
sp-accordion-item.organization-accordion>>>.mat-toolbar-row {
  height: 30px;
  font-size: 13px;
}

.organization-dialog {
  width:600px;
  height:600px;
}

.organization-dialog-content {
  overflow:auto;
  height:calc(100% - 20px);
}
