<div>
  <h5 id="Languages">Nationalities</h5>


  <div *ngIf="nationalityCreateOpen" class="col s12">
    <mat-card class="main" style="margin-bottom:20px">
      <mat-card-content>
        <div class="row" *ngIf="onCreate && !nationality.pk">
          <h5>Create</h5>
        </div>
        <div class="row" *ngIf="nationality.pk">
          <h5>Edit {{nationality.__str__}}</h5>
        </div>
        <mat-form-field>
          <mat-select placeholder="Select nationality" [(ngModel)]="nationality.nationality"
                      name="edit-nationality" required>
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let country of countries" [value]="country[0]">
              {{country[1]}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput [placeholder]="tr('Country ID number')" id="edit-country_id_number"
                 name="edit-country_id_number" type="text"
                 [(ngModel)]="nationality.country_id_number" required/>
        </mat-form-field>

        <mat-form-field>
          <input matInput id="edit-country_tax_number" name="edit-country_tax_number" type="text"
                 [(ngModel)]="nationality.country_tax_number" required [placeholder]="'Country Tax number'"/>
        </mat-form-field>

        <sp-save-undo (save)="saveNationality()" (undo)="undoNationality()"></sp-save-undo>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row">
    <sp-table-with-pages #nationalitiesTable [nResults]="15" [small]="true"
                         [noItemsMessage]="noItemsMessageNationalities"
                         [headerConf]="headerConfNationalities"
                         [availableActions]="availableActions"
                         [getData]="loadNationalities.bind(this)"></sp-table-with-pages>
  </div>

  <div class="row">
    <div class="add-button-container flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'"
              (click)="createNationality()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

</div>
