.customInput{
  padding: 0px;
  margin: 0px;
  height: 35px;
  width: 100%;
  position: relative;
  top: -6px;


}

.disactive{
  background-color: whitesmoke;
}

.tab-body-top-margin{

}

.main>>>mat-tab-body{
  overflow: hidden!important;

}

.main>>>.mat-tab-label-container {

  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.customInput>>>.mat-select-placeholder {
  top: 12px;
}

.customInput>>>input{
  border-bottom: 0px!important;
  border-bottom: none;
}

.customInput>>>.mat-select-arrow{
  position: relative;
  top: 10px;
}




.customInput>>>.mat-select-trigger{
  padding: 0px;
  margin: 0px;
  height: 35px;
  width: 100%;
  position: relative;
  top: -6px;
  border-bottom: 0px!important;
}

.customInput>>>.mat-select-placeholder.md-floating-placeholder {
visibility: hidden!important;
width: 0px;
}

td,th{
  padding: 5px;
}

.model_card_cont{
  overflow: hidden;
  margin: 0px;
  padding-left: 0px;
  position: relative;
}

.model_card{
  overflow: hidden;
  height: 100%;
}

.main{
  height: 100%;
}



