<div class="subtype">
  <div class="row" *ngIf="subtypeCreateOpen" style="margin-top:10px">
    <mat-form-field>
      <!--<label for="subtype_name_create">-->
      <!--<sp-ng-translate [value]="'CREATE_NEW_SUBTYPE'"></sp-ng-translate>-->
      <!--</label>-->
      <input type="text" class="form-control" id="subtype_name_create" name="attribute_name" required
             [(ngModel)]="materialSubtype.label" matInput [placeholder]="'Subtype'">

    </mat-form-field>
    <sp-save-undo (undo)="undoEditSubtype()" (save)="saveSubtype()"></sp-save-undo>
  </div>
  <div class="row nomargin table-container onlyToggle" *ngIf="!subtypeCreateOpen">
    <div class="flex toggle-container" *ngIf="complete">

      <div class="filters flex">
        <mat-form-field style="width:300px">
          <mat-select [placeholder]="tr('MATERIAL_TYPE_SUBTYPE_LINK')" [(ngModel)]="materialTypeSubtypeLink"
                      (ngModelChange)="handleMaterialTypeChangeForm()">
            <mat-option [value]="">-</mat-option>
            <mat-option *ngFor="let t of materialTypes" [value]="t.content_type">{{t.__str__}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width:300px; margin-left:20px;">
          <mat-select [placeholder]="tr('MATERIAL_TYPE_MAIN_MATERIAL')" [(ngModel)]="materialTypeMainMaterial"
                      (ngModelChange)="handleMaterialTypeChangeForm()">
            <mat-option [value]="">-</mat-option>
            <mat-option *ngFor="let t of materialTypesProducts" [value]="t.content_type">{{t.__str__}}</mat-option>
          </mat-select>
        </mat-form-field>


      </div>

      <span class="fill-remaining-space"></span>
      <mat-slide-toggle color="primary" [(ngModel)]="subtypesActive" (ngModelChange)="subtypesTable.reload()">
        Active
      </mat-slide-toggle>
    </div>

    <sp-table-with-pages #subtypesTable [small]="true" [noItemsMessage]="noItemsMessageSubtypes"
                         [headerConf]="headerConfSubtypes"
                         [availableActions]="availableActionsSubtypes" [getData]="loadMaterialSubtypes.bind(this)"
                         [expandData]="complete?expandDataSubTypes.bind(this):null" [expandDataAsync]="true"
                         [clickable]="!complete" (rowclick)="selectSubtypeFromClick($event)"></sp-table-with-pages>
  </div>
  <div class="add-button-container flex" *ngIf="!subtypeCreateOpen && complete">
    <span class="fill-remaining-space"></span>
    <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'"
            (click)="createSubtype();subtypeCreateOpen = true; ">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

