<h5>Milestones</h5>
<div class="flex toggle-container">

  <span class="fill-remaining-space"></span>
  <mat-slide-toggle color="primary" [(ngModel)]="milestonesActive" (ngModelChange)="milestonesTable.reload()">
    Active
  </mat-slide-toggle>
</div>
<sp-table-with-pages #milestonesTable [getData]="getMilestones.bind(this)" [availableActions]="availableActionsMilestones"
                     [headerConf]="headerConfMilestones" [noItemsMessage]="noMilestonesMessage"
                     [nResults]="10"></sp-table-with-pages>
<div class="flex" style="padding:10px">
  <span class="fill-remaining-space"></span>
  <button mat-mini-fab class="serioplast-green" (click)="addMilestone()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="edit-milestone" style="background-color:#ccc" *ngIf="milestoneEditOn">
  <div class="row">
    <div class="col s6 ">
      <date-input [placeholder]="tr('START_DATE')" [(ngModel)]="milestoneInEdit.start_time"></date-input>
    </div>
    <div class="col s6">
      <mat-select [(ngModel)]="milestoneInEdit.day_week_profile.pk" class="full-width"
                 [placeholder]="tr('DAY_WEEK_PROFILE')" (ngModelChange)="fixDWP()">
        <mat-option *ngFor="let dwp of dayWeekProfiles" [value]="dwp.pk">{{dwp.__str__}}</mat-option>
      </mat-select>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="flex">
        <button mat-mini-fab class="serioplast-grey" (click)="undoEditMilestone()">
          <mat-icon>undo</mat-icon>
        </button>
        <span class="fill-remaining-space"></span>
        <button mat-mini-fab class="serioplast-green" (click)="saveMilestone();">
          <mat-icon>keyboard_return</mat-icon>
        </button>
      </div>
    </div>
  </div>
