<mat-form-field *ngIf="!useContent && !useMarkdown && !isBoolean" [ngClass]="{noMargin:noMargin}">
  <input matInput type="text" [value]="value?value:'-'" [placeholder]="label" disabled="true"/>
</mat-form-field>

<mat-form-field *ngIf="!useContent && useMarkdown" class="hide" [ngClass]="{noMargin:noMargin}">
  <input type="text" [value]="' - '" matInput [placeholder]="label" [disabled]="true"/>
  <div [innerHTML]="value|markdown"></div>
</mat-form-field>

<mat-form-field *ngIf="!useContent && !useMarkdown && isBoolean" class="hide" [ngClass]="{noMargin:noMargin}">
  <input type="text" [value]="' - '" matInput [placeholder]="label" [disabled]="true"/>
  <div>
    <ng-container *ngIf="value">
      <mat-icon class="green-text">done</mat-icon>
    </ng-container>
    <ng-container *ngIf="!value">
      <mat-icon class="red-text">clear</mat-icon>
    </ng-container>
  </div>
</mat-form-field>

<mat-form-field *ngIf="useContent" class="hide" [ngClass]="{noMargin:noMargin}">
  <input type="text" [value]="' - '" matInput [placeholder]="label" [disabled]="true"/>
  <div>
    <ng-content select="*"></ng-content>
  </div>
</mat-form-field>
