<h5>Routing</h5>

<div class="routing">
  <div class="flex">
    <div class="alt_id"> <sp-ng-translate [value]="'DESCRIPTION'"></sp-ng-translate> : {{routing.description}}</div>
    <span class="fill-remaining-space"></span>
    <ng-container *ngIf="routing.production_version">
      Production Version: {{routing.production_version.bom_header.alt_bom_id}}
      <span class="fill-remaining-space"></span>
    </ng-container>
    <span class="fill-remaining-space"></span>
    <div class="group"> <sp-ng-translate [value]="'GROUP'"></sp-ng-translate> : {{routing.group}}</div>
    <span class="fill-remaining-space"></span>
    <span><sp-ng-translate [value]="'SITE'"></sp-ng-translate> : {{routing.site.__str__}}</span>
  </div>


  <div class="row full-height">
    <div class="col s12 full-height">
      <table class="mdl-data-table bordered striped noclick small">
        <thead>
        <tr>
          <th>
            <sp-ng-translate [value]="'OPERATION'"></sp-ng-translate>
          </th>
          <th>
            <sp-ng-translate [value]="'WORKCENTER'"></sp-ng-translate>/<br/>
            <sp-ng-translate [value]="'MATERIAL_GROUP'"></sp-ng-translate> -  <sp-ng-translate [value]="'SUPPLIER'"></sp-ng-translate>
          </th>
          <th>
            <sp-ng-translate [value]="'TECHNOLOGY'"></sp-ng-translate>
          </th>
          <th>
            <sp-ng-translate [value]="'BASE_QUANTITY'"></sp-ng-translate>
          </th>
          <th>
            <sp-ng-translate [value]="'EMPLOYEES'"></sp-ng-translate>
          </th>
          <th>
            <sp-ng-translate [value]="'PRT'"></sp-ng-translate>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ro of routing.routing_operations">
          <td>
            {{ro.operation}}
          </td>
          <td>
            <ng-container *ngIf="ro.work_center && ro.work_center.pk">
              {{ro.work_center.sap_code}} -  {{ro.work_center.description}}
            </ng-container>
            <ng-container *ngIf="!ro.work_center||!ro.work_center.pk">
              {{ro.material_group.__str__}} -  {{ro.vendor.__str__}}
            </ng-container>
          </td>
          <td>
            {{ro.work_center.technology?ro.work_center.technology.__str__:'-'}}
          </td>
          <td>
            {{ro.base_quantity}}
          </td>
          <td>
            {{ro.employees}}
          </td>
          <td>
            <ul *ngIf="ro.prt && ro.prt.length>0">
              <li *ngFor="let m of ro.prt">{{m.__str__}}</li>
            </ul>
            <span *ngIf="ro.prt.length==0">-</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

