<div class="row">
  <div class="col s12 m3">
    <h5>Filters</h5>
    <div class="row">
      <form>
        <mat-form-field>
          <mat-select placeholder="Select type" [(ngModel)]="customerFilter.type" name="type">
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let type of customersTypes" [value]="type.value">
              {{type.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input id="search-sap-code" name="search-sap-code" type="text" [(ngModel)]="customerFilter.sap_code" matInput
                 [placeholder]="'SAP Code'"/>
        </mat-form-field>
        <mat-form-field>
          <input id="search-sap-description" name="search-sap-description" type="text"
                 [(ngModel)]="customerFilter.sap_description" matInput [placeholder]="'SAP Description'"/>
        </mat-form-field>
        <div style="margin-bottom:10px">
          <mat-checkbox color="primary" id="search-is-orphan" name="search-is-orphan"
                        [(ngModel)]="isOrphan" [checked]="isOrphan">
            Is Orphan only
          </mat-checkbox>
        </div>
        <sp-search-reset (reset)="reset()" (search)="reload()"></sp-search-reset>
      </form>
    </div>
  </div>


  <div class="col s12 m9">
    <mat-card>

      <div class="flex" style="margin-bottom:10px">
        <h5>Customers</h5>
        <span class="fill-remaining-space"></span>
        <mat-slide-toggle color="primary" [(ngModel)]="active" (ngModelChange)="customersTable.reload()"
                          style="position: relative;top:5px;">Active
        </mat-slide-toggle>
      </div>
      <sp-table-with-pages #customersTable [nResults]="15" [small]="true" [noItemsMessage]="noItemsMessageCustomers"
                           [headerConf]="headerConfCustomers"
                           [availableActions]="availableActions" [getData]="loadCustomers.bind(this)"
      ></sp-table-with-pages>
    </mat-card>
  </div>
</div>


