<div class="row main" *ngIf="ready">
  <div class="col side">
    <div class="flex">
      <button mat-mini-fab class="serioplast-grey" style="margin-top:5px;" [routerLink]="['/project-management']">
        <mat-icon>list</mat-icon>
      </button>
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-grey" style="margin-top: 5px; align-self: flex-start;" *ngIf="levels.length>0" (click)="backLevel()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div>
      <mat-card style="margin-top:20px" *ngIf="project.pk">
        <mat-card-content>
          <ng-container *ngIf="levels.length==0">
            <!--<h5>{{project.name}} ({{project.type.__str__}})</h5>-->
            <h5>{{project.name}}</h5>

            <fixed-field [label]="tr('DESCRIPTION')" [value]="project.description"></fixed-field>

            <mat-form-field>
              <div class="flex">
                <input type="text" [value]="project.status.__str__" matInput [placeholder]="tr('STATUS')" [disabled]="true" [style]="getProjectStatusStyle()"/>
                <button mat-mini-fab class="serioplast-blue sap" *ngIf="!projectEdit && project.pk && levels.length==0 && (!project.readOnly||isProjectOnHold()||isProjectUnderReview())" (click)="changeProjectStatus(project)">
                  <!--<mat-icon>forward</mat-icon>-->
                  <sap-icon [iconName]="'workflow-tasks'" [iconClass]="'mini'"> </sap-icon>
                </button>
              </div>
            </mat-form-field>

            <div *ngIf="project.next_status">

              <mat-form-field class="hideInput">
                <input type="text" [value]="'-'" matInput [placeholder]="'Status in approval'" [disabled]="true"/>
                <sap-icon [iconName]="'workflow-tasks'" class="status"> </sap-icon> {{getProjectStatusFromDeltaRel(project.next_status).__str__}}
              </mat-form-field>
            </div>

            <div style="font-size:12px" class="flex" *ngIf="project.status.delta_rel==0">
              <ng-container *ngIf="hasFeasibility()">
                <sp-ng-translate [value]="'HAS_FEASIBILITY_COMPLETED'"></sp-ng-translate>:
                <mat-icon *ngIf="hasFeasibilityCompleted()" class="green-text">done</mat-icon>
                <mat-icon *ngIf="!hasFeasibilityCompleted()" class="red-text">clear</mat-icon>
              </ng-container>
              <ng-container *ngIf="!hasFeasibility()">
                <sp-ng-translate [value]="'HAS_FEASIBILITY'"></sp-ng-translate>:
                <mat-icon class="red-text">clear</mat-icon>
              </ng-container>
            </div>

            <fixed-field [label]="tr('SITE')" [value]="project.site.__str__"></fixed-field>

            <fixed-field [useContent]="true" [label]="'Types'">
              <mat-list dense>
                <ng-container *ngFor="let pt of project.project_types">
                  <mat-list-item *ngIf="pt.is_active">
                    {{pt.__str__}}
                  </mat-list-item>
                </ng-container>
              </mat-list>
            </fixed-field>

            <fixed-field [label]="tr('START_DATE')" [value]="project.start_date"></fixed-field>

            <fixed-field [label]="tr('END_DATE')" [value]="project.planned_end_date"></fixed-field>

            <div *ngIf="project.leader.user">

              <mat-form-field class="hideInput">
                <input type="text" [value]="'-'" matInput [placeholder]="'Leader'" [disabled]="true"/>
                <sp-user [userPK]="project.leader.user.pk"></sp-user>
              </mat-form-field>
            </div>

            <ng-container *ngIf="project.members && project.members.length>0">

              <mat-accordion class="members-accordion small">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Members
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="flex">
                    <span class="fill-remaining-space"></span>
                    <mat-icon (click)="editMembers()">edit</mat-icon>
                  </div>

                  <mat-list>
                    <ng-container *ngFor="let m of project.members">
                      <ng-container *ngIf="m.type.delta_rel==1">
                        <mat-list-item>
                          <div>
                            <div class="flex">
                              <sp-user [userPK]="m.user.pk"></sp-user>
                            </div>
                          </div>
                        </mat-list-item>
                      </ng-container>
                    </ng-container>
                  </mat-list>

                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Audience
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul class="nomargin">
                    <ng-container *ngFor="let m of project.members">
                      <ng-container *ngIf="m.type.delta_rel==2">
                        <li>
                          <div>
                            <div class="flex">
                              <sp-user [userPK]="m.user.pk"></sp-user>
                            </div>
                          </div>
                        </li>
                      </ng-container>
                    </ng-container>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
            </ng-container>

            <div class="flex" *ngIf="canEditProject()">
              <mat-icon (click)="editProject()">edit</mat-icon>
            </div>
          </ng-container>
          <ng-container *ngIf="levels.length>0">
            <ng-container *ngFor="let task of [getTask(levels[levels.length-1])]">
              <h5>{{task.sap_name}} - {{task.name}}</h5>
              <div>
                <div class="flex">
                  <div [style]="getTaskStatusStyle()">
                    {{task.status.__str__}}
                  </div>
                  <ng-container>
                   <button mat-mini-fab class="serioplast-blue" *ngIf="levels.length>0 && enableTaskAdvance(getTask(levels[levels.length-1]))" (click)="changeTaskStatus(getTask(levels[levels.length-1]))">
                      <!--<mat-icon>forward</mat-icon>-->
                      <sap-icon [iconName]="'workflow-tasks'" [iconClass]="'mini'"> </sap-icon>
                    </button>
                  </ng-container>
                </div>
              </div>

              <div *ngIf="task.next_status">
                <fixed-field [label]="'Status in approval'" [useContent]="true">
                  <sap-icon [iconName]="'workflow-tasks'" class="status"> </sap-icon> {{getProjectTaskStatusFromDeltaRel(task.next_status).__str__}}
                </fixed-field>
              </div>

              <div>
                {{task.description}}
              </div>

              <div class="flex" *ngIf="!hideUser">

                <sp-user [userPK]="task.assignee.user.pk"></sp-user>
                <mat-icon (click)="editAssignee()">edit</mat-icon>
              </div>

              <sp-period-timeline [periodRows]="getEventRows(task)"></sp-period-timeline>

              <div *ngFor="let e of getEventRows(task)" style="margin-top:10px">
                <ng-container  *ngIf="e.event">

                  <fixed-field *ngIf="e.event.start" [label]="e.name" [value]="getUrlDate(e.event.start)+' - '+getUrlDate(e.event.end)" [noMargin]="true"></fixed-field>
                </ng-container>
              </div>


              <mat-list *ngIf="task.children">
                <mat-list-item *ngFor="let s of task.children" (click)="taskSelected(s)" style="cursor:pointer">
                  <div class="flex">
                    <span class="dot" [style]="getSubTaskStyle(s)"></span>
                    &nbsp;
                    {{s.sap_name}} - {{s.name}}
                    <span class="fill-remaining-space"></span>
                  </div>
                </mat-list-item>
              </mat-list>

              <div class="flex" style="overflow: hidden">
                <mat-icon (click)="editTask(task)" matTooltip="Edit task" *ngIf="!task.readOnly && canEditTask(task)">edit</mat-icon>
                <span class="fill-remaining-space"></span>
                <mat-icon (click)="viewFullTask(task)"  matTooltip="View task">visibility_on</mat-icon>
              </div>
            </ng-container>


          </ng-container>

        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <div class="col content scroll">
    <ng-container *ngIf="!projectEdit">
      <ng-container *ngIf="levels.length>0">
        <div class="breadcrumb-container flex">
          <a class="breadcrumb" (click)="backToProject()">{{project.name}}</a>
          <ng-container *ngFor="let t of levels; let i=index">
            <mat-icon>keyboard_arrow_right</mat-icon>
            <a class="breadcrumb" (click)="levelSelected(t)">
              <ng-container *ngIf="i==(levels.length-1)">
                <b>
                  <ng-container *ngFor="let task of [getTask(t)]">
                    {{task.sap_name}} - {{task.name}}
                  </ng-container>
                </b>
              </ng-container>
              <ng-container *ngIf="i!=(levels.length-1)">
                <ng-container *ngFor="let task of [getTask(t)]">
                  {{task.sap_name}} - {{task.name}}
                </ng-container>
              </ng-container>

            </a>
          </ng-container>
        </div>

        <ng-container *ngFor="let t of [getTask(levels[levels.length-1])]"> <!-- finto ciclo per avere il task visibile in una variabile... -->
          <mat-tab-group #tab [selectedIndex]="selectedTabIndex" (selectTabChange)="tabChange(tab)">
            <mat-tab label="{{tr('TODO_AND_COMMENTS')}}">
              <div class="row main">
                <div class="col s6">
                  <sp-generic-comment-list #commentList [contentType]="taskCT" [objectId]="t.pk" *ngIf="taskCT && t && t.pk && showComments" [allowAdd]="!t.readOnly || readOnlyByAudience"></sp-generic-comment-list>
                </div>
                <div class="col s6">
                  <sp-attachments [contentType]="taskCT" [objectId]="t.pk" [allowAdd]="!t.readOnly"></sp-attachments>
                  <sp-todo-list [contentType]="taskCT" [objectId]="t.pk" *ngIf="taskCT && t && t.pk" [allowAdd]="!t.readOnly || readOnlyByAudience"></sp-todo-list>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="{{tr('KANBAN')}}">
              <app-project-management-kanban [tasks]="t.children" class="sub" (createTask)="createTask(t)" (deleteTask)="taskDeleted($event)" (selectTask)="taskSelected($event)" [allowCreate]="!t.readOnly"></app-project-management-kanban>
            </mat-tab>
            <mat-tab label="{{tr('ACTIVITIES')}}">

              <div class="orders-container" *ngIf="wbs.hasAskedData">
                <ng-container *ngIf="!workorderToView">
                  <div class="flex">
                    <span class="fill-remaining-space"></span>
                    <button mat-mini-fab class="serioplast-blue" style="margin:20px;" (click)="getWBS(t.pk)"><mat-icon>autorenew</mat-icon></button>
                  </div>
                <ng-container *ngIf="wbs && wbs.POLink.results.length>0">
                  <h5>Purchase Orders</h5>
                  <table class="bordered striped noclick small">
                    <thead>
                    <tr>
                      <th>Number</th>
                      <th>Item</th>
                      <th>Description</th>
                      <th>Date</th>
                      <th>Delivery Date</th>
                      <th>Supplier</th>
                      <th>Delivered</th>
                      <th>Total</th>
                      <th>Completely Delivered</th>
                    </tr>
                    </thead>

                    <tbody>
                    <ng-container *ngFor="let po of wbs.POLink.results">
                      <tr>
                        <td>{{po.PurchaseOrder}}</td>
                        <td>{{po.PurchaseOrderItem}}</td>
                        <td>{{po.Description}}</td>
                        <td>{{po.PurchaseOrderDate|sapDate}}</td>
                        <td>{{po.PurchaseOrderDelDate?(po.PurchaseOrderDelDate|sapDate):"-"}}</td>
                        <td>{{po.PurchaseOrderSupplierName}} ({{po.PurchaseOrderSupplier}})</td>
                        <td>{{parseFloat(po.PurchaseOrderDelQty)}} {{po.Uom}}</td>
                        <td>{{parseFloat(po.PurchaseOrderQty)}} {{po.Uom}}</td>
                        <td>
                          <mat-icon *ngIf="po.CompletelyDelivered" class="green-text">done</mat-icon>
                          <mat-icon *ngIf="!po.CompletelyDelivered" class="red-text">clear</mat-icon>
                        </td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>
                </ng-container>
                <ng-container *ngIf="wbs && wbs.POLink.results.length==0">
                  <div>
                    <sp-ng-translate [value]="'NO_AVAILABLE_PURCHASE_ORDERS'"></sp-ng-translate>
                  </div>

                </ng-container>
                <!--<ng-container *ngIf="wbs && wbs.WOLink.results.length>0">-->
                  <!--<h5>Work Orders</h5>-->
                  <!--<table class="bordered striped noclick small">-->
                    <!--<thead>-->
                    <!--<tr>-->
                      <!--<th>Number</th>-->
                      <!--<th>Date</th>-->
                      <!--<th>Status</th>-->
                      <!--<th>Confirmed</th>-->
                      <!--<th>Total</th>-->
                      <!--<th>PackIns</th>-->
                    <!--</tr>-->
                    <!--</thead>-->

                    <!--<tbody>-->
                    <!--<ng-container *ngFor="let wo of wbs.WOLink.results">-->
                      <!--<tr>-->
                        <!--<td>{{wo.Workorder}}</td>-->
                        <!--<td>{{wo.WorkOrderDate}}</td>-->
                        <!--<td>{{wo.WorkOrderStatus}}</td>-->
                        <!--<td>{{parseFloat(wo.WorkOrderConfQty)}}</td>-->
                        <!--<td>{{parseFloat(wo.WorkOrderTotQty)}}</td>-->
                        <!--<td>{{wo.WorkOrderPackIns}}</td>-->
                      <!--</tr>-->
                    <!--</ng-container>-->
                    <!--</tbody>-->
                  <!--</table>-->
                <!--</ng-container>-->
                <!--<ng-container *ngIf="wbs && wbs.WOLink.results.length==0">-->
                  <!--<div>-->
                    <!--<sp-ng-translate [value]="'NO_AVAILABLE_WORK_ORDERS'"></sp-ng-translate>-->
                  <!--</div>-->



                  <h5>Work Orders</h5>
                  <sp-table-with-pages [ready]="true" [availableActions]="[]" [clickable]="true" (rowclick)="selectedWO($event)" [headerConf]="headerConfWO" [noItemsMessage]="noWorkordersMessage" [nResults]="50" [getData]="getSamplings.bind(this)" [expandData]="extendDataWorkorders.bind(this)" [expandDataAsync]="true"></sp-table-with-pages>

                <ng-container *ngIf="wbs && wbs.SOLink.results.length>0">
                  <h5>Sales Orders</h5>
                  <table class="mdl-data-table bordered striped noclick small">
                    <thead>
                    <tr>
                      <th>Number</th>
                      <th>Item</th>
                      <th>Description</th>
                      <th>Date</th>
                      <th>Customer</th>
                      <th>Delivered</th>
                      <th>Total</th>
                      <th>Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    <ng-container *ngFor="let so of wbs.SOLink.results">
                      <tr>
                        <td>{{so.SalesOrder}}</td>
                        <td>{{so.SalesOrderItem}}</td>
                        <td>{{so.Description}}</td>
                        <td>{{so.SalesOrderDate}}</td>
                        <td>{{so.SalesOrderCustomerName}} ({{so.SalesOrderCustomer}})</td>
                        <td>{{parseFloat(so.SalesOrderDelQty)}} {{so.Uom}}</td>
                        <td>{{parseFloat(so.SalesOrderQty)}} {{so.Uom}}</td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>
                </ng-container>
                <ng-container *ngIf="wbs && wbs.SOLink.results.length==0">
                  <div>
                    <sp-ng-translate [value]="'NO_AVAILABLE_SALES_ORDERS'"></sp-ng-translate>
                  </div>
                </ng-container>

                </ng-container>

                <ng-container *ngIf="workorderToView">
                  <workorder-view-shared *ngIf="workorderToView && workorderToView.pk" [workorder]="workorderToView" [backFunction]="resetWO.bind(this)" [allowActions]="false"></workorder-view-shared>
                </ng-container>

              </div>

            </mat-tab>
            <mat-tab label="{{tr('PROFITS_AND_LOSS')}}">

              <div class="flex">
                <mat-slide-toggle [(ngModel)]="showWBSCostsOnly" (ngModelChange)="filterCosts()" [disabled]="disableSwitch">Only WBS values</mat-slide-toggle>
                <span class="fill-remaining-space"></span>
                <button mat-mini-fab class="serioplast-blue" style="margin:20px;" (click)="reloadCosts(t.pk)"><mat-icon>autorenew</mat-icon></button>
              </div>

              <app-cost-structure [costStructures]="costStructureTask"></app-cost-structure>

              <ng-container *ngFor="let csc of costStructureCompaniesTask">
                <mat-card class="companyCosts">
                  <mat-card-title>{{csc.company}}</mat-card-title>
                  <mat-card-content>
                    <app-cost-structure [costStructures]="csc.costStructure"></app-cost-structure>
                  </mat-card-content>
                </mat-card>
              </ng-container>

            </mat-tab>
          </mat-tab-group>
        </ng-container>


      </ng-container>
      <ng-container *ngIf="levels.length==0">

        <mat-tab-group #projectTab (selectTabChange)="tabChangeProject(projectTab)">
          <mat-tab [label]="tr('KANBAN')">

            <div class="flex">
              <span class="fill-remaining-space"> </span>
              <mat-slide-toggle [(ngModel)]="showAllTasks" color="primary">Show All Tasks</mat-slide-toggle>
            </div>
            <app-project-management-kanban *ngIf="!showAllTasks" [tasks]="project.tasks" class="main" (createTask)="createTask($event)" (deleteTask)="taskDeleted($event)" (selectTask)="taskSelected($event)" [allowCreate]="!project.readOnly"></app-project-management-kanban>
            <app-project-management-kanban *ngIf="showAllTasks" [isFullViewMode]="true" [enableTaskClick]="true" [tasks]="project.tasksAll" class="main" (createTask)="createTask($event)" (deleteTask)="taskDeleted($event)" (selectTask)="taskSelected($event)" [allowCreate]="!project.readOnly"></app-project-management-kanban>

          </mat-tab>
          <mat-tab label="{{tr('ACTIVITIES')}}" [disabled]="true">



          </mat-tab>
          <mat-tab label="{{tr('ATTACHMENTS')}}">
            <sp-attachments [contentType]="projectCT" [objectId]="project.pk" [allowAdd]="!project.readOnly"></sp-attachments>
          </mat-tab>
          <mat-tab label="{{tr('PROFITS_AND_LOSS')}}">

            <div class="flex">
              <span class="fill-remaining-space"></span>
              <button mat-mini-fab class="serioplast-blue" style="margin:20px;" (click)="reloadCosts()"><mat-icon>autorenew</mat-icon></button>
            </div>

            <app-cost-structure [costStructures]="costStructureProject"></app-cost-structure>

            <ng-container *ngFor="let csc of costStructureCompaniesProject">
              <mat-card class="companyCosts">
                <mat-card-title>{{csc.company}}</mat-card-title>
                <mat-card-content>
                  <app-cost-structure [costStructures]="csc.costStructure"></app-cost-structure>
                </mat-card-content>
              </mat-card>
            </ng-container>

          </mat-tab>
        </mat-tab-group>

      </ng-container>
    </ng-container>
    <ng-container *ngIf="projectEdit">
      <div class="row nomargin" style="margin-top:10px;">
        <div class="col s4">
          <mat-form-field>
            <input type="text" [(ngModel)]="projectToEdit.name" maxlength="40" matInput [placeholder]="tr('NAME')">
          </mat-form-field>
        </div>
        <div class="col s4">
          <user-sites (siteChange)="siteSelected($event)" [additionalQuery]="{active_on_sap:true}"></user-sites>
        </div>
        <div class="col s4">
          <fieldset>
            <legend><sp-ng-translate [value]="'TYPES'"></sp-ng-translate></legend>
            <div *ngFor="let pt of projectToEdit.project_types">
              <mat-checkbox [(ngModel)]="pt.is_active" color="primary">{{pt.__str__}}</mat-checkbox>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row nomargin">
        <div class="col s12">
          <mat-form-field>
            <textarea [(ngModel)]="projectToEdit.description" maxlength="2000" matInput placeholder="{{tr('DESCRIPTION')}}"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <date-input [placeholder]="tr('START_DATE')" [(ngModel)]="projectToEdit.start_date" (ngModelChange)="fixProjectDates()"></date-input>
        </div>
        <div class="col s6">
          <date-input [placeholder]="tr('END_DATE')" [(ngModel)]="projectToEdit.planned_end_date"></date-input>
        </div>
      </div>

      <sp-save-undo *ngIf="!savingProject" (undo)="project.pk?(projectEdit=false):backToList()" (save)="saveProject()" [saveCondition]="canSaveProject()"></sp-save-undo>
    </ng-container>
  </div>
</div>

<sp-dialog #taskEditDialog>
  <ng-container *ngIf="taskToEdit && taskEditDialog.opened">

    <div style="width:900px" class="task-edit">
      <div class="flex" *ngIf="taskToEdit.parent && taskToEdit.parent.pk">
        <span class="fill-remaining-space"></span>
        Parent: {{taskToEdit.parent.sap_name}} - {{taskToEdit.parent.name}}
      </div>
      <div class="row">
        <div class="col s1">
          <fixed-field [label]="tr('SAP_NAME')" [value]="taskToEdit.sap_name"></fixed-field>
        </div>
        <div class="col s3 input-field">
          <mat-form-field>
            <input id="task-name" type="text" [(ngModel)]="taskToEdit.name" maxlength="40" matInput placeholder="{{tr('NAME')}}">
          </mat-form-field>
        </div>
        <div class="col s3" *ngIf="taskToEdit.assignee">
          <div class="flex">
            <mat-form-field style="width:calc(100% - 40px)">
              <mat-select [(ngModel)]="taskToEdit.assignee.pk" [placeholder]="tr('ASSIGNEE')"
                          (ngModelChange)="loadAssigneeDepartments()" style="width:calc(100% - 60px)">
                <ng-container *ngFor="let t of project.members">
                  <mat-option *ngIf="t.type.delta_rel!=2 && t.is_active" [value]="t.pk">{{t.user.__str__}} - {{t.type.__str__}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>

            <button mat-mini-fab class="serioplast-blue" (click)="editMembers()"><mat-icon>people</mat-icon></button>
          </div>


        </div>
        <div class="col s3">
          <ng-container *ngIf="taskToEdit.pk && !(canEditTaskSite()|async)">
            <fixed-field [label]="tr('SITE')" [value]="taskToEdit.site.__str__"></fixed-field>
          </ng-container>

          <ng-container *ngIf="!taskToEdit.pk || (canEditTaskSite()|async)">
            <user-sites [initialValue]="taskToEdit.site" (siteChange)="siteChangeTask($event)" [additionalQuery]="{active_on_sap:true}"></user-sites>
          </ng-container>

        </div>
        <div class="col s2">
          <ng-container *ngIf="!taskToEdit.pk && !taskToEdit.parent">
            <mat-checkbox [(ngModel)]="taskToEdit.feasibility" color="primary"><sp-ng-translate [value]="'FEASIBILITY'"></sp-ng-translate></mat-checkbox>
          </ng-container>
          <ng-container *ngIf="!taskToEdit.pk && taskToEdit.parent">
            <fixed-field [label]="tr('FEASIBILITY')" [value]="taskToEdit.feasibility" [isBoolean]="true"></fixed-field>
          </ng-container>
          <ng-container *ngIf="taskToEdit.pk">
            <fixed-field [label]="tr('FEASIBILITY')" [value]="taskToEdit.feasibility" [isBoolean]="true"></fixed-field>
          </ng-container>
        </div>
      </div>
      <div class="row"
           *ngIf="taskToEdit.assignee && taskToEdit.department && taskToEdit.assignee.departments && taskToEdit.assignee.departments.length>1">
        <div class="col s12">
          <mat-select [(ngModel)]="taskToEdit.department.pk" [placeholder]="tr('DEPARTMENT')">
            <mat-option *ngFor="let d of taskToEdit.assignee.departments" [value]="d.pk">{{d.__str__}}</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row">
        <ng-container *ngIf="!taskToEdit.pk">
          <div class="col s6 input-field">
            <date-input [placeholder]="tr('START_DATE')" [(ngModel)]="taskToEdit.original_start_date" (ngModelChange)="fixTaskDates()"></date-input>
          </div>
          <div class="col s6 input-field">
            <date-input [placeholder]="tr('END_DATE')" [(ngModel)]="taskToEdit.original_end_date"></date-input>
          </div>
        </ng-container>
        <ng-container *ngIf="taskToEdit.pk">
          <div class="col s6">
            <sp-ng-translate [value]="'ORIGINAL_START_DATE'"></sp-ng-translate>: {{taskToEdit.original_start_date}}
            <date-input [placeholder]="tr('FORECAST_START_DATE')" [(ngModel)]="taskToEdit.forecast_start_date"></date-input>
          </div>
          <div class="col s6">
            <sp-ng-translate [value]="'ORIGINAL_END_DATE'"></sp-ng-translate>: {{taskToEdit.original_start_date}}
            <date-input [placeholder]="tr('FORECAST_END_DATE')" [(ngModel)]="taskToEdit.forecast_end_date"></date-input>
          </div>
        </ng-container>

      </div>

      <div class="row">
        <div class="col s12">
          <mat-form-field>
            <textarea [(ngModel)]="taskToEdit.description" matInput placeholder="{{tr('LONG_DESCRIPTION')}}"></textarea>
          </mat-form-field>
        </div>
      </div>
      <sp-save-undo (undo)="taskEditDialog.close()" (save)="saveTaskToEdit()" [saveCondition]="canSaveTask(taskToEdit)"></sp-save-undo>
    </div>
  </ng-container>
</sp-dialog>

<sp-dialog #taskViewDialog>
  <ng-container *ngIf="taskToView">
    <div style="width:900px">
      <div class="flex" *ngIf="taskToView.parent && taskToView.parent.pk">
        <span class="fill-remaining-space"></span>
        Parent: {{taskToView.parent.sap_name}} - {{taskToView.parent.name}}
      </div>
      <div class="row">
        <div class="col s1">
          <fixed-field [label]="tr('SAP_NAME')" [value]="taskToView.sap_name"></fixed-field>
        </div>
        <div class="col s3">
          <fixed-field [label]="tr('NAME')" [value]="taskToView.name"></fixed-field>
        </div>
        <div class="col s3" *ngIf="taskToView.assignee">
          <fixed-field [label]="tr('ASSIGNEE')" [useContent]="true">
            <sp-user *ngIf="taskViewDialog.opened" [userPK]="taskToView.assignee.user.pk"></sp-user>
          </fixed-field>
        </div>
        <div class="col s3">
          <fixed-field [label]="tr('SITE')" [value]="taskToView.site.__str__"></fixed-field>
        </div>
        <div class="col s2">
          <fixed-field [label]="tr('FEASIBILITY')" [value]="taskToView.feasibility" [isBoolean]="true"></fixed-field>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <fixed-field [label]="tr('LONG_DESCRIPTION')" [value]="taskToView.description"></fixed-field>
        </div>
      </div>
      <div class="row" *ngIf="taskViewDialog.opened">
        <div class="col s12 timeline-container">
          <sp-period-timeline [periodRows]="getEventRows(taskToView)" [big]="true"></sp-period-timeline>
        </div>
      </div>
    </div>
  </ng-container>
</sp-dialog>

<sp-dialog #projectStatusDialog>
  <div style="width:300px">
    <div class="row">
      <div class="col s12">
        <div>
          <h5>Change project status</h5>
        </div>
        <div>
          Enter the justification for the request
          <br/>
          <mat-form-field>
            <textarea matInput [(ngModel)]="projectStatusChangeRequestMessage"></textarea>
          </mat-form-field>
        </div>

        Please select the new status for the project <br/><br/>

        <div class="flex">
          <span class="fill-remaining-space"></span>
          <ng-container *ngFor="let b of availableStatusButtonsProject;let i=index">
            <button mat-mini-fab (click)="projectStatusChangeRequestMessage?b.action():noteInsertMessage()" matTooltip="{{b.tooltip}}" [attr.style]="getProjectStatusColorByDeltaRel(b)" [disabled]="b.disabled"><mat-icon>{{b.icon}}</mat-icon></button>
            <span class="fill-remaining-space"></span>
          </ng-container>
        </div>

      </div>
    </div>
  </div>
</sp-dialog>

<sp-dialog #taskStatusDialog>
  <div style="width:350px">
    <div class="row">
      <div class="col s12">
        <div>
          <h5>Change task status</h5>
        </div>

        <div>
          Enter the justification for the request
          <mat-form-field>
            <textarea matInput [(ngModel)]="projectTaskStatusChangeRequestMessage"></textarea>
          </mat-form-field>

        </div>

        Please select the new status for the task: <br/> <b>{{taskToChangeStatus?taskToChangeStatus.sap_name+ " - " +taskToChangeStatus.name:''}}</b><br/><br/>

        <div class="flex">
          <span class="fill-remaining-space"></span>
          <ng-container *ngFor="let b of availableStatusButtonsTask;let i=index">
            <button mat-mini-fab (click)="projectTaskStatusChangeRequestMessage?b.action():noteInsertMessage()" matTooltip="{{b.tooltip}}" [attr.style]="getTaskStatusColorByDeltaRel(b)" [disabled]="b.disabled"><mat-icon>{{b.icon}}</mat-icon></button>
            <span class="fill-remaining-space"></span>
          </ng-container>
        </div>

      </div>
    </div>
  </div>
</sp-dialog>

<sp-dialog #membersEditDialog>
  <div class="members-edit" *ngIf="membersEditDialog.opened">
    <div class="row nomargin">
      <div class="col s12">
        <h5>Members</h5>
        <table #table class="mdl-data-table bordered striped noclick small" *ngIf="projectToEditMembers.members.length>0">
          <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          <ng-container *ngFor="let m of projectToEditMembers.members">
            <tr *ngIf="m.custom_status!='toDelete' && m.is_active">
              <td>
                {{m.user.__str__}}
              </td>
              <td>
                {{m.type.__str__}}
              </td>
              <td>
                <mat-icon matTooltip="Edit" [matTooltipPosition]="'below'" *ngIf="projectToEditMembers.pk || (m.pk && m.type.delta_rel!=0)" (click)="editMember(m)"
                         style="cursor:pointer;">
                  edit
                </mat-icon>
                <mat-icon matTooltip="Delete" [matTooltipPosition]="'below'" (click)="deleteMember(m)"
                         style="cursor:pointer;" *ngIf="m.type.delta_rel!=0">
                  delete
                </mat-icon>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
        <div class="add-button-container flex" *ngIf="!memberToEdit" style="padding-top:10px">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab class="serioplast-green" (click)="addMember()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <ng-container *ngIf="hasInactiveMembers()">
          <h5>Inactive Members</h5>
          <table #table class="mdl-data-table bordered striped noclick small" *ngIf="projectToEditMembers.members.length>0">
            <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <ng-container *ngFor="let m of projectToEditMembers.members">
              <tr *ngIf="m.custom_status=='toDelete' || !m.is_active">
                <td>
                  {{m.user.__str__}}
                </td>
                <td>
                  {{m.type.__str__}}
                </td>
                <td>
                  <mat-icon matTooltip="Restore" [matTooltipPosition]="'below'" (click)="restoreMember(m)"
                           style="cursor:pointer;" >
                    open_in_browser
                  </mat-icon>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </ng-container>


      </div>
    </div>
    <div class="row nomargin" style="background-color:#eeeeee; margin-top:10px; padding-top:10px" *ngIf="memberToEdit">
      <div class="col s6">
        <ng-container *ngIf="!memberToEdit.pk">
          <user-search [label]="'USER'" (userSelected)="selectUser($event)"></user-search>
          <!--<sp-autocomplete [label]="'USER'" [source]="users" [sourceFunction]="getHRUsers.bind(this)"-->
          <!--[displayKey]="'__str__'" (valueChanged)="selectUser($event)"></sp-autocomplete>-->
        </ng-container>
        <ng-container *ngIf="memberToEdit.pk">
          <fixed-field [label]="'User'" [value]="memberToEdit.user.__str__"></fixed-field>
        </ng-container>
      </div>
      <div class="col s6" *ngIf="memberToEdit.type && memberToEdit.user && memberToEdit.user.pk && projectToEditMembers.members.length>0">
        <mat-form-field>
          <mat-select [(ngModel)]="memberToEdit.type.pk" placeholder="Type" (ngModelChange)="fixMemberType()">
            <ng-container *ngFor="let t of memberTypes">
              <mat-option [value]="t.pk">{{t.__str__}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s6" *ngIf="memberToEdit.type && memberToEdit.user && memberToEdit.user.pk && projectToEditMembers.members.length==0">
        <fixed-field [label]="'Type'" [value]="memberToEdit.type.__str__"></fixed-field>
      </div>
      <div class="col s12">
        <sp-save-undo (undo)="memberToEdit = null" [saveCondition]="memberToEdit.type && memberToEdit.type.pk && memberToEdit.user && memberToEdit.user.pk" (save)="confirmMember()" [savePartial]="true"></sp-save-undo>
      </div>
    </div>
    <sp-save-undo [saveCondition]="!memberToEdit" (undo)="membersEditDialog.close()" (save)="saveMembers()"></sp-save-undo>
  </div>
</sp-dialog>

<sp-dialog #assigneeEditDialog>
  <div class="members-edit" *ngIf="assigneeEditDialog.opened">
    <div class="row nomargin">
      <div class="col s12">
        <div class="flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab class="serioplast-blue" (click)="editMembers()"><mat-icon>people</mat-icon></button>
        </div>
        <h5>Available members</h5>
        <table #table class="mdl-data-table bordered striped noclick small" *ngIf="project.members.length>0">
          <thead>
          <tr>
            <th>Name</th>
          </tr>
          </thead>

          <tbody>
          <ng-container *ngFor="let m of project.members">
            <tr *ngIf="m.custom_status!='toDelete' && m.is_active && m.type.delta_rel!=2" (click)="selectNewAssignee(m)" style="cursor:pointer">
              <td>
                {{m.user.__str__}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</sp-dialog>
