.phase {
  width:300px;
}

.profits th {
  text-align:center;
}

.members li, .audience li {
  border-bottom: 1px solid #ccc;
}

.members-edit {
  padding:10px;
  background-color: #ccc;
  width: 600px;
}

table {
  background:white;
}

.members-accordion>>>.mat-toolbar.mat-primary {
  min-height:30px;
  font-size:12px;
}

.members-accordion>>>.mat-toolbar-row {
  height:30px;
}

.members-accordion>>>.mat-card {
  padding:5px;
}

.nomargin {
  margin:0;
}

app-project-management-kanban {
  display:block;
}

app-project-management-kanban.sub {
  margin-bottom:20px;
}

.breadcrumb {
  color:black;
  cursor:pointer;
}

.scroll {
  overflow:auto;
}

.long-desc-container {
  max-height:300px;
  overflow:auto;
}

.breadcrumb-container {
  padding:10px;
  border-bottom:1px solid #ccc;
}

.task-details-edit {
  padding:10px;
  background:#ccc;
}

*>>>.mat-tab-body-wrapper {
  height:calc(100% - 30px);
}

*>>>.mat-tab-body-content {
  height:100%;
  overflow:auto;
}

mat-tab-group {
  height:calc(100% - 50px);
}

.col.side {
  width:250px;
}

.col.content {
  width:calc(100% - 250px);
}

.dot {
  display:inline-block;
  width:20px;
  height:20px;
  border-radius: 10px;
}

.companyCosts {
  margin-top:10px;
  background: #d2d2d2;
}

.task-edit .row {
  margin-bottom: 0;
}

sap-icon.status>>>.icon {
  color:black;
  font-size:100%;
}

*>>>.wo-status {
  padding:0 10px;
  background-color:green;
}

*>>> .dialog.test {
  background:red;
}
