<mat-card-title>
  <sp-ng-translate [value]="'ASSESSMENT'"></sp-ng-translate>
</mat-card-title>
<mat-card-content>

  <sp-table-with-pages [ready]="ready" [availableActions]="availableActions" [headerConf]="headerConf" [getData]="getAssessments.bind(this)"
                       [nResults]="10" [noItemsMessage]="noItemsMessage" [showIndex]="true" [indexOnLeft]="true" [expandData]="expandData.bind(this)" [expandDataAsync]="true"></sp-table-with-pages>

  <div class="flex add-button-container" *ngIf="mode=='edit'">
    <span class="fill-remaining-space"></span>
    <button mat-mini-fab class="serioplast-green" (click)="create()"><mat-icon>add</mat-icon></button>
  </div>
</mat-card-content>

<sp-dialog #assessmentViewDialog>
  <ng-container *ngIf="assessmentToView">
    <div class="assessment-view">
      <div class="row">
        <div class="col s4">
          <fixed-field [label]="tr('DATE')" [value]="assessmentToView.date"></fixed-field>
        </div>
        <div class="col s4">
          <fixed-field [label]="tr('MODALITY')" [value]="assessmentToView.modality.__str__"></fixed-field>
        </div>
        <div class="col s4">
          <fixed-field [label]="tr('INTERVIEWER')" [value]="assessmentToView.interviewer.__str__"></fixed-field>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <fixed-field [label]="tr('PARTECIPANTS')" [value]="getPartecipantsToView(assessmentToView)"></fixed-field>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <fixed-field [label]="tr('DESCRIPTION')" [value]="assessmentToView.description" [useMarkdown]="true"></fixed-field>
        </div>
      </div>
      <mat-card class="skills">
        <table #table class="bordered striped noclick">
          <thead>
          <tr>
            <th>
              <sp-ng-translate [value]="'SKILL'"></sp-ng-translate>
            </th>
            <th>
              <sp-ng-translate [value]="'EXPECTED_LEVEL'"></sp-ng-translate>
            </th>
            <th>
              <sp-ng-translate [value]="'RATING'"></sp-ng-translate>
            </th>
          </tr>
          </thead>

          <tbody>
          <ng-container *ngFor="let skass of assessmentToView.skills_assessments">
            <tr>
              <td>
                {{skass.cpnSkill.skill.__str__}}
              </td>
              <td [innerHTML]="skass.cpnSkill.level.delta_rel|stars"></td>
              <td [innerHTML]="skass.rating.delta_rel|stars"></td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </mat-card>
    </div>

  </ng-container>
</sp-dialog>
