.phase {
  font-weight: bold;
  height: 40px;
  line-height:40px;
  width:100%;
  display:block;
}

.col.bordered {
  border-right: 1px solid #ccc;
  padding-bottom: 500em;
  margin-bottom: -500em;
}

.add-button-container {
  padding:10px;
}

.header {
  height:50px;
}

.row.main.content {
  height:calc(100% - 50px);
  overflow: hidden;
}

.kanban-container {
  background: #eee;
  border-radius:10px;
  padding:5px;
}

.row.flex .col {
  float:none;
  flex: 1 0 auto;
}
