<div class="kanban-container">
  <div class="row nomargin header">
    <div class="col s3 center-align" *ngFor="let p of phases; let i=index">
      <div class="phase flex" [style]="getStyle(p)">
        <span class="fill-remaining-space"></span>
        {{p.statuses[0].__str__}}
        <span class="fill-remaining-space"></span>
        <button mat-mini-fab  *ngIf="i==0 && enableTaskClick && allowCreate" class="serioplast-green" style="margin:10px" (click)="doCreateTask()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="row nomargin main content">
    <div class="col s3" *ngFor="let p of phases; let i=index;" [ngClass]="{'bordered':i<3}">
      <div class="flex">
        <span class="fill-remaining-space"></span>
      </div>
      <ng-container *ngFor="let t of tasks">
        <ng-container *ngIf="taskInPhase(t,p)">
          <app-project-management-task [task]="t" [taskct]="taskCT" (notifyDelete)="taskDeleted($event)" (taskSelected)="taskSelected($event)" [disableClick]="!enableTaskClick" [isFullViewMode]="isFullViewMode"></app-project-management-task>
        </ng-container>
      </ng-container>
      &nbsp;
    </div>
  </div>
</div>

