<div class="main-container">
  <div class="row">
    <div class="col s4">
      <mat-form-field>
        <mat-select placeholder="{{tr('TECHNOLOGY')}}" [(ngModel)]="workcenter.technology.pk"
                    (ngModelChange)="handleTechnologyChange()">
            <mat-option *ngFor="let t of technologyLinks" [value]="t.pk">{{t.__str__}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col s4">
      <mat-form-field>
        <input matInput [placeholder]="tr('SAP_CODE')" [(ngModel)]="workcenter.sap_code" (blur)="checkSapCode()" maxlength="8" [disabled]="workcenter.pk!=null"/>
      </mat-form-field>
    </div>
    <div class="col s4">
      <mat-form-field>
        <input matInput [placeholder]="tr('DESCRIPTION')" [(ngModel)]="workcenter.description" (blur)="checkSapCode()" maxlength="40"/>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <mat-card class="sites">
        <mat-card-title>
          <sp-ng-translate [value]="'LOCATIONS'"></sp-ng-translate>
        </mat-card-title>
        <mat-card-content>

          <div class="row site-form" *ngIf="getActiveWorkcenterLocations().length<2">
            <div class="col offset-s4 s4 site-autocomplete" *ngIf="!siteToAdd.pk">
              <sp-autocomplete [label]="tr('SITE')"
                               [source]="locations"
                               [sourceFunction]="getSitesToAdd.bind(this)" [displayKey]="'name'"
                               (valueChanged)="selectedLocation.bind(this)($event)"
                               [resetOnSelection]="true"></sp-autocomplete>

            </div>
            <div class="col offset-s4 s4 siteToAdd" *ngIf="siteToAdd.pk">
              <div>{{siteToAdd.__str__}}</div>
              <div class="flex">
                <button type="button" mat-mini-fab (click)="resetLocationToAdd()" matTooltip="Undo"
                        [matTooltipPosition]="'below'">
                  <mat-icon>remove</mat-icon>
                </button>
                <span class="fill-remaining-space"></span>
                <button type="button" mat-mini-fab color="primary"
                        (click)="createWorkcenterLocation()"
                        matTooltip="Add" [matTooltipPosition]="'below'">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <ng-container *ngFor="let s of workcenterLocations; let i=index;">
            <div class="site" *ngIf="s.status=='active'|| s.status=='toAdd'|| s.status=='toRestore'">

              <div class="flex">
                <span [attr.for]="i+'_check'">{{s.location.__str__}}</span>
                <span class="fill-remaining-space"></span>
                <mat-icon *ngIf="s.pk" matTooltip="Place in map" [matTooltipPosition]="'below'"
                         (click)="placeWorkcenterLocation(s)">place
                </mat-icon>
                <mat-icon matTooltip="Remove" [matTooltipPosition]="'below'"
                         (click)="removeWorkcenterLocation(s)">delete
                </mat-icon>
              </div>
            </div>
          </ng-container>
          <hr/>
          <ng-container *ngFor="let s of workcenterLocations; let i=index;">
            <div class="site inactive" *ngIf="s.status=='inactive'|| s.status=='toRemove'">

              <div class="flex">
                <span [attr.for]="i+'_check'">{{s.location.__str__}}</span>
                <span class="fill-remaining-space"></span>
                <mat-icon matTooltip="Restore" [matTooltipPosition]="'below'"
                         (click)="restoreWorkcenterLocation(s)" *ngIf="enableWorkcenterLocationRestore()">
                  open_in_browser
                </mat-icon>
              </div>
            </div>
          </ng-container>

        </mat-card-content>
      </mat-card>
    </div>
    <div class="col s6">
      <mat-card class="assets">
        <mat-card-title>
          <sp-ng-translate [value]="'ASSETS'"></sp-ng-translate>
        </mat-card-title>
        <mat-card-content>

          <div class="row site-form">
            <div class="col offset-s1 s10 site-autocomplete" *ngIf="!assetToAdd.pk">
              <sp-autocomplete [label]="tr('ASSETS')"
                               [sourceFunction]="getAssetsToAdd.bind(this)" [displayKey]="'name'"
                               (valueChanged)="selectedAsset($event)"
                               [resetOnSelection]="true"></sp-autocomplete>

            </div>
            <div class="col offset-s1 s10 siteToAdd" *ngIf="assetToAdd.pk">
              <div>{{assetToAdd.name}}</div>
              <div class="flex">
                <button type="button" mat-mini-fab (click)="resetAssetToAdd()" matTooltip="Undo"
                        [matTooltipPosition]="'below'" class="serioplast-red">
                  <mat-icon>remove</mat-icon>
                </button>
                <span class="fill-remaining-space"></span>
                <button type="button" mat-mini-fab class="serioplast-green" type="button"
                        (click)="addAssetToWorkcenter()"
                        matTooltip="Add" [matTooltipPosition]="'below'">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div class="asset" *ngFor="let a of workcenterAssets; let i=index;">

            <div class="flex">
              <span [attr.for]="i+'_check'">{{a.name}}</span>
              <span class="fill-remaining-space"></span>
              <mat-icon matTooltip="Remove" [matTooltipPosition]="'below'"
                       (click)="removeWorkcenterAsset(a)">delete
              </mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div style="padding-top:10px">
    <sp-save-undo (save)="saveWorkcenter()" (undo)="undoEditWorkcenter()"></sp-save-undo>
  </div>
</div>

<sp-dialog #placeWCL [nopadding]="true">
  <ng-container *ngIf="wclToLocate">
    <div class="place-wcl-container">
      <sp-workcenters-map *ngIf="placeWCL.opened" [site]="wclToLocate.location" [wcl]="wclToLocate"
                          (noSiteMap)="noSiteMap()"></sp-workcenters-map>
    </div>
  </ng-container>
</sp-dialog>

