<h5>User Clock Profiles</h5>
<div class="flex toggle-container">

  <span class="fill-remaining-space"></span>
  <mat-slide-toggle color="primary" [(ngModel)]="profilesActive" (ngModelChange)="profilesTable.reload()">
    Active
  </mat-slide-toggle>
</div>
<sp-table-with-pages #profilesTable [getData]="getProfiles.bind(this)" [availableActions]="availableActions"
                     [headerConf]="headerConf" [noItemsMessage]="noItemsMessage"
                     [nResults]="10"></sp-table-with-pages>
<div class="flex" style="padding:10px">
  <span class="fill-remaining-space"></span>
  <button mat-mini-fab class="serioplast-green" (click)="addProfile()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="edit-milestone" style="background-color:#ccc" *ngIf="profileEditOn">
  <div class="row">
    <div class="col 12">
      <mat-select [(ngModel)]="profileInEdit.clock_profile.pk" class="full-width"
                 [placeholder]="tr('CLOCK_PROFILE')" (ngModelChange)="fixCP()">
        <mat-option *ngFor="let cp of clockProfiles" [value]="cp.pk">{{cp.__str__}}</mat-option>
      </mat-select>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="flex">
        <button mat-mini-fab class="serioplast-grey" (click)="undoEditProfile()">
          <mat-icon>undo</mat-icon>
        </button>
        <span class="fill-remaining-space"></span>
        <button mat-mini-fab class="serioplast-green" (click)="saveProfile();">
          <mat-icon>keyboard_return</mat-icon>
        </button>
      </div>
    </div>
  </div>
