#app-container {
  height: calc(100% - 64px);
  width:100%;
  position: relative;
}

#app-container md-sidenav-layout {
  height:100%;
  margin-bottom:0;
}

.sp-header mat-toolbar{
  /*background-color:#4CAF50;*/
  color:#fff;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

span.title {
  cursor: pointer;
}

#app-container sp-login {
  display:block;
  margin-top:40px;
}

.app-card {
  cursor:pointer;
  margin:10px 0;
  padding:15px;
  background:white;
  color:black;
}

.app-card mat-card-title{
  font-size:16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}

.apps-menu {
  height:400px;
  overflow:auto;
}

#apps {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:calc(100% - 64px);
  z-index: 9999;
}

.apps-bg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:calc(100% - 64px);
  background:rgba(0, 0, 0, 0.6);
  cursor:pointer;
}

.apps-list {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  min-height:200px;
  background:white;
}

.language {
  margin-right:10px;
}

@media only screen and (max-width: 480px) {
  .title img {
    width:100px;
  }
}


/*.apps-list mat-card {*/
/*!*padding-top:140px;*!*/
/*}*/

/*.apps-list mat-card img {*/
/*max-width: 100%;*/
/*max-height: 100px;*/
/*width: auto;*/
/*margin: 0 auto;*/
/*position:absolute;*/
/*top:50%;*/
/*left:50%;*/
/*transform: translate(-50%,-50%);*/
/*}*/

.serionet-link {
  margin-right:20px;
}

app-icon {
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
}

.app-icon:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.app-container {
  padding:10px;
  height:150px;
  margin-bottom:10px;
}

.app-container>>>.circle-app {
  font-size:4vw;
}

.logo {
  width:150px;
}

