<header class="sp-header" >
  <mat-toolbar [attr.style]="getHeaderColor()">
    <button mat-icon-button (click)="toggleLeftMenu()"
            *ngIf="loginService.userIsLogged && sidenavService.leftMenuEnabled">
      <mat-icon class="md-24">view_headline</mat-icon>
    </button>
    <span class="title" [routerLink]="['/index']">
     <img class="logo" src="assets/img/logo_new_white.png">
    </span>

    <span class="fill-remaining-space"></span>

    <button mat-icon-button (click)="toggleAppList()"
            *ngIf="loginService.userIsLogged && sidenavService.appMenuEnabled">
      <mat-icon class="md-24">apps</mat-icon>
    </button>

    <sp-login [app]="this" *ngIf="loginService.userIsLogged"></sp-login>

  </mat-toolbar>
</header>

<div id="app-container">

  <router-outlet></router-outlet>

</div>

<div id="apps-container" #myAppList >
  <div id="apps" *ngIf="appsListOpen && sidenavService.appMenuEnabled">
    <div class="apps-bg" (click)="closeAppList()">

    </div>
    <div class="apps-list">
      <div class="row">
        <div class="col s4 m2 l1" *ngFor="let app of apps">
          <mat-card class="app-container" [routerLink]="['/'+app.app_root]" (click)="closeAppList()">
            <div class="flex" style="height:70%">
              <span class="fill-remaining-space"></span>
              <div class="square" style="width:70%">
                <div class="content">
                  <img src="/assets/img/blank.png" style="height:100%"/>
                  <app-icon [app]="app"></app-icon>
                </div>
              </div>
              <span class="fill-remaining-space"></span>
            </div>
            <div class="centerAll" style="height:30%">
              <mat-card-subtitle style="margin-bottom: 0">{{app.title}}</mat-card-subtitle>
            </div>
          </mat-card>
        </div>
        <div *ngIf="apps.length==0">
          No available application
        </div>
      </div>
      <div class="row flex">
        <span class="fill-remaining-space"></span>
        <button mat-button class="serionet-link serioplast-green" (click)="goToSerionet()">Go to SerioNET</button>
      </div>
    </div>
  </div>
</div>

<sp-confirm></sp-confirm>
<sp-loading></sp-loading>




