<mat-card class="base-quantity">
  <mat-card-title>
    <sp-ng-translate [value]="'BOM_GENERAL_INFO'"></sp-ng-translate>
  </mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="col s4">
        <sp-ng-translate [value]="'BASE_QUANTITY'"></sp-ng-translate>
        :
        {{material.material_type.bom_quantity}} {{material.uom.__str__}}
      </div>
    </div>
  </mat-card-content>
</mat-card>


<div class="bom-alternative" *ngFor="let b of boms">
  <mat-card>
    <mat-card-title class="flex">
      <span> <sp-ng-translate [value]="'ALTERNATIVE'"></sp-ng-translate>
      : {{b.alt_bom_id}}</span>
      <span class="fill-remaining-space">


      </span>

      <mat-icon (click)="deleteBOM(b)" matTooltip="Delete" [matTooltipPosition]="'below'" *ngIf="showBOMDelete(b)">delete</mat-icon>
    </mat-card-title>
    <!--<mat-card-subtitle>-->
      <!--<div class="alternative-status">-->
        <!--Status: {{getBOMStatus(b)}}-->
      <!--</div>-->
    <!--</mat-card-subtitle>-->
    <mat-card-content>
      <div class="row">
        <div class="col s12 l8">
          <mat-card class="bom">
            <table class="mdl-data-table noclick full-width" *ngIf="b.bomitem_set.length>0">
              <thead>
              <tr>
                <th  class="mdl-data-table__cell--non-numeric">
                  <sp-ng-translate [value]="'CODE'"></sp-ng-translate>
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                  <sp-ng-translate [value]="'MATERIAL'"></sp-ng-translate>
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                  <sp-ng-translate [value]="'AMOUNT'"></sp-ng-translate>
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                  <sp-ng-translate [value]="'GROUP'"></sp-ng-translate>
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                  <sp-ng-translate [value]="'ACTIONS'"></sp-ng-translate>
                </th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let bi of b.bomitem_set; let i=index;">
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">
                    {{bi.material.code}}
                  </td>
                  <td class="mdl-data-table__cell--non-numeric">
                    {{bi.material.__str__}}

                  </td>
                  <td class="mdl-data-table__cell--non-numeric">
                    {{bi.quantity}} {{bi.uom.__str__}}
                  </td>
                  <td class="mdl-data-table__cell--non-numeric">
                    {{bi.group}}
                  </td>
                  <td class="mdl-data-table__cell--non-numeric">
                    <mat-icon (click)="editBOMItem(b,bi)" matTooltip="Edit" [matTooltipPosition]="'below'">edit</mat-icon>
                    <mat-icon (click)="deleteBOMItem(b,bi)" matTooltip="Delete" [matTooltipPosition]="'below'">delete</mat-icon>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
            <div *ngIf="b.bomitem_set.length==0">
              <sp-ng-translate [value]="'NO_BOM_ITEMS_AVAILABLE'"></sp-ng-translate>
            </div>
            <div class="flex add-button-container" *ngIf="!b.enable_add_item">
              <span class="fill-remaining-space"></span>
              <button mat-mini-fab class="serioplast-green" (click)="enableAddMaterialToBOM(b)" matTooltip="Add" [matTooltipPosition]="'below'">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <div *ngIf="b.enable_add_item" class="addEditForm">
              <div>
                <div class="" *ngIf="materialTypes.length>0 && !bomItem.pk">
                  <material-selector [label]="tr('MATERIAL')" (selectedMaterial)="selectedMaterial($event)"></material-selector>
                </div>
                <div *ngIf="bomItem.pk">
                  <div class="row">
                    <div class="col s12">
                      <b>
                        {{bomItem.material.code}} - {{bomItem.material.__str__}}
                        <!--<pk-tr [source]="bomItem.material|material"></pk-tr>-->
                      </b>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6">
                    <mat-form-field>
                      <input id="amount" type="number" [(ngModel)]="bomItem.quantity" min="0" step="0.001" matInput [placeholder]="tr('AMOUNT')" style="width:calc(100% - 30px)"/>
                      <ng-container *ngIf="bomItem.material && bomItem.material.uom">
                        {{bomItem.material.uom.__str__}}
                      </ng-container>
                    </mat-form-field>
                  </div>
                  <div class="col s6">
                    <mat-form-field>
                      <input id="group" type="text" [(ngModel)]="bomItem.group" matInput [placeholder]="tr('GROUP')" matInput>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <sp-save-undo (save)="addMaterialToBOM(b)" (undo)="disableAddMaterialToBOM(b)" [savePartial]="true"></sp-save-undo>
            </div>
          </mat-card>
        </div>
        <div class="col s12 l4">
          <mat-card class="sites">
            <div *ngFor="let bs of b.bom_sites; let i=index" class="flex">
              <mat-checkbox [color]="'primary'" [(ngModel)]="bs.active" (ngModelChange)="handleBSChange(bs,b)" [disabled]="bs.disabled">
                {{bs.site.__str__}}
              </mat-checkbox>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="flex add-button-container" *ngIf="canBOMBeSaved(b)">
        <span class="fill-remaining-space"></span>
        <button mat-mini-fab class="serioplast-green" (click)="saveBOM(b)" matTooltip="Save" [matTooltipPosition]="'below'">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="flex add-button-container add-alternative" *ngIf="bomCreatable && !hasBOMInEdit() && !hasUnsavedBOM()">
  <span class="fill-remaining-space"></span>
  <button mat-mini-fab class="serioplast-green" (click)="createBOM()" matTooltip="Add" [matTooltipPosition]="'below'">
    <mat-icon>add</mat-icon>
  </button>
</div>
