.add-button-container {
  padding:10px;

}

.add-button-container.add-alternative {
  padding-right:10px;
}

mat-card.bom {
  background: #ddd;
}

mat-card.sites {
  background: rgba(76,175,80, 0.2);
}

table {
  background:white;
}

.quantity {
  width:75%;
}

.bom-alternative {
  width:100%;
}

.bom-alternative>mat-card {
  margin-bottom:20px;
  background:rgba(80,76,175,0.2)
}

#amount {
  width:75%;
}

.addEditForm{
  background:white;
  padding: 20px;
  margin-top: 20px;
}

.base-quantity {
  padding:10px;
  background:#CCCCCC;
  margin-bottom:20px;
  margin-top:20px;
}

*>>>.mat-checkbox-layout {
  color:black;
}

.alternative-status {
  font-size:14px;
}



