<app-material-edit-properties-list *ngIf="!editOn" [material]="material" (editProperty)="editProperty($event)"></app-material-edit-properties-list>
<app-material-edit-properties-edit *ngIf="editOn" [material]="material" [propertyToEdit]="propertyToEdit" (propertySaved)="propertySaved()"></app-material-edit-properties-edit>
