.invisible {
  visibility: hidden;
}

.clickable {
  cursor:pointer;
}

/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  /*max-height: 500px;*/
  /*min-width: 300px;*/
  position: relative;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.example-table {
  overflow: auto;
  /*min-height: 300px;*/
}

.example-loading-shade {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*bottom: 56px;*/
  /*right: 0;*/
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:300px;
}

*>>>.mat-column-select {
  overflow:initial;
  max-width: 100px;
}

*>>>.mat-column-actions {
  max-width:120px;
}

*>>>.mat-column-index {
  max-width:50px;
}
