<div class="example-container full-width mat-elevation-z2">
  <div class="example-loading-shade" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table #table [ngClass]="{hidden:dataSource.data.length==0}" [dataSource]="dataSource" class="example-table">

    <ng-container matColumnDef="index" *ngIf="showIndex">
      <mat-header-cell *matHeaderCellDef>
        #
      </mat-header-cell>
      <mat-cell *matCellDef="let row, let ind=index">
        {{ind}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="select" *ngIf="selectable">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox [(ngModel)]="selectAll" (ngModelChange)="toggleSelectAll()"></mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row, let ind=index">
        <mat-checkbox [(ngModel)]="row.selected" color="primary"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let hc of getActiveHC()" matColumnDef="{{hc.columnId}}">
      <mat-header-cell *matHeaderCellDef>{{hc.label}}</mat-header-cell>
      <mat-cell *matCellDef="let row" [innerHTML]="getValue(row,hc)|sanitizeHtml" [ngClass]="{clickable:clickable}" (click)="clickable?rowclick.emit(row):null"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let row, let isLast=last, let isFirst=first; let ind=index">
        <ng-container *ngFor="let a of availableActions">
          <mat-icon matTooltip="{{a.tooltip}}" [matTooltipPosition]="'below'" (click)="callClickAction(a,row)" [ngClass]="{'invisible':a.visibilityCondition?!a.visibilityCondition(row,isFirst,isLast):false}">{{a.icon}}</mat-icon>
          </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="resultsLength" [pageSize]="nResults" [pageSizeOptions]="[10, 20, 30]" [ngClass]="{hidden:dataSource.data.length==0||!showPaginator}">
  </mat-paginator>

  <mat-card *ngIf="!loading && dataSource.data.length==0" class="mat-elevation-z2 full-width">
    {{noItemsMessage}}
  </mat-card>
</div>
