<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="{{label}}" [(ngModel)]="value" [min]="min" [max]="max" [disabled]="disabled">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
