<mat-tab-group>
  <mat-tab label="Organizations">
    <organizations-list></organizations-list>
  </mat-tab>
  <mat-tab label="Suppliers">
  <suppliers-list></suppliers-list>
  </mat-tab>
  <mat-tab label="Customers">
  <customers-list></customers-list>
  </mat-tab>
</mat-tab-group>


