.map {
  margin:0 auto;
  position:relative;
  width: 800px;
  height: 600px;
}

.map img {
  width:100%;
  height:100%;
}

.workcenter {
  width:64px;
  height:64px;
  cursor:pointer;
}

.unnamed-container {
  padding:10px;
}
.edit-container .workcenter {
  display:inline-block;
  transform:scale(0.6) translate(0px, -30px)!important;
}

.unnamed-container .workcenter {
  display:inline-block;
  margin-right:10px;
}

.map .workcenter {
  position:absolute;
  width:10%;
}

md-slider {
  width:300px;
}
