<div class="full-width full-height" *ngIf="ready">
  <div class="row main nomargin">
    <div class="col" [ngClass]="{s10:getUnpositionedWorkcenters().length>0,s12:getUnpositionedWorkcenters().length==0}">
      <div class="map-container">
        <div class="map" *ngIf="site.site_map && site.site_map.__str__ && getPositionedWorkcenters().length>0">
          <img src="{{site.site_map.__str__}}"/>
          <ng-container *ngFor="let w of getPositionedWorkcenters()">
            <div class="workcenter" [style]="getWorkcenterScaleAndPosition(w)">
              <sp-workcenter [wc]="w.workcenter_id"></sp-workcenter>
            </div>

          </ng-container>
        </div>
        <ng-container *ngIf="!site.site_map || !site.site_map.__str__">
          No site map
        </ng-container>
      </div>
      <div class="edit-container" *ngIf="editMode">
        <div class="row nomargin">
          <div class="col s12">
            <div class="flex">
              <div class="workcenter" [style]="getWorkcenterScale()">
                <sp-workcenter [wc]="wcl.workcenter_id"></sp-workcenter>
              </div>

              <mat-form-field style="width:50px; margin-right:20px;">
                <input matInput [(ngModel)]="wcl.top" type="number" step="0.1" placeholder="Top"/>
              </mat-form-field>
              <mat-slider [min]="0" [max]="100" [step]="0.1" [thumbLabel]="true" [(ngModel)]="wcl.top"></mat-slider>

              <mat-form-field style="width:50px; margin-right:20px;">
                <input matInput [(ngModel)]="wcl.left" type="number" step="0.1" placeholder="Left"/>
              </mat-form-field>
              <mat-slider [min]="0" [max]="100" [step]="0.1" [thumbLabel]="true" [(ngModel)]="wcl.left"></mat-slider>


              <span class="fill-remaining-space"></span>

              <mat-form-field style="width:50px; margin-right:20px;">
                <input matInput [(ngModel)]="site.workcenter_scale" type="number" step="0.1" min="0.6" max="1" style="width:50px" (ngModelChange)="setSaveSite()" placeholder="Scale"/>
              </mat-form-field>
              <button mat-mini-fab class="serioplast-green" (click)="save()">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s2" *ngIf="getUnpositionedWorkcenters().length>0" style="overflow:auto;">
      <div class="unnamed-container">
        <h6>Unpositioned Workcenters</h6>
        <ng-container *ngFor="let w of getUnpositionedWorkcenters()">
          <div class="workcenter" [style]="getWorkcenterScale()">
            <sp-workcenter [wc]="w.workcenter_id"></sp-workcenter>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
