<!--<div #myContainer class="dialog-overlay" [ngClass]="{hidden:(hide==true), active:(opened == true), behind:(behind==true), onTop:(onTop==true)}" (click)="closeByOverlayClick?close():null" >-->
  <!--<div class="dialog {{class_}}" [ngClass]="{nopadding:nopadding}" onclick="event.stopPropagation();">-->
    <!--<mat-card>-->
      <!--<ng-content select="*"></ng-content>-->
    <!--</mat-card>-->
  <!--</div>-->
<!--</div>-->

<ng-template #template>
  <ng-content select="*"></ng-content>
</ng-template>



