mat-card.login {
  padding:24px;
  margin-top:20px;
}

.loggedContainer {
  /*height:30px;*/
  /*display:flex;*/
}

.loggedContainer .username {
  margin-right:10px;
}

/*.loggedContainer button {*/
  /*width:30px;*/
  /*height:30px;*/
/*}*/

mat-card.user {
  padding:0 24px;
}
