<div class="row" *ngIf="!userIsLogged">
  <div class="col s1 m2 l3"></div>
<mat-card class="col s10 m8 l6 login" >

  <mat-slide-toggle [(ngModel)]="badgeLogin" (change)="modeChange($event)" [color]="'primary'" style="margin-bottom:20px;">
    Badge Login
  </mat-slide-toggle>

  <form (submit)="doLogin()">

    <p *ngIf="errorState">
      {{errorMessage}}
    </p>

    <div *ngIf="!badgeLogin">
      <div class="row">
        <div class="col s12">
          <mat-form-field class="full-width">
            <input matInput placeholder="Username" [(ngModel)]="user.username" [required]="!badgeLogin" name="username">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" [required]="!badgeLogin" name="password">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div *ngIf="badgeLogin">
      <div class="row">
        <div class="col s12">
          <mat-form-field class="full-width">
            <input matInput placeholder="Badge Number" [(ngModel)]="user.badge_code" [required]="badgeLogin" name="badge" autofocus autocomplete="off">
          </mat-form-field>
        </div>
      </div>
    </div>


    <p style=" text-align: right;">

      <button mat-button class="serioplast-green">Login</button>
    </p>


  </form>
</mat-card>
  <div class="col s1 m2 l3"></div>
</div>

<div *ngIf="userIsLogged" class="loggedContainer">

  <mat-menu xPosition="before" yPosition="below" #menuUser="matMenu">
    <mat-card class="user">
     <sp-user [userPK]="loginService.user.pk"></sp-user>
    </mat-card>
     <button mat-menu-item (click)="doLogout();">Logout</button>

  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="menuUser">
    <mat-icon>more_vert</mat-icon>
  </button>



</div>


