.addButton {
  position: absolute;
  right: 20px;
  bottom: 40px;
}

.current_card {
  background-color: rgba(128, 200, 131, 0.3)
}

mat-card {
  margin-top: 20px;
  height:calc(100% - 40px);
}

mat-card-content {
  height:calc(100% - 75px);
  overflow:auto;
}

.current_card mat-card-content {
  height:calc(100% - 150px);
}



