<mat-card [ngClass]="{current_card:isToday}" *ngIf="sitePK">
  <mat-card-title><sp-ng-translate [value]="date" [mode]="'date'"></sp-ng-translate></mat-card-title>
  <mat-card-subtitle><pk-tr [source]="sitePK|site"></pk-tr></mat-card-subtitle>
  <mat-card-content >
    <div *ngIf="!loading">
      <div *ngIf="notes.length==0">
        <sp-ng-translate [value]="'NO_NOTES_AVAILABLE'"></sp-ng-translate>
      </div>
      <div *ngIf="notes.length>0">
        <note *ngFor="let note of notes" [note]="note" [selectNote]="selectNote.bind(this)"></note>
      </div>
    </div>
    <div align="center" *ngIf="loading">
      <mat-progress-spinner></mat-progress-spinner>
    </div>
  </mat-card-content>
</mat-card>

<button *ngIf="isToday" mat-fab class="addButton md-primary serioplast-green" (click)="createNote()">
  <mat-icon class="md-24">add</mat-icon>
</button>


