<div class="row">
  <div class="col s12" *ngIf="eventCreateOpen">
    <div class="flex">
      <button mat-fab class="grey back" matTooltip="Back" [matTooltipPosition]="'below'" (click)="undoTrainingEvent()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <h5 style="margin-left: 10px" *ngIf="onCreate">
        <sp-ng-translate [value]="'CREATE_TRAINING_EVENT'"></sp-ng-translate>
      </h5>
      <h5 style="margin-left: 10px" *ngIf="!onCreate">
        <sp-ng-translate [value]="'EDIT_TRAINING_EVENT'"></sp-ng-translate>
      </h5>
    </div>
    <br>
    <div class="row">
      <div class="form-group">
        <form>
          <div class="row">
            <div class="col s6">
              <div class="row">
                <div class="col s12">
                  <date-input [(ngModel)]="event.start_date" [placeholder]="tr('START_DATE')"
                              [disabled]="isFullDay"></date-input>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <date-input [(ngModel)]="event.end_date" [placeholder]="tr('END_DATE')"
                              [disabled]="isFullDay"></date-input>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <mat-form-field>
                    <input [(ngModel)]="event.title" matInput placeholder="{{tr('TITLE')}}"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <mat-form-field>
                    <textarea [(ngModel)]="event.description" matInput placeholder="{{tr('DESCRIPTION')}}"></textarea>
                  </mat-form-field>

                </div>
              </div>
              <div class="row">
                <div class="col s2">
                  <mat-slide-toggle name="edit-event-full-day-{{training.pk}}" [color]="'primary'"
                                    [(ngModel)]="event.full_day_event">
                    <sp-ng-translate [value]="'FULL_DAY'"></sp-ng-translate>
                  </mat-slide-toggle>
                </div>
              </div>
            </div>
            <div class="col s6">
              <div class="row">
                <div class="col s8">
                  <sp-autocomplete #userPartecipantEventAc [label]="tr('ADD_PARTICIPANT')"
                                   [source]="userPartecipants"
                                   [sourceFunction]="loadUsersPartecipants.bind(this)" [displayKey]="'__str__'"
                                   (valueChanged)="selectedUserPartecipant.bind(this)($event)"></sp-autocomplete>

                  <div *ngIf="userPartecipant && userPartecipant.user_id">
                    <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Save"
                            [matTooltipPosition]="'below'" (click)="addEventAttendee()">
                      <mat-icon>add</mat-icon>
                    </button>

                  </div>

                </div>
              </div>

              <ng-container *ngIf="event.attendees && event.attendees.length > 0">
                <table>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <tbody>
                  <tr *ngFor="let eventAttendee of event.attendees">
                    <ng-container>
                      <td><img class="circle" style="height: 30px;" src="{{eventAttendee.user_profile.avatar.__str__}}">
                      </td>
                      <td>{{eventAttendee.user_profile.__str__}}</td>
                      <td>
                        <mat-icon matTooltip="Delete" [matTooltipPosition]="'below'"
                                  (click)="deleteEventAttendee(eventAttendee)">delete
                        </mat-icon>
                      </td>
                    </ng-container>
                  </tr>
                  </tbody>
                </table>
              </ng-container>

            </div>


          </div>

          <!-- BUTTONS -->
          <div class="row">
            <div class="flex">
              <span class="fill-remaining-space"></span>
              <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Save"
                      [matTooltipPosition]="'below'" (click)="saveEvent()">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </div>
        </form>

      </div>

    </div>

  </div>

  <ng-container *ngIf="!eventCreateOpen">
    <div class="s12">
      <h5 style="margin-bottom: 0px;">
        <sp-ng-translate [value]="'TRAINING_EVENTS'"></sp-ng-translate>
      </h5>
      <br>
      <div class="row">
        <div class="col s6">
          <mat-form-field>
            <input type="month" [(ngModel)]="montEventFilter" (ngModelChange)="monthFilterEventChange($event)"
                   name="events-search-month" id="events-search-month" required matInput placeholder="'Select month:"/>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="row">
        <sp-table-with-pages #hrEventsTrainingTable [nResults]="10" [small]="true"
                             [noItemsMessage]="noItemsMessageEvents"
                             [headerConf]="headerConfEvents"
                             [availableActions]="availableEventsActions"
                             [getData]="loadHrEvents.bind(this)"></sp-table-with-pages>

      </div>
      <div class="row">
        <h5>Export XLSX</h5>
        <span style="margin-left: 5px"></span>
        <button mat-mini-fab (click)="downloadEvents()" class="serioplast-grey">
          <mat-icon>file_download</mat-icon>
        </button>
      </div>
      <div class="row">
        <div class="add-button-container flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'"
                  (click)="createEvent()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>


    <sp-dialog #currentAttachments>
      <h5>Attachments for {{eventSelected.title}} - {{eventSelected.user}}</h5>
      <table class="responsive-table bordered striped noclick">
        <th>Filename</th>
        <th>Download</th>
        <tr *ngFor="let file of eventSelected.attachments">
          <td>{{file|filename}}</td>
          <td><a href="{{file.__str__}}" download="attachment-event-{{eventSelected.pk}}-{{file.pk}}">
            <mat-icon color="primary">play_for_work</mat-icon>
          </a>
          </td>
        </tr>
      </table>
    </sp-dialog>

  </ng-container>


</div>


