<div class="flex toggle-container onlyToggle">
  <span class="fill-remaining-space"></span>
  <mat-slide-toggle color="primary" [(ngModel)]="piActive"
                   (ngModelChange)="loadPackingInstructions()">Active
  </mat-slide-toggle>
</div>

<mat-progress-spinner *ngIf="loading"></mat-progress-spinner>
<div class="message" *ngIf="!loading && pi.length==0">
  <sp-ng-translate [value]="'NO_PACKING_INSTRUCTIONS_AVAILABLE'"></sp-ng-translate>
</div>

<div class="pi-alternative" *ngFor="let p of pi; let k=index;">
  <mat-card *ngIf="p.is_active">
    <mat-card-title>

      <div class="row">
        <div class="col s3 ">
          <mat-form-field >
            <input id="code_{{k}}" type="text" name="code" [(ngModel)]="p.code" (blur)="handleCodeBlur(p)" matInput [placeholder]="tr('CODE')" [disabled]="p.pk">
          </mat-form-field>
        </div>
        <div class="col s3">
          <mat-form-field>
            <input type="text" [(ngModel)]="p.description" matInput [placeholder]="tr('DESCRIPTION')">
          </mat-form-field>
        </div>
        <div class="col s6 flex">
          <span class="fill-remaining-space"></span>
          <mat-icon (click)="deletePI(p)" matTooltip="Delete" [matTooltipPosition]="'below'" *ngIf="p.pk">delete</mat-icon>
        </div>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col s12 l8">
          <mat-card class="bom">
            <ng-container>
              <table class="mdl-data-table striped noclick" *ngIf="p.packinstructionitem_set.length>0">
                <thead>
                <tr>
                  <th>
                    <sp-ng-translate [value]="'CODE'"></sp-ng-translate>
                  </th>
                  <th>
                    <sp-ng-translate [value]="'MATERIAL'"></sp-ng-translate>
                  </th>
                  <th>
                    <sp-ng-translate [value]="'AMOUNT'"></sp-ng-translate>
                  </th>
                  <th>
                    <sp-ng-translate [value]="'MAIN_PACKAGE'"></sp-ng-translate>
                  </th>
                  <th *ngIf="!p.enable_add_item" style="min-width:100px">
                    <sp-ng-translate [value]="'ACTIONS'"></sp-ng-translate>
                  </th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let pi_ of p.packinstructionitem_set; let i=index;">
                  <tr [ngClass]="{'main_material':isMainMaterial(pi_)}">
                    <td>
                      {{pi_.material.code}}
                    </td>
                    <td>
                      {{pi_.material.description}}
                    </td>
                    <td>
                      {{pi_.quantity}} {{pi_.uom.__str__}}
                    </td>
                    <td>
                      <mat-icon *ngIf="pi_.main_package">done</mat-icon>
                    </td>
                    <td *ngIf="!p.enable_add_item">
                      <mat-icon (click)="editPackageItem(p,pi_)" matTooltip="Edit" [matTooltipPosition]="'below'">edit</mat-icon>
                      <mat-icon *ngIf="pi_.material.pk!=material.pk" (click)="deletePackageItem(p,pi_)" matTooltip="Delete" [matTooltipPosition]="'below'">delete</mat-icon>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
              <div *ngIf="p.packinstructionitem_set.length==0">
                <sp-ng-translate [value]="'NO_PACKAGE_INSTRUCTION_ITEMS_AVAILABLE'"></sp-ng-translate>
              </div>
              <div class="flex add-button-container" *ngIf="!p.enable_add_item">
                <span class="fill-remaining-space"></span>
                <button mat-mini-fab class="serioplast-green" (click)="enableAddPackageItem(p)" matTooltip="Add" [matTooltipPosition]="'below'">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </ng-container>
            <div *ngIf="p.enable_add_item" class="addEditForm">
              <div>
                <div *ngIf="!packageItem.pk">
                  <material-selector (selectedMaterial)="selectedMaterial.bind(this)($event)" [label]="tr('MATERIAL')"
                                     [additionalQueryTypes]="additionalQueryTypes" [additionalQuery]="getSiteList()"></material-selector>
                </div>
                <div *ngIf="packageItem.pk">
                  <div class="row">
                    <div class="col s12">
                      <b>
                        <pk-tr [source]="packageItem.material.pk|material"></pk-tr>
                      </b>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6">
                    <mat-form-field>
                      <input matInput style="width:calc(100% - 30px)" [placeholder]="tr('AMOUNT')" type="number" [(ngModel)]="packageItem.quantity" [disabled]="packageItem.main_package?'disabled':null" min="0" step="0.01">
                      <ng-container *ngIf="packageItem.material && packageItem.material.uom">
                        {{packageItem.material.uom.__str__}}
                      </ng-container>

                    </mat-form-field>
                  </div>
                  <div class="col s6" *ngIf="!packageItem.material || (packageItem.material.pk!=material.pk)">
                    <mat-checkbox [(ngModel)]="packageItem.main_package" color="primary" (change)="handleMainPackageChange(p,packageItem)"><sp-ng-translate [value]="'MAIN_PACKAGE'"></sp-ng-translate></mat-checkbox>
                  </div>
                </div>
              </div>
              <sp-save-undo (save)="addPackageItem(p)" (undo)="disableAddPackageItem(p)" [savePartial]="true" [saveCondition]="isPackageItemReady(packageItem)"></sp-save-undo>
            </div>
          </mat-card>
        </div>
        <div class="col s12 l4">
          <mat-card class="sites">
            <div *ngFor="let s of p.plants; let i=index" class="flex">
              <ng-container *ngIf="!s.is_orphan">
                <mat-checkbox [color]="'primary'" [checked]="s.is_active"
                             [(ngModel)]="s.is_active" (ngModelChange)="handlePlantChange(p,s)">
                  {{s.material_plant.site.__str__}}
                </mat-checkbox>
              </ng-container>
              <ng-container *ngIf="s.is_orphan && s.material_plant.site">
                <div class="orphan">
                  <mat-checkbox [color]="'primary'" [checked]="s.is_active"
                               [(ngModel)]="s.is_active" (ngModelChange)="handlePlantChange(p,s)">
                    {{s.material_plant.site.__str__}}
                  </mat-checkbox>
                </div>
              </ng-container>

            </div>

          </mat-card>
        </div>
      </div>
      <div class="flex add-button-container "
           *ngIf="isPackageInstructionReadyToBeSaved(p)">
        <span class="fill-remaining-space"></span>
        <button mat-mini-fab class="serioplast-green" (click)="savePackageInstruction(p)" matTooltip="Save" [matTooltipPosition]="'below'">
          <mat-icon>send</mat-icon>
        </button>
      </div>
      <div *ngIf="checkMainPackage(p)!=true">
        {{checkMainPackage(p)}}
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="!p.is_active" class="inactive">
    <mat-card-title class="flex">

      <div class="">
          <b> <sp-ng-translate [value]="'CODE'"></sp-ng-translate></b>: {{p.code}}
        <b> <sp-ng-translate [value]="'DESCRIPTION'"></sp-ng-translate></b>: {{p.description}}
      </div>
      <span class="fill-remaining-space"></span>

      <mat-icon (click)="restorePI(p)" matTooltip="Restore" [matTooltipPosition]="'below'" >open_in_browser</mat-icon>
    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col s12">
          <mat-card class="bom">
            <table class="mdl-data-table striped noclick" *ngIf="p.packinstructionitem_set.length>0">
              <thead>
              <tr>
                <th>
                  <sp-ng-translate [value]="'CODE'"></sp-ng-translate>
                </th>
                <th>
                  <sp-ng-translate [value]="'MATERIAL'"></sp-ng-translate>
                </th>
                <th>
                  <sp-ng-translate [value]="'AMOUNT'"></sp-ng-translate>
                </th>
                <th>
                  <sp-ng-translate [value]="'MAIN_PACKAGE'"></sp-ng-translate>
                </th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let pi_ of p.packinstructionitem_set; let i=index;">
                <tr>
                  <td>
                    {{pi_.material.code}}
                  </td>
                  <td>
                    {{pi_.material.description}}

                  </td>
                  <td>
                    {{pi_.quantity}} {{pi_.uom.__str__}}
                  </td>
                  <td>
                    <mat-icon *ngIf="pi_.main_package">done</mat-icon>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="flex add-button-container add-alternative" *ngIf="piActive">
  <span class="fill-remaining-space"></span>
  <button mat-mini-fab class="serioplast-green" (click)="createPackageInstruction()" matTooltip="Add" [matTooltipPosition]="'below'">
    <mat-icon>add</mat-icon>
  </button>
</div>
