mat-card-title.flex {
  padding-left:10px;
}

.add-button-container {
  padding:10px;
}

.add-button-container.add-alternative {
  padding-right:10px;
}

table {
  background:white;
}

.quantity {
  width:75%;
}

.pi-alternative {
  width:100%;
  margin-top: 20px;
}

.pi-alternative>mat-card {
  background:rgba(80,167,308,0.2)
}

.pi-alternative>mat-card.inactive{
  background: rgba(0,0,0,0.1)
}

#amount {
  width:75%;
}

.addEditForm{
  background:white;
  /*padding: 20px;*/
  margin-top: 20px;
}

tr.main_material {
  background: rgba(76,175,80,0.6)!important;
}

. label {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%);
}

input[name=code]{
  text-transform: uppercase;
}

div.orphan {
  border:1px solid red;
}

