<ng-container *ngIf="hcp">



  <mat-card class="has-company-position">
    <mat-card-title *ngIf="hcp.pk">
      <div class="flex">
        <div *ngIf="mode=='view'" style="padding:10px 0; margin-right:20px">
          <button mat-mini-fab class="serioplast-grey" (click)="goBack()"><mat-icon>keyboard_arrow_left</mat-icon></button>
        </div>
        {{hcp.__str__}}
      </div>

    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col s3">
          <ng-container *ngIf="hcp.user_ref && hcp.user_ref.pk">
            <div class="flex" *ngIf="!hcp.pk">
              <h5>{{hcp.user_ref.__str__}}</h5>
              <span class="fill-remaining-space"></span>
              <button class="serioplast-red" mat-mini-fab (click)="resetUser()"><mat-icon>delete</mat-icon></button>
            </div>
            <div class="full-width" *ngIf="hcp.user_ref.avatar">
              <img class="full-width round" src="{{hcp.user_ref.avatar.__str__}}" onerror="this.src='/assets/img/no-profile.png'">
            </div>
            <ng-container *ngIf="hcp.user_ref.avatar">
              <ng-container *ngIf="mode=='edit'">
                <fieldset>
                  <legend>{{tr('TAGS')}}</legend>
                  <div *ngFor="let s of tagFilters">
                    <mat-checkbox [(ngModel)]="s.active" color="primary">
                      {{s.tag.__str__}}
                    </mat-checkbox>
                  </div>
                </fieldset>
              </ng-container>
              <ng-container *ngIf="mode=='view'">
                <mat-chip-list>
                  <mat-chip *ngFor="let t of hcp.user_ref.tags">{{t.__str__}}</mat-chip>
                </mat-chip-list>
              </ng-container>

            </ng-container>
          </ng-container>

          <ng-container *ngIf="!hcp.user_ref || !hcp.user_ref.pk">
            <user-search [employeeOnly]="false" (userSelected)="userSelected($event)"></user-search>
          </ng-container>

        </div>
        <div class="col s9">
          <div class="row">
            <div class="col s4">

              <div class="status-container" [style]="getStatusStyleContainer()">
                <ng-container *ngIf="mode=='edit'">
                  <mat-form-field>
                    <mat-select [(ngModel)]="hcp.status.pk" [placeholder]="tr('STATUS')" class="full-width" (ngModelChange)="fixStatusChange()">
                      <mat-option *ngFor="let p of statuses" [value]="p.pk">{{p.__str__}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
                <ng-container *ngIf="mode=='view'">
                  <fixed-field [label]="'Status'" [value]="hcp.status.__str__"></fixed-field>
                </ng-container>
              </div>

            </div>
            <div class="col s4">
              <ng-container *ngIf="mode=='edit'">
                <mat-form-field>
                  <mat-select [(ngModel)]="hcp.pre_interview_rating.pk"
                              [placeholder]="tr('PRE_INTERVIEW_RATING')" class="full-width">
                    <mat-option *ngFor="let p of hcpRatings" [value]="p.pk">{{p.__str__}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </ng-container>
              <ng-container *ngIf="mode=='view'">
                <fixed-field [label]="tr('PRE_INTERVIEW_RATING')" [value]="hcp.pre_interview_rating.__str__"></fixed-field>
              </ng-container>

            </div>
            <div class="col s4">

              <ng-container *ngIf="mode=='edit'">
                <mat-form-field>
                  <mat-select [(ngModel)]="hcp.rating.pk" [placeholder]="tr('FIT')"  class="full-width">
                    <mat-option *ngFor="let p of hcpRatings" [value]="p.pk">{{p.__str__}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
              <ng-container *ngIf="mode=='view'">
                <fixed-field [label]="tr('FIT')" [value]="hcp.rating.__str__"></fixed-field>
              </ng-container>
            </div>

          </div>
          <div class="row">
            <div class="col s6">
              <ng-container *ngIf="mode=='edit'">
                <mat-form-field>
                  <input matInput type="number" class="salary" [(ngModel)]="hcp.current_gross_salary" [placeholder]="tr('CURRENT_GROSS_SALARY')"/>
                  <mat-select [(ngModel)]="hcp.current_gross_salary_currency" class="currency">
                    <mat-option *ngFor="let c of currencies" [value]="c[0]">{{c[1]}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </ng-container>
              <ng-container *ngIf="mode=='view'">
                <fixed-field [label]="tr('CURRENT_GROSS_SALARY')" [value]="hcp.current_gross_salary+' '+hcp.current_gross_salary_currency"></fixed-field>
              </ng-container>
            </div>
            <div class="col s6">
              <div class="flex">
                <ng-container *ngIf="mode=='edit'">
                  <mat-form-field>
                    <input matInput type="number" class="salary" [(ngModel)]="hcp.expected_salary" placeholder="{{tr('EXPECTED_SALARY')}}"/>
                    <mat-select [(ngModel)]="hcp.expected_salary_currency"
                                class="currency mini">
                      <mat-option *ngFor="let c of currencies" [value]="c[0]">{{c[1]}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
                <ng-container *ngIf="mode=='view'">
                  {{hcp.expected_salary}} {{hcp.expected_salary_currency}}
                </ng-container>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s2">
              <mat-form-field>
                 <input type="text" [(ngModel)]="hcp.expected_level" matInput [placeholder]="tr('EXPECTED_LEVEL')" [disabled]="mode=='view'"/>
               </mat-form-field>
            </div>
            <div class="col s4">
              <mat-form-field>
                <input type="text" [(ngModel)]="hcp.expected_level" matInput [placeholder]="tr('EXPECTED_BENEFITS')" [disabled]="mode=='view'"/>
              </mat-form-field>
            </div>
            <div class="col s4">
              <mat-form-field>
                <input type="text" [(ngModel)]="hcp.advertisement.__str__" matInput [placeholder]="tr('ADVERTISEMENT_FROM')" [disabled]="true"/>
              </mat-form-field>
            </div>
            <div class="col s2">
              <fixed-field [label]="tr('PERINFO_UPDATED')" [value]="hcp.profile_updated_truthfull" [isBoolean]="true"></fixed-field>
            </div>
          </div>
        </div>
      </div>
      <sp-save-undo [saveCondition]="canSaveHCP()" (save)="save()"
                    (undo)="undoEditHCP()" *ngIf="mode=='edit'"></sp-save-undo>
    </mat-card-content>
  </mat-card>

  <mat-card class="assessments" *ngIf="hcp.pk">
    <assessment [hcp]="hcp" [mode]="mode"></assessment>
  </mat-card>
</ng-container>





