.back-button {
  margin:20px;
}

.round {
  border-radius: 50%;
}

.has-company-position {
  /*background:#cdeecb;*/
}

*>>>.chip-autocomplete {
  display:block!important;
}

.assessments {
  margin-top:10px;
  /*background: #ffefdb;*/
}

.add-button-container, .save-button-container {
  padding:10px;
}

table {
  background:white;
}

.rating-detail-container {
  position:relative;
}

.rating-detail{
  display:none;
  position:absolute;
  background:green;
  top:40px;
  left:-110px;
  width:340px;
  z-index:2;
  padding:10px;
}

.rating-detail .skill-name {
  width:200px;
}

.rating-detail .skill-rating {
  width:120px;
}

.rating-detail-container:hover .rating-detail {
  display:block;
}

.arrow_box {
  background: #88b7d5;
}
.arrow_box:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #88b7d5;
  border-width: 10px;
  margin-left: -10px;
}

button.advance {
  margin-left:10px;
}

button.advance>>>.icon.sap {
  font-size:20px;
  line-height:190%;
}

input.salary {
  width:calc(100% - 105px);
}

mat-select.currency {
  width:100px;
}

.user-search-dialog {
  width:600px
}

.status-container mat-select{
  background:transparent;
}

.status-container>>>.mat-select-placeholder {
  color:#9e9e9e;
  font-weight: normal;
}

.status-container>>>.mat-select-trigger {
  color:inherit;
}

.status-container>>>.mat-select-value {
  color:inherit;
}

.status-container>>>.mat-select-value-text {
  color:inherit;
}

fieldset {
  width:100%;
  display:block;
}


mat-checkbox {
  font-size:12px;
  display:block;
}

mat-checkbox>>>.mat-checkbox-label {
  white-space: normal;
}
