<sales-pricelist-in-progress-list *ngIf="!editMode && !loading" (createEvent)="createWIP($event)" (editEvent)="editWIP($event)"
                                  (deleteEvent)="deleteWIP($event)"> </sales-pricelist-in-progress-list>

<sales-pricelist-in-progress-edit *ngIf="editMode && !loading" [wipToEdit]="wipToEdit" (backEvent)="back()" [createMode]="createMode"></sales-pricelist-in-progress-edit>

<mat-progress-spinner color="primary" *ngIf="loading"></mat-progress-spinner>
