<div class="row main">
  <div class="col s4">
    <fieldset>
      <legend>{{tr('STATUS')}}</legend>

      <div class="flex">
        <!--<button mat-button class="serioplast-blue" (click)="selectAllStatuses()">Select all</button>-->
        <span class="fill-remaining-space"></span>
        <mat-checkbox [(ngModel)]="queryFields.registeredOnly" color="primary" (change)="registeredOnlyChange()">
          Registered Only
        </mat-checkbox>
      </div>



      <div *ngFor="let s of statusesFilters">
        <mat-checkbox [(ngModel)]="s.active" color="primary" (change)="disableRegisteredOnly(s)">
          {{s.status.__str__}}
        </mat-checkbox>
      </div>

    </fieldset>

    <mat-form-field>
      <input matInput [placeholder]="tr('USER')" type="text" [(ngModel)]="profileFilter"/>
    </mat-form-field>

    <fieldset>
      <legend>{{tr('COMPANY_POSITION')}}</legend>
      <div class="row nomargin">
        <div class="col s6">
          <mat-form-field>
            <mat-select [placeholder]="tr('JOB_TITLE')" class="mini full-width" [(ngModel)]="queryFields.employee_job_title">
              <mat-option [value]="">--</mat-option>
              <mat-option *ngFor="let cp of companyPositionNames" [value]="cp.pk">{{cp.__str__}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col s6">
          <mat-form-field>
            <mat-select [placeholder]="tr('SITE')" class="mini full-width" [(ngModel)]="queryFields.employee_site">
              <mat-option [value]="">--</mat-option>
              <mat-option *ngFor="let s of sites" [value]="s.pk">{{s.__str__}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{tr('LANGUAGE')}}</legend>
      <div class="row nomargin">
        <div class="col s6">
          <mat-form-field>
            <mat-select [placeholder]="tr('LANGUAGE')" class="mini full-width" [(ngModel)]="queryFields.language">
              <mat-option *ngFor="let l of languages" [value]="l[0]">{{l[1]}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col s6">
          <mat-form-field>
            <mat-select [placeholder]="tr('LANGUAGE_LEVEL')" class="mini full-width" [(ngModel)]="queryFields.language_level">
              <mat-option [value]="">--</mat-option>
              <mat-option *ngFor="let ll of langLevels" [value]="ll.delta_rel">{{ll.__str__}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{tr('EDUCATION')}}</legend>
      <div class="row nomargin">
        <div class="col s6">
          <mat-form-field>
            <mat-select [placeholder]="tr('EDUCATION_DEGREE')" class="mini full-width" [(ngModel)]="queryFields.education__degree">
              <mat-option [value]="">--</mat-option>
              <mat-option *ngFor="let t of edTypes" [value]="t.pk">{{t.__str__}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col s6">
          <mat-form-field>
            <mat-select [placeholder]="tr('EDUCATION_FIELD_STUDY')" class="mini full-width" [(ngModel)]="queryFields.education__study_field">
              <mat-option [value]="">--</mat-option>
              <mat-option *ngFor="let t of edFields" [value]="t.pk">{{t.__str__}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{tr('TAGS')}}</legend>
      <div *ngFor="let s of tagFilters">
        <mat-checkbox [(ngModel)]="s.active" color="primary">
          {{s.tag.__str__}}
        </mat-checkbox>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{tr('PROFESSIONALEXP')}}</legend>
      <div class="row nomargin">
        <div class="col s12 ">
          <mat-form-field>
            <input type="text" [(ngModel)]="queryFields.profexp__company_name" matInput [placeholder]="tr('PROFESSIONALEXP_COMPANY_NAME')"/>
          </mat-form-field>
        </div>
        <div class="col s6">
          <mat-form-field>
            <mat-select [placeholder]="tr('PROFESSIONALEXP_FUNCTION')" class="mini full-width" [(ngModel)]="queryFields.profexp__function">
              <mat-option [value]="">--</mat-option>
              <mat-option *ngFor="let t of peFunctions" [value]="t.pk">{{t.__str__}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col s6">
          <mat-form-field>
            <mat-select [placeholder]="tr('PROFESSIONALEXP_INDUSTRIES')" class="mini full-width" [(ngModel)]="queryFields.profexp__industry">
              <mat-option [value]="">--</mat-option>
              <mat-option *ngFor="let t of peIndustries" [value]="t.pk">{{t.__str__}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </fieldset>

    <div class="filter-button-container flex" style="padding:10px;">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="reloadUsers();">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <div class="col s8">
    <table class="mdl-data-table noclick full-width" *ngIf="hrProfiles.length>0">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">
          <sp-ng-translate [value]="'USER'"></sp-ng-translate>
        </th>
        <th class="mdl-data-table__cell--non-numeric">
          <sp-ng-translate [value]="'COMPANY_POSITION'"></sp-ng-translate>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hrp of hrProfiles">
        <td class="mdl-data-table__cell--non-numeric">
          <div class="flex">
            <img class="responsive-img round avatar" src="{{hrp.avatar.__str__}}"><modal-personalinfo [object_id]="hrp.pk" [label]="hrp.__str__"></modal-personalinfo>
          </div>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          <div class="table-container" *ngIf="getHasCompanyPositionByUser(hrp).length>0">
            <table class="mdl-data-table noclick inner small full-width">
              <thead>
              <tr>
                <th style="width:calc(100% - 100px)" class="mdl-data-table__cell--non-numeric">
                  <sp-ng-translate [value]="'POSITION'"></sp-ng-translate>
                </th>
                <th style="width:100px" class="mdl-data-table__cell--non-numeric">
                  <sp-ng-translate [value]="'STATUS'"></sp-ng-translate>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let hcp of getHasCompanyPositionByUser(hrp)" (click)="goToCompanyPosition(hcp)" style="cursor:pointer">
                <td class="mdl-data-table__cell--non-numeric">{{hcp.company_position.__str__}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{hcp.status.__str__}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <ng-container *ngIf="getHasCompanyPositionByUser(hrp).length==0">-</ng-container>
        </td>
      </tr>
      </tbody>
    </table>



    <div class="mdl-paging" *ngIf="totalPagesUsers>1 && nResultsUsers && nResultsUsers>0 && hrProfiles.length>0">
      <span class="mdl-paging__per-page">
        <span class="mdl-paging__per-page-label">Items per page:</span>
        <span class="mdl-paging__per-page-value">{{nResultsUsers}}</span>
        </span>
      <span class="mdl-paging__count">{{intervalUsers}} of {{totalUsers}}</span>
      <button *ngIf="currentPageUsers!=1" (click)="goToPrevPage()"  class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-paging__prev" data-upgraded=",MaterialButton,MaterialRipple">
        <i class="material-icons">keyboard_arrow_left</i>
      </button>
      <button *ngIf="currentPageUsers!=totalPagesUsers" (click)="goToNextPage()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-paging__next" data-upgraded=",MaterialButton,MaterialRipple">
        <i class="material-icons">keyboard_arrow_right</i>
      </button>
    </div>



    <!--<div class="mdl-paging"-->
         <!--*ngIf="totalPagesUsers>1 && nResultsUsers && nResultsUsers>0 && hrProfiles.length>0">-->
                <!--<span>-->
                  <!--<b>{{intervalUsers}}/{{totalUsers}}</b>-->
                <!--</span>-->
      <!--<span class="fill-remaining-space"></span>-->
      <!--<i class="material-icons" *ngIf="currentPageUsers!=1" (click)="goToFirstPage()">first_page</i>-->
      <!--<i class="material-icons" *ngIf="currentPageUsers!=1" (click)="goToPrevPage()">chevron_left</i>-->
      <!--<sp-ng-translate [value]="'PAGE'"></sp-ng-translate>-->
      <!--&nbsp;-->
      <!--{{currentPageUsers}}/{{totalPagesUsers}}-->
      <!--<i class="material-icons" *ngIf="currentPageUsers!=totalPagesUsers" (click)="goToNextPage()">chevron_right</i>-->
      <!--<i class="material-icons" *ngIf="currentPageUsers!=totalPagesUsers" (click)="goToLastPage()">last_page</i>-->
    <!--</div>-->
    <div *ngIf="hrProfiles.length==0">
      <sp-ng-translate [value]="'NO_USERS_AVAILABLE'"></sp-ng-translate>
    </div>
  </div>
</div>
