.table-container {
  background:#b5dfb7;
  padding:10px;
}

table {
  background:white;
}

table.inner {
  font-size:13px;
}

.avatar {
  width:50px;
  margin-right:20px;
}

.round {
  border-radius: 50%;
}

mat-checkbox {
  font-size:12px;
}
