<assessment-list [mode]="mode" [hcp]="hcp" *ngIf="!editOn" (editAssessment)="editAssessment($event)" (createAssessment)="createAssessment()"></assessment-list>
<assessment-edit *ngIf="editOn" [assessment]="assessment" (saveEvent)="savedAssessment()" (undoEvent)="undoEditAssessment()"></assessment-edit>
