.back {
  margin: 20px;
  position: fixed;
  top: 60px;
  left: 0;
}

.cp_info {
  background:#cdcdff;
  padding:10px;
}

table {
  background:white;
}

.measures {
  margin-top:20px;
}

.no-pointer {
  cursor:default;
}
