<div class="">
  <div class="flex">
    <button mat-fab class="back grey" (click)="back()" *ngIf="!cp">
      <i class="material-icons">keyboard_arrow_left</i>
    </button>

    <div style="padding-left:30px" *ngIf="controlPlan.pk">
      <h3>{{controlPlan.description}}</h3>
    </div>
  </div>

  <div class="row" *ngIf="controlPlan.pk">
    <div class="col s9">
      <mat-card class="cp_info">
        <mat-card-content>
          <b>{{tr('FREQUENCY')}}</b> : {{controlPlan.frequency.__str__}}<br/>
          <b>{{tr('SITE')}}</b> : {{controlPlan.site.__str__}}<br/>
          <table class="measures bordered striped noclick">
            <thead>
            <tr>
              <th>
                <sp-ng-translate [value]="'PROPERTY'"></sp-ng-translate>
              </th>
              <th>
                <sp-ng-translate [value]="'REPEATS'"></sp-ng-translate>
              </th>
              <th>
                <sp-ng-translate [value]="'RELEASE_CRITERIA'"></sp-ng-translate>
              </th>
              <th>
                <sp-ng-translate [value]="'MATERIALS'"></sp-ng-translate>
              </th>
            </tr>
            </thead>

            <tbody>
            <ng-container *ngFor="let m of controlPlan.measures">
              <tr>
                <td>
                  <ng-container *ngIf="!m.property.calculated">
                    <sp-property [propertyPK]="m.property.pk" *ngIf="m.property"></sp-property>
                  </ng-container>
                  <ng-container *ngIf="m.property.calculated">
                    <i><sp-property [propertyPK]="m.property.pk" *ngIf="m.property"></sp-property></i>
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="!m.property.calculated">
                  {{m.repeats}}
                  </ng-container>
                  <ng-container *ngIf="m.property.calculated">
                    -
                  </ng-container>
                </td>
                <td>
                  <ul>
                    <li *ngFor="let rc of m.release_criteria_list">{{rc.__str__}}</li>
                  </ul>
                </td>
                <td>
                  <div *ngFor="let cpm of controlPlan.controlplanmaterial_set" class="flex" style="font-size:10px">
                    <ng-container *ngIf="cpm.is_active">
                      <mat-icon *ngIf="doesMaterialHaveProperty(m.property,cpm.material)" class="green-text no-pointer">done</mat-icon>
                      <mat-icon *ngIf="!doesMaterialHaveProperty(m.property,cpm.material)" class="red-text no-pointer">clear</mat-icon>
                      {{cpm.material.__str__}}
                    </ng-container>

                  </div>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col s3">
      <mat-card class="cp_materials">
        <mat-card-content>
          <h5>Materials</h5>
          <ul>
            <ng-container *ngFor="let m of controlPlan.controlplanmaterial_set">
              <li class="flex">
                <mat-icon *ngIf="m.is_active" class="green-text no-pointer">done</mat-icon>
                <mat-icon *ngIf="!m.is_active" class="red-text no-pointer">clear</mat-icon>
                {{m.material.__str__}}
              </li>
            </ng-container>

          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
