<div class="row main wrapper">
  <div class="col s12">


    <sp-stepper #stepper>
      <!-- STEP 1: User select or create -->
      <sp-stepper-item [nextCondition]="step1ProceedCondition.bind(this)">
        <sp-stepper-item-title>Select or Create User</sp-stepper-item-title>
        <sp-stepper-item-content-active>
          <div class="row">
            <ng-container *ngIf="newUser">
              <div class="col s4" >
                <mat-form-field>
                  <input matInput [placeholder]="'Username'" type="text" [(ngModel)]="hrUser.username">
                </mat-form-field>
              </div>
              <div class="col s4">
                <mat-form-field>
                  <input matInput [placeholder]="'E-mail'" type="text" [(ngModel)]="hrUser.email">
                </mat-form-field>
              </div>
            </ng-container>
            <ng-container *ngIf="!newUser">
              <div class="col s3">
                <user-search [label]="tr('USER')" (userSelected)="userSelect($event)"></user-search>
              </div>
              <div class="col s5"></div>
            </ng-container>
            <div class="col s4">
              <mat-slide-toggle [(ngModel)]="newUser" color="primary" (change)="newUserChange()">New User
              </mat-slide-toggle>
            </div>
          </div>
        </sp-stepper-item-content-active>
        <sp-stepper-item-content-inactive>
          <div class="row" style="background-color: whitesmoke;">
            <div class="col s4">
              <mat-form-field>
                <input matInput [placeholder]="'Username'" type="text" [(ngModel)]="hrUser.username" [disabled]="true">
              </mat-form-field>
            </div>
            <div class="col s4">
              <mat-form-field>
                <input matInput [placeholder]="'E-mail'" type="text" [(ngModel)]="hrUser.email" [disabled]="true">
              </mat-form-field>
            </div>
            <div class="col s4" *ngIf="newUser">
              <div *ngIf="newUser" style="color: #4CAF50"><b>New User!</b></div>
            </div>
          </div>
        </sp-stepper-item-content-inactive>
      </sp-stepper-item>

      <!-- STEP 2: -->
      <sp-stepper-item [nextCondition]="step2ProceedCondition.bind(this)">
        <sp-stepper-item-title>Edit Personal Info</sp-stepper-item-title>
        <sp-stepper-item-content-active>
          <div class="row">
            <div class="col s12">
              <h6>
                <sp-ng-translate [value]="'PERSONAL_INFO_&_ACTIVE_DIRECTORY'"></sp-ng-translate>
              </h6>
            </div>
          </div>
          <div class="row">
            <div class="col s4">
              <mat-form-field>
                <input matInput
                       [(ngModel)]="hrPersonalInfo.first_name" type="text"
                       [disabled]="previousHCP.length > 0" [placeholder]="tr('FIRST_NAME')"/>
              </mat-form-field>
            </div>
            <div class="col s4">
              <mat-form-field>
                <input matInput
                       [(ngModel)]="hrPersonalInfo.last_name" type="text"
                       [disabled]="previousHCP.length > 0" [placeholder]="tr('LAST_NAME')"/>
              </mat-form-field>
            </div>
            <div class="col s4">
              <mat-form-field>
                <input matInput
                       [(ngModel)]="hrUser.username" type="text"
                       [disabled]="previousHCP.length > 0" [placeholder]="tr('USERNAME')"/>
              </mat-form-field>
            </div>
          </div>

          <div class="row" *ngIf="!newUser">
            <div class="col s12">
              <h6>
                <sp-ng-translate [value]="'CURRENT_POSITIONS'"></sp-ng-translate>
              </h6>
              <table class="bordered striped noclick">
                <thead>
                <tr>
                  <th>
                    <sp-ng-translate [value]="'POSITION'"></sp-ng-translate>
                  </th>
                  <th>
                    <sp-ng-translate [value]="'STATUS'"></sp-ng-translate>
                  </th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let p of previousHCP">
                  <tr>
                    <td>{{p.__str__}}</td>
                    <td>
                      {{p.status.__str__}}
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </sp-stepper-item-content-active>
        <sp-stepper-item-content-inactive>
          <div class="row" style="background-color: whitesmoke;">
            <div class="col s3">
              <fixed-field [label]="tr('FIRST_NAME')" [value]="hrPersonalInfo.first_name"></fixed-field>
            </div>
            <div class="col s3">
              <fixed-field [label]="tr('LAST_NAME')" [value]="hrPersonalInfo.last_name"></fixed-field>
            </div>
            <div class="col s6 flex" style="height:70px">
              <div style="color: #4CAF50"><b>Current active positions : {{previousHCP.length}}</b></div>
            </div>
          </div>
        </sp-stepper-item-content-inactive>
      </sp-stepper-item>


      <!-- STEP 3:  -->
      <sp-stepper-item [nextCondition]="step3ProceedCondition.bind(this)" (onConfirm)="fixSte3Selects()">
        <sp-stepper-item-title>Select the new Company Position</sp-stepper-item-title>
        <sp-stepper-item-content-active>
          <div class="row">
            <div class="col s3">
              <mat-form-field>
                <mat-select [(ngModel)]="organization.pk" (ngModelChange)="getDepartments()"
                            [placeholder]="tr('ORGANIZATION')" class="full-width">
                  <mat-option *ngFor="let o of organizations" [value]="o.pk">{{o.__str__}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div class="col s3" *ngIf="organization.pk">
              <mat-form-field>
                <mat-select [(ngModel)]="department.pk" (ngModelChange)="getCPN()"
                            [placeholder]="tr('DEPARTMENT')" class="full-width">
                  <mat-option *ngFor="let d of departments" [value]="d.pk"> {{d.__str__}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col s3" *ngIf="department.pk">
              <mat-form-field>
                <mat-select [(ngModel)]="companyPositionName.pk"
                            [placeholder]="tr('COMPANY_POSITION_NAME')" class="full-width">
                  <mat-option *ngFor="let cpn of companyPositionNames" [value]="cpn.pk">{{cpn.__str__}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col s3" *ngIf="companyPositionName.pk">
              <user-sites (siteChange)="selectSite($event)"></user-sites>
            </div>
          </div>
        </sp-stepper-item-content-active>
        <sp-stepper-item-content-inactive *ngIf="site.pk && companyPositionName.pk && organization.pk">
          <div class="row" style="background-color: whitesmoke;">
            <div class="col s12">
              <mat-form-field>
                <input matInput value="{{companyPositionName.__str__}} at {{site.__str__}}" [disabled]="true" [placeholder]="tr('SELECTED_POSITION')">
              </mat-form-field>
            </div>
          </div>
        </sp-stepper-item-content-inactive>
      </sp-stepper-item>

      <!-- STEP 4: contract -->
      <sp-stepper-item [nextCondition]="step4ProceedCondition.bind(this)" (onConfirm)="fixSte4Selects()">
        <sp-stepper-item-title>Select contract</sp-stepper-item-title>
        <sp-stepper-item-content-active>
          <div class="row" *ngIf="shouldAddContract || newUser">
            <div class="col s3">
              <user-search [label]="tr('HIERARCHICAL_SUPERIOR')" (userSelected)="hierSuperSelect($event)"></user-search>
            </div>
            <div class="col s3">
              <mat-form-field>
                <mat-select [(ngModel)]="contract.legal_entity.pk" class="full-width" [placeholder]="tr('LEGAL_ENTITY')">
                  <mat-option *ngFor="let l of legalEntities" [value]="l.pk">{{l.__str__}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col s3">
              <date-input [placeholder]="tr('START_DATE')" [(ngModel)]="contract.start_date" [min]="minContractDate"></date-input>
            </div>
            <div class="col s3">
              <date-input [placeholder]="tr('END_DATE')" [(ngModel)]="contract.end_date"></date-input>
            </div>
          </div>
          <div class="row"><!--contract table -->
            <div class="col s12" *ngIf="!newUser">
              <h6>
                <sp-ng-translate [value]="'CURRENT_CONTRACTS'"></sp-ng-translate>
              </h6>
              <table class="bordered striped noclick">
                <thead>
                <tr>
                  <th>
                    <sp-ng-translate [value]="'START_DATE'"></sp-ng-translate>
                  </th>
                  <th>
                    <sp-ng-translate [value]="'END_DATE'"></sp-ng-translate>
                  </th>
                  <th>
                    <sp-ng-translate [value]="'HIERARCHICAL_SUPERIOR'"></sp-ng-translate>
                  </th>
                  <th>
                    <sp-ng-translate [value]="'LEGAL_ENTITY'"></sp-ng-translate>
                  </th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let c of contracts">
                  <tr>
                    <td>{{c.start_date}}</td>
                    <td>{{c.end_date?c.end_date:'-'}}</td>
                    <td>
                      {{c.hierarchical_superior.__str__}}
                    </td>
                    <td>
                      {{c.legal_entity.__str__?c.legal_entity.__str__:'-'}}
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </sp-stepper-item-content-active>

        <sp-stepper-item-content-inactive>
          <div class="row" style="background-color: whitesmoke;">
            <div class="col s3">
              <mat-form-field>
                <input matInput value="{{contract.legal_entity.__str__?contract.legal_entity.__str__:'-'}}" [disabled]="true" [placeholder]="tr('LEGAL_ENTITY')">
              </mat-form-field>
            </div>
            <div class="col s3">
              <mat-form-field>
                <input matInput value="{{contract.hierarchical_superior.__str__}}" [disabled]="true" [placeholder]="tr('HIERARCHICAL_SUPERIOR')">
              </mat-form-field>
            </div>
            <div class="col s3">
              <mat-form-field>
                <input matInput value="{{contract.start_date}}" [disabled]="true" [placeholder]="tr('START_DATE')">
              </mat-form-field>
            </div>
            <div class="col s3">
              <mat-form-field>
                <input matInput value="{{contract.end_date?contract.end_date:'-'}}" [disabled]="true" [placeholder]="tr('END_DATE')">
              </mat-form-field>
            </div>
          </div>
        </sp-stepper-item-content-inactive>
      </sp-stepper-item>

      <!-- STEP 5: badge-->
      <sp-stepper-item [nextCondition]="step5ProceedCondition.bind(this)" (onConfirm)="step5ProceedConfirm()">
        <sp-stepper-item-title>Badge selection</sp-stepper-item-title>
        <sp-stepper-item-content-active>
          <div class="row">
            <mat-slide-toggle [(ngModel)]="skipBadge" color="primary">Skip Badge
            </mat-slide-toggle>
          </div>
          <div class="row" *ngIf="!skipBadge">
            <div class="row">
              <div class="col s4">
                <mat-form-field>
                  <mat-select class="full-width" [placeholder]="tr('BADGE')" [(ngModel)]="badgeUserRef.badge.pk"
                              (ngModelChange)="fixBadge()">
                    <mat-option *ngFor="let b of badges" [value]="b.pk">{{b.__str__}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col s4">
                <date-input [placeholder]="tr('START_DATE')" [(ngModel)]="badgeUserRef.start_date"></date-input>
              </div>
              <div class="col s4">
                <date-input [placeholder]="tr('END_DATE')" [(ngModel)]="badgeUserRef.end_date"></date-input>
              </div>
            </div>
            <div class="row">
              <div class="col s4">
                <mat-form-field>
                  <input matInput [(ngModel)]="badgeUserRef.external_doc_id" [placeholder]="'Document ID'">
                </mat-form-field>
              </div>
              <div class="col s4">
                <mat-form-field>
                  <mat-select class="full-width" [placeholder]="tr('LANGUAGE')" [(ngModel)]="badgeUserRef.language">
                    <mat-option *ngFor="let l of djangolanguages" [value]="l.value">{{l.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col s4">
                <mat-form-field>
                  <textarea matInput [placeholder]="'Notes'" [(ngModel)]="badgeUserRef.notes"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>

          <!--current badge-->
          <h6>
            <sp-ng-translate [value]="'CURRENT_BADGES'"></sp-ng-translate>
          </h6>
          <table class="bordered striped noclick">
            <thead>
            <tr>
              <th>
                <sp-ng-translate [value]="'BADGE'"></sp-ng-translate>
              </th>
              <th>
                <sp-ng-translate [value]="'DATES'"></sp-ng-translate>
              </th>
              <th>
                <sp-ng-translate [value]="'LANGUAGES'"></sp-ng-translate>
              </th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let cb of currentBadges">
              <tr>
                <td>{{cb.__str__}}</td>
                <td>
                  {{cb.start_date}} - {{cb.end_date}}
                </td>

                <td>
                  {{cb.language}}
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>

        </sp-stepper-item-content-active>
        <sp-stepper-item-content-inactive>
          <div class="row" style="background-color: whitesmoke;">
            <div class="col s4">
              <mat-form-field>
                <input matInput value="{{badgeUserRef.badge.__str__?badgeUserRef.badge.__str__:'-'}}" [disabled]="true" [placeholder]="tr('BADGE')">
              </mat-form-field>
            </div>
            <div class="col s3">
              <mat-form-field>
                <input matInput value="{{badgeUserRef.start_date}} - {{badgeUserRef.end_date}}" [disabled]="true" [placeholder]="tr('START_DATE')">
              </mat-form-field>
            </div>

            <div class="col s2">
              <mat-form-field>
                <input matInput value="{{badgeUserRef.language?badgeUserRef.language:'-'}}" [disabled]="true" [placeholder]="tr('LANGUAGE')">
              </mat-form-field>
            </div>
            <div class="col s3 flex" style="height:70px">
              <div style="color: #4CAF50"><b>Current active badges : {{currentBadges.length}}</b></div>
            </div>
          </div>
        </sp-stepper-item-content-inactive>
      </sp-stepper-item>

    </sp-stepper>


    <div class="row" *ngIf="stepper.globalIndex==5">
      <div class="col s12">
        <!-- non metto il componente per mantenere l'icona con il back per l'undo -->
        <div class="save-button-container flex">
          <button mat-mini-fab class="serioplast-grey" (click)="backLastStep()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab class="serioplast-green" (click)="saveAll()">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
