<div class="row" *ngIf="cirToEdit">
  <div class="col s12">
    <button class="back serioplast-grey" mat-fab (click)="back()" style="margin: 20px 0">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>

  <div class="col s4">
    <material-selector (selectedMaterial)="selectedMaterial($event)" *ngIf="!cirToEdit.Material"></material-selector>
    <ng-container *ngIf="cirToEdit.Material">
      <div class="flex">
        <div style="width:calc(100% - 40px)" *ngIf="materialSAP">
          <fixed-field [label]="'Material'" [value]="materialSAP.Code+' - '+materialSAP.Description"></fixed-field>
        </div>
        <ng-container *ngIf="create">
          <button mat-mini-fab class="serioplast-grey" (click)="clearMaterial()" style="margin-left:10px"><mat-icon >clear</mat-icon></button>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="col s4" *ngIf="cirToEdit.Material">
    <ng-container *ngIf="!cirToEdit.SalesOrganization">
      <fixed-field [label]="'Select Organization and Customer'" [useContent]="true">
        <button mat-mini-fab (click)="openOrganizationDialog()" ><mat-icon>search</mat-icon></button>
      </fixed-field>

    </ng-container>
    <ng-container *ngIf="cirToEdit.SalesOrganization && salesOrganization">
      <div class="flex">
        <div style="width:calc(100% - 40px)">
          <fixed-field [label]="'Sales Organization'" [value]="salesOrganization.SalesOrganizationCode+' - '+salesOrganization.Description"></fixed-field>
        </div>
        <ng-container *ngIf="create">
          <button mat-mini-fab class="serioplast-grey" (click)="clearOrgSelection()" style="margin-left:10px"><mat-icon >clear</mat-icon></button>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div class="col s4" *ngIf="cirToEdit.Material && customer">
    <ng-container *ngIf="cirToEdit.Customer">
      <div class="flex">
        <div style="width:calc(100% - 40px)">
          <fixed-field [label]="'Customer'" [value]="customer.Customer+' - '+customer.Name"></fixed-field>
        </div>
        <ng-container *ngIf="create">
          <button mat-mini-fab class="serioplast-grey" (click)="clearOrgSelection()" style="margin-left:10px">
            <mat-icon>clear</mat-icon>
          </button>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div class="col s6 " *ngIf="cirToEdit.Material && cirToEdit.Customer">
    <mat-form-field>
      <input type="text" [(ngModel)]="cirToEdit.CustomerMaterial" class="full-width" matInput placeholder="Customer material code"/>
    </mat-form-field>
  </div>
  <div class="col s6 " *ngIf="cirToEdit.Material && cirToEdit.Customer">
    <mat-form-field>
      <input type="text" [(ngModel)]="cirToEdit.CustomerMatDescript" class="full-width" matInput placeholder="Customer material description"/>
    </mat-form-field>
  </div>

  <div class="col s12"  *ngIf="cirToEdit.CustomerMaterial && cirToEdit.CustomerMatDescript">
    <div class="flex" style="padding:10px">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="save()"><mat-icon>send</mat-icon></button>
    </div>
  </div>
</div>



<sp-dialog #organizationDialog [nopadding]="true">
  <div class="organization-dialog">
    <div class="serioplast-green" style="height:20px">&nbsp;</div>
    <div class="organization-dialog-content" *ngIf="organizationDialog.opened">

      <div class="row">
        <div class="col s12">
          <mat-select [(ngModel)]="organization_serionet" (ngModelChange)="handleOrganizationChange()" class="full-width">
            <mat-option *ngFor="let o of organizations" [value]="o.pk" >{{o.__str__}}</mat-option>
          </mat-select>
        </div>
      </div>

      <sp-accordion [selectedItem]="0" *ngIf="salesOrganizationsToShow.length>0">
        <sp-accordion-item class="organization-accordion" *ngFor="let o of salesOrganizationsToShow">
          <sp-accordion-item-title>{{o.SalesOrganizationCode}} - {{o.Description}}</sp-accordion-item-title>
          <sp-accordion-item-content>
            <div class="row nomargin">
              <div class="col s6 ">
                <mat-form-field>
                  <input type="text" [(ngModel)]="customerCodeFilter" matInput placeholder="Customer"/>
                </mat-form-field>
              </div>
              <div class="col s6 ">
                <mat-form-field>
                  <input type="text" [(ngModel)]="customerNameFilter" matInput placeholder="Name"/>
                </mat-form-field>
              </div>
            </div>
            <sp-table-with-pages [small]="true" [renderOnly]="true" [data]="filterCustomers(o.CustomerLink.results)" [nResults]="20" [clickable]="true" (rowclick)="selectedCustomer(o, $event)" [headerConf]="headerConfCustomers" [availableActions]="[]"></sp-table-with-pages>
          </sp-accordion-item-content>
        </sp-accordion-item>
      </sp-accordion>
    </div>
  </div>
</sp-dialog>


