.ci_container {
  padding:10px;
  height: calc(100% - 20px);
}

*>>>mat-tab-group {
  height:100%;
}

*>>>.mat-tab-body-wrapper {
  height:100%;
}

.add-button-container {
  padding:20px;
}

.organization-dialog {
  width:600px;
  height:600px;
}

.organization-dialog-content {
  overflow:auto;
  height:calc(100% - 20px);
}


sp-accordion-item.organization-accordion>>>.mat-toolbar.mat-primary{
  background-color:#ccc;
  min-height:30px;
}
sp-accordion-item.organization-accordion>>>.mat-toolbar-row {
  height: 30px;
  font-size: 13px;
}
