<div class="row main">

  <div class="col m3 s12 model_card_cont">
    <mat-card *ngIf="hrprofile.user_id" class="model_card">
      <img mat-card-image *ngIf="hrprofile.avatar && hrprofile.avatar.pk" src={{hrprofile.avatar.attachment_file?hrprofile.avatar.attachment_file:hrprofile.avatar.__str__}} onerror="this.src='/assets/img/no-profile.png'">
      <mat-card-content style="overflow: auto;height: 60%">
        <button *ngIf="hrprofile.is_employee" mat-fab class="grey back" matTooltip="Back" [matTooltipPosition]="'below'"
                [routerLink]="['/hr-management']" style="position: absolute;top: 10px;left: 10px;">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <h5 style="margin: 0px">
          {{hrprofile.__str__}}
        </h5>

        <sp-autocomplete [label]="tr('TIMEZONE')" [minChars]="1" [noJSON]="true" [displayKey]="null"
                         [initialValue]="hrprofile.timezone? hrprofile.timezone:null"
                         [sourceFunction]="loadDjangoTimezones.bind(this)" (valueChanged)="selectedTimezone.bind(this)($event)"></sp-autocomplete>

        <file-uploader [label]="tr('AVATAR')" [fieldName]="'avatar'" [contentType]="profileCT" [mode]="'image'" [(ngModel)]="hrprofile.avatar" [hidePreview]="true"></file-uploader>

        <div class="row">
          <h6>
            <sp-ng-translate [value]="'Tags'"></sp-ng-translate>
          </h6>

          <mat-chip-list>
            <mat-chip style="margin-top: 2px" *ngFor="let tag of hrprofile.tags">{{tag.__str__}}</mat-chip>
          </mat-chip-list>
        </div>

        <sp-save-undo [undoCondition]="false" (save)="updateHrProfile()"></sp-save-undo>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col m9 s12">

    <!--<div class="col s12">-->

    <mat-tab-group class="main" #tab (selectTabChange)="selectTabChange()">
      <mat-tab label="Info" class="main">
        <div class="col s10">
          <router-outlet name="personalinfochild"></router-outlet>
          <br>
        </div>
        <div class="col s2 main">
          <ul class="section table-of-contents" *ngIf="hrprofile.user_id">
            <ng-container *ngIf="hrprofile.user_id.pk">
              <li><a href="/hr-management/employees/detail/{{hrprofile.user_id.pk}}">Personal Info</a>
              </li>
              <li><a
                [routerLink]="['/hr-management','employees','detail',hrprofile.user_id.pk,{outlets: {personalinfochild: ['educationscomp',hrprofile.user_id.pk]}}]">Educations</a>
              </li>
              <li><a
                [routerLink]="['/hr-management','employees','detail',hrprofile.user_id.pk,{outlets: {personalinfochild: ['professionalexperiencescomp',hrprofile.user_id.pk]}}]">Professional
                Exp.</a>
              </li>
              <li><a
                [routerLink]="['/hr-management','employees','detail',hrprofile.user_id.pk,{outlets: {personalinfochild: ['nationalitiescomp',hrprofile.user_id.pk]}}]">Nationalities</a>
              </li>
              <li><a
                [routerLink]="['/hr-management','employees','detail',hrprofile.user_id.pk,{outlets: {personalinfochild: ['workingcontactscomp',hrprofile.user_id.pk]}}]">Work
                Contacts</a>
              </li>
              <li><a
                [routerLink]="['/hr-management','employees','detail',hrprofile.user_id.pk,{outlets: {personalinfochild: ['languagescomp',hrprofile.user_id.pk]}}]">Languages</a>
              </li>
            </ng-container>
          </ul>
        </div>
      </mat-tab>

      <mat-tab label="Contract" class="main">
        <div class="col s10">
          <router-outlet name="contractchild"></router-outlet>
          <br>
        </div>
        <div class="col s2 main">
          <ul class="section table-of-contents" *ngIf="hrprofile.user_id">
            <ng-container *ngIf="hrprofile.user_id.pk">
              <li><a
                [routerLink]="['/hr-management','employees','detail',hrprofile.user_id.pk,{outlets: {contractchild: ['contractscomp',hrprofile.user_id.pk]}}]">Contracts</a>
              </li>
            </ng-container>
          </ul>
        </div>
      </mat-tab>


      <mat-tab label="T&A" class="main">
        <div class="col s10">
          <router-outlet name="timeattendancechild"></router-outlet>
          <br>
        </div>
        <div class="col s2 main">
          <ul class="section table-of-contents" *ngIf="hrprofile.user_id">
            <ng-container *ngIf="hrprofile.user_id.pk">
              <li><a
                [routerLink]="['/hr-management','employees','detail',hrprofile.user_id.pk,{outlets: {timeattendancechild: ['badgescomp',hrprofile.user_id.pk]}}]">Badges</a>
              </li>
              <!--<li><a-->
              <!--[routerLink]="['/hr-management','employees','detail',hrprofile.user_id.pk,{outlets: {timeattendancechild: ['milestonescomp',hrprofile.user_id.pk]}}]">DayWeek Milestones</a>-->
              <!--</li>-->
              <!--<li><a-->
              <!--[routerLink]="['/hr-management','employees','detail',hrprofile.user_id.pk,{outlets: {timeattendancechild: ['ucpcomp',hrprofile.user_id.pk]}}]">Clock Profiles</a>-->
              <!--</li>-->
            </ng-container>
          </ul>
        </div>
      </mat-tab>

        <!--<md-tab label="User Calendar" class="main" >-->
          <!--&lt;!&ndash;<div class="col s12">&ndash;&gt;-->
            <!--<hr-employees-user-calendar *ngIf="showCalendar" [profile]="hrprofile"></hr-employees-user-calendar>-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</md-tab>-->

      <mat-tab label="Positions" class="main">

        <div class="col s12">
          <router-outlet name="positionschild"></router-outlet>
        </div>
      </mat-tab>
    </mat-tab-group>
    <!--</div>-->


  </div>

</div>
