<sales-pricelist-pricelist-list *ngIf="!editMode && !loading" (createEvent)="createPH($event)" (viewEvent)="viewPH($event)"> </sales-pricelist-pricelist-list>

<sales-pricelist-pricelist-view *ngIf="editMode && !loading" [phToView]="phToView" (backEvent)="back()" [createMode]="createMode" (editWip)="editWIP($event)"></sales-pricelist-pricelist-view>

<mat-progress-spinner color="primary" *ngIf="loading"></mat-progress-spinner>
