<div class="addForm" *ngIf="editOn && file">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="col s4">
          <fixed-field [label]="'Material'" [value]="material.code+' - '+material.description"></fixed-field>
        </div>
        <div class="col s4">
          <fixed-field [label]="'Supplier'" [value]="supplier.sap_code+' - '+supplier.__str__"></fixed-field>
        </div>
        <div class="col s4">
          <mat-form-field>
            <mat-select [(ngModel)]="file.type.pk" class="full-width" [placeholder]="'Type'">
              <mat-option value="">---</mat-option>
              <mat-option *ngFor="let t of types" [value]="t.pk">{{t.__str__}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <ng-container *ngIf="file && !file.attachment_file">
            <fixed-field [label]="'Document'" [useContent]="true">
              <div class="flex">
                <button mat-raised-button color="primary" (click)="input.click()">File</button>
                <input hidden type="file" #input (change)="updateFile(input)"/>
                <div style="padding-left:10px">
                  <mat-form-field>
                    <input class="file-path validate" type="text" title="file" matInput [value]="getFileName(input)" style="display:block!important">
                  </mat-form-field>
                </div>
              </div>
            </fixed-field>
          </ng-container>
          <ng-container *ngIf="file && file.attachment_file">
            <fixed-field [label]="tr('DOCUMENT')" [useContent]="true">
              {{extractFileName(file.__str__)}}
              <button mat-mini-fab color="primary" (click)="deleteFile()"><mat-icon>delete</mat-icon></button>
            </fixed-field>
          </ng-container>

        </div>
        <div class="col s4">
          <mat-form-field>
            <input type="text" matInput placeholder="{{tr('DOCUMENT_ID')}}" [(ngModel)]="file.doc_id"/>
          </mat-form-field>
        </div>
        <div class="col s4">
          <mat-form-field>
            <input type="text" matInput placeholder="{{tr('VERSION')}}" [(ngModel)]="file.version"/>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <mat-form-field>
            <textarea matInput placeholder="{{tr('NOTES')}}" [(ngModel)]="file.notes"
                      style="resize:none; width:100%; height:200px"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex">
    <button mat-mini-fab type="button" class="serioplast-grey" matTooltip="Create"
            [matTooltipPosition]="'below'" (click)="undoMaterialSupplierDocument()">
      <mat-icon>undo</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <button *ngIf="canSave()" mat-mini-fab type="button" class="serioplast-green" matTooltip="Create"
            [matTooltipPosition]="'below'" (click)="saveMaterialSupplierDocument()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>

<ng-container *ngIf="!editOn">

  <ng-container *ngIf="files.length>0">
    <div class="docs-container">
     <mat-card class="organization-documents">
          <mat-card-title>{{material.code}} - {{material.description}} for {{supplier.__str__}}</mat-card-title>
          <mat-card-content>
            <div>
              <table #table class="mdl-data-table bordered striped noclick">
                <thead>
                <tr>
                  <th style="width:40%;">File</th>
                  <th>
                    <sp-ng-translate [value]="'TYPE'"></sp-ng-translate>
                  </th>
                  <th>
                    <sp-ng-translate [value]="'ID'"></sp-ng-translate>
                  </th>
                  <th>
                    <sp-ng-translate [value]="'VERSION'"></sp-ng-translate>
                  </th>
                  <th>
                    <sp-ng-translate [value]="'NOTES'"></sp-ng-translate>
                  </th>
                  <th>
                    <sp-ng-translate [value]="'ACTIONS'"></sp-ng-translate>
                  </th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let f of files">
                  <tr>
                    <td>
                      {{extractFileName(f.__str__)}}
                    </td>
                    <td>{{f.type?f.type.__str__:""}}</td>
                    <td>{{f.doc_id}}</td>
                    <td>{{f.version}}</td>
                    <td>{{f.notes}}</td>
                    <td>
                      <mat-icon matTooltip="Download" [matTooltipPosition]="'below'" (click)="downloadMaterialSupplierDocument(f)">file_download</mat-icon>
                      <mat-icon matTooltip="Edit" [matTooltipPosition]="'below'" (click)="editMaterialSupplierDocument(f)">edit</mat-icon>
                      <mat-icon matTooltip="Delete" [matTooltipPosition]="'below'" (click)="deleteMaterialSupplierDocument(f)">delete</mat-icon>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
    </div>
  </ng-container>
  <ng-container *ngIf="files.length==0">
    {{tr('NO_DOCS_AVAILABLE')}}
  </ng-container>


  <div class="row flex add-container" *ngIf="!disableButton">
    <span class="fill-remaining-space"></span>
    <button mat-mini-fab type="button" class="serioplast-green" matTooltip="Create"
            [matTooltipPosition]="'below'" (click)="createMaterialSupplierDocument()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</ng-container>




