<div class="row">
  <div *ngIf="salesOrganizationCreateOpen" class="col s12">
    <mat-card class="main">
      <mat-card-content>
        <div class="row" *ngIf="onCreate">
          <h5>Create</h5>
        </div>
        <div class="row" *ngIf="!onCreate">
          <h5>Edit</h5>
        </div>

        <div class="row">
          <div class="col s4">
            <mat-form-field>
              <mat-select placeholder="Select sales ref" [(ngModel)]="salesOrganization.user.pk" name="edit-sales-ref">
                <mat-option>Select a value</mat-option>
                <mat-option *ngFor="let su of salesUsers" [value]="su.pk">
                  {{su.__str__}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col s4">
            <organization-search [organization]="salesOrganization.organization"
                                 (organizationSelected)="selectedOrganization.bind(this)($event)"></organization-search>
          </div>

          <div class="col s4" *ngIf="salesOrganization.organization">
            <mat-checkbox [(ngModel)]="allLegalEntities" (ngModelChange)="isLegalEntitiesChecked()"
                          name="edit-legal-entities-all" [color]="'primary'">All Legal Entities
            </mat-checkbox>

            <div>
              <ng-container *ngIf="!allLegalEntities && (legal_entities && legal_entities.length > 0 && legalEntitiesCheckBoxes && legalEntitiesCheckBoxes.length > 0)">
                <fixed-field [label]="tr('SELECT_LEGAL_ENTITIES')" [useContent]="true">
                  <div class="col s4" *ngFor="let lec of legalEntitiesCheckBoxes">
                    <mat-checkbox [(ngModel)]="lec.checked" (ngModelChange)="isAllLegalEntities()" [color]="'primary'"
                                  name="edit-legal-entity-{{lec.legal_entity.pk}}"
                                  matTooltip="{{lec.legal_entity.__str__}}">{{lec.legal_entity.code}}
                    </mat-checkbox>
                  </div>
                </fixed-field>
              </ng-container>
            </div>
          </div>
        </div>

        <sp-save-undo (undo)="undoEditSalesOrganization()" (save)="saveSalesOrganization()"></sp-save-undo>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col s12 m3" *ngIf="!salesOrganizationCreateOpen">
    <h5>Filters</h5>
    <div class="row">
      <form>
        <mat-form-field>
          <mat-select placeholder="Select sales ref" [(ngModel)]="salesOrganizationFilter.user" name="search-sales-ref">
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let su of salesUsers" [value]="su.pk">
              {{su.__str__}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <organization-search [label]="tr('SELECT_ORGANIZATION')" [organization]="salesOrganizationFilter.organization" (organizationSelected)="selectedOrganizationFilter.bind(this)($event)"></organization-search>

        <sp-search-reset (reset)="reset()" (search)="reload()"></sp-search-reset>

      </form>
    </div>
  </div>

  <div class="col s12 m9" *ngIf="!salesOrganizationCreateOpen">
    <mat-card>
      <div class="row">
        <div class="flex" style="margin-bottom:10px">
          <h5 style="margin:0;">Sales Organizations</h5>
          <span class="fill-remaining-space"></span>
          <mat-slide-toggle color="primary" [(ngModel)]="active" (ngModelChange)="salesOrganizationsTable.reload()">Active</mat-slide-toggle>
        </div>
        <sp-table-with-pages #salesOrganizationsTable [nResults]="15" [small]="true" [noItemsMessage]="noItemsMessagesalesOrganizations"
                             [headerConf]="headerConfsalesOrganizations"
                             [availableActions]="availableActions" [getData]="loadSalesOrganizations.bind(this)"></sp-table-with-pages>

      </div>
      <div class="row">
        <div class="add-button-container flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'" (click)="createSalesOrganization()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

    </mat-card>


  </div>

</div>


