<div class="row">
  <div class="col" [ngClass]="{s6:!vertical,s12:vertical}">
    <mat-form-field>
      <textarea matInput [placeholder]="tr(label)" [(ngModel)]="object[field]" (ngModelChange)="refresh()"></textarea>
    </mat-form-field>
  </div>
  <div class="col" [ngClass]="{s6:!vertical,s12:vertical}" *ngIf="showPreview">
    <fixed-field [label]="tr('LIVE_PREVIEW')" *ngIf="object[field]" [useContent]="true">
      <!--<div class="markdown" Markdown [innerHTML]="object[field]"></div>-->
      <div class="markdown" [innerHTML]="object[field]|markdown"></div>
    </fixed-field>
  </div>
</div>
