<div class="save-undo-container flex">
  <button class="serioplast-grey" *ngIf="undoCondition" mat-mini-fab (click)="doUndo()"><mat-icon>undo</mat-icon></button>
  <span class="fill-remaining-space"></span>
  <button class="serioplast-green" mat-mini-fab (click)="doSave()" *ngIf="saveCondition">
    <mat-icon *ngIf="savePartial">keyboard_return</mat-icon>
    <mat-icon *ngIf="!savePartial">send</mat-icon>
  </button>
</div>



