
<div class="col s12">
  <div style="padding:10px">
    <button mat-fab class="serioplast-blue" routerLink="/materials/shapes"><img style="width:50%;" src="assets/bottle.svg"></button>
  </div>
</div>

<div class="col s3 filters">
    <div *ngIf="materialTypes.length>0">
      <mat-form-field>
        <mat-select [(ngModel)]="materialType" [placeholder]="tr('MATERIAL_TYPE')">
          <mat-option [value]="">{{tr('ALL')}}</mat-option>
          <mat-option *ngFor="let t of materialTypes" [value]="t.pk">{{t.__str__}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field>
        <input id="code" type="text" class="validate filter-input" [(ngModel)]="code_or_description" matInput [placeholder]="tr('CODE_OR_DESCRIPTION')">
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field>
        <mat-select [(ngModel)]="site.pk" [placeholder]="tr('SITE')" (ngModelChange)="selectedSite()">
          <mat-option [value]="">---</mat-option>
          <mat-option *ngFor="let s of sites" [value]="s.pk">{{s.__str__}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="">
      <mat-checkbox color="primary" [(ngModel)]="valuated"><sp-ng-translate [value]="'VALUATED'"></sp-ng-translate></mat-checkbox>
    </div>
    <div class="">
      <mat-checkbox color="primary" [(ngModel)]="isActive"><sp-ng-translate [value]="'ACTIVE'"></sp-ng-translate></mat-checkbox>
    </div>

    <div class="flex">
     <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="reloadList()"><mat-icon>search</mat-icon></button>
    </div>

  </div>

  <div class="col s9">

    <sp-table-with-pages #materialsTable [ready]="ready" [availableActions]="availableActions" [noItemsMessage]="noItemsMessage" [nResults]="resultsPerPage" [getData]="loadMaterials.bind(this)" [headerConf]="headerConf"  [expandData]="expandDataSubTypes.bind(this)" [expandDataAsync]="true"></sp-table-with-pages>

    <div class="flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green create" matTooltip="Create" [matTooltipPosition]="'below'" (click)="createMaterial()" *ngIf="canCreateMaterial()">
        <i class="material-icons">add</i>
      </button>
    </div>
</div>
