<sp-dialog #confirmDialog [nopadding]="true" (onClose)="onCloseDialog()" (onOpen)="onOpenDialog()" [closeByOverlayClick]="closeByOverlayClick" [onTop]="true">
  <div class="confirm">
    <header *ngIf="title" [ngClass]="{'error':error}">
      {{title}}
    </header>
    <main [innerHTML]="message" class="fill-remaining-space">
    </main>
    <footer>
      <span class="empty"></span>
      <span class="button" *ngIf="denyFunction">
        <button mat-fab class="md-accent red" (click)="deny()">
          <mat-icon class="md-24">clear</mat-icon>
        </button>
      </span>
      <span class="empty" *ngIf="denyFunction"></span>
      <span class="button" *ngIf="confirmFunction">
        <button mat-fab class="md-accent green" (click)="confirm()">
          <mat-icon class="md-24">done</mat-icon>
        </button>
      </span>
      <span class="empty"></span>
    </footer>
  </div>
</sp-dialog>


