<div class="row main" materialize>
  <div class="col s12">
    <div class="row main outlet">
      <div class="flex">
        <h4>
          <sp-ng-translate [value]="'ASSETS_WORKCENTERS'"></sp-ng-translate>
        </h4>
        <span class="fill-remaining-space"></span>
      </div>

      <mat-tab-group #tab (selectedTabChange)="tabChange()">
        <mat-tab [label]="tr('ASSETS')">
          <asset-index *ngIf="selectedIndex==0"></asset-index>
        </mat-tab>
        <mat-tab [label]="tr('WORKCENTERS')">
          <workcenters-index *ngIf="selectedIndex==1"> </workcenters-index>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>






