<div class="flex">
  <button mat-fab class="back grey" (click)="back()">
    <i class="material-icons">keyboard_arrow_left</i>
  </button>

  <div style="padding-left:30px">
    <h3>{{controlPlan.description}}</h3>
  </div>
</div>

<div class="all-container" #allContainer>
  <div class="controlPlanHeader" *ngIf="controlPlan">
    <div class="row">

      <div class="col s8">
        <div class="row">
          <div class="col s6">
            <user-sites (siteChange)="siteChange($event)" [initialValue]="(controlPlan && controlPlan.site && controlPlan.site.pk)?controlPlan.site:null"></user-sites>
          </div>
          <div class="col s6">
            <mat-form-field>
              <mat-select [(ngModel)]="controlPlan.type.pk" (ngModelChange)="typeChange($event)" [placeholder]="tr('TYPE')"
                          *ngIf="types.length>0"  class="full-width">
                <mat-option *ngFor="let t of types" [value]="t.pk">{{t.__str__}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
        <div class="row">
          <div class="col s6 ">
            <mat-form-field>
              <input id="cp_name" [(ngModel)]="controlPlan.description" matInput placeholder="'Control plan name'"/>
            </mat-form-field>
          </div>
          <div class="col s6">
            <mat-form-field>
              <mat-select [placeholder]="tr('FREQUENCY')" [(ngModel)]="controlPlan.frequency.pk" class="full-width">
                <mat-option value="" disabled selected> {{tr('SELECT_FREQUENCY')}}</mat-option>
                <mat-option *ngFor="let f of frequencies" [value]="f.pk">{{tr(f.code)}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>

      <div class="col s4">
        <mat-card>
          Materials

          <div *ngIf="!isCloned && !controlPlan.pk">
            <material-selector (selectedMaterial)="selectedMaterial($event)"></material-selector>
          </div>

          <div *ngFor="let cpm of controlPlan.controlplanmaterial_set">
            <mat-checkbox [(ngModel)]="cpm.is_active" color="primary">
              <pk-tr [source]="cpm.material.pk|material"></pk-tr>
            </mat-checkbox>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <ng-container *ngIf="controlPlan.pk">
    <div class="properties-container">
      <div class="row">
        <div class="col s3 column-title">Properties</div>
        <div class="col s9 column-title">
          <ng-container *ngIf="!measureEditOn">Control Plan</ng-container>
          <ng-container *ngIf="measureEditOn">Measure</ng-container>
        </div>
      </div>
      <div class="row nomargin">
        <div class="col s3">
          <div *ngFor="let p of properties; let i=index" class="propertySource flex"
               [ngClass]="{active:isPropAddedToMeasures(p)}">
            <sp-property [propertyPK]="p.pk" [activateDialog]="true"></sp-property>
            <span class="fill-remaining-space"></span>
            <mat-icon *ngIf="!measureEditOn && !isPropAddedToMeasures(p)" (click)="togglePropAsMeasure(p)">add</mat-icon>
          </div>
        </div>
        <div class="col s9">
          <ng-container *ngIf="!measureEditOn">
            <ng-container *ngFor="let m of controlPlan.measures; let i=index; let isFirst=first; let isLast=last">
              <div class="propertyDestination flex">
            <span>
              <sp-property [property]="m.property" *ngIf="m.property"></sp-property>
              <ng-container *ngIf="m.property.calculated">(<i>calculated</i>)</ng-container>
              <ng-container *ngIf="!m.property.calculated">&nbsp;x&nbsp;{{m.repeats}}</ng-container>

            </span>
                <span class="fill-remaining-space"></span>
                <mat-icon [ngClass]="{'invisible':isFirst}" (click)="moveMeasureUp(m)">arrow_upward</mat-icon>
                <mat-icon [ngClass]="{'invisible':isLast}" (click)="moveMeasureDown(m)">arrow_downward</mat-icon>
                <mat-icon (click)="editMeasure(m)">edit</mat-icon>
                <mat-icon (click)="removeMeasure(m)">delete</mat-icon>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="measureEditOn">
            <ng-container *ngIf="measureToEdit">
              <mat-card style="background-color:#eee">
                <div class="row">
                  <div class="col s9">
                    <div class="row">
                      <div class="col"
                           [ngClass]="{s9:!measureToEdit.property.calculated, s12:measureToEdit.property.calculated}">
                        <h5>Property</h5>
                        <div class="">
                          <sp-property [propertyPK]="measureToEdit.property.pk"></sp-property>
                          <ng-container *ngIf="measureToEdit.property.calculated">
                            (calculated)
                          </ng-container>
                        </div>
                      </div>
                      <div class="col s3" *ngIf="!measureToEdit.property.calculated">
                        <mat-form-field>
                          <input type="number" [(ngModel)]="measureToEdit.repeats"
                                 [disabled]="measureToEdit.property.calculated" matInput placeholder="Repeats"/>
                        </mat-form-field>
                      </div>
                    </div>
                    <div style="padding:10px; background-color:#ddd; margin-bottom:10px;">
                      <div class="row" *ngFor="let rc of measureToEdit.release_criteria_list; let l=index">
                        <div class="col s4">
                          <mat-form-field>
                            <mat-select [(ngModel)]="rc.criteria" [placeholder]="tr('CRITERIA')" class="full-width" (ngModelChange)="fixCriteria(rc)">
                              <mat-option *ngFor="let c of criteria" [value]="c.pk">{{fixCriteriaName(c.__str__)}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                        </div>
                        <div class="col s7" *ngIf="rc.parameters_list && rc.parameters_list.length>0">
                          <fixed-field [label]="'Thresholds'" [useContent]="true">
                            <mat-form-field *ngFor="let p of rc.parameters_list; let i=index" style="width:30px; margin-right:10px;">
                              <input type="text" [(ngModel)]="p.value" matInput />
                            </mat-form-field>
                          </fixed-field>
                        </div>
                        <div class="col s1">
                          <div class="flex" style="height:75px">
                            <mat-icon (click)="removeRC(measureToEdit,rc)">delete</mat-icon>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="canAddRC(measureToEdit)" class="flex">
                        <div class="fill-remaining-space"></div>
                        <mat-form-field *ngIf="measureToEdit.release_criteria_list.length>1">
                          <mat-select [(ngModel)]="measureToEdit.or_operator" [placeholder]="tr('OPERATOR')">
                            <mat-option [value]="false">And</mat-option>
                            <mat-option [value]="true">Or</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <div class="fill-remaining-space"></div>
                        <button mat-mini-fab class="serioplast-green" (click)="addRC(measureToEdit)">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div>
                    </div>
                    <sp-save-undo (undo)="undoEditMeasure()" [saveCondition]="canSaveMeasure()" (save)="saveEditMeasure()"></sp-save-undo>

                  </div>
                  <div class="col s3">
                    <div *ngFor="let cpm of controlPlan.controlplanmaterial_set" class="flex" style="font-size:10px">
                      <mat-icon *ngIf="doesMaterialHaveProperty(measureToEdit.property,cpm.material)" class="green-text no-pointer">
                        done
                      </mat-icon>
                      <mat-icon *ngIf="!doesMaterialHaveProperty(measureToEdit.property,cpm.material)" class="red-text no-pointer">
                        clear
                      </mat-icon>
                      {{cpm.material.__str__}}
                    </div>
                  </div>
                </div>
              </mat-card>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>

  </ng-container>


</div>


<button mat-fab class="serioplast-green save" *ngIf="canSave()" (click)="saveControlPlan()">
  <mat-icon>send</mat-icon>
</button>



