.unselectable {
  padding-left: 28px;
  font-size: 12px;
}

.back {
  position: fixed;
  top: 80px;
  left: 20px;
}

.propertySource {
  background:#eee;
  margin-bottom:10px;
  padding:10px;
}

.propertySource.active {
  background:rgba(76,175,80,0.4);
  display:none!important;
}

.propertyDestination {
  background:#ddd;
  margin-bottom:10px;
  padding:10px;
}

.propertyDestination.newItem {
  background:#eee;
}

.column-title {
  text-align: center;
  font-weight: bold;
}

.save-button-container {
  padding:20px;
}

.controlPlanHeader {
  /*background:#ccc;*/
  padding:10px;
}

.save {
  position:fixed;
  bottom:20px;
  right:20px;
}

.all-container {
  height:calc(100% - 90px);
  overflow:auto;
}

.no-pointer {
  cursor:default;
}
