<ng-container *ngIf="workorder">
  <div class="row main">

    <div class="col m3 s12 model_card_cont">
      <mat-card class="model_card">
        <mat-card-content class="main">
          <!-- BACK BUTTON -->
          <div class="row">
            <button mat-fab class="grey back" matTooltip="Back" [matTooltipPosition]="'below'"
                    [routerLink]="['/spc']">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
          </div>
          <!-- SUMMARY SECTION -->
          <div class="row" style="padding:5px;margin: 5px;margin-bottom: 20px;border: 1px solid lightgrey;">
            <sp-ng-translate [value]="'WO'"></sp-ng-translate>
            <h5>{{workorder.WorkOrderNumber}} - {{workorder.ConfirmedQuantity|ExpThousandsSeparator}}/
              {{workorder.RequiredQuantity|ExpThousandsSeparator}}</h5>
            <h6>{{workorder.Material}} - {{workorder.MatDescription}}</h6>
          </div>
          <div class="row" style="padding:5px;margin: 5px;margin-bottom: 20px;border: 1px solid lightgrey;">
            <sp-ng-translate [value]="'BATCH'"></sp-ng-translate>
            <ng-container *ngFor="let batch of workorder.WBatchLink.results">
              <div style="padding:5px;margin: 5px;">
                <h5 style="display: inline">{{batch.BatchNumber}}</h5>
              </div>
            </ng-container>
          </div>


          <div class="row" style="padding:5px;margin: 5px;margin-bottom: 20px;border: 1px solid lightgrey;">
            <sp-ng-translate [value]="'WC'"></sp-ng-translate>
            <ng-container *ngFor="let wc of serionetWorkcenters">
              <div style="padding:5px;margin: 5px;" [style.background-color]="wc.color" [style.color]="wc.text_color">
                <h5 style="display: inline">{{wc.__str__}}</h5> - {{wc.status.__str__}}/
                <ng-container *ngIf="wc.sub_status">{{wc.sub_status.__str__}}</ng-container>
              </div>
            </ng-container>
          </div>


          <!-- LOGOUT BUTTON -->
          <button mat-fab class="logout" (click)="logout()">
            <mat-icon class="md-24">power_settings_new</mat-icon>
          </button>
          <!-- SETTING BUTTON -->
          <div class="setting">
            <sp-settings>
              <div style="min-width:400px; min-height: 400px">
                <sp-language-selector></sp-language-selector>
              </div>
            </sp-settings>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col m9 s12">
      <div class="row" style="margin-bottom: 0px;">


        <mat-tab-group>
          <!-- PRODUCT CONTROL -->
          <mat-tab label="Product control">
            <ng-container *ngIf="!bool">
              <h5>
                <sp-ng-translate [value]="'CONTROL_PLANS'"></sp-ng-translate>
              </h5>
              <div class="row" *ngIf="workorder && selectedSite && selectedSite.pk" style="margin-bottom: 20px;">
              <table class="bordered striped noclick">
                <thead>
                <th>Control Plan</th>
                <th>Frequency</th>
                <th>Time to next</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr *ngFor="let cp of controlPlans" [style.background-color]="controlPlanRowColor(cp)">
                  <td>{{cp.__str__}}</td>
                  <td>{{cp.frequency.__str__}}</td>
                  <td>{{frq_check(cp.time_from_last)}}</td>
                  <td><mat-icon (click)="addSession(cp)">add</mat-icon></td>
                </tr>
                </tbody>
              </table>
              </div>
              <h5>
                <sp-ng-translate [value]="'SESSION'"></sp-ng-translate>
              </h5>
              <ng-container *ngIf="workorder">
                <sp-table-with-pages #sessionTable [nResults]="5" [noItemsMessage]="noItemsMessageSessions"
                                     [headerConf]="headerConfControlSessions"
                                     [availableActions]="availableActionsControlSessions"
                                     [getData]="loadSessions.bind(this)"></sp-table-with-pages>
              </ng-container>

              <div class="row" *ngIf="workorder && selectedSite && selectedSite.pk" style="margin-bottom: 10px;">
              </div>
            </ng-container>

            <ng-container *ngIf="bool">
              <div class="row">
                <button mat-fab class="grey  back" (click)="backFromSession()">
                  <mat-icon>reply</mat-icon>
                </button>
                <h5 style="display: inline">
                  <sp-ng-translate [value]="'NEW SESSION'"></sp-ng-translate>
                </h5>
                <!--<h5 style="display: inline;color: #4CAF50">-->
                <!--<sp-ng-translate *ngIf="complete" [value]="'COMPLETE'"></sp-ng-translate>-->
                <!--</h5>-->

              </div>
              <!--<div class="col 12 m6">-->
              <!--<table class="bordered">-->
              <!--<tr *ngFor="let samplemeasure of newMeasureSession.measuresessionsample_set[0].samplemeasure_set"-->
              <!--[ngClass]="{'complete-row':samplemeasure.value}">-->
              <!--<td>-->
              <!--<sp-property [propertyPK]="samplemeasure.property.pk"></sp-property>-->
              <!--</td>-->
              <!--<td>-->
              <!--<mat-radio-group [(ngModel)]="samplemeasure.value" (change)="check()">-->
              <!--<mat-radio-button value="0" color="primary">Yes</mat-radio-button>-->
              <!--<mat-radio-button value="1">No</mat-radio-button>-->
              <!--</mat-radio-group>-->
              <!--</td>-->
              <!--</tr>-->
              <!--</table>-->
              <!--</div>-->
              <!--<div class="col s12 m6" style="background-color: whitesmoke ">-->
              <!--<sp-ng-translate [value]="'BATCH'"></sp-ng-translate>-->
              <!--<br>-->
              <!--<mat-radio-group [(ngModel)]="newMeasureSession.batch">-->
              <!--<ng-container *ngFor="let batch of workorder.WBatchLink.results">-->
              <!--<mat-radio-button color="primary" value='{{batch.BatchNumber}}'>{{batch.BatchNumber}}-->
              <!--</mat-radio-button>-->
              <!--</ng-container>-->
              <!--</mat-radio-group>-->
              <!--<br><br>-->
              <!--<input type="text" aria-multiline="true" [(ngModel)]="newMeasureSession.notes" placeholder="Notes"/>-->
              <!--</div>-->
              <!--<button mat-fab class="green back right" *ngIf="complete" (click)="save()">-->
              <!--<mat-icon>send</mat-icon>-->
              <!--</button>-->
              <sp-session-detail [session]="newMeasureSession" [viewMode]="false" (back)="back()"
                                 *ngIf="newMeasureSession" [hideHeader]="true" [hideSide]="true"
                                 [hideFresh]="true"></sp-session-detail>
            </ng-container>
          </mat-tab>
          <mat-tab label="Status">
            <div style="margin: 10px;"></div>
            <ng-container *ngFor="let wc of serionetWorkcenters">

              <div class="row" [style.border-color]="wc.color"
                   style="border: 4px solid;padding-bottom: 20px;text-align: center;">
                <!--<sp-event-timeline [eventRows]="eventRows"></sp-event-timeline>-->
                <ng-container *ngIf="!change_status">
                  <h5>{{wc.__str__}}</h5>
                  <h2>{{wc.status.__str__}}</h2>
                  <ng-container *ngIf="wc.sub_status">
                    <h5>{{wc.sub_status.__str__}}</h5>
                  </ng-container>
                  <button mat-fab class="green" (click)="changeStatus()">
                    <mat-icon>edit</mat-icon>
                  </button>
                </ng-container>
                <ng-container *ngIf="change_status">
                  <h5>{{wc.__str__}}</h5>

                  <mat-select placeholder="Select new Status" style="text-align: center;" [(ngModel)]="selectedStatus"
                             (change)="loadSubStatus()">
                    <mat-option *ngFor="let status of wcAvailableStatusesLink" [value]="status.pk">{{status.__str__}}
                    </mat-option>
                  </mat-select>
                  <br><br>
                  <mat-select placeholder="Select new Sub Status" style="text-align: center;"
                             [(ngModel)]="selectedSubStatus" *ngIf="wcAvailableSubStatusesLink.length>0">
                    <mat-option *ngFor="let substatus of wcAvailableSubStatusesLink" [value]="substatus.pk">
                      {{substatus.__str__}}
                    </mat-option>
                  </mat-select>

                  <br><br>
                  <button mat-fab class="grey" style="margin-right: 10px;" (click)="closeStatus()">
                    <mat-icon>reply</mat-icon>
                  </button>
                  <button mat-fab class="green" style="margin-left: 10px;" (click)="changeStatusSend(wc)">
                    <mat-icon>send</mat-icon>
                  </button>
                </ng-container>
              </div>
            </ng-container>

          </mat-tab>
          <mat-tab label="Process control">
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</ng-container>


