.logout {
  position:fixed;
  bottom:20px;
  /*left: 100px;*/
  left:20px;
}

.setting{
  position:fixed;
  bottom:20px;
  /*left: 100px;*/
  left:100px;
}

.back{
  position:static;
  top: 70px;
 margin: 5px;
}

.complete-row{
  background-color: whitesmoke;
}

.model_card_cont{
  overflow: hidden;
  margin: 0px;
  padding-left: 0px;
  position: relative;
  height: calc(100% - 90px)!important;

}

.model_card{
  overflow: auto;
  height: 100%;
  padding:2px;
}

.main{
  height: 100%;
}

.close{
  position:fixed;
  bottom:20px;
  /*left: 100px;*/
  right:20px;
}


.printer-radio-group{
  display: inline-flex;
  flex-direction: column;
}

.printer-radio-button{
  margin: 5px;
}


.status >>>.mat-select-trigger{
  font-size: 56px;
}

.custom_toggle-label >>> .mat-button-toggle-label-content{
  font-size: 20px;
  border-left: solid 1px lightgrey;
}
