td, th {
  padding: 4px 4px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

h5 {
  font-size: 1.44rem;
  line-height: 110%;
  margin: 0.2rem 0 1.66rem 0;
}

i.cellicon{
  font-size: 1.5em;
  padding: 5px;
  color:#2196f3;
}
