<i class="material-icons small cellicon" *ngIf="cpn.get_sitecpnpackageitems.length > 0" (click)="openDialog()">visibility</i>

<sp-dialog #currentCpnPackages>
  <h5>{{cpn.name}} for {{cpn.department_ref.__str__}}</h5>
  <table class="mdl-data-table striped noclick" *ngIf="localCpnPackagesItems.length > 0">
    <th>Name</th>
    <th>Site</th>
    <th>Reference</th>
    <th>Mandatory</th>
    <tr *ngFor="let packageItem of localCpnPackagesItems">
     <td>{{packageItem.site_package.__str__}}</td>
     <td>{{packageItem.site_package.site.__str__}}</td>
     <td>{{packageItem.site_package.reference.__str__}}</td>
     <td>{{packageItem.mandatory}}</td>
    </tr>
    </table>
</sp-dialog>
