<mat-card>
  <header>
    <div class="flex" style="height:50px">
      <sp-user [userPK]="comment.created_by.pk"></sp-user>
      <span class="fill-remaining-space"></span>
      <mat-card-subtitle class="time">{{comment.created_on | date:'y-MM-dd HH:mm'}}</mat-card-subtitle>
    </div>
  </header>
  <mat-card-content>
    <span [innerHTML]="comment.message|markdown">
    </span>
  </mat-card-content>
</mat-card>

