.row {
  margin-bottom: 0;
}

mat-card {
  background:rgb(228,228,228);
  padding:10px;
  margin:5px 0;
}

.time {
  margin-bottom: 0;
}

@media (min-width: 480px) {
  .time {
    line-height: 75px;
  }
}

*>>>p {
  margin:0;
}

*>>>.bordered {
  width:100%;
}
