<div class="row nomargin" style="padding-top:20px">
  <div class="col s3 filters">
    <div *ngIf="materialTypes.length>0">
      <mat-form-field>
        <mat-select [(ngModel)]="materialType" [placeholder]="tr('MATERIAL_TYPE')">
          <mat-option [value]="">{{tr('ALL')}}</mat-option>
          <mat-option *ngFor="let t of materialTypes" [value]="t.pk">{{t.__str__}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field>
        <input id="code" type="text" class="validate filter-input" [(ngModel)]="code_or_description" matInput placeholder="{{tr('CODE_OR_DESCRIPTION')}}">
      </mat-form-field>
    </div>
    <div class="">

      <mat-form-field>
        <mat-select [(ngModel)]="siteFilter" [placeholder]="tr('SITE')">
          <mat-option [value]="">---</mat-option>
          <mat-option *ngFor="let s of sites" [value]="s.pk">{{s.__str__}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="reloadList()">
        <mat-icon>search</mat-icon>
      </button>
    </div>

  </div>

  <div class="col s9">

    <sp-table-with-pages #materialsTable [ready]="ready" [availableActions]="[]"
                         [noItemsMessage]="noItemsMessage" [nResults]="resultsPerPage"
                         [getData]="loadMaterials.bind(this)" [headerConf]="headerConf"
                         [expandData]="expandDataSubTypes.bind(this)" [expandDataAsync]="true" [clickable]="true" (rowclick)="editMaterial($event)"></sp-table-with-pages>

  </div>
</div>

