input[auto-complete] {
  width:100%;
}

.create {
  margin:20px;
}

.filters {
  padding-right:20px;
}

.filters mat-select {
  width:100%;
}

.flex {
  margin-top:0;
}

label.results {
  position:relative;
  top:auto;
  left:auto;
  margin-right:10px;
}

.material-icons.action {
  margin-right:20px;
}
