.father {
  flex-direction: row-reverse;
}

ul {
  padding-left:40px;
}

.leaf {
  font-size:12px;
  align-items: flex-start;
  margin:5px 0;
}

mat-card {
  width:200px;
  margin:10px;
  padding:5px;
}

mat-card-content {
  font-size:9px;
}

mat-card-content span.label {
  color: black;
  margin-right: 5px;
  font-size: 9px;
  font-weight: bold;
}

mat-card-title {
  font-size: 11px;
  font-weight: bold;
  border-bottom: 1px solid black;
  color: black;
  margin-bottom: 5px;
}

.delivery {
  background:#e57373
}

.batch {
  background:lightblue;
  cursor:pointer;
}

.purchaseorder {
  background:orange;
}

.workorder {
  background:#eceff1;
  cursor:pointer;
}

.centerAll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.children-button-container {
  height:70px;
  margin-top:10px;
  cursor:pointer;
}

.children-button-container:hover {
  background:#eee;
}

.children {
  position:relative;
}

.children .border {
  position:absolute;
  width:20px;
  height:100%;
  border: 1px solid black;
  border-right:none;
}

.children .border.father {
  right:0;
  border-right:1px solid black;
  border-left:none;
}

*>>>.mat-list[dense] .mat-list-item {
  height:20px;
}

*>>>.mat-list[dense] .mat-list-item .mat-list-item-content{
  padding:0;
  font-size:9px;
}

.workorder-dialog {
  width:600px;
}
