<div class="leaf flex" *ngIf="batchStructure" [ngClass]="{father:batchStructure.father}">
  <div class="arrows">

  </div>
  <div class="items">
    <mat-card class="delivery" *ngIf="batchStructure.batch.Type=='L'">
      <mat-card-title>
        Delivery: {{batchStructure.batch.Delivery}}
      </mat-card-title>
      <mat-card-content>
        <span class="label">Customer</span><span>{{batchStructure.batch.CustomerName}} ({{batchStructure.batch.Customer}})</span><br/>
        <span class="label">Delivery</span><span>{{batchStructure.batch.Delivery}} </span><br/>
      </mat-card-content>
    </mat-card>
    <mat-card class="batch" *ngIf="batchStructure.batch.Type=='C'" (click)="goToBatch(batchStructure.batch)">
      <mat-card-title>
        Batch: {{batchStructure.batch.FSBatch}}
      </mat-card-title>
      <mat-card-content>
        <span class="label">Material</span><span>{{batchStructure.batch.FSMaterial}} - ({{batchStructure.batch.MaterialDescription}})</span><br/>
        <span class="label">Plant</span><span>{{batchStructure.batch.FSPlant}}</span><br/>
        <ng-container *ngIf="batchStructure.batch.SupplierBatch">
          <span class="label">Supplier Batch</span><span>{{batchStructure.batch.SupplierBatch}}</span>
        </ng-container>
      </mat-card-content>
    </mat-card>
    <mat-card class="purchaseorder" *ngIf="batchStructure.batch.Type=='B'">
      <mat-card-title>
        Purchase Order: {{batchStructure.batch.PurchaseOrder}} ({{batchStructure.batch.PurchaseItem}})
      </mat-card-title>
      <mat-card-content>
        <span class="label">Supplier</span><span>{{batchStructure.batch.SupplierName}} ({{batchStructure.batch.Supplier}})</span><br/>
        <span class="label">Supplier Batch</span><span>{{batchStructure.batch.SupplierBatch}}</span><br/>
      </mat-card-content>
    </mat-card>
    <mat-card class="workorder" *ngIf="batchStructure.batch.Type=='A'" (click)="openWorkorderDetails()">
      <mat-card-title>
        Work Order: {{batchStructure.batch.WorkOrder}}
      </mat-card-title>
      <mat-card-content>
        <span class="label">BoM</span><span>{{batchStructure.batch.Bom}}</span><br/>
        <ng-container *ngIf="batchStructure.batch.BatchOps.results.length>0">
          <span class="label">Routing operations</span>
          <mat-list class="dotted" dense>
            <mat-list-item *ngFor="let op of batchStructure.batch.BatchOps.results">
              &bull; Operation: {{op.Operation}} - Workcenter: {{op.WorkCenter}}
              <ng-container *ngIf="op.OpsPRT.results.length>0">
                <span class="label">PRT</span>
                <mat-list class="dotted" dense>
                  <mat-list-item *ngFor="let prt of op.OpsPRT.results">
                    &bull; {{prt.PRT}}
                  </mat-list-item>
                </mat-list>
              </ng-container>

            </mat-list-item>
          </mat-list>
        </ng-container>

      </mat-card-content>
    </mat-card>

  </div>

  <div class="children-button-container centerAll" (click)="exploded=!exploded;" *ngIf="batchStructure.children.length>0">
    <mat-icon *ngIf="exploded?!batchStructure.father:batchStructure.father">chevron_left</mat-icon>
    <mat-icon *ngIf="exploded?batchStructure.father:!batchStructure.father">chevron_right</mat-icon>
  </div>
  <div class="children" [ngClass]="{father:batchStructure.father}" *ngIf="exploded">
    <div class="border" [ngClass]="{father:batchStructure.father}"></div>
    <ng-container *ngFor="let bst of batchStructure.children">
      <app-quality-stock-batch-detail-where-used-leaf
        [batchStructure]="bst"></app-quality-stock-batch-detail-where-used-leaf>
    </ng-container>
  </div>
</div>

<sp-dialog #workorderDialog>
  <div class="workorder-dialog" *ngIf="workorderDialog.opened">
    <sp-table-with-pages [getData]="getBatches.bind(this)" [headerConf]="headerConf" [availableActions]="[]" [mode]="'SAP'"></sp-table-with-pages>
  </div>
</sp-dialog>
