<div class="row main">

  <ng-container *ngIf="analyticsEmployee">
    <div class="col s12 m2">
      <h5>
        <sp-ng-translate [value]="'FILTERS'"></sp-ng-translate>
      </h5>
      <br>
      <form>
        <user-sites *ngIf="!onCreate" (siteChange)="locationChange($event)" [allowEmpty]="true"></user-sites>

        <mat-form-field>
          <mat-select *ngIf="!onCreate" placeholder="Select job title" [(ngModel)]="hcpFilter.name"
                      name="search-job-title">
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let cpn of companyPositionNames" [value]="cpn.pk">
              {{cpn.__str__}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-mini-fab class="serioplast-green right" (click)="hcpTable.reload()">
          <mat-icon>search</mat-icon>
        </button>

      </form>

    </div>

    <div class="col s12 m8">
      <mat-card>
        <div class="row">
          <div class="flex" style="margin-bottom:20px;">
            <h5 style="margin-bottom: 0px;">
              <sp-ng-translate [value]="'EXPORT_EMPLOYEES'"></sp-ng-translate>
            </h5>
            <div class="col s5">
              <div class="flex">
                <span style="margin-left: 5px"></span>
                <span class="fill-remaining-space"></span>
                <h6>Export XLSX</h6>
                <span style="margin-left: 5px"></span>
                <button (click)="downloadEmployees()" mat-mini-fab class="serioplast-green">
                  <mat-icon>file_download</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <sp-table-with-pages #hcpTable [nResults]="25" [small]="true"
                               [noItemsMessage]="noItemsMessageHasCompanyPositions"
                               [headerConf]="headerConfHasCompanyPositions"
                               [availableActions]="availableActions"
                               [getData]="loadHasCompanyPositions.bind(this)"></sp-table-with-pages>

        </div>
      </mat-card>
    </div>
  </ng-container>

  <ng-container *ngIf="analyticsEvents">
    <div class="col s12 m2" style="padding-right: 20px;padding-top: 20px;padding-left: 20px;">
      <h5>
        <sp-ng-translate [value]="'FILTERS'"></sp-ng-translate>
      </h5>
      <br>
      <div class="row">
        <form>

          <!--<mat-form-field>-->
            <!--<input matInput [matDatepicker]="picker" placeholder="Select month:" [(ngModel)]="montEventFilter">-->
            <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
            <!--<mat-datepicker #picker></mat-datepicker>-->
          <!--</mat-form-field>-->


          <mat-form-field>
            <input matInput [placeholder]="'Select month:'" type="month" [(ngModel)]="montEventFilter" name="events-search-month" id="events-search-month"
                   required/>
          </mat-form-field>

          <mat-form-field *ngIf="eventTypes.length > 0">
            <mat-select placeholder="Select type" [(ngModel)]="eventTypeFilter" name="events-search-type"
                        (ngModelChange)="EventTypeChange($event)">
              <mat-option>Select a value</mat-option>
              <mat-option *ngFor="let type of eventTypes" [value]="type.pk">
                {{type.__str__}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="eventSubTypes">
            <mat-select placeholder="Select subtype" [(ngModel)]="eventSubTypeFilter" name="events-search-subtype">
              <mat-option>Select a value</mat-option>
              <mat-option *ngFor="let subtype of eventSubTypes" [value]="subtype.pk">
                {{subtype.__str__}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <user-sites [allowEmpty]="true" (siteChange)="locationEventChange($event)"></user-sites>

          <mat-form-field *ngIf="companyPositionNamesEvents.length > 0">
            <mat-select *ngIf="!onCreate" placeholder="Select job title" [(ngModel)]="cpnEventFilter"
                        name="events-search-job-title">
              <mat-option>Select a value</mat-option>
              <mat-option *ngFor="let cpn of companyPositionNamesEvents" [value]="cpn.pk">
                {{cpn.__str__}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <sp-autocomplete #profileAutocomplete [label]="'FULL_NAME'"
                           [sourceFunction]="loadEmployees.bind(this)" [displayKey]="'__str__'"
                           (valueChanged)="selectedProfileEventFilter.bind(this)($event)"></sp-autocomplete>

          <sp-search-reset (search)="hrEventsTable.reload()" (reset)="resetEventsFilter()"></sp-search-reset>

        </form>
      </div>

    </div>

    <div class="col s12 m8">
      <mat-card>
        <div class="row">
          <div class="flex" style="margin-bottom:20px;">
            <h5 style="margin-bottom: 0px;">
              <sp-ng-translate [value]="'EXPORT_EVENTS'"></sp-ng-translate>
            </h5>
            <div class="col s5">
              <div class="flex">
                <span style="margin-left: 5px"></span>
                <span class="fill-remaining-space"></span>
                <h5>Export XLSX</h5>
                <span style="margin-left: 5px"></span>
                <button (click)="downloadEvents()" mat-mini-fab class="serioplast-green">
                  <mat-icon>file_download</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <sp-table-with-pages #hrEventsTable [nResults]="25" [small]="true" [noItemsMessage]="noItemsMessageEvents"
                               [headerConf]="headerConfEvents"
                               [availableActions]="availableEventsActions"
                               [getData]="loadHrEvents.bind(this)"></sp-table-with-pages>

        </div>
      </mat-card>
    </div>
  </ng-container>

  <div class="col s12 m2" style="padding-right: 70px;padding-top: 20px;padding-left: 20px;">
    <h5>
      <sp-ng-translate [value]="'EXPORT'"></sp-ng-translate>
    </h5>
    <br>
    <div class="row">
      <div class="col s12">

        <ul class="section table-of-contents">
          <li><a style="cursor: pointer" [class.active]="analyticsEmployee" (click)="viewEmployees()">Employees</a></li>
          <li><a style="cursor: pointer" [class.active]="analyticsEvents" (click)="viewEvents()">Events</a></li>

        </ul>
      </div>
    </div>
  </div>

  <sp-dialog #currentAttachments>
    <h5>Attachments for {{eventSelected.title}} - {{eventSelected.user}}</h5>
    <table class="mdl-data-table bordered striped noclick">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Filename</th>
        <th class="mdl-data-table__cell--non-numeric">Download</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of eventSelected.attachments">
        <td class="mdl-data-table__cell--non-numeric">{{file|filename}}</td>
        <td class="mdl-data-table__cell--non-numeric"><a href="{{file.__str__}}"
                                                         download="attachment-event-{{eventSelected.pk}}-{{file.pk}}">
          <mat-icon color="primary">play_for_work</mat-icon>
        </a>
        </td>
      </tr>
      </tbody>
    </table>
  </sp-dialog>


</div>


