<div class="container">

  <div class="row">
    <div class="col s4 m3" *ngFor="let app of apps">
      <mat-card class="app-container" [routerLink]="['/'+app.app_root]">
        <div class="flex" style="height:70%">
          <span class="fill-remaining-space"></span>
          <div class="square" style="width:70%">
            <div class="content">
              <img src="/assets/img/blank.png" style="height:100%"/>
              <app-icon [app]="app"></app-icon>
            </div>
          </div>
          <span class="fill-remaining-space"></span>
        </div>
        <div class="centerAll mat-typography" style="height:30%; padding-top:10px">
          <!--<mat-card-title class="hide-on-small-only">{{app.title}}</mat-card-title>-->
          <mat-card-subtitle class="hide-on-med-and-up">{{app.title}}</mat-card-subtitle>
        </div>
      </mat-card>
    </div>
  </div>
</div>
