mat-card {
  cursor: pointer;
  margin: 10px 0;
  width:calc(100% - 20px);
  height:calc(100% - 20px);
  padding: 10px;
}

mat-card-title, mat-card-subtitle {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000000;
}


app-icon {
   height:100%;
   width:100%;
   position:absolute;
   top:0;
   left:0;
 }

.app-icon:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.app-container {
  /*padding-top:240px;*/
}

