<ng-container *ngIf="shape">
  <div style="padding: 20px 0;" class="flex">
    <button mat-fab class="grey back" matTooltip="Back" [matTooltipPosition]="'below'" (click)="goToList()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <ng-container *ngIf="shape">
      <h5 style="margin-left: 20px">{{shape.code}} - {{shape.description}}</h5>
    </ng-container>
    <div class="fill-remaining-space"></div>
    <button *ngIf="shape && canViewActionEdit" mat-fab class="serioplast-green edit"
            matTooltip="Edit" [matTooltipPosition]="'below'" (click)="editShape(shape)">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div class="row">
    <div class="col s12">
      <mat-card *ngIf="shape" class="main">
        <mat-card-content>
          <div class="row">
            <div class="col s6">
              <p>
                <b>
                  <sp-ng-translate [value]="'CODE'"></sp-ng-translate>
                  : </b> {{shape.code}}
              </p>
              <p>
                <b>
                  <sp-ng-translate [value]="'DESCRIPTION'"></sp-ng-translate>
                  : </b> {{shape.description}}
              </p>
              <p>
                <b>
                  <sp-ng-translate [value]="'LONG_DESCRIPTION'"></sp-ng-translate>
                  : </b> {{shape.long_description}}
              </p>
              <p>
                <b>
                  <sp-ng-translate [value]="'TYPE'"></sp-ng-translate>
                  : </b>
                <ng-container *ngIf="shape.material_type!=undefined">
                  <pk-tr [source]="shape.material_type.pk|material_type"></pk-tr>
                </ng-container>

              </p>
              <p>
                <b>
                  <sp-ng-translate [value]="'SUBTYPE'"></sp-ng-translate>
                  : </b>
                <ng-container *ngIf="shape.subtype!=undefined">
                  <pk-tr [source]="shape.subtype.pk|material_subtype_link"></pk-tr>
                </ng-container>
                <ng-container *ngIf="!shape.subtype">
                  -
                </ng-container>
              </p>
              <p>
                <b>
                  <sp-ng-translate [value]="'TECHNOLOGY'"></sp-ng-translate>
                </b>:
                <ng-container *ngIf="shape.technology!=undefined">
                  <pk-tr [source]="shape.technology.pk|technologyLink"></pk-tr>
                </ng-container>
              </p>
              <p>
                <b>
                  <sp-ng-translate [value]="'ALTERNATIVE_NAMES'"></sp-ng-translate>
                  : </b> {{shape.alternative_name_plain}}
              </p>
              <p>
                <b>
                  <sp-ng-translate [value]="'PLM_REVISION'"></sp-ng-translate>
                  : </b> {{shape.plm_revision?shape.plm_revision:'-'}}
              </p>

              <p>
                <b>
                  <sp-ng-translate [value]="'OWNER'"></sp-ng-translate>
                </b>:
                <ng-container *ngIf="shape.owner!=undefined">
                  <pk-tr [source]="shape.owner.pk|organization"></pk-tr>
                </ng-container>
                <ng-container *ngIf="!shape.owner">
                  -
                </ng-container>
              </p>
            </div>
            <div class="col s6">
              <p><b>
                <sp-ng-translate [value]="'NOTES'"></sp-ng-translate>
                :</b></p>
              <div class="markdown" Markdown [innerHTML]="shape.notes"></div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>






