.workorder {
  cursor:pointer;
  margin:5px 0;
  height:22px;
  line-height:22px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #eee;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right:11px solid #eee;
}

.workorder-label {
  position:absolute;
  top:5px;
  left:0;
  height:22px;
  text-align:center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 9999;
}


