<ng-container *ngIf="workorder">
  <div class="flex full-width" style="position:relative">
    <div class="arrow-left" *ngIf="hasPreviousData" [style]="getArrowStyleLeft()"></div>
    <div class="workorder fill-remaining-space" [style]="getStyle()" (click)="viewWorkorderInternal()">
      <div *ngIf="isFirstShownColumn" [attr.style]="getWidth()" class="workorder-label" matTooltip="{{getTooltip()}}">
        {{workorder.__str__}}
      </div>
    </div>
    <div class="arrow-right" *ngIf="hasFollowData" [style]="getArrowStyleRight()"></div>
  </div>
</ng-container>

<ng-container *ngIf="!workorder">
  <div class="flex full-width" style="position:relative">
    <div class="workorder fill-remaining-space">

    </div>
  </div>
</ng-container>


