<div class="full-width full-height" style="background:white">
  <div *ngIf="ready" [style]="getStyle()" matTooltip="{{getTooltip()}}">
    <img *ngIf="getIconByTechnology()" src="{{getIconByTechnology()}}"/>
    <div style="text-align:center; font-size:100%">
      {{workcenter.sap_code}}
    </div>
  </div>
</div>
