<!--<form (submit)="saveMaterial()" name="main-info">-->
  <mat-card *ngIf="!loading && material" class="main">

    <div *ngIf="!material.pk && !isClonedMaterial" class="clone-button-container flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" type="button" (click)="openCloneDialog()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>

    <div class="row main-info">
      <div class="col s12">
        <div class="row nomargin">
          <div class="col s3" *ngIf="materialTypes.length>0">
            <div *ngIf="!material.pk && !isClonedMaterial">
              <mat-form-field>
                <mat-select placeholder="Type" [(ngModel)]="material.material_type" id="material_type" name="material_type"
                            (ngModelChange)="handleTypeChange()">
                  <ng-container *ngFor="let t of materialTypes">
                    <mat-option *ngIf="t.create" [value]="t">{{t.__str__}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>
            <ng-container *ngIf="material.pk|| isClonedMaterial">
              <mat-form-field>
                <input matInput [value]="material.material_type.__str__" [placeholder]="tr('TYPE')" [disabled]="true"/>
              </mat-form-field>
            </ng-container>
          </div>

          <div class="col s3" *ngIf="materialSubTypeLinks.length>0">
            <ng-container *ngIf="!material.pk || hasEditableSubtype(material)">
              <mat-form-field>
                <mat-select placeholder="{{tr('SUBTYPE')}}" [(ngModel)]="material.sub_model.subtype.pk"
                            id="material_subtype"
                            name="material_subtype" (ngModelChange)="handleSubTypeChange()">
                  <ng-container *ngFor="let t of materialSubTypeLinks">
                    <mat-option [value]="t.pk">{{t.__str__}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="material.pk && !hasEditableSubtype(material)">
              <mat-form-field>
                <input matInput [value]="material.sub_model.subtype?material.sub_model.subtype.__str__:'-'" [disabled]="true" [placeholder]="tr('SUBTYPE')"/>
              </mat-form-field>
            </ng-container>
          </div>
          <div class="col s2" *ngIf="material.material_type.pk">
            <ng-container *ngIf="!material.pk">
              <mat-checkbox class="centered" name="valuated" [(ngModel)]="material.valuated"
                           (ngModelChange)="handleValuatedChange()" color="primary">
                <sp-ng-translate [value]="'VALUATED'"></sp-ng-translate>
              </mat-checkbox>
            </ng-container>
            <ng-container *ngIf="material.pk">
                <mat-form-field class="hideInput">
                  <input matInput [value]="'-'" [disabled]="true" [placeholder]="tr('VALUATED')"/>
                  <mat-icon *ngIf="material.valuated">done</mat-icon>
                  <mat-icon *ngIf="!material.valuated">clear</mat-icon>
                </mat-form-field>
            </ng-container>
          </div>
          <ng-container *ngIf="isBottlePrefClosure(material) || getMaterialType(material)==MATERIAL_TYPES.ASSEMBLED_GOODS">
            <div class="col s2">
              <ng-container *ngIf="!material.pk">
                <mat-checkbox class="centered" name="pallettized" [(ngModel)]="material.sub_model.palletized"
                             (ngModelChange)="handlePallettizedChange()" color="primary">
                  <sp-ng-translate [value]="'PALLETIZED'"></sp-ng-translate>
                </mat-checkbox>
              </ng-container>
              <ng-container *ngIf="material.pk">
                <mat-form-field class="hideInput">
                  <input matInput [value]="'-'" [disabled]="true" [placeholder]="tr('PALLETIZED')"/>
                  <mat-icon *ngIf="material.sub_model.palletized">done</mat-icon>
                  <mat-icon *ngIf="!material.sub_model.palletized">clear</mat-icon>
                </mat-form-field>
              </ng-container>
            </div>
          </ng-container>

          <!-- Resin -->
          <ng-container *ngIf="getMaterialType(material)==MATERIAL_TYPES.RESIN">

            <div class="col s2">
              <mat-checkbox class="centered" name="pcr" [(ngModel)]="material.sub_model.pcr"
                           (ngModelChange)="handlePCRChange()" color="primary">
                PCR
              </mat-checkbox>
            </div>
            <div class="col s2">
              <mat-checkbox class="centered" name="food_approved" [(ngModel)]="material.sub_model.food_approved"
                           (ngModelChange)="handleFoodApprovedChange()" color="primary">
                <sp-ng-translate [value]="'FOOD_APPROVED'"></sp-ng-translate>
              </mat-checkbox>
            </div>
          </ng-container>

          <!-- Additive or regrind -->
          <ng-container
            *ngIf="getMaterialType(material)==MATERIAL_TYPES.ADDITIVE||getMaterialType(material)==MATERIAL_TYPES.REGRIND">
            <div class="col s4">
              <mat-checkbox class="centered" name="food_approved" [(ngModel)]="material.sub_model.food_approved"
                           (ngModelChange)="handleFoodApprovedChange()" color="primary">
                <sp-ng-translate [value]="'FOOD_APPROVED'"></sp-ng-translate>
              </mat-checkbox>
            </div>
          </ng-container>

        </div>

        <div class="row nomargin" *ngIf="isBottlePrefClosure(material) && material.sub_model">
          <div class="col s3">
            <ng-container *ngIf="!material.pk && !isClonedMaterial">
              <sp-autocomplete [label]="tr('SHAPE')"
                               [sourceFunction]="getShapes.bind(this)" [displayKey]="'description'"
                               (valueChanged)="selectedShape.bind(this)($event)"></sp-autocomplete>
            </ng-container>
            <ng-container *ngIf="material.pk||isClonedMaterial">
              <ng-container *ngFor="let s of [material.sub_model.shape.pk|shape|async]">
                <mat-form-field *ngIf="s">
                  <input matInput [value]="s.__str__" [disabled]="true" [placeholder]="tr('SHAPE')"/>
                </mat-form-field>
              </ng-container>
            </ng-container>

          </div>
          <div class="col s3" *ngIf="segments.length>0">
            <mat-form-field>
              <mat-select placeholder="{{tr('MARKET-SEGMENT')}}" [(ngModel)]="material.sub_model.market_segment.pk"
                          name="segment" (ngModelChange)="handleSegmentChange()">
                <ng-container *ngFor="let s of segments">
                  <mat-option [value]="s.pk">{{s.__str__}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col s3" *ngIf="mainMaterials.length>0">
            <mat-form-field>
              <mat-select placeholder="{{tr('MAIN_MATERIAL')}}" [(ngModel)]="material.sub_model.main_material.pk"
                          name="material_mainmaterial" (ngModelChange)="handleMainMaterialChange()">
                <ng-container *ngFor="let m of mainMaterials">
                  <mat-option [value]="m.pk">{{m.__str__}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col s3">
            <mat-checkbox class="centered" name="pcr" [(ngModel)]="material.sub_model.pcr"
                         (ngModelChange)="handlePCRChange()" color="primary">
              PCR
            </mat-checkbox>
          </div>
        </div>

        <div class="row nomargin" *ngIf="getMaterialType(material)==MATERIAL_TYPES.ASSEMBLED_GOODS && material.sub_model">
          <div class="col s6" *ngIf="segments.length>0">
            <mat-form-field>
              <mat-select placeholder="{{tr('MARKET-SEGMENT')}}" [(ngModel)]="material.sub_model.market_segment.pk"
                          name="segment" (ngModelChange)="handleSegmentChange()">
                <ng-container *ngFor="let s of segments">
                  <mat-option [value]="s.pk">{{s.__str__}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col s6" *ngIf="mainMaterials.length>0">
            <mat-form-field>
              <mat-select placeholder="{{tr('MAIN_MATERIAL')}}" [(ngModel)]="material.sub_model.main_material.pk"
                          name="material_mainmaterial" (ngModelChange)="handleMainMaterialChange()">
                <ng-container *ngFor="let m of mainMaterials">
                  <mat-option [value]="m.pk">{{m.__str__}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row nomargin" *ngIf="material.material_type.pk">
          <div class="col s3">

            <ng-container *ngIf="!material.pk">

              <div class="flex">
                <div>
                  <button mat-mini-fab type="button" *ngIf="matGen && matGen.hasAllInfos(material)"
                          class="serioplast-green" (click)="generateCode()">
                    <mat-icon>refresh</mat-icon>
                  </button>
                </div>
                <div style="width:calc(100% - 40px)">

                  <ng-container *ngIf="!material.code">
                    <fixed-field [label]="tr('CODE')" [value]="tr('WAITING_FOR_CODE_INFO')"></fixed-field>
                  </ng-container>
                  <ng-container *ngIf="material.code">
                    <ng-container *ngIf="getMaterialType(material)!=MATERIAL_TYPES.REGRIND">

                      <fixed-field [label]="tr('CODE')" [useContent]="true">
                        <span class="code {{codeClass}} flex">
                        {{material.code}}
                        &nbsp;
                          <sp-ng-translate *ngIf="codeClass=='checking'" [value]="'VALIDATING_CODE'"></sp-ng-translate>
                        <mat-icon *ngIf="codeClass=='valid'" class="green-text">done</mat-icon>
                         <mat-icon *ngIf="codeClass=='error'" class="red-text">error</mat-icon>
                      </span>
                      </fixed-field>

                    </ng-container>
                    <ng-container *ngIf="getMaterialType(material)==MATERIAL_TYPES.REGRIND">
                      <mat-form-field>
                        <input id="material_code" class="code {{codeClass}}" name="material_code" matInput placeholder="{{tr('CODE')}}"
                               [(ngModel)]="material.code" type="text" (ngModelChange)="checkRegrindCode()"/>
                      </mat-form-field>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="material.pk">
              <fixed-field [label]="tr('CODE')" [value]="material.code"></fixed-field>
            </ng-container>

          </div>
          <div class="col s3">

            <mat-form-field>
              <input matInput [value]="material.description" [placeholder]="tr('DESCRIPTION')" maxlength="40" [disabled]="isPlmField(material)"/>
            </mat-form-field>

          </div>
          <div class="col s3" *ngIf="uoms.length>0">
            <ng-container *ngIf="material.pk">
              <mat-form-field>
                <input matInput [value]="material.uom.__str__" [placeholder]="tr('MEASURE_UNIT')" [disabled]="true"/>
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="!material.pk">
              <mat-form-field>
                <mat-select placeholder="{{tr('MEASURE_UNIT')}}" [(ngModel)]="material.uom.pk" name="material_uom"
                            (ngModelChange)="handleUomChange()">
                  <ng-container *ngFor="let u of uoms">
                    <mat-option [value]="u.pk">{{u.__str__}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </div>
          <div class="col s3" *ngIf="weightUoms.length>0">
            <mat-form-field>
              <input matInput [(ngModel)]="material.weight" type="number" (ngModelChange)="handleWeightChange()"
                     min="0" step="any" [placeholder]="tr('WEIGHT')" [disabled]="isPlmField(material)"
                     style="width:calc(100% - 60px)"/>
              <!--<ng-container *ngIf="!material.pk ||  material.uom.type!='W' ">-->

              <mat-select style="width:50px" [(ngModel)]="material.weight_uom.pk"
                          (ngModelChange)="handleWeightUomChange()"
                          [disabled]="material.uom.type=='W' || isPlmField(material)">
                <ng-container *ngFor="let u of weightUoms">
                  <mat-option [value]="u.pk">{{u.__str__}}</mat-option>
                </ng-container>
              </mat-select>
              <!--</ng-container>-->
            </mat-form-field>



            <!--<input id="material_weight" name="material_weight" [(ngModel)]="material.weight" type="number" (ngModelChange)="handleWeightChange()" min="0" step="any" [disabled]="isPlmField(material)"/>-->
            <!--<label for="material_weight">-->
              <!--<sp-ng-translate [value]="'WEIGHT'"></sp-ng-translate>-->
            <!--</label>-->
            <!--<ng-container *ngIf="material.pk && material.uom.type=='W'">-->
              <!--{{material.weight_uom.__str__}}-->
            <!--</ng-container>-->
            <!--<div [class.fixed-field] = "isPlmField(material)">-->
            <!--<ng-container *ngIf="!material.pk ||  material.uom.type!='W' ">-->
              <!--<mat-select name="weight_uom" [(ngModel)]="material.weight_uom.pk" id="material_weight_uom"-->
                         <!--(ngModelChange)="handleWeightUomChange()" [disabled]="material.uom.type=='W' || isPlmField(material)">-->
                <!--<ng-container *ngFor="let u of weightUoms">-->
                  <!--<mat-option [value]="u.pk">{{u.__str__}}</mat-option>-->
                <!--</ng-container>-->
              <!--</mat-select>-->
            <!--</ng-container>-->
            <!--</div>-->
          </div>
        </div>

        <!-- MouldSet -->
        <div class="row nomargin" *ngIf="getMaterialType(material)==MATERIAL_TYPES.MOULDSET">
          <div class="col s3">
            <ng-container *ngIf="material.sub_model.technology">
              <ng-container *ngFor="let t of [material.sub_model.technology|technologyLink|async]">
                <mat-form-field *ngIf="t">
                  <input matInput [value]="t.__str__" [placeholder]="tr('TECHNOLOGY')" [disabled]="true"/>
                </mat-form-field>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!material.sub_model.technology">
              <mat-form-field>
                <input matInput [value]="'-'" [placeholder]="tr('TECHNOLOGY')" maxlength="40" [disabled]="true"/>
              </mat-form-field>
            </ng-container>
          </div>
          <div class="col s3">

            <ng-container *ngIf="material.sub_model.shape && material.sub_model.shape.pk">
              <ng-container *ngFor="let t of [material.sub_model.shape.pk|shape|async]">
                <mat-form-field *ngIf="t">
                  <input matInput [value]="t.__str__" [placeholder]="tr('SHAPE')" [disabled]="true"/>
                </mat-form-field>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!material.sub_model.shape|| !material.sub_model.shape.pk">
              <mat-form-field>
                <input matInput [value]="'-'" [placeholder]="tr('SHAPE')" [disabled]="true"/>
              </mat-form-field>
            </ng-container>
          </div>

          <div class="col s3">
            <mat-form-field>
              <input matInput [value]="'-'" [placeholder]="tr('CONSTRUCTION_YEAR')" maxlength="40" [(ngModel)]="material.sub_model.construction_year" (ngModelChange)="handleConstructionYearChange()"/>
            </mat-form-field>
          </div>

          <div class="col s3">
            <sp-autocomplete #acLocation [label]="translationService.translate('LOCATION')"
                             [initialValue]="material.sub_model.location? material.sub_model.location:null"
                               [sourceFunction]="getSites.bind(this)" [displayKey]="'name'"
                             (valueChanged)="selectedLocation.bind(this)($event)" ></sp-autocomplete>
          </div>

          <div class="col s3">
            <organization-search [label]="tr('OWNER')" (organizationSelected)="selectedOwner.bind(this)($event)" [organization]="material.sub_model.owner? material.sub_model.owner:null"></organization-search>
          </div>

          <div class="col s12">
            <ng-container *ngIf="(cavities.length > 0 && cavitiesCheckboxes.length > 0)">
              <fixed-field [useContent]="true" [label]="tr('ACTIVE_CAVITIES')">
                <div class="col s3" *ngFor="let cav of cavitiesCheckboxes">
                  <mat-checkbox [(ngModel)]="cav.checked" [color]="'primary'" name="edit-cavity-{{cav.cavity.pk}}">{{cav.cavity.name}}</mat-checkbox>
                </div>
              </fixed-field>
            </ng-container>

            <ng-container *ngIf="!(cavities.length > 0 && cavitiesCheckboxes.length > 0)">
              <div>
                <h5><sp-ng-translate [value]="'NO_CAVITIES'"></sp-ng-translate></h5>
              </div>
            </ng-container>

          </div>

        </div>
      </div>
      <div class="col s12">
        <!-- Sites -->
        <mat-card *ngIf="material.material_type.pk" class="sites">
          <mat-card-title>
            <sp-ng-translate [value]="'SITES'"></sp-ng-translate>
          </mat-card-title>
          <mat-card-content>

            <div class="row">
              <div class="col offset-s4 s4 site-autocomplete" *ngIf="!siteToAdd">
                <sp-autocomplete [label]="tr('SITE')"
                                 [source]="sitesToAdd"
                                 [sourceFunction]="getSitesToAdd.bind(this)" [displayKey]="'name'"
                                 (valueChanged)="selectSite.bind(this)($event)" [resetOnSelection]="true"></sp-autocomplete>

              </div>
              <div class="col offset-s4 s4 siteToAdd" *ngIf="siteToAdd">
                <div>{{siteToAdd.__str__}}</div>
                <div class="flex" style="margin-bottom:10px">
                  <button mat-mini-fab (click)="siteToAdd=null" matTooltip="Undo" [matTooltipPosition]="'below'">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <span class="fill-remaining-space"></span>
                  <button mat-mini-fab color="primary" type="button" (click)="createMaterialPlant()" matTooltip="Add" [matTooltipPosition]="'below'">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </div>

            <div class="site" *ngFor="let mp of getActiveMaterialPlants(); let i=index;">
              <div class="flex">
                <!--<input type="checkbox" [attr.id]="s.pk+'_check'"-->
                <!--[name]="s.pk+'_check'" [attr.checked]="isSiteEnabledForMaterial(s)?'checked':null"-->
                <!--(change)="handleSiteChange(s)"/>-->
                <span [attr.for]="i+'_check'">
                  {{mp.site.__str__}}
                </span>
                <span class="fill-remaining-space"></span>
                <mat-icon matTooltip="Remove" [matTooltipPosition]="'below'" (click)="removeMaterialPlant(mp)">delete</mat-icon>
              </div>
              <div class="site-info">
                <div class="row">
                  <div class="col s12 m4 l3">
                    <mat-form-field>
                      <div class="flex">
                        <input matInput [disabled]="true" [value]="mp.commodity_code?mp.commodity_code:'-'" [placeholder]="tr('COMMODITY_CODE')"/>
                        <button *ngIf="!mp.commodity_code && !mp.disableCommodityCode" type="button" class="serioplast-green commodity" mat-mini-fab (click)="openCommodityDialog(mp)" matTooltip="Select code" [matTooltipPosition]="'left'">
                          <mat-icon>search</mat-icon>
                        </button>
                        <button type="button" class="serioplast-green" mat-mini-fab *ngIf="mp.commodity_code"
                                (click)="clearCommodityCode(mp)" matTooltip="Clear code" [matTooltipPosition]="'left'">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>

                    </mat-form-field>
                  </div>
                  <div class="col s12 m4 l5" *ngIf="productionTypes.length>0">
                    <mat-form-field>
                      <mat-select id="production_type_{{i}}" placeholder="{{tr('PRODTYPESPPROCTYPE')}}" [(ngModel)]="mp.production_type.pk"
                                  name="production_type_{{i}}" (ngModelChange)="handleProductionTypeChange(mp)">
                        <ng-container *ngFor="let p of productionTypes">
                          <mat-option [value]="p.pk">{{p.__str__}}</mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>

                  </div>
                  <div class="col s12 m2 l2">
                    <mat-checkbox class="centered" name="mes-{{i}}" [(ngModel)]="mp.mes"
                                 (ngModelChange)="handleFlagChange(mp)" color="primary">
                      <sp-ng-translate [value]="'MES'"></sp-ng-translate>
                    </mat-checkbox>

                  </div>
                  <div class="col s12 m2 l2">
                    <mat-checkbox class="centered" name="is-{{i}}" [(ngModel)]="mp.inspection_stock"
                                 (ngModelChange)="handleFlagChange(mp)" color="primary">
                      <sp-ng-translate [value]="'INSPECTION_STOCK'"></sp-ng-translate>
                    </mat-checkbox>
                  </div>
                </div>
              </div>
            </div>

            <hr *ngIf="getInactiveMaterialPlants().length>0 && getActiveMaterialPlants().length>0"/>

            <div class="site inactive" *ngFor="let mp of getInactiveMaterialPlants(); let i=index;">

              <div class="flex">
                <!--<input type="checkbox" [attr.id]="s.pk+'_check'"-->
                <!--[name]="s.pk+'_check'" [attr.checked]="isSiteEnabledForMaterial(s)?'checked':null"-->
                <!--(change)="handleSiteChange(s)"/>-->
                <span [attr.for]="i+'_check'">
                  {{mp.site.__str__}}
                </span>
                <span class="fill-remaining-space"></span>
                <mat-icon matTooltip="Restore" [matTooltipPosition]="'below'" (click)="restoreMaterialPlant(mp)">open_in_browser</mat-icon>
              </div>
              <div class="site-info">
                <div class="row">
                  <div class="col s12 m4 l3">
                    <fixed-field [label]="tr('COMMODITY_CODE')" [value]="mp.commodity_code"></fixed-field>
                  </div>
                  <div class="col s12 m4 l5">
                    <fixed-field [label]="tr('PRODTYPESPPROCTYPE')" [value]="mp.production_type.__str__"></fixed-field>
                  </div>
                  <div class="col s12 m2 l2">
                    <fixed-field [label]="tr('MES')" [value]="mp.mes" [isBoolean]="true"></fixed-field>
                  </div>
                  <div class="col s12 m2 l2">
                    <fixed-field [label]="tr('INSPECTION_STOCK')" [value]="mp.inspection_stock" [isBoolean]="true"></fixed-field>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row" *ngIf="isMaterialReadyToBeSaved()">
      <div class="col s12 flex">
        <span class="fill-remaining-space"></span>
        <button *ngIf="!saving" mat-mini-fab class="save serioplast-green" type="button" matTooltip="Save" [matTooltipPosition]="'left'" (click)="saveMaterial()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>

  </mat-card>

<!--</form>-->

<mat-progress-spinner *ngIf="loading"></mat-progress-spinner>

<!-- Dialog for unvaluated materials -->
<sp-dialog #unvaluatedDialog [nopadding]="true" [closeByOverlayClick]="false">
  <div class="dialog-material-edit unvaluated">
    <header>
      <sp-ng-translate [value]="'SELECT_SIBLINGS'"></sp-ng-translate>
    </header>
    <main *ngIf="siblingMaterials" class="fill-remaining-space">
      <table class="bordered striped" *ngIf="siblingMaterials.length>0">
        <thead>
        <tr>
          <th data-field="code">
            <sp-ng-translate [value]="'CODE'"></sp-ng-translate>
            <input type="text" name="codeFilter" [(ngModel)]="codeFilter" (ngModelChange)="filterSiblings()"/>
          </th>
          <th data-field="description">
            <sp-ng-translate [value]="'DESCRIPTION'"></sp-ng-translate>
            <input type="text" name="descFilter" [(ngModel)]="descFilter" (ngModelChange)="filterSiblings()"/>
          </th>
        </tr>
        </thead>

        <tbody>
        <ng-container *ngFor="let m of siblingMaterials">
          <tr (click)="selectMaterialForCloning(m)">
            <td>{{m.code}}</td>
            <td>{{m.description}}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </main>
    <footer>

      <span class="button">
        <button mat-button class="md-accent green skip-and-generate"
                (click)="unvaluatedDialog.close(); generateCode(true)">
          <sp-ng-translate [value]="'SKIP_AND_GENERATE_CODE'"></sp-ng-translate>
        </button>
      </span>
      <span class="fill-remaining-space"></span>
    </footer>
  </div>
</sp-dialog>


<!-- Dialog for bottles,preform, closurses-->
<sp-dialog #palletizedDialog [nopadding]="true" [closeByOverlayClick]="false">
  <div class="dialog-material-edit pallettized">
    <header>
      <sp-ng-translate [value]="'SELECT_BASE_MATERIAL'"></sp-ng-translate>
    </header>
    <main *ngIf="pallettizedMaterials" class="fill-remaining-space">
      <table class="bordered striped" *ngIf="pallettizedMaterials.length>0">
        <thead>
        <tr>
          <th data-field="code">
            <sp-ng-translate [value]="'CODE'"></sp-ng-translate>
          </th>
          <th data-field="description">
            <sp-ng-translate [value]="'DESCRIPTION'"></sp-ng-translate>
          </th>
        </tr>
        </thead>

        <tbody>
        <ng-container *ngFor="let m of pallettizedMaterials">
          <ng-container *ngIf="!m.sub_model.palletized">
            <tr (click)="selectPallettizedMaterialForCloning(m)">
              <td>{{m.code}}</td>
              <td>{{m.description}}</td>
            </tr>
          </ng-container>
        </ng-container>
        </tbody>
      </table>
    </main>
  </div>
</sp-dialog>

<!-- Dialog for unvaluated materials -->
<sp-dialog #cloneDialog [nopadding]="true">
  <div class="dialog-material-edit clone">
    <header>
      <sp-ng-translate [value]="'SELECT_MATERIAL_TO_CLONE'"></sp-ng-translate>
    </header>
    <main *ngIf="clonableMaterials" class="fill-remaining-space">
      <div class="row">
        <div class="col s10 offset-s1 ">
          <mat-form-field>
            <input type="text" name="coddescfilter" id="coddescfilter" [(ngModel)]="codeDescFilter"
                   (ngModelChange)="filterClones()" matInput placeholder="{{tr('CODE_OR_DESCRIPTION')}}"/>
          </mat-form-field>
        </div>
      </div>

      <table class="mdl-data-table bordered striped" *ngIf="clonableMaterials.length>0">
        <thead>
        <tr>
          <th data-field="code">
            <sp-ng-translate [value]="'CODE'"></sp-ng-translate>
          </th>
          <th data-field="description">
            <sp-ng-translate [value]="'DESCRIPTION'"></sp-ng-translate>
          </th>
        </tr>
        </thead>

        <tbody>
        <ng-container *ngFor="let m of clonableMaterials">
          <tr (click)="selectMaterialToClone(m)">
            <td>{{m.code}}</td>
            <td>{{m.description}}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </main>
    <footer>

    </footer>
  </div>
</sp-dialog>

<!-- Dialog for commodity code-->
<sp-dialog #commodityDialog [nopadding]="true">
  <div class="dialog-material-edit commodity-code-dialog">
    <header>
      <sp-ng-translate [value]="'COMMODITY_CODE'"></sp-ng-translate>
    </header>
    <main *ngIf="commodityCodes" class="fill-remaining-space">
      <table class="mdl-data-table" *ngIf="commodityCodes.length>0">
        <thead>
        <th data-field="code" width="150" class="mdl-data-table__cell--non-numeric">
          <sp-ng-translate [value]="'CODE'"></sp-ng-translate>
          <mat-form-field style="display:block;">
            <input matInput type="text" [(ngModel)]="ccCodeFilter" (ngModelChange)="filterCommodityCodes()"/>
          </mat-form-field>

        </th>
        <th data-field="description" class="mdl-data-table__cell--non-numeric">
          <sp-ng-translate [value]="'DESCRIPTION'"></sp-ng-translate>
          <mat-form-field style="display:block;">
            <input matInput type="text" [(ngModel)]="ccDescFilter" (ngModelChange)="filterCommodityCodes()"/>
          </mat-form-field>

        </th>
        </thead>

        <tbody>
        <ng-container *ngFor="let c of commodityCodesFiltered">
          <tr (click)="selectCommodityCode(c, activeMP)">
            <td class="mdl-data-table__cell--non-numeric">{{c.Code}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{c.Description}}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </main>
    <footer *ngIf="!disableShowAllButton">
      <div class="button-container flex">
        <button mat-button class="serioplast-green" (click)="showAllCommodityCodes(siteCommodity)">
          <sp-ng-translate [value]="'SHOW_ALL'"></sp-ng-translate>
        </button>
      </div>
    </footer>
  </div>
</sp-dialog>

