form {
  height: 100%;
}

mat-card.main {
  height: 100%;
  overflow: auto;
}

/*.row.main.main-info {*/
/*height:calc(100% - 60px);*/
/*}*/

#material_weight, #material_weight_update {
  width: calc(100% - 85px);
}

/*.weight-container >>> #material_weight_uom {*/
  /*display: inline-block;*/
/*}*/

/*.weight-container >>> #material_weight_uom .mat-select-trigger {*/
  /*width: 80px;*/
/*}*/

.save {
  margin: 10px 0;
}

.dialog-material-edit {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.dialog-material-edit tbody tr {
  cursor: pointer;
}

.dialog-material-edit > header {
  padding: 10px;
  background: green;
}

.dialog-material-edit > main {
  height: 600px;
  overflow: auto;
}

.dialog-material-edit > footer {
  padding: 10px;
}

.skip-and-generate {
  color: white;
}

fixed-field >>> .code {
  margin-left:10px;
}

fixed-field >>> .code.checking {
  color: orange;
}

fixed-field >>> .code.valid {
  color: green;
}

fixed-field >>> .code.error {
  color: red;
}

input.code, input.code:focus, input.code:valid {
  border-bottom-color: black;
  box-shadow: 0 1px 0 0 black;
}

input.code.checking, input.code.checking:focus {
  border-bottom-color: orange;
  box-shadow: 0 1px 0 0 orange;
}

input.code.error, input.code.error:focus, input.code.error:valid {
  border-bottom-color: red;
  box-shadow: 0 1px 0 0 red;
}

input.code.valid, input.code.valid:valid {
  border-bottom-color: green;
  box-shadow: 0 1px 0 0 green;
}

.site {
  padding: 10px;
  background: #FFF;
  color: #000;
  margin-bottom: 10px;
}

.site .site-info {
  display: block;
}

.site.inactive {
  background: #eee;
}

mat-card.sites {
  background: rgba(76, 175, 80, 0.2);
}

.clone-button-container {
  padding-bottom: 10px;
}

.filter-container {
  padding:10px;
}

.commodity-code {
  width:80%;
  margin:5px 10%;
  padding:10px;
  background:#ccc;
  display:inline-block;
  text-align:center;
  cursor:pointer;
}

.commodity{
  margin: 5px 0;
}

#material_weight_uom>>>.mat-select-trigger {
  height:30px;
  min-width: 50px;
}

#material_weight_uom>>>.mat-select-value {
  top:4px;
}

#material_weight_uom {
  margin-top:-4px;
}

mat-checkbox.centered {
  margin:18px 0;
  display:block;
}

.site-autocomplete {
  background:white;
  height:100%;
}

.siteToAdd {
  background:#eee;
  height:100%;
  text-align:center;
}

.site-form {
  height:80px;
}

.commodity-code-dialog th>input {
  font-weight: normal;
}

.commodity-code-dialog main {
  height:500px;
}

