img {
  width:100%;
  height:100%;
}

.icon {
  font-size:100%;
  transform:scale(0.5,0.5);
  color:white;
}

.icon.sap {
  font-size:80%;
}

.circle-app {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:8vw;
}
