<ng-container *ngIf="app && app.pk">
  <ng-container *ngIf="app.icon_type">
    <div class="circle-app serioplast-green">
      <span id="{{id}}" class="icon sap" [ngClass]="{'invisible':(app.icon_type!='sap')}"></span>
      <i class="material-icons icon" id="icon_{{app.pk}}_google" *ngIf="app.icon_type=='google'">{{app.icon_name}}</i>
    </div>
  </ng-container>
  <ng-container *ngIf="!app.icon_type">
    <img [src]="app.icon">
  </ng-container>
</ng-container>
