<div>
  <h5 id="Languages">Languages</h5>
  <div *ngIf="languageCreateOpen" class="col s12">
    <mat-card class="main" style="margin-bottom:20px">
      <mat-card-content>
        <div class="row" *ngIf="onCreate && !language.pk">
          <h5>Create {{language.language}}</h5>
        </div>
        <div class="row" *ngIf="language.pk">
          <h5>Edit {{language.language}}</h5>
        </div>

        <mat-form-field>
          <mat-select placeholder="Select language" [(ngModel)]="language.language" name="edit-language" required>
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let lan of djangolanguages" [value]="lan[0]">
              {{lan[1]}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select level" [(ngModel)]="language.level.pk" name="edit-level" required>
            <mat-option>Select a value</mat-option>
            <mat-option *ngFor="let level of levels" [value]="level.pk">
              {{level.__str__}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <sp-save-undo (save)="saveLanguage()" (undo)="undoLanguage()"></sp-save-undo>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row">
    <sp-table-with-pages #languagesTable [nResults]="15" [small]="true" [noItemsMessage]="noItemsMessageLanguages"
                         [headerConf]="headerConfLanguages"
                         [availableActions]="availableActions"
                         [getData]="loadLanguages.bind(this)"></sp-table-with-pages>
  </div>

  <div class="row" *ngIf="!languageCreateOpen">
    <div class="add-button-container flex">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'"
              (click)="createLanguage()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

</div>
