<div class="row main">
  <div class="col s1">
    <button mat-fab class="serioplast-grey back" (click)="back()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div class="col s11" *ngIf="purchaseInfoRecord">
    <mat-tab-group #tab (selectTabChange)="tabChange(tab)">
      <mat-tab [label]="'Inforecord'">
        <ng-container *ngIf="selectedIndex==0">
          <mat-card class="pir-header-edit" *ngIf="headerEdit">
            <div class="row nomargin">
              <div class="col s3">
                <ng-container *ngFor="let i of [(purchaseInfoRecord.Material|materialCode|async)]">
                  <ng-container *ngIf="i">
                    <fixed-field [label]="'Material'" [value]="i.code+' - '+i.description"></fixed-field>
                  </ng-container>
                </ng-container>
              </div>
              <div class="col s3">
                <ng-container *ngIf="purchaseInfoRecord.PurchaseOrganization">
                  <div class="flex">
                    <div style="width:calc(100% - 40px)">
                      <fixed-field [label]="'Purchase Organization'" [value]="organization.PurchaseOrg+' - '+organization.Description"></fixed-field>
                    </div>
                    <ng-container *ngIf="createMode">
                      <button mat-mini-fab class="serioplast-grey" (click)="clearOrgSelection()" style="margin-left:10px"><mat-icon >clear</mat-icon></button>
                    </ng-container>
                  </div>
                </ng-container>
                <ng-container *ngIf="!purchaseInfoRecord.PurchaseOrganization">
                  <fixed-field [label]="'Select Organization and Supplier'" [useContent]="true">
                    <button mat-mini-fab class="serioplast-blue" (click)="openOrganizationDialog()" ><mat-icon>search</mat-icon></button>
                  </fixed-field>
                </ng-container>
              </div>
              <div class="col s3">
                <ng-container *ngIf="!createMode">
                  <fixed-field [label]="'Plant'" [value]="purchaseInfoRecord.Plant?(purchaseInfoRecord.Plant|siteSapCode):'-'"></fixed-field>
                </ng-container>
                <ng-container *ngIf="createMode">
                  <mat-form-field>
                    <mat-select placeholder="Plant" [(ngModel)]="purchaseInfoRecord.Plant">
                      <mat-option value="">---</mat-option>
                      <mat-option *ngFor="let p of plants" [value]="p.Code">{{p.Code}} - {{p.Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>

              </div>
              <div class="col s3">
                <ng-container *ngIf="purchaseInfoRecord.Supplier">
                  <div class="flex">
                    <div style="width:calc(100% - 40px)">
                      <fixed-field [label]="'Supplier'" [value]="supplier.Supplier+' - '+supplier.Name"></fixed-field>
                    </div>
                    <ng-container *ngIf="createMode">
                      <button mat-mini-fab class="serioplast-grey" (click)="clearOrgSelection()" style="margin-left:10px"><mat-icon >clear</mat-icon></button>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="row nomargin">

              <div class="col s3">
                <ng-container *ngIf="!createMode">
                  <fixed-field [label]="'Type'" [value]="getTypeDescription(purchaseInfoRecord)"></fixed-field>
                </ng-container>
                <ng-container *ngIf="createMode">
                  <mat-form-field>
                    <mat-select placeholder="Type" [(ngModel)]="purchaseInfoRecord.Type">
                      <mat-option value="">---</mat-option>
                      <mat-option *ngFor="let t of types" [value]="t.Type">{{t.Type}} - {{t.Description}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
              </div>
              <div class="col s3 ">
                <mat-form-field>
                  <input matInput placeholder="Delivery Time (days)" type="number" [(ngModel)]="purchaseInfoRecord.DeliveryTime"/>
                </mat-form-field>
              </div>
              <div class="col s3 ">
                <mat-form-field>
                  <input type="number" [(ngModel)]="purchaseInfoRecord.MinimumQuantity" matInput [placeholder]="'Minimum quantity ('+materialSAP.Uom+')'"/>
                </mat-form-field>
              </div>
              <div class="col s3 ">
                <mat-form-field>
                  <input type="number" [(ngModel)]="purchaseInfoRecord.StandardQuantity" matInput [placeholder]="'Standard quantity ('+materialSAP.Uom+')'"/>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col s3 ">
                <mat-form-field>
                  <input id="suppMatCode" type="text" [(ngModel)]="purchaseInfoRecord.SupplierMaterialCode" matInput placeholder="Supplier Material Code"/>
                </mat-form-field>
              </div>
              <div class="col s3">
                <mat-form-field>
                  <mat-select [(ngModel)]="purchaseInfoRecord.PurchGroup" [placeholder]="'Purchasing Group'" class="full-width">
                    <mat-option *ngFor="let pg of purchaseGroups" [value]="pg.PurchGroupCode">{{pg.PurchGroupCode}} - {{pg.Description}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="col s3 ">
                <div class="flex">
                  <mat-form-field style="width:30%">
                    <mat-select [(ngModel)]="purchaseInfoRecord.Incoterms1" class="mini" placeholder="Incoterms">
                      <mat-option *ngFor="let i of incoterms" [value]="i.Incoterms">{{i.Incoterms}} - {{i.Description}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field style="width:calc(70% - 10px); margin-left:10px;">
                    <input matInput
                           [(ngModel)]="purchaseInfoRecord.Incoterms2"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="col s3">
                <fixed-field [label]="'Currency'" [value]="purchaseInfoRecord.Currency"></fixed-field>
              </div>

            </div>
            <div class="flex">
              <span class="fill-remaining-space"></span>
              <button mat-mini-fab class="serioplast-green" *ngIf="checkHeader()" (click)="headerEdit=false">
                <mat-icon>keyboard_return</mat-icon>
              </button>

            </div>
          </mat-card>

          <mat-card class="pir-header" *ngIf="!headerEdit">
            <div class="flex">
              <span class="fill-remaining-space"></span>
              <mat-icon (click)="headerEdit=true">edit</mat-icon>
            </div>
            <div class="row nomargin">
              <div class="col s3">
                <ng-container *ngFor="let i of [(purchaseInfoRecord.Material|materialCode|async)]">
                  <ng-container *ngIf="i">
                    <fixed-field [label]="'Material'" [value]="i.code+' - '+i.description"></fixed-field>
                  </ng-container>
                </ng-container>
              </div>
              <div class="col s3">
                <fixed-field [label]="'Purchase Organization'" [value]="organization.PurchaseOrg+' - '+organization.Description"></fixed-field>
              </div>
              <div class="col s3">
                <fixed-field [label]="'Plant'" [value]="purchaseInfoRecord.Plant?(purchaseInfoRecord.Plant|siteSapCode):'-'"></fixed-field>
              </div>
              <div class="col s3">
                <fixed-field [label]="'Supplier'" [value]="supplier.Supplier+' - '+supplier.Name"></fixed-field>
              </div>


            </div>
            <div class="row nomargin">
              <div class="col s3">
                <fixed-field [label]="'Type'" [value]="getTypeDescription(purchaseInfoRecord)"></fixed-field>
              </div>
              <div class="col s3">
                <fixed-field [label]="'Delivery Time (days)'" [value]="purchaseInfoRecord.DeliveryTime"></fixed-field>
              </div>
              <div class="col s3" *ngIf="materialSAP && materialSAP.Uom">
                <fixed-field [label]="'Minimum quantity ('+materialSAP.Uom+')'" [value]="purchaseInfoRecord.MinimumQuantity"></fixed-field>
              </div>
              <div class="col s3" *ngIf="materialSAP && materialSAP.Uom">
                <fixed-field [label]="'Standard quantity ('+materialSAP.Uom+')'" [value]="purchaseInfoRecord.StandardQuantity"></fixed-field>
              </div>

            </div>
            <div class="row nomargin">
              <div class="col s3">
                <fixed-field [label]="'Supplier Material Code'" [value]="purchaseInfoRecord.SupplierMaterialCode?purchaseInfoRecord.SupplierMaterialCode:'-'"></fixed-field>
              </div>
              <div class="col s3">
                <fixed-field [label]="'Purchase Group'" [value]="purchaseInfoRecord.PurchGroup?(purchaseInfoRecord.PurchGroup|purchaseGroup|async):'-'"></fixed-field>
              </div>
              <div class="col s3">
                <fixed-field [label]="'Incoterms'" [value]="purchaseInfoRecord.Incoterms1+' - '+purchaseInfoRecord.Incoterms2"></fixed-field>
              </div>
              <div class="col s3">
                <fixed-field [label]="'Currency'" [value]="purchaseInfoRecord.Currency"></fixed-field>
              </div>
            </div>
          </mat-card>

          <ng-container *ngIf="checkHeader()">

            <mat-card class="periods">
              <mat-card-content>
                <sp-table-with-pages [small]="true" [renderOnly]="true" [data]="purchaseInfoRecord.PeriodLink" [nResults]="20" [headerConf]="headerConfPeriods" [availableActions]="periodToEdit?[]:availableActionsPeriods" [getRowClass]="highlightPeriod.bind(this)" #periodsTable></sp-table-with-pages>
                <div class="flex add-button-container" *ngIf="!periodToEdit">
                  <span class="fill-remaining-space"></span>
                  <button mat-mini-fab class="serioplast-green" matTooltip="Add period" (click)="addPeriod()">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card class="period-edit" *ngIf="periodToEdit">
              <h5 *ngIf="!periodAddActive">
                <ng-container *ngIf="periodToEdit.ValidFrom && periodToEdit.ValidTo">
                  {{periodToEdit.ValidFrom|sapDate}} -> {{periodToEdit.ValidTo|sapDate}}
                </ng-container>
                <ng-container *ngIf="!(periodToEdit.ValidFrom && periodToEdit.ValidTo)">
                  {{periodToEdit.NewValidFrom|sapDate}} -> {{periodToEdit.NewValidTo|sapDate}}
                </ng-container>

              </h5>
              <div class="row" *ngIf="periodAddActive">
                <div class="col s6">
                  <date-input [placeholder]="'Valid from'" [(ngModel)]="periodToEdit.NewValidFrom" [min]="today"></date-input>
                </div>
                <div class="col s6 ">
                  <date-input [placeholder]="'Valid to'" [(ngModel)]="periodToEdit.NewValidTo" [min]="today"></date-input>
                </div>
              </div>

              <sp-table-with-pages [renderOnly]="true" [data]="periodToEdit.ConditionLink" [availableActions]="availableActionsConditions"
                                   [nResults]="50" [small]="true" [headerConf]="headerConfConditions" *ngIf="conditionsReady"></sp-table-with-pages>

              <div class="flex" style="padding:10px" *ngIf="!conditionToEdit">
                <span class="fill-remaining-space"></span>
                <button mat-mini-fab class="serioplast-green" (click)="addCondition(periodToEdit)"><mat-icon>add</mat-icon></button>
              </div>

              <div *ngIf="conditionToEdit" class="condition-edit">
                <div class="row" >
                  <div class="col s6">
                    <mat-select [(ngModel)]="conditionToEdit.ConditionCode" (ngModelChange)="handleConditionChange(conditionToEdit)" *ngIf="conditionToEdit.isNew">
                      <mat-option *ngFor="let c of getAvailableConditions(periodToEdit, conditionToEdit)" [value]="c.ConditionCode">
                        {{c.ConditionCode}} - {{c.ConditionDescription}}
                      </mat-option>
                    </mat-select>
                    <div class="flex" *ngIf="!conditionToEdit.isNew">
                      <span>{{conditionToEdit.ConditionCode}} - {{conditionToEdit.Description}}</span>
                    </div>
                  </div>
                </div>

                <div class="row" *ngIf="conditionToEdit.ConditionCode">
                  <div class="col s2 " *ngIf="conditionToEdit.Currency!='%'">

                    <mat-form-field>
                      <input type="number" [(ngModel)]="conditionToEdit.PriceUnit" matInput placeholder="Price Unit ({{conditionToEdit.UoM}})"/>
                    </mat-form-field>
                  </div>
                  <div class="col s2 ">
                    <mat-form-field>
                      <input type="number" [(ngModel)]="conditionToEdit.Value" matInput placeholder="Value ({{conditionToEdit.Currency}})"/>
                    </mat-form-field>
                  </div>
                </div>

                <ng-container>

                  <table class="mdl-data-table bordered striped noclick" *ngIf="conditionToEdit.ScaleLink.length>0">
                    <thead>
                    <tr>
                      <th>Quantity</th>
                      <th>Value</th>
                      <th *ngIf="!scaleEditOn">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let s of sortScaleLink(conditionToEdit.ScaleLink)">
                      <tr>
                        <td>
                          {{parseFloat(s.ScaleQuantity)}} {{conditionToEdit.UoM}}
                        </td>
                        <td>
                          {{parseFloat(s.ScaleValue)}} {{conditionToEdit.Currency}}
                        </td>
                        <td *ngIf="!scaleEditOn">
                          <mat-icon (click)="editScale(s)">edit</mat-icon>
                          <mat-icon (click)="deleteScale(conditionToEdit,s)">delete</mat-icon>
                        </td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>
                  <div class="flex add-button-container" *ngIf="!scaleEditOn">
                    <span class="fill-remaining-space"></span>
                    <button mat-mini-fab class="serioplast-green" matTooltip="Add scale" (click)="addScale()">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </ng-container>

                <ng-container *ngIf="scaleEditOn">
                  <div class="scale-edit">
                    <div class="row">
                      <div class="col s6">
                        <mat-form-field>
                          <input type="number" [(ngModel)]="scaleToEdit.ScaleQuantity" matInput placeholder="Quantity ({{conditionToEdit.UoM}})">
                        </mat-form-field>
                      </div>
                      <div class="col s6">
                        <mat-form-field>
                          <input type="number" [(ngModel)]="scaleToEdit.ScaleValue" matInput placeholder="Value ({{conditionToEdit.Currency}})">
                        </mat-form-field>
                      </div>
                    </div>
                    <sp-save-undo (undo)="undoScale(conditionToEdit)" (save)="saveScale(conditionToEdit)" [savePartial]="true"></sp-save-undo>
                  </div>
                </ng-container>

                <sp-save-undo (undo)="undoEditCondition()" [saveCondition]="canSaveCondition(conditionToEdit)" (save)="saveCondition(conditionToEdit)" [savePartial]="true"></sp-save-undo>
              </div>


              <sp-save-undo (undo)="undoPeriod()" (save)="savePeriod()" [saveCondition]="canSavePeriod()"> </sp-save-undo>
            </mat-card>
          </ng-container>

          <sp-save-undo [undoCondition]="false" (save)="savePIR()" [saveCondition]="canSavePIR()"> </sp-save-undo>
        </ng-container>

      </mat-tab>
      <mat-tab [label]="'Attachments'" *ngIf="!createMode">
        <purchase-info-record-edit-attachments [pir]="purchaseInfoRecord" *ngIf="canSavePIR() && selectedIndex==1"></purchase-info-record-edit-attachments>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>

<sp-dialog #organizationDialog [nopadding]="true">
  <div class="organization-dialog">
    <div class="serioplast-green" style="height:20px">&nbsp;</div>
    <div class="organization-dialog-content" *ngIf="organizationDialog.opened">

      <mat-accordion class="example-headers-align">
        <mat-expansion-panel *ngFor="let o of organizationsToShow; let i = index" [expanded]="i==0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{o.PurchaseOrg}} - {{o.Description}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row nomargin">
            <div class="col s6">
              <mat-form-field>
                <input type="text" [(ngModel)]="supplierCodeFilter" matInput placeholder="Supplier"/>
              </mat-form-field>
            </div>
            <div class="col s6">
              <mat-form-field>
                <input type="text" [(ngModel)]="supplierNameFilter" matInput placeholder="Name"/>
              </mat-form-field>
            </div>
          </div>
          <sp-table-with-pages [small]="true" [renderOnly]="true" [data]="filterSuppliers(o.SupplierLink.results)" [nResults]="20" [clickable]="true" (rowclick)="selectedSupplier(o, $event)" [headerConf]="headerConfSuppliers" [availableActions]="[]"></sp-table-with-pages>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</sp-dialog>

<sp-dialog #periodViewDialog>
  <div class="period-dialog" *ngIf="periodToView">
    <h5>{{periodToView.ValidFrom|sapDate}} -> {{periodToView.ValidTo|sapDate}}</h5>
    <div class="condition" *ngFor="let c of periodToView.ConditionLink">
      <h6>
        Condition: {{c.ConditionCode}}
      </h6>

      <div class="row">
        <div class="col s2" *ngIf="c.Currency!='%'">
          <fixed-field [label]="'Price Unit ('+purchaseInfoRecord.UoM+')'" [value]="c.PriceUnit"></fixed-field>
        </div>
        <div class="col s2">
          <fixed-field [label]="'Value ('+c.Currency+')'" [value]="c.Value"></fixed-field>
        </div>
      </div>

      <table class="mdl-data-table bordered striped noclick" *ngIf="c.ScaleLink.length>0">
        <thead>
        <tr>
          <th>Quantity</th>
          <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let s of sortScaleLink(c.ScaleLink)">
          <tr>
            <td>
              {{parseFloat(s.ScaleQuantity)}} {{c.UoM}}
            </td>
            <td>
              {{parseFloat(s.ScaleValue)}} {{c.Currency}}
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
      <span *ngIf="c.ScaleLink.length==0">
        <i>No scale values available</i>
      </span>
    </div>
  </div>
</sp-dialog>
