.back{
  margin-top:20px;
}

.pir-header, .pir-header-edit{
  margin-top:10px;
  margin-bottom:10px;
  background-color:#c8e6c9;
  padding:10px;
}

.pir-header, .pir-active-period, .pir-previous-periods {
  margin-bottom:10px;
}

.add-button-container {
  padding:10px;
}

.pir-active-period {
  background-color:#4fc3f7
}

.pir-previous-periods {
  background-color:#e0e0e0;
}

sp-accordion-item.level1>>>.mat-toolbar.mat-primary{
  background-color:#ccc;
  min-height:30px;
}
sp-accordion-item.level1>>>.mat-toolbar-row {
  height: 30px;
  font-size: 13px;
}

sp-accordion-item.level1>>>mat-card{
  padding:10px;
}

sp-accordion-item.level2 {

}

.condition {
  border:1px solid #ccc;
  margin-bottom:10px;
  padding:10px;
}

.field {
  width:200px;
}

.field.double {
  width:400px;
}

.field >input {
  width:100%;
}

.organization-dialog {
  width:600px;
  height:600px;
}

.organization-dialog-content {
  overflow:auto;
  height:calc(100% - 20px);
}


sp-accordion-item.organization-accordion>>>.mat-toolbar.mat-primary{
  background-color:#ccc;
  min-height:30px;
}
sp-accordion-item.organization-accordion>>>.mat-toolbar-row {
  height: 30px;
  font-size: 13px;
}

*>>>tr.active {
  background-color:#96db91!important;
}

.period-dialog {
  width:600px;
}

.period-edit {
  margin-top:10px;
}

.condition-edit {
  margin-top:10px;
  padding:10px;
  background: #ddd;
}

.condition-edit table {
  background:white;
}

.scale-edit {
  margin-top:10px;
  background:#ccc;
}

mat-tab-group {
  height:calc(100%);
}

mat-tab-group >>>.mat-tab-body-wrapper,
mat-tab-group >>>.mat-tab-body-content{
  height:98%;
}
