*>>>.mat-tab-body-content{height: 100%}
*>>>.mat-tab-body-wrapper{height: 100%}
mat-tab-group{
  height: 100%
}
*>>>mat-tab-body{height: 100%}

*>>>.col{height: 100%}

deck-transfers {
  height:100%;
}

.mat-tab-body.mat-tab-body-active {
  height: 100%;
}

.container {
  height: calc(100%);
}

sp-settings {
  position:absolute;
  bottom:20px;
  left:20px;
}
