<sp-settings>
  <div style="min-width:400px; min-height: 400px">
    <sp-language-selector></sp-language-selector>
  </div>
</sp-settings>

<div class="container">
  <mat-tab-group #tab (selectTabChange)="handleTabChange($event)">

    <mat-tab [label]="tr('DELIVERIES')">
      <deck-deliveries *ngIf="selectedIndex==0"></deck-deliveries>
    </mat-tab>

    <mat-tab [label]="tr('GOODS_RECEIPT')">
      <deck-goods-receipt *ngIf="selectedIndex==1"></deck-goods-receipt>
    </mat-tab>

    <mat-tab [label]="tr('TRANSFERS')">
      <deck-transfers *ngIf="selectedIndex==2"></deck-transfers>
    </mat-tab>

    <mat-tab [label]="tr('RETURNS')">
      <deck-returns *ngIf="selectedIndex==3"></deck-returns>
    </mat-tab>

    <mat-tab [label]="tr('RE_PACK')">
      <deck-re-pack *ngIf="selectedIndex==4"></deck-re-pack>
    </mat-tab>

  </mat-tab-group>
</div>



