<div class="filters">
  <div class="select-container">
    <material-selector (selectedMaterial)="selectedMaterial($event)" [hideType]="true"
                       [initialValue]="material_serionet"></material-selector>
  </div>
  <div class="select-container">
    <mat-form-field>
      <mat-select class="full-width" [(ngModel)]="query.organization_serionet" [placeholder]="'Organization'"
                  (ngModelChange)="handleOrganizationChange()">
        <mat-option *ngFor="let o of organizations" [value]="o.pk">{{o.__str__}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="select-container" *ngIf="salesOrganizationsToShow.length>0">
    <mat-form-field>
      <mat-select class="full-width" [(ngModel)]="query.SalesOrganization" [placeholder]="'Sales Organization'"
                  (ngModelChange)="handleSalesOrganizationChange()">
        <mat-option *ngFor="let o of salesOrganizationsToShow" [value]="o.SalesOrganizationCode">
          {{o.SalesOrganizationCode}} - {{o.Description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="select-container" *ngIf="customersToShow.length>0">
    <mat-form-field>
      <mat-select class="full-width" [(ngModel)]="query.Customer" [placeholder]="'Customer'">
        <mat-option value="">---</mat-option>
        <mat-option *ngFor="let c of customersToShow" [value]="c.Customer">{{c.Customer}} - {{c.Name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="select-container" *ngIf="shipToPartyToShow.length>0 && !cir">
    <mat-form-field>
      <mat-select class="full-width" [(ngModel)]="query.ShipToParty" [placeholder]="'Ship to party'">
        <mat-option value="">---</mat-option>
        <mat-option *ngFor="let c of shipToPartyToShow" [value]="c.Customer">{{c.Customer}} - {{c.Name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="select-container" *ngIf="packagings.length>0 && !cir">
    <mat-form-field>
      <mat-select class="full-width" [(ngModel)]="query.PackInstruction" [placeholder]="'Packing Instruction'">
        <mat-option value="">--</mat-option>
        <mat-option *ngFor="let p of packagings" [value]="p.Palletization">{{p.Palletization}} - {{p.Description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="select-container" *ngIf="plantsToShow.length>0  && !cir">
    <mat-form-field>
      <mat-select class="full-width" [(ngModel)]="query.Plant" [placeholder]="'Plant'">
        <mat-option value="">--</mat-option>
        <mat-option *ngFor="let p of plantsToShow" [value]="p.Code">{{p.Code}} - {{p.Name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="flex" style="padding:10px" *ngIf="query.SalesOrganization">
    <span class="fill-remaining-space"></span>
    <button mat-mini-fab class="serioplast-green" (click)="reload()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>

