<div class="row main">
  <div class="col s1">
    <button mat-fab class="serioplast-grey" (click)="back()" style="margin:20px;"><mat-icon>keyboard_arrow_left</mat-icon> </button>
  </div>
  <div class="col s11">

    <mat-card style="margin-bottom:20px; background-color:#ddd">
      <mat-card-content>
        <div class="flex">
          <div>
            <ng-container *ngFor="let i of [(materialId|materialCode|async)]">
              <ng-container *ngIf="i">{{i.code}} - {{i.description}}</ng-container>
            </ng-container>
          </div>
          <span class="fill-remaining-space"></span>
          <div>
            <mat-form-field style="width:200px">
              <mat-select [(ngModel)]="type" [placeholder]="'Type'">
                <mat-option value="">---</mat-option>
                <mat-option *ngFor="let t of types" [value]="t.Type">{{t.Type+ " - "+ t.Description}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <button style="margin-left:10px" mat-mini-fab class="serioplast-green" (click)="table.reload()"><mat-icon>search</mat-icon></button>

        </div>

      </mat-card-content>
    </mat-card>

    <sp-table-with-pages #table [headerConf]="headerConf" [availableActions]="availableActions" [noItemsMessage]="noItemsMessage"
                          [getData]="getPurchaseInfoRecords.bind(this)" [ready]="ready" (rowclick)="editPIR($event)" [clickable]="true" [mode]="'SAP'"></sp-table-with-pages>

    <div class="flex" style="padding:10px 0">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="createPIR()"><mat-icon>add</mat-icon></button>
    </div>
  </div>
</div>
