<sp-dialog #dialog [nopadding]="true">
  <div class="confirm">
    <header *ngIf="title" [style.background]="headerColor">
      {{title}}
    </header>
    <main class="fill-remaining-space">
      <ng-content select="*"></ng-content>
    </main>
    <footer>
      <span class="empty"></span>
      <span class="button" *ngIf="denyFunction">
        <button mat-fab class="md-accent red" (click)="deny()">
          <mat-icon class="md-24">clear</mat-icon>
        </button>
      </span>
      <span class="empty" *ngIf="denyFunction"></span>
      <span class="button" *ngIf="confirmFunction">
        <button mat-fab class="md-accent green" (click)="confirm()">
          <mat-icon class="md-24">done</mat-icon>
        </button>
      </span>
      <span class="empty"></span>
    </footer>
  </div>
</sp-dialog>

