footer {
  display:flex;
}

footer span {
  flex-grow: 1;
  text-align: center;
}

.confirm {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header,main,footer {
  min-width:300px;
}

@media only screen and (min-width: 600px) {
  header,main,footer {
    min-width:500px;
  }
}


main {
  padding:20px 20px 10px 20px;
}

header {
  padding:10px 20px;
  background:#4CAF50;
  color:white;
}

header.error {
  background:#af504c;
}

footer {
  padding:10px 20px 20px 20px;
}

