<div class="row main">
  <div *ngIf="badgeCreateOpen" class="col s8">
    <mat-card class="main">
      <mat-card-content>
        <div class="row" *ngIf="onCreate && !badge.pk">
          <h5>
            <sp-ng-translate [value]="'CREATE'"></sp-ng-translate>
            {{badge.badge_code}}
          </h5>
        </div>
        <div class="row" *ngIf="badge.pk">
          <h5>
            <sp-ng-translate [value]="'EDIT'"></sp-ng-translate>
            {{badge.badge_code}}
          </h5>
        </div>
        <div class="row">
        </div>
        <div class="form-group">
          <form>
            <div class="row" *ngIf="sites.length > 0">
              <div class=" s12">
                <mat-form-field *ngIf="onCreate">
                  <mat-select  placeholder="Select location" [(ngModel)]="badge.location"
                              name="edit-location" required>
                    <mat-option>Select a value</mat-option>
                    <mat-option *ngFor="let site of sites" [value]="site.pk">
                      {{site.__str__}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="!onCreate" >
                  <mat-select placeholder="Select location" [(ngModel)]="badge.location.pk"
                              name="edit-location" required>
                    <mat-option>Select a value</mat-option>
                    <mat-option *ngFor="let site of sites" [value]="site.pk">
                      {{site.__str__}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <fixed-field [label]="tr('IS_GUEST')" [useContent]="true">
                  <mat-radio-group name="badge-guest" [(ngModel)]="badge.guest">
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                  </mat-radio-group>
                </fixed-field>
              </div>
            </div>
          </form>
        </div>
        <sp-save-undo (save)="saveBadge()" (undo)="undoBadge()"></sp-save-undo>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col s12 m3" *ngIf="!badgeCreateOpen">
    <h5>
      <sp-ng-translate [value]="'FILTERS'"></sp-ng-translate>
    </h5>
    <form>
      <mat-form-field>
        <mat-select placeholder="Select location" [(ngModel)]="badgeFilter.location" name="search-location">
          <mat-option>Select a value</mat-option>
          <mat-option *ngFor="let site of sites" [value]="site.pk">
            {{site.__str__}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="search-badge_code" type="text" [(ngModel)]="badgeFilter.badge_code"
               [placeholder]="tr('BADGE_CODE')"/>
      </mat-form-field>

      <mat-checkbox [(ngModel)]="badgeFilter.guest" style="margin-bottom:20px; display: block;" name="guest">
        <sp-ng-translate [value]="'IS_GUEST'"></sp-ng-translate>
      </mat-checkbox>

      <sp-search-reset (reset)="reset()" (search)="reload()"></sp-search-reset>
    </form>
  </div>

  <div class="col s12 m9" *ngIf="!badgeCreateOpen">
    <mat-card>
      <div class="row">
        <div class="flex" style="margin-bottom:10px">
          <h5 style="margin: 0">
            <sp-ng-translate [value]="'BADGES'"></sp-ng-translate>
          </h5>
          <span class="fill-remaining-space"></span>
          <mat-slide-toggle color="primary" [(ngModel)]="active" (ngModelChange)="badgesTable.reload()"
                            style="position: relative;top:5px;">Active
          </mat-slide-toggle>
        </div>
        <sp-table-with-pages #badgesTable [nResults]="15" [small]="true" [noItemsMessage]="noItemsMessageBadges"
                             [headerConf]="headerConfBadges"
                             [availableActions]="availableActions"
                             [getData]="loadBadges.bind(this)"></sp-table-with-pages>

      </div>
      <div class="row">
        <div class="add-button-container flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'"
                  (click)="createBadge()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

    </mat-card>


  </div>

</div>


