.training-user-inactive  {
  background:#eee;
}

.training-user-active, .training-user-inactive  {
  margin-bottom:10px
}

#trainingTable>>> th:last-child {
  width:100px;
}

.circle {
  border-radius: 50%;
}
