<div class="row">
  <div *ngIf="trainingCreateOpen" class="col s12">
    <div class="row">
      <!-- CREATE/EDIT ONLY TRAINING -->
      <ng-container *ngIf="!editTrainingRelated">

        <div class="row">
          <div class="col s12">

          <mat-card class="main">
            <mat-card-content>

              <div class="row">
                <div class="col">
                  <div class="flex">
                    <button mat-fab class="grey back" matTooltip="Back" [matTooltipPosition]="'below'" (click)="undoTraining()">
                      <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <h5 style="margin-left: 10px" *ngIf="!training.pk">Create {{training.name}}</h5>
                    <h5 style="margin-left: 10px" *ngIf="!training.pk">Edit {{training.name}}</h5>
                  </div>
                </div>
              </div>

              <div class="row">
                <form>
                  <div class="form-group">
                    <form>
                      <div class="row" *ngIf="sitePackageItems.length > 0">
                        <div class="col s4">
                          <mat-form-field>
                            <mat-select name="edit-type"
                                        [(ngModel)]="training.type.pk" class="full-width" [placeholder]="tr('TRAINING_TYPE')">
                              <mat-option *ngFor="let sitePackageItem of sitePackageItems" [value]="sitePackageItem.pk">
                                {{sitePackageItem.__str__}} ({{sitePackageItem.site.__str__}} )
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col s8">
                          <mat-form-field>
                            <input matInput [placeholder]="tr('NAME')" name="edit-name" type="text" [(ngModel)]="training.name"/>
                          </mat-form-field>
                        </div>
                      </div>

                      <markdown-textarea [object]="training" [field]="'description'" [label]="'DESCRIPTION'"></markdown-textarea>

                      <div class="row">
                        <div class="col s2">
                          <mat-form-field>
                            <input matInput [placeholder]="tr('DURATION')" name="edit-duration" type="text" [(ngModel)]="training.duration"/>
                          </mat-form-field>
                        </div>
                        <div class="col s2">
                          <mat-form-field>
                            <mat-select  name="edit-duration-uom"
                                         [(ngModel)]="training.duration_uom.pk" class="full-width" [placeholder]="tr('DURATION_UOM')">
                              <mat-option *ngFor="let uom of uoms" [value]="uom.pk">
                                {{uom.__str__}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col s2">
                          <mat-slide-toggle name="is-external-trainer" [color]="'primary'" [(ngModel)]="isExternalTrainer">
                            External trainer
                          </mat-slide-toggle>
                        </div>
                        <div class="col s4" *ngIf="!isExternalTrainer">
                          <sp-autocomplete #trainerAc [label]="tr('TRAINER')"
                                           [initialValue]="training.trainer && training.trainer.pk? training.trainer:null"
                                           [sourceFunction]="loadTrainers.bind(this)" [displayKey]="'__str__'"
                                           (valueChanged)="selectedTrainer.bind(this)($event)"></sp-autocomplete>
                        </div>
                        <div class="col s4" *ngIf="isExternalTrainer">
                          <mat-form-field>
                            <input matInput [placeholder]="tr('TRAINER_EXT')" name="edit-trainer_ext" type="text" [(ngModel)]="training.trainer_ext"/>
                          </mat-form-field>
                        </div>

                        <div class="col s2">
                          <sp-autocomplete #organizationAc [label]="tr('TRAINER_ORGANIZATION')"
                                           [initialValue]="training.trainer_organization && training.trainer_organization.pk? training.trainer_organization:null"
                                           [sourceFunction]="loadTrainerOrganizations.bind(this)" [displayKey]="'__str__'"
                                           (valueChanged)="selectedTrainerOrganization.bind(this)($event)"></sp-autocomplete>
                        </div>
                      </div>


                      <markdown-textarea [object]="training" [field]="'notes'" [label]="'NOTES'"></markdown-textarea>

                      <!-- BUTTONS -->
                      <!--<div class="row">-->
                        <div class="flex">
                          <span class="fill-remaining-space"></span>
                          <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Save" [matTooltipPosition]="'below'" (click)="saveTraining()">
                            <mat-icon>send</mat-icon>
                          </button>
                        </div>
                      <!--</div>-->
                    </form>

                  </div>
                </form>

              </div>
              </mat-card-content>
            </mat-card>
            </div>
          </div>

      </ng-container>
      <!-- TRAINING VIEW & RELATED-->
      <ng-container *ngIf="training && training.pk && editTrainingRelated">
        <!-- TRAINING VIEW -->
        <div class="col s4">
          <mat-card *ngIf="training" class="main">
            <mat-card-content>

              <div class="row">
                <div class="flex">
                  <button mat-fab class="grey back" matTooltip="Back" [matTooltipPosition]="'below'" (click)="undoTraining()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                  </button>
                  <h5 style="margin-left: 10px">{{training.name}}</h5>
                </div>
              </div>

              <div class="row">
                <p>
                  <b>
                    <sp-ng-translate [value]="'TYPE'"></sp-ng-translate>
                    : </b> {{training.type.__str__}}
                </p>
                <p>
                  <b>
                    <sp-ng-translate [value]="'DESCRIPTION'"></sp-ng-translate>
                    : </b> {{training.description}}
                </p>
                <p>
                  <b>
                    <sp-ng-translate [value]="'DURATION'"></sp-ng-translate>
                    : </b> {{training.duration}}
                  <ng-container *ngIf="training.duration_uom && training.duration_uom.pk">
                    ({{training.duration_uom.__str__}})
                  </ng-container>

                </p>
                <p>
                  <b>
                    <sp-ng-translate [value]="'TRAINER'"></sp-ng-translate>
                    : </b>
                    {{(training.trainer && training.trainer.pk)?training.trainer.__str__:'-'}}
                </p>
                <p>
                  <b>
                    <sp-ng-translate [value]="'TRAINER_EXT'"></sp-ng-translate>
                    : </b> {{training.trainer_ext?training.trainer_ext:'-'}}
                </p>
                <p>
                  <b>
                    <sp-ng-translate [value]="'TRAINER_ORGANIZATION'"></sp-ng-translate>
                    : </b>
                  <ng-container *ngIf="training.trainer_organization && training.trainer_organization.pk">
                    {{training.trainer_organization?training.trainer_organization.__str__:'-'}}
                  </ng-container>
                </p>
                <p>
                  <b>
                    <sp-ng-translate [value]="'NOTES'"></sp-ng-translate>
                    : </b> {{training.notes?training.notes:'-'}}
                </p>

              </div>
              <div class="row">
                  <button mat-fab class="serioplast-green edit right" matTooltip="Edit Training" [matTooltipPosition]="'below'" (click)="editOnlyTraining()">
                    <mat-icon>edit</mat-icon>
                  </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- EDIT TRAINING ATTACHMENTS,USERS,EVENTS-->
        <div class="col s8">
           <mat-tab-group (selectTabChange)="onTabClick($event)">
            <mat-tab label="Users">
              <!-- ADD USER PARTECIPANTS + LIST TRAINING USERS -->
              <div class="row">
                <div class="col s12">
                  <mat-card class="main" *ngIf="!onEditTrainingUser">
                    <mat-card-content>
                      <div class="row">
                        <h5>
                          <sp-ng-translate [value]="'PARTICIPANTS'"></sp-ng-translate>
                        </h5>

                        <div class="row nomargin">
                          <div class="col s8">
                            <sp-autocomplete #userPartecipantAc [label]="tr('ADD_PARTICIPANT')"
                                             [sourceFunction]="loadUsersPartecipants.bind(this)" [displayKey]="'__str__'"
                                             (valueChanged)="selectedUserPartecipant.bind(this)($event)"></sp-autocomplete>
                          </div>

                          <div class="col s4" *ngIf="userPartecipant && userPartecipant.user_id">
                            <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Save" [matTooltipPosition]="'below'" (click)="addTrainingUserPartecipant()">
                              <mat-icon>add</mat-icon>
                            </button>
                          </div>

                        </div>

                          <!-- ACTIVE TRAINING USER PARTECIPANTS -->

                        <div class="training-user-active flex" *ngFor="let tu of trainingUsers">
                          <ng-container *ngIf="tu.is_active">
                            <div class="avatar" style="width:50px">
                              <img class="circle" style="height: 30px; width:30px;" src="{{tu.user_profile.avatar.__str__}}">
                            </div>
                            <div class="user">
                              {{tu.user_profile.__str__}}
                            </div>
                            <span class="fill-remaining-space"></span>
                            <div class="actions flex" style="width:100px">
                              <span class="fill-remaining-space"></span>
                              <mat-icon *ngIf="tu.pk" matTooltip="Edit" [matTooltipPosition]="'below'" (click)="editTrainingUser(tu)">edit</mat-icon>
                              <mat-icon matTooltip="Delete" [matTooltipPosition]="'below'" (click)="deleteTrainingUser(tu)">delete</mat-icon>
                            </div>
                          </ng-container>
                        </div>


                          <!-- INAACTIVE TRAINING USER PARTECIPANTS -->

                          <h5 style="margin-bottom: 0px;">
                            <sp-ng-translate [value]="'PARTICIPANTS_INACTIVE'"></sp-ng-translate>
                          </h5>

                        <div class="training-user-inactive flex" *ngFor="let tu of trainingUsers">
                          <ng-container *ngIf="!tu.is_active">
                            <div class="avatar" style="width:50px">
                              <img class="circle" style="height: 30px; width:30px;" src="{{tu.user_profile.avatar.__str__}}">
                            </div>
                            <div class="user">
                              {{tu.user_profile.__str__}}
                            </div>
                            <span class="fill-remaining-space"></span>
                            <div class="actions flex" style="width:100px">
                              <span class="fill-remaining-space"></span>
                              <mat-icon matTooltip="Restore" [matTooltipPosition]="'below'" (click)="restoreTrainingUser(tu)">open_in_browser</mat-icon>
                            </div>
                          </ng-container>
                        </div>

                        <!-- BUTTONS -->
                        <!--<div class="row" >-->
                          <div class="flex" style="margin-top:10px;">
                            <span class="fill-remaining-space"></span>
                            <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Save" [matTooltipPosition]="'below'" (click)="saveUserParticipants()">
                              <mat-icon>send</mat-icon>
                            </button>
                          </div>
                        <!--</div>-->

                      </div>

                    </mat-card-content>
                  </mat-card>

                  <!-- EDIT TRAINING USER -->
                  <mat-card class="main" *ngIf="onEditTrainingUser">
                    <mat-card-content>
                      <div class="row">
                        <div class="col">
                          <div class="flex">
                            <button mat-fab class="grey back" matTooltip="Back" [matTooltipPosition]="'below'" (click)="undoEditTrainingUser()">
                              <mat-icon>keyboard_arrow_left</mat-icon>
                            </button>
                            <h5 style="margin-left: 10px">Edit {{trainingUser.user.__str__}} - {{training.__str__}}</h5>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <form>
                          <div class="form-group">

                            {{trainingUser|json}}

                            <form>

                              <div class="row">
                                <div class="col s6">
                                  <mat-form-field>
                                    <mat-select name="edit-status"  [(ngModel)]="trainingUser.status.pk" [placeholder]="tr('STATUS')">
                                      <mat-option *ngFor="let statusLink of statusLinks" [value]="statusLink.pk">
                                        {{statusLink.__str__}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <div class="col s6">
                                  <mat-form-field>
                                    <mat-select name="edit-final-mark"
                                                [(ngModel)]="trainingUser.final_mark.pk" [placeholder]="tr('FINAL_MARK')">
                                      <mat-option *ngFor="let priorityLink of priorityLinks" [value]="priorityLink.pk">
                                        {{priorityLink.__str__}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                              </div>


                              <div class="row">
                                <div class="col s6">
                                  <mat-form-field>
                                    <input matInput [placeholder]="tr('TIME_ATTENDEE')" name="edit-time_attendee" type="text" [(ngModel)]="trainingUser.time_attendee"/>
                                  </mat-form-field>
                                </div>
                                <div class="col s6">
                                  <mat-form-field>
                                    <mat-select name="edit-time_attendee-uom"
                                                [(ngModel)]="trainingUser.time_attendee_uom.pk" [placeholder]="tr('TIME_ATTENDEE_UOM')">
                                      <mat-option *ngFor="let uom of uoms" [value]="uom.pk">
                                        {{uom.__str__}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                              </div>


                              <div class="row">
                                <div class="col s6">
                                  <date-input [placeholder]="tr('DATE_COMPLETED')" [(ngModel)]="trainingUser.date_completed"></date-input>
                                </div>
                                <div class="col s6">
                                  <date-input [placeholder]="tr('EXPIRE_DATE')" [(ngModel)]="trainingUser.expire_date"></date-input>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col s6">
                                   <mat-form-field>
                                    <input matInput [placeholder]="tr('EVALUATION')" name="edit-evaluation" type="text" [(ngModel)]="trainingUser.evaluation"/>
                                  </mat-form-field>
                                </div>
                                <div class="col s6">
                                  <date-input [placeholder]="tr('EVALUATION_DATE')" [(ngModel)]="trainingUser.evaluation_date"></date-input>
                                </div>
                              </div>


                              <markdown-textarea [object]="trainingUser" [field]="'notes'" [label]="'NOTES'"></markdown-textarea>


                              <div class="row">
                                <div class="col">
                                  <sp-attachments [contentType]="trainingUserCT" [objectId]="trainingUser.pk" [label]="tr('ATTACHMENTS')"></sp-attachments>
                                </div>
                              </div>
                            </form>
                          </div>
                        </form>
                      </div>
                      <!-- BUTTONS -->
                      <div class="row">
                        <div class="flex">
                          <span class="fill-remaining-space"></span>
                          <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Save" [matTooltipPosition]="'below'" (click)="saveTrainingUser()">
                            <mat-icon>send</mat-icon>
                          </button>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>



                </div>
              </div>
            </mat-tab >
            <mat-tab label="Attachments">
              <div class="row">
                <div class="col s12">
                  <mat-card class="main">
                    <mat-card-content>
                      <div class="row">
                        <div class="col s6">
                          <h5><sp-ng-translate [value]="'ATTACHMENTS'"></sp-ng-translate></h5>
                          <sp-attachments [contentType]="trainingCT" [objectId]="training.pk"></sp-attachments>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Events">
              <div class="row">
                <!-- EVENTS -->
                <div class="col s12">
                  <mat-card class="main" style="margin-top: 10px" *ngIf="training.pk">
                    <mat-card-content>
                      <trainig-event-list #trainingEventList [training]="training" [trainingUsers]="trainingUsers"></trainig-event-list>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>

        </div>

      </ng-container>
    </div>
    </div>

  <!-- TRAINING LIST & SEARCH-->
  <div class="col s12 m3" *ngIf="!trainingCreateOpen">
    <h5>Filters</h5><br>
    <div class="row">
      <form>
        <mat-form-field>
          <input matInput id="id_name" name="search-name" type="text" [(ngModel)]="search" [placeholder]="tr('SEARCH')"/>
        </mat-form-field>

        <sp-search-reset (reset)="searchChange()" (search)="searchChange()"></sp-search-reset>
      </form>
    </div>
  </div>
  <div class="col s12 m9" *ngIf="!trainingCreateOpen">
    <mat-card>
      <div class="row">
        <div class="flex" style="margin-bottom:10px">
          <h5 style="margin: 0;"><sp-ng-translate [value]="'TRAININGS'"></sp-ng-translate></h5>
          <span class="fill-remaining-space"></span>
          <mat-slide-toggle color="primary" [(ngModel)]="active" (ngModelChange)="trainingTable.reload()">Active
          </mat-slide-toggle>
        </div>
        <sp-table-with-pages #trainingTable [nResults]="15" [small]="true" [noItemsMessage]="noItemsMessageTrainings"
                             [headerConf]="headerConfTrainings"
                             [availableActions]="availableActions"
                             [getData]="loadTrainings.bind(this)"></sp-table-with-pages>

      </div>
      <div class="row">
        <div class="add-button-container flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'"
                  (click)="createTraining()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

    </mat-card>


  </div>
</div>


