<mat-form-field *ngIf="sites && sites.length>0">
  <div class="flex" style="width:100%">
    <mat-icon style="margin-right:10px;">person</mat-icon>
    <mat-select [placeholder]="label" [(ngModel)]="sitePk" style="width:calc(100% - 24px)" (ngModelChange)="setSite(sitePk)">
      <mat-option *ngIf="allowEmpty" [value]="">--</mat-option>
      <mat-option *ngFor="let s of sites" [value]="s.pk">{{s.__str__}}</mat-option>
    </mat-select>
  </div>
</mat-form-field>


