<ng-container *ngIf="!loading">
  <sales-pricelist-customer-info-record-list *ngIf="listMode" (edit)="editCIR($event)" (create)="createCIR()" (delete)="deleteCIR($event)"></sales-pricelist-customer-info-record-list>

  <sales-pricelist-customer-info-record-edit *ngIf="!listMode" [cirToEdit]="cirToEdit" [create]="create" (back)="listMode = true"></sales-pricelist-customer-info-record-edit>
</ng-container>

<ng-container *ngIf="loading">
  <mat-progress-spinner color="primary"></mat-progress-spinner>
</ng-container>






