.filters {
  background: #eee;
  margin:0 0 20px 0;
  padding:10px;
}

.filters .row {
  margin-bottom:0;
}

#material {
  width:100%;
}

/*.create {*/
  /*position:fixed;*/
  /*bottom:20px;*/
  /*right:20px;*/
/*}*/

.clear {
  position:absolute;
  right:10px;
  top:10px;
}

tbody tr{
  cursor:pointer;
}

table.noclick tbody tr{
  cursor:auto;
}

.row.flex button {
  color:white;
}

button.control-plans {
  position:fixed;
  bottom:20px;
  right:100px;
}

button.report {
  position:fixed;
  bottom:20px;
  right:20px;
  color:white;
}

.working-sessions,.completed-sessions {
  padding:20px;
}

.working-sessions table,.completed-sessions table{
  background:white;
  width: calc(100%);
  margin: 0;
}

.working-sessions>.row {
  margin:0;
  margin-bottom:20px;
}

.completed-sessions>.row {
  margin:0;
  margin-bottom:20px;
}

.control-plans img {
  width: 30px;
}

.table-container {
  /*height:calc(100% - 235px);*/
}

mat-tab-group {
  height:calc(100% - 75px);
}

mat-tab-group >>>.mat-tab-body-wrapper,
mat-tab-group >>>.mat-tab-body-content{
  height:100%;
}

.working-sessions,.completed-sessions {
  /*height:100%;*/
  overflow:auto;
}

*>>>span.circle {
  display:block;
  width:20px;
  height:20px;
  border-radius: 10px;
}

