<div class="row main nomargin">
  <div class="col s9 offset-s1">
    <!--<div >-->
      <div class="flex">
        <h4>
          <sp-ng-translate [value]="'SESSIONS'"></sp-ng-translate>
        </h4>
      </div>

      <mat-tab-group *ngIf="ready">
        <mat-tab [label]="tr('WORKING_AND_COMPLETED')">
          <div class="working-sessions">
            <div class="filters">
              <div class="row">
                <div class="col s6">
                  <user-sites (siteChange)="siteChange($event)"></user-sites>
                </div>
                <div class="col s6">
                  <mat-form-field>
                    <input matInput [placeholder]="tr('CONTROL_PLAN_NAME')" id="cp_name" [(ngModel)]="controlPlanNameWorking"/>
                  </mat-form-field>
                  <!--<label for="cp_name"><sp-ng-translate [value]="'CONTROL_PLAN_NAME'"></sp-ng-translate></label>-->

                </div>
              </div>
              <div class="row">
                <div class="col s4">
                  <mat-form-field>
                    <mat-select placeholder="Status" [(ngModel)]="statusDeltaRelWorking" class="full-width">
                      <mat-option [value]="'0|1'">All</mat-option>
                      <mat-option [value]="'0'">{{statusLinkSessionWorking.__str__}}</mat-option>
                      <mat-option [value]="'1'">{{statusLinkSessionCompleted.__str__}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col s8">
                  <material-selector (selectedMaterial)="selectedMaterialWorking($event)"></material-selector>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="flex">
                    <span class="fill-remaining-space"></span>
                    <button mat-mini-fab class="serioplast-green" (click)="workingSessionsTable.reload()">
                      <i class="material-icons">search</i>
                    </button>
                  </div>
                </div>
              </div>


            </div>
            <div class="row">
              <sp-table-with-pages #workingSessionsTable [nResults]="20" [noItemsMessage]="noItemsMessageWorking"
                                   [headerConf]="headerConfWorking"
                                   [availableActions]="availableActions"
                                   [getData]="loadWorkingSessions.bind(this)" [ready]="workingReady"></sp-table-with-pages>
            </div>
            <div class="row flex nomargin">
              <span class="fill-remaining-space"></span>
              <button mat-mini-fab class="green create" (click)="create()">
                <i class="material-icons">add</i>
              </button>
            </div>

          </div>
        </mat-tab>
        <mat-tab [label]="tr('CLOSED')">

          <div class="completed-sessions">
            <div class="filters">
              <div class="row">
                <div class="col s3">
                  <user-sites (siteChange)="siteChangeCompleted($event)"></user-sites>
                </div>
                <div class="col s4">
                  <mat-form-field>
                    <input matInput [placeholder]="tr('CONTROL_PLAN_NAME')" [(ngModel)]="controlPlanNameCompleted"/>
                  </mat-form-field>
                </div>
                <div class="col s5">
                  <material-selector (selectedMaterial)="selectedMaterialCompleted($event)"></material-selector>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <date-input [placeholder]="tr('FROM')" [(ngModel)]="fromDateCompleted" ></date-input>
                </div>
                <div class="col s6">
                  <date-input [placeholder]="tr('TO')" [(ngModel)]="toDateCompleted" ></date-input>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="flex">
                    <span class="fill-remaining-space"></span>
                    <button mat-mini-fab class="serioplast-green" (click)="closedSessionsTable.reload()">
                      <i class="material-icons">search</i>
                    </button>
                  </div>
                </div>

              </div>


            </div>
            <div class="row nomargin table-container">
              <sp-table-with-pages #closedSessionsTable [nResults]="20" [noItemsMessage]="noItemsMessageClosed"
                                   [headerConf]="headerConfCompleted"
                                   [availableActions]="availableActionsCompleted"
                                   [getData]="loadClosedSessions.bind(this)" [ready]="completedReady"></sp-table-with-pages>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    <!--</div>-->
  </div>
  <div class="col s2">
    <button mat-fab class="create control-plans blue" (click)="goToControlPlans()">
      <img src="assets/img/caliber.png"/>
    </button>
    <button mat-fab class="create report blue" (click)="goToReports()">
      <i class="material-icons">equalizer</i>
    </button>
  </div>

</div>
<!--<ng-container *ngIf="reportTags.length > 0 && reportsConfig.length > 0">-->
  <sp-reports #reportsComponent [tags]="reportTags" [reportsConfig]="reportsConfig"></sp-reports>
<!--</ng-container>-->












