<div class="row" style="margin-top:20px;">
  <div class="col s12">
    <div class="subtype">
      <div class="edit-container" *ngIf="eventCreateOpen">
        <mat-form-field>
          <input matInput [placeholder]="eventSubtype.pk?tr('EDIT_SUBTYPE'):tr('CREATE_SUBTYPE')" type="text"
                 class="form-control" id="subtype_name_create" name="attribute_name" required
                 [(ngModel)]="eventSubtype.label">
        </mat-form-field>
        <sp-save-undo (undo)="undoEditSubtype()" (save)="saveEventSubtype"></sp-save-undo>
      </div>

      <div class="row nomargin table-container onlyToggle" [hidden]="eventCreateOpen">
        <div class="flex toggle-container" *ngIf="complete">

          <span class="fill-remaining-space"></span>
          <mat-slide-toggle color="primary" [(ngModel)]="eventsActive" (ngModelChange)="subtypesTable.reload()">
            Active
          </mat-slide-toggle>
        </div>

        <sp-table-with-pages #subtypesTable [small]="true" [noItemsMessage]="noItemsMessageSubtypes" [nResults]="50"
                             [headerConf]="headerConfSubtypes"
                             [availableActions]="availableActionsSubtypes" [getData]="loadEventSubtypes.bind(this)"
                             [clickable]="!complete" (rowclick)="selectSubtypeFromClick($event)"></sp-table-with-pages>
      </div>
      <div class="add-button-container flex" *ngIf="!eventCreateOpen && complete">
        <span class="fill-remaining-space"></span>
        <button mat-mini-fab type="submit" class="serioplast-green" matTooltip="Create" [matTooltipPosition]="'below'"
                (click)="createSubtype();eventCreateOpen = true; ">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>


