<ng-container *ngIf="ready">
  <div class="row main">


    <div class="row" style="margin: 0px;">


      <div class="col s3">
        <table>
          <tr>
            <td>
              <!--<mat-select [(ngModel)]="selected_site" style="width:100%" (change)="changeSite()">-->
              <!--<mat-option *ngFor="let site_ of sites" [value]="site_.pk">{{site_.name}}</mat-option>-->
              <!--</mat-select>-->
              <user-sites [appName]="'spc'" (siteChange)="changeSite($event)"></user-sites>

            </td>



          </tr>
        </table>
      </div>



        <button mat-fab class="logout" (click)="logout()">
          <mat-icon class="md-24">power_settings_new</mat-icon>
        </button>
        <div class="setting">
          <sp-settings>
            <div style="min-width:400px; min-height: 400px">
              <sp-language-selector></sp-language-selector>
            </div>
          </sp-settings>
        </div>
    </div>
    <div class="row">
      <mat-slide-toggle color="primary" class="right" [checked]="released" style="margin-bottom: 0px;" (change)="changeReleased()"><sp-ng-translate [value]="'VIEW_RELEASE'"></sp-ng-translate></mat-slide-toggle>
    </div>
    <div class="row" *ngIf="workorders.length">
      <md-grid-list cols="{{getCols()}}" rowHeight="2:1">
        <md-grid-tile *ngFor="let wo of workorders" (click)="viewWo(wo)"  style="cursor: pointer;">
          <table style="margin: 0px;">
            <tr><td colspan="3" style="text-align: center;padding: 5px;"><h4 style="margin-bottom: 0;">{{getWorkCenters(wo)}}</h4></td></tr>
            <tr><td colspan="3" style="text-align: center;padding: 5px;">{{wo.WorkOrderNumber}}</td></tr>
            <tr><td colspan="3" style="text-align: center;padding: 5px;">{{wo.Material}}</td></tr>
            <tr>
              <td style="background-color: lightgreen;text-align: center;border: 1px solid white;"><mat-icon>alarm</mat-icon></td>
              <td style="background-color: lightgreen;text-align: center;border: 1px solid white;"><mat-icon>build</mat-icon></td>
              <td style="background-color: lightgreen;text-align: center;border: 1px solid white;"><mat-icon>error</mat-icon></td>

            </tr>
          </table>

        </md-grid-tile>

      </md-grid-list>

    </div>
  </div>

  <sp-dialog-confirm #popupMessageIndex [confirmFunction]="emptyFunc.bind(this)" [title]="popupHeaderTitle"
                     [headerColor]="popupMessageHeaderColor">
    <div class="row">
      {{popupMessageResponse}}
    </div>
  </sp-dialog-confirm>

</ng-container>


