<form class="example-form">
  <mat-form-field class="example-full-width">
    {{data.length}}
    <input matInput placeholder="{{tr(label)}}" [matAutocomplete]="auto" [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
      <mat-option *ngFor="let item of data | async" [value]="item" style="font-size:14px">
        {{getDisplay(item)}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
