.autocomplete-container{
  position:relative;
}

.suggestions{
  border:solid 1px #ccc;
  position:absolute;
  left:0;
  top:50px;
  width:100%;
  background: white;
  z-index: 10;
}

.suggestions ul{
  padding: 0px;
  margin: 0px;
}


.suggestions ul li{
  list-style: none;
  padding: 0px;
  margin: 0px;
  cursor:pointer;
}

.suggestions ul li a{
  padding:5px;
  display: block;
  text-decoration: none;
  color:#000;
}

.suggestions ul li a:hover{
  background-color: #f1f1f1;
}
