
<div class="col s12">
  <div style="padding:10px">
    <button mat-fab class="serioplast-blue" routerLink="/materials/materials"><img style="width:50%;" src="assets/puzzle.svg"></button>
  </div>
</div>

<!--<ng-container *ngIf="mode_list">-->

    <div class="col s3 filters" style="padding-top:10px;">
      <mat-form-field>
        <input id="code" type="text" class="validate filter-input" [(ngModel)]="code_or_description" matInput [placeholder]="tr('CODE_OR_DESCRIPTION')">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{tr('TECHNOLOGY')}}" style="width: 100%;" [(ngModel)]="technologyFilter" id="shape_filter_echnology"
                   name="shape_filter_echnology">
          <mat-option>Select a value</mat-option>
          <ng-container *ngFor="let s of technologies">
            <mat-option [value]="s.pk">{{s.__str__}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <div>
        <mat-checkbox name="isActive" [(ngModel)]="isActive" id="isActive" color="primary"><sp-ng-translate [value]="'ACTIVE'"></sp-ng-translate></mat-checkbox>
      </div>

      <div class="flex">
        <span class="fill-remaining-space"></span>
        <button mat-mini-fab class="serioplast-green" (click)="reload()"><mat-icon>search</mat-icon></button>
      </div>

    </div>

    <div class="col s9">

      <sp-table-with-pages [ready]="ready && resultsPerPage>0" [availableActions]="availableActions" [headerConf]="headerConf" [getData]="loadShapes.bind(this)" [nResults]="resultsPerPage" [noItemsMessage]="'No shapes found'" #shapesTable></sp-table-with-pages>

    </div>
<!--</ng-container>-->



