.back-button {
  margin:20px;
}

.round {
  border-radius: 50%;
}

.has-company-position {
  background:#cdeecb;
}

*>>>.chip-autocomplete {
  display:block!important;
}

.assessments {
  margin-top:10px;
  background: #ffefdb;
}

.add-button-container, .save-button-container {
  padding:10px;
}

table {
  background:white;
}

mat-card.skills {
  margin-top:10px;
  /*background:#ffefdb;*/
}

.stars-container {
  margin-left:10px;
  width:120px;
}

.skill-name {
  width:150px;
}
