<mat-card class="assessment">
  <mat-card-content>
    <div class="row">
      <div class="col s4">
        <date-input [placeholder]="tr('DATE')" [(ngModel)]="assessment.date"></date-input>
      </div>
      <div class="col s4">
        <mat-form-field>
          <mat-select [(ngModel)]="assessment.modality.pk" [placeholder]="tr('MODALITY')">
            <mat-option *ngFor="let m of modalities" [value]="m.pk">{{m.__str__}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s4">
        <mat-form-field>
          <mat-select [(ngModel)]="assessment.interviewer.pk" [placeholder]="tr('INTERVIEWER')">
            <mat-option *ngFor="let hrp of hrpInterviewer" [value]="hrp.pk">{{hrp.__str__}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <sp-chip-autocomplete [initialValue]="assessment.participants"
                              [sourceFunction]="getPartecipants.bind(this)" [minChars]="3" [label]="tr('PARTECIPANTS')"
                              [displayKey]="'__str__'" [model]="assessment.participants"></sp-chip-autocomplete>
      </div>
    </div>

    <markdown-textarea [object]="assessment" [field]="'description'" [label]="'DESCRIPTION'"></markdown-textarea>

    <table #table class="mdl-data-table striped noclick" style="margin-bottom:20px;">
        <thead>
        <tr>
          <th>
            <sp-ng-translate [value]="'SKILL'"></sp-ng-translate>
          </th>
          <th>
            <sp-ng-translate [value]="'EXPECTED_LEVEL'"></sp-ng-translate>
          </th>
          <th>
            <sp-ng-translate [value]="'RATING'"></sp-ng-translate>
          </th>
        </tr>
        </thead>

        <tbody>
        <ng-container *ngFor="let skAss of skillsAssessments">
          <tr>
            <td>
              <div class="flex">
                <span [innerHTML]="skAss.skill.pk|skillTypeIcon|async" style="margin-right:10px"></span>
                {{skAss.skill.__str__}}
              </div>
            </td>
            <td [innerHTML]="skAss.cpnSkill?(skAss.cpnSkill.level.delta_rel|stars):''"></td>
            <td>
              <div class="flex">
                <mat-form-field style="width:calc(100% - 130px)">
                  <mat-select [(ngModel)]="skAss.rating.pk"(ngModelChange)="fixRating(skAss)" class="full-width">
                    <mat-option *ngFor="let sRat of skillRatings" [value]="sRat.pk">
                      {{sRat.__str__}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <span [innerHTML]="skAss.rating.delta_rel|stars" class="stars-container"
                      *ngIf="skAss.rating.delta_rel"></span>
              </div>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
     <sp-save-undo (save)="save()" (undo)="undo()"></sp-save-undo>
  </mat-card-content>
</mat-card>



