.od.odd {
  background-color: #ddd;
}

.od.even {
  background-color: #ccc;
}

*>>>.mat-radio-button {
  display:block;
}

.deliveries {
  margin-bottom:20px;
  padding:0 20px;
}

.delivery {
  padding:10px;
  margin-bottom:10px;
}

.delivery.inbound {
  background-color:#c8e6c9;
}

.delivery.outbound {
  background-color:#fbe9e7   ;
}

.delivery sp-accordion-item>>>mat-toolbar {
  height:30px;
  font-size:14px;
  line-height:30px;
  background-color:#ddd;
  padding:0 10px;
  min-height: 30px;
  color:black;
}

.delivery sp-accordion-item>>>.mat-toolbar-row {
  height:30px;
}

.delivery.inbound label {
  color:black;
}

sp-accordion-item>>>.mat-card {
  padding:10px;
}

mat-icon.nopointer {
  cursor:default;
}
