<div class="row nomargin" style="margin-top:10px;">
  <div class="col s4">
    <div class="centered">
      <div>
        <user-sites [appName]="'deck'" (siteChange)="handlePlantChange($event)"></user-sites>
      </div>
    </div>
  </div>
  <div class="col s4">
    <div class="centered">
      <date-input [(ngModel)]="fromDate" [placeholder]="'From'"></date-input>
    </div>
  </div>
  <div class="col s4">
    <div class="centered">
      <date-input [(ngModel)]="toDate" [placeholder]="'To'"></date-input>
    </div>
  </div>
</div>
<div class="row nomargin" *ngIf="siteCode">
  <div class="col s12">
    <div class="flex">
     <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="loadOpenDeliveries()"><mat-icon>search</mat-icon></button>
    </div>
  </div>
</div>

<div class="row nomargin" *ngIf="openDeliveries.length>0">
  <div class="col s6 ">
    <div style="margin-left:20px; position:relative">
      <mat-form-field>
        <input matInput [placeholder]="tr('DELIVERY_NUMBER')" [(ngModel)]="deliveryFilter"/>
      </mat-form-field>
    </div>
  </div>
  <div class="col s6">
    <div class="flex" style="height:60px; padding-right:20px;">
      <span class="fill-remaining-space"></span>
      <mat-checkbox [(ngModel)]="outbound" color="primary" style="margin-right:20px"><sp-ng-translate [value]="'OUTBOUND'"></sp-ng-translate></mat-checkbox>
      <mat-checkbox [(ngModel)]="inbound" color="primary"><sp-ng-translate [value]="'INBOUND'"></sp-ng-translate></mat-checkbox>
    </div>
  </div>
</div>

<div class="deliveries">
  <ng-container *ngIf="(openDeliveries|outboundDeliveries|deliveriesCodeFilter:deliveryFilter:outbound).length>0 && outbound">
    <h5><sp-ng-translate [value]="'OUTBOUND'"></sp-ng-translate></h5>
    <ng-container *ngFor="let od of openDeliveries|outboundDeliveries|deliveriesCodeFilter:deliveryFilter; let l = index;">
      <div class="delivery outbound">
        <div class="row nomargin">
          <div class="col s2">
            <mat-form-field>
              <input matInput [placeholder]="tr('DELIVERY')" [(ngModel)]="od.Delivery" [disabled]="true" style="width: calc(100% - 24px);"/><mat-icon *ngIf="isClosed(od)" class="nopointer" style="font-size:15px; height:15px">lock</mat-icon>
            </mat-form-field>
          </div>
          <div class="col s2">
            <mat-form-field>
              <input matInput [placeholder]="tr('DESTINATION')" [value]="od.PartnerName+ ' ' +od.Partner" [disabled]="true" />
            </mat-form-field>
          </div>
          <div class="col s2">
            <mat-form-field>
              <input matInput [placeholder]="tr('ADDRESS')" [value]="buildAddress(od)" [disabled]="true" />
            </mat-form-field>
          </div>
          <div class="col s2">
            <mat-form-field>
              <input matInput [placeholder]="tr('DATE')" [value]="sapDateToUrlDate(od.CreationDate)" [disabled]="true" />
              <input matInput [value]="sapHour(od.CreationHour)" [disabled]="true" />
            </mat-form-field>
          </div>
          <div class="col s2">
            <mat-form-field>
              <input matInput [placeholder]="tr('PLATE')" [value]="od.Plate?od.Plate:'-'" [disabled]="true" style="width: calc(100% - 24px);"/><mat-icon (click)="editPlate(od)">edit</mat-icon>
            </mat-form-field>
          </div>
          <div class="col s2" style="text-align: right;">
            <button mat-mini-fab class="serioplast-green" (click)="printOpenDelivery(od)">
              <mat-icon>
                print
              </mat-icon>
            </button>
          </div>
        </div>

        <mat-accordion class="small">
          <mat-expansion-panel *ngIf="getODItems(od).length>0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <sp-ng-translate [value]="'ITEMS'"></sp-ng-translate>
              </mat-panel-title>
            </mat-expansion-panel-header>


            <sp-table-with-pages [availableActions]="[]" [headerConf]="headerConfItems" [renderOnly]="true" [data]="getODItems(od)" [showPaginator]="false"></sp-table-with-pages>

          </mat-expansion-panel>
          <mat-expansion-panel *ngIf="od.DelHuLink.results.length>0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <sp-ng-translate [value]="'HANDLING_UNITS'"></sp-ng-translate>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <sp-table-with-pages [availableActions]="[]" [headerConf]="headerConfHU" [renderOnly]="true" [data]="od.DelHuLink.results" [showPaginator]="false"></sp-table-with-pages>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="(openDeliveries|inboundDeliveries|deliveriesCodeFilter:deliveryFilter).length>0 && inbound">
    <h5><sp-ng-translate [value]="'INBOUND'"></sp-ng-translate></h5>
    <ng-container *ngFor="let od of openDeliveries|inboundDeliveries|deliveriesCodeFilter:deliveryFilter; let l = index;">
      <div class="delivery inbound">
        <div class="row">
          <div class="col s2">

            <mat-form-field>
              <input matInput [placeholder]="tr('DELIVERY')" [(ngModel)]="od.Delivery" [disabled]="true" style="width: calc(100% - 24px);"/><mat-icon *ngIf="isClosed(od)" class="nopointer" style="font-size:15px; height:15px">lock</mat-icon>
            </mat-form-field>
          </div>
          <div class="col s3">
            <mat-form-field>
              <input matInput [placeholder]="tr('SUPPLIER')" [value]="od.PartnerName?od.PartnerName+' '+od.Partner:'-'" [disabled]="true" />
            </mat-form-field>
          </div>
          <div class="col s3">
            <mat-form-field>
              <input matInput [placeholder]="tr('ADDRESS')" [value]="buildAddress(od)?buildAddress(od):'-'" [disabled]="true" />
            </mat-form-field>
          </div>
          <div class="col s4">
            <mat-form-field>
              <input matInput [placeholder]="tr('DATE')" [value]="sapDateToUrlDate(od.CreationDate)" [disabled]="true" />
              <input matInput [value]="sapHour(od.CreationHour)" [disabled]="true" />
            </mat-form-field>
          </div>
        </div>

        <mat-accordion class="small">
          <mat-expansion-panel *ngIf="getODItems(od).length>0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <sp-ng-translate [value]="'ITEMS'"></sp-ng-translate>
              </mat-panel-title>
            </mat-expansion-panel-header>


            <sp-table-with-pages [availableActions]="[]" [headerConf]="headerConfItems" [renderOnly]="true" [data]="od.DelItemLink" [showPaginator]="false"></sp-table-with-pages>

          </mat-expansion-panel>
          <mat-expansion-panel *ngIf="od.DelHuLink.results.length>0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <sp-ng-translate [value]="'HANDLING_UNITS'"></sp-ng-translate>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <sp-table-with-pages [availableActions]="[]" [headerConf]="headerConfHU" [renderOnly]="true" [data]="od.DelHuLink.results" [showPaginator]="false"></sp-table-with-pages>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>
  </ng-container>

  <div *ngIf="openDeliveries.length==0 && !loading">
    <div class="message">
      {{tr('NO_AVAILABLE_DELIVERIES')}}
    </div>
  </div>
  <mat-progress-spinner *ngIf="loading"></mat-progress-spinner>
</div>

<sp-dialog-confirm #printModalConfirm [confirmFunction]="doPrintOpenDelivery.bind(this)" [title]="' '" >

  <div class="row">
    <fixed-field [label]="tr('PRINT_TYPE')" [useContent]="true">
      <mat-radio-group [(ngModel)]="outputMessage.MessageCode" *ngIf="outputMessages.length>0" (ngModelChange)="fixOutputMessage()">
        <mat-radio-button *ngFor="let o of outputMessages" [value]="o.MessageCode" class="printer-radio-button">{{o.Description}}</mat-radio-button>
      </mat-radio-group>
    </fixed-field>
  </div>

  <div class="row" *ngIf="printers.length">
    <fixed-field [label]="tr('PRINTER')" [useContent]="true">
      <mat-radio-group [(ngModel)]="outputMessage.Printer">
        <mat-radio-button *ngFor="let printer of printers" [value]="printer.Name" class="printer-radio-button">{{printer.Name}}</mat-radio-button>
      </mat-radio-group>
    </fixed-field>
  </div>
</sp-dialog-confirm>

<sp-dialog #editPlateDelivery [closeByOverlayClick]="true">
  <div class="print-dialog" *ngIf="deliveryToEdit && deliveryToEdit.Delivery">
    <div class="row">
      <div class="col s2">
        <fixed-field [label]="tr('DELIVERY')" [useContent]="true">
          {{deliveryToEdit.Delivery}} <mat-icon *ngIf="isClosed(deliveryToEdit)" class="nopointer">lock</mat-icon>
        </fixed-field>
      </div>
      <div class="col s5">
        <fixed-field [label]="tr('DESTINATION')" [value]="deliveryToEdit.PartnerName+' ('+deliveryToEdit.Partner+')'">

        </fixed-field>
      </div>
      <div class="col s5">
        <fixed-field [label]="tr('ADDRESS')" [value]="buildAddress(deliveryToEdit)"></fixed-field>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <fixed-field [label]="tr('DATE')" [value]="sapDateToUrlDate(deliveryToEdit.CreationDate)"></fixed-field>
      </div>
      <div class="col s6 ">
        <mat-form-field>
          <input type="text" matInput placeholder="{{tr('PLATE')}}" [(ngModel)]="deliveryToEdit.Plate" maxlength="20"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <sp-save-undo (undo)="editPlateDelivery.close()" (save)="saveEditDelivery()"></sp-save-undo>
      </div>
    </div>
  </div>
</sp-dialog>


