<div style="margin-bottom: 10px;">

  <div class="header">
    <table class="mdl-data-table">
      <tbody>
        <tr>
          <td width="20%" (click)="selectTab(local_package)" class="mdl-data-table__cell--non-numeric">{{ local_package.get_wt_object }}</td>
          <td width="20%" (click)="selectTab(local_package)" class="mdl-data-table__cell--non-numeric">{{ local_package.__str__ }}</td>
          <td width="20%" (click)="selectTab(local_package)" class="mdl-data-table__cell--non-numeric">{{ local_package.site.__str__ }}</td>
          <td width="30%" (click)="selectTab(local_package)" class="mdl-data-table__cell--non-numeric">{{ local_package.reference.__str__ }}</td>
          <td width="10%" class="mdl-data-table__cell--non-numeric">
            <ng-container *ngIf="open_package_tab.pk==local_package.pk">
              <div class="flex">
                <span class="fill-remaining-space"></span>
                <mat-icon *ngIf="local_package.is_active" (click)="editLocalPackageItem(local_package)">mode_edit</mat-icon>
                <mat-icon *ngIf="local_package.is_active" (click)="removePackage(local_package)" >delete</mat-icon>
                <mat-icon *ngIf="!local_package.is_active" (click)="enablePackage(local_package)" >open_in_browser</mat-icon>
              </div>
            </ng-container>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <div *ngIf="open_package_tab.pk==local_package.pk && local_package.is_active"
       style="background-color: rgba(76,175,80, 0.2);padding: 10px;margin-bottom: 20px;border-bottom: solid 2px #4caf50;">

    <div class="row" style="padding: 0px;margin: 0px;">

      <table class="mdl-data-table" *ngIf="local_package.sitecpnpackageitem_set.length>0">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Company Position</th>
            <th class="mdl-data-table__cell--non-numeric" >Mandatory</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of local_package.sitecpnpackageitem_set ">
            <td width="30%" class="mdl-data-table__cell--non-numeric">{{ p.company_position_name.__str__ }}</td>
            <td width="30%" class="mdl-data-table__cell--non-numeric">{{ p.mandatory }}</td>
            <td width="30%" class="mdl-data-table__cell--non-numeric"></td>
            <td width="10%" class="mdl-data-table__cell--non-numeric">
              <div class="flex">
                <span class="fill-remaining-space"></span>
                <mat-icon (click)="removeLocalCpnPackageItem(p)">delete</mat-icon>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="showFormvar" class="add-form">
        <div class="row" style="height:60px">
          <div class="col s4">
            <mat-form-field>
              <mat-select placeholder="Select Company Position" name="cpn" [(ngModel)]="localcpnpackage.company_position_name.pk" (ngModelChange)="fixCPN(localcpnpackage)">
                <mat-option *ngFor="let hit of cpn" [value]="hit.pk">
                  {{ hit.__str__ }}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col s8" style="height:100%">
            <div class="flex" style="height:100%">
              <mat-checkbox name="mandatory" [(ngModel)]="localcpnpackage.mandatory" color="primary">Mandatory</mat-checkbox>
            </div>
          </div>
        </div>
        <div >
          <sp-save-undo (save)="addLocalCpnPackageItem()" (undo)="showFormvar=false"></sp-save-undo>
        </div>
      </div>
    </div>

    <div class="flex add-button-container" *ngIf="!showFormvar">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab (click)="showForm()" class="serioplast-green right">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </div>

</div>


