<div class="row" *ngIf="selectionOn" style="margin-top:10px">
  <div class="col s6">
    <div class="centered">
      <div>
        <user-sites [appName]="'deck'" (siteChange)="handleReceivingPlantChange($event)" [label]="tr('RECEIVING_PLANT')"></user-sites>
      </div>
      <div *ngIf="receivingPlant.pk && receivingWarehouses.length>0">
        <mat-form-field>
          <mat-select [placeholder]="tr('RECEIVING_WAREHOUSE')" [(ngModel)]="transfer.ReceivingWarehouse" (ngModelChange)="handleRecevingWarehouseChange()">
            <mat-option *ngFor="let w of receivingWarehouses" [value]="w.WarehouseCode">{{w.Description}} ({{w.WarehouseCode}})</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col s6" *ngIf="sendingSites.length>0">
    <div class="centered">
      <div>
        <mat-form-field>
          <mat-select [placeholder]="tr('SENDING_PLANT')" [(ngModel)]="sendingPlant.pk" (ngModelChange)="handleSendingPlantChange()">
            <mat-option *ngFor="let s of sendingSites" [value]="s.pk">{{s.__str__}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="sendingPlant.pk && transfer.ReceivingWarehouse && sendingWarehouses.length>0">
        <mat-form-field>
          <mat-select [placeholder]="tr('SENDING_WAREHOUSE')" [(ngModel)]="transfer.SendingWarehouse" (ngModelChange)="handleSendingWarehouseChange()">
            <mat-option *ngFor="let w of sendingWarehouses" [value]="w.WarehouseCode">{{w.Description}} ({{w.WarehouseCode}})</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col s12" *ngIf="canConfirmSelection()">
    <div class="flex" style="padding:10px">
      <span class="fill-remaining-space"></span>
      <button class="serioplast-green" mat-mini-fab (click)="confirmSelection()"><mat-icon>keyboard_return</mat-icon></button>
    </div>
  </div>
</div>

<div class="row" *ngIf="!selectionOn" style="padding-top:10px;">
  <div class="col s6">
    <div class="centered">
      <div>
        <mat-form-field>
          <input matInput [placeholder]="tr('RECEIVING_PLANT')" [value]="receivingPlant.__str__" [disabled]="true"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [placeholder]="tr('RECEIVING_WAREHOUSE')" [value]="getWarehouseDesc(receivingWarehouses,transfer.ReceivingWarehouse)" [disabled]="true"/>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="centered">
      <div>
        <div>
          <mat-form-field>
            <input matInput [placeholder]="tr('SENDING_PLANT')" [value]="sendingPlant.__str__" [disabled]="true"/>
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-form-field>
          <input matInput [placeholder]="tr('SENDING_WAREHOUSE')" [value]="getWarehouseDesc(receivingWarehouses,transfer.SendingWarehouse)" [disabled]="true"/>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col s12">
    <div class="flex" style="padding:10px">
      <button class="serioplast-grey" mat-mini-fab (click)="undoSelection()"><mat-icon>undo</mat-icon></button>
    </div>
  </div>
</div>

<div class="transfers-container" *ngIf="canConfirmSelection() && !selectionOn">
  <h5><sp-ng-translate [value]="'TRANSFER_ITEMS'"></sp-ng-translate></h5>
  <div class="transfer row" *ngFor="let t of transfer.RowLink" [ngClass]="{duplicate:isDuplicate(t)}">
    <div class="col s6">
      <material-selector (selectedMaterial)="setMaterialToTransferRow($event,t)" [additionalQuery]="{site_list:(receivingPlant.pk+'|'+sendingPlant.pk), is_active:true}" [additionalQueryTypes]="additionalQueryTypes"></material-selector>
    </div>
    <div class="col s2">
      <mat-form-field>
        <input matInput [placeholder]="tr('AMOUNT')" [(ngModel)]="t.Quantity" type="number"/>
      </mat-form-field>
    </div>
    <div class="col s3" >
      <mat-form-field *ngIf="t.Material">
        <mat-select [placeholder]="tr('PALLETTIZATION')" [(ngModel)]="t.Palletization"  class="full-width">
          <mat-option [value]="' '">-</mat-option>
          <mat-option [value]="'BULK'">Bulk</mat-option>
          <mat-option *ngFor="let pi of t.packingInstructions" [value]="pi.Palletization">{{pi.Palletization}} - {{pi.Description}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col s1">
      <button mat-mini-fab class="serioplast-green" (click)="removeTransferRow(t)">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>
  <div class="add-button-container" *ngIf="canAdd()">
    <button mat-mini-fab class="serioplast-green" (click)="addTransferRow()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<div class="save-button-container flex" *ngIf="canSave() && canAdd()">
  <span class="fill-remaining-space"></span>
  <button mat-mini-fab class="serioplast-green" (click)="saveTransfer()">
    <mat-icon>send</mat-icon>
  </button>
</div>


