<ng-container *ngIf="ready">
  <div class="row" >
    <div class="col s1">
      <button mat-fab class="serioplast-grey" (click)="back()" style="margin-top:20px">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>

    <div class="col s11" *ngIf="editCPOn && cpEdit" >

      <mat-card class="company-position edit" [style]="getBorderStyle()">
        <div class="flex">
          <h5>{{cpEdit.__str__}}</h5>

          <div [style]="getStatusStyle()" *ngIf="cpEdit.status">
            {{cpEdit.status.__str__}}
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <div>
              <fixed-field [label]="tr('DEPARTMENT')" [value]="cpEdit.name.department_ref?cpEdit.name.department_ref.__str__:null"></fixed-field>
            </div>
            <div>
              <mat-form-field>
                <mat-select [placeholder]="tr('HR_REFERENCE')" [(ngModel)]="cpEdit.hr_ref.pk" class="full-width">
                  <mat-option *ngFor="let hrr of hrReferences" [value]="hrr.pk">{{hrr.__str__}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field>
                <input type="text" [(ngModel)]="cpEdit.reason_request" matInput placeholder="{{tr('REASON_FOR_REQUEST')}}"/>
              </mat-form-field>
            </div>
            <div class="">
              <date-input [placeholder]="tr('REQUEST_ENTRY_DATE')" [(ngModel)]="cpEdit.requested_entry_date"></date-input>
            </div>
            <div class="">
              <mat-form-field>
                <input type="text" [(ngModel)]="cpEdit.requested_contract_duration" matInput placeholder="{{tr('REQUEST_CONTRACT_DURATION')}}"/>
              </mat-form-field>
            </div>
          </div>
          <div class="col s4">
            <div class="">
              <mat-form-field>
                <input type="text" [(ngModel)]="cpEdit.requested_training" matInput placeholder="{{tr('REQUEST_TRAINING')}}"/>
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field>
                <input type="text" [(ngModel)]="cpEdit.note_requested" matInput placeholder="{{tr('REQUEST_NOTES')}}"/>
              </mat-form-field>
            </div>
            <div class="">
              <date-input [placeholder]="tr('TARGET_ENTRY_DATE')" [(ngModel)]="cpEdit.target_entry_date"></date-input>
            </div>
            <div class="">
              <mat-form-field>
                <input type="number" [(ngModel)]="cpEdit.target_gross_salary" matInput placeholder="{{tr('TARGET_GROSS_SALARY')}}" style="width:calc(100% - 110px)"/>
                <mat-select class="currency mini" [(ngModel)]="cpEdit.target_gross_salary_currency" style="width:100px">
                  <mat-option *ngFor="let c of currencies" [value]="c[0]">{{c[1]}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col s4">
            <div>
              <mat-form-field>
                <mat-select [placeholder]="tr('TARGET_CONTRACT_TYPE')" [(ngModel)]="cpEdit.target_contract_type.pk"  class="full-width">
                  <mat-option *ngFor="let ct of contractTypes" [value]="ct.pk">{{ct.__str__}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="">
              <date-input [(ngModel)]="cpEdit.filled_on" [placeholder]="tr('STARTING_DATE')"></date-input>
            </div>
            <div class="">
              <mat-form-field>
                <input type="number" [(ngModel)]="cpEdit.cost" matInput placeholder="{{tr('RECRUITING_FEE')}}" style="width:calc(100% - 110px)"/>
                <mat-select class="currency mini" [(ngModel)]="cpEdit.cost_currency" style="width:100px">
                  <mat-option *ngFor="let c of currencies" [value]="c[0]">{{c[1]}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="">
              <mat-checkbox [(ngModel)]="cpEdit.is_public"><sp-ng-translate [value]="'IS_CONFIDENTIAL'"></sp-ng-translate></mat-checkbox>
            </div>
          </div>
        </div>
        <sp-save-undo (save)="saveCP()" (undo)="undoCP()"></sp-save-undo>
      </mat-card>

    </div>

    <div class="col s8" *ngIf="!editCPOn" >

      <mat-card class="company-position view" [style]="getBorderStyle()">
        <div class="flex">
          <h5>{{companyPosition.__str__}}</h5>

          <div [style]="getStatusStyle()" *ngIf="companyPosition.status">
            {{companyPosition.status.__str__}}
          </div>

          <span class="fill-remaining-space"></span>

          <button *ngIf="canEditCP()" mat-mini-fab="" class="serioplast-blue advance" (click)="editCP()">
            <mat-icon>edit</mat-icon>
          </button>


        </div>
        <div class="row">
          <div class="col s4">
            <b><sp-ng-translate [value]="'DEPARTMENT'"></sp-ng-translate>:</b> {{companyPosition.name.department_ref && companyPosition.name.department_ref.__str__}}<br/>
            <b><sp-ng-translate [value]="'HR_REFERENCE'"></sp-ng-translate>:</b> {{companyPosition.hr_ref.__str__}}<br/>
            <b><sp-ng-translate [value]="'REASON_FOR_REQUEST'"></sp-ng-translate>:</b> {{companyPosition.reason_request}}<br/>
            <b><sp-ng-translate [value]="'REQUEST_ENTRY_DATE'"></sp-ng-translate>:</b> {{companyPosition.requested_entry_date}}<br/>
            <b><sp-ng-translate [value]="'REQUEST_CONTRACT_DURATION'"></sp-ng-translate>:</b> {{companyPosition.requested_contract_duration}}<br/>
          </div>
          <div class="col s4">
            <b><sp-ng-translate [value]="'REQUEST_TRAINING'"></sp-ng-translate>:</b> {{companyPosition.requested_training}}<br/>
            <b><sp-ng-translate [value]="'REQUEST_NOTES'"></sp-ng-translate>:</b> {{companyPosition.note_requested}}<br/>
            <b><sp-ng-translate [value]="'TARGET_ENTRY_DATE'"></sp-ng-translate>:</b> {{companyPosition.target_entry_date}}<br/>
            <b><sp-ng-translate [value]="'TARGET_GROSS_SALARY'"></sp-ng-translate>:</b> {{companyPosition.target_gross_salary}} {{companyPosition.target_gross_salary_currency}}<br/>
          </div>
          <div class="col s4">
            <b><sp-ng-translate [value]="'TARGET_CONTRACT_TYPE'"></sp-ng-translate>:</b> {{companyPosition.target_contract_type && companyPosition.target_contract_type.__str__}}<br/>
            <b><sp-ng-translate [value]="'STARTING_DATE'"></sp-ng-translate>:</b> {{companyPosition.filled_on}} <br/>
            <b><sp-ng-translate [value]="'RECRUITING_FEE'"></sp-ng-translate>:</b> {{companyPosition.cost}} {{companyPosition.cost_currency}}<br/>
            <b><sp-ng-translate [value]="'IS_CONFIDENTIAL'"></sp-ng-translate>:</b> {{companyPosition.is_public}} <br/>
          </div>
        </div>
      </mat-card>

    </div>

    <div class="col s3" *ngIf="!editCPOn" >

      <mat-card class="task view">
        <h6><b>Task status</b></h6>
        <div class="">{{companyPosition.active_tasks?companyPosition.active_tasks:'-'}}</div>
        <div class="flex">
          <div *ngIf="companyPosition.status && companyPosition.status.delta_rel==6">
            <button mat-mini-fab="" class="serioplast-blue advance" (click)="requestOpenPosition()" matTooltip="Open position">
              <sap-icon [iconName]="'workflow-tasks'"></sap-icon>
            </button>
          </div>

          <div *ngIf="shouldShowShortlistButton()">
            <button mat-mini-fab="" class="orange advance" (click)="setShortlist()" matTooltip="Send shortlist">
              <sap-icon [iconName]="'approvals'"></sap-icon>
            </button>
          </div>
          <span class="fill-remaining-space"></span>
          <button *ngIf="canAbortCP()" mat-mini-fab="" class="serioplast-red" style="margin-left:10px" (click)="abortCP()" matTooltip="Abort position">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card>

    </div>

  </div>
  <div class="row" *ngIf="canManageUsers()">
    <div class="col s4">
      <mat-card class="candidates">
        <h6>Users list</h6>

        <table class="bordered striped noclick inner small full-width mdl-data-table" *ngIf="hasCompanyPositions.length>0">
          <thead>
          <tr>
            <th><sp-ng-translate [value]="'NAME'"></sp-ng-translate></th>
            <th><sp-ng-translate [value]="'STATUS'"></sp-ng-translate></th>
            <th><sp-ng-translate [value]="'PRE_INTERVIEW_RATING'"></sp-ng-translate></th>
            <th><sp-ng-translate [value]="'FIT'"></sp-ng-translate></th>
            <th *ngIf="(!hasCompanyPosition|| !hasCompanyPosition.pk)&& !createOn"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let hcp of hasCompanyPositions" [ngClass]="{active:hcp.pk==hasCompanyPosition.pk}">
            <td><modal-personalinfo [object_id]="hcp.user_ref.pk" [label]="hcp.user_ref.__str__"></modal-personalinfo></td>
            <td><span [style]="getStatusStyleHCP(hcp)">
              {{hcp.status.__str__}}
            </span></td>
            <td>{{hcp.pre_interview_rating.__str__}}</td>
            <td>{{hcp.rating.__str__}}</td>
            <td *ngIf="(!hasCompanyPosition|| !hasCompanyPosition.pk)&& !createOn && canEditHCP(hcp)">
              <mat-icon (click)="editHasCompanyPosition(hcp)">edit</mat-icon>
            </td>
            <td *ngIf="(!hasCompanyPosition|| !hasCompanyPosition.pk)&& !createOn && !canEditHCP(hcp)">
              <mat-icon (click)="editHasCompanyPosition(hcp)">visibility_on</mat-icon>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="flex" style="padding:10px 0" *ngIf="canAddCandidates()">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab class="serioplast-green" (click)="createCandidate()"><mat-icon>add</mat-icon></button>
        </div>
      </mat-card>
    </div>
    <div class="col s8">
      <ng-container *ngIf="(!hasCompanyPosition|| !hasCompanyPosition.pk) && !createOn">Select an user to view/edit</ng-container>
      <hr-recruitment-hcp-edit *ngIf="(hasCompanyPosition && hasCompanyPosition.pk)||createOn" [hcp]="hasCompanyPosition" (backEvent)="backFromHCP()" [viewMode]="hcpViewMode"></hr-recruitment-hcp-edit>
    </div>
  </div>
</ng-container>





