.company-position {
  /*background:#dee9ff;*/
  margin-top:10px;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
}

.task {
  margin-top:10px;
  padding: 10px;
}

.candidates {
  /*background-color: #ffffdd;*/
  padding:10px;
}

tr.active {
  background-color:#96db91!important;
}

button.advance {
  margin-left:10px;
}

button.advance>>>.icon.sap {
  font-size:20px;
  line-height:190%;
}

.createHCP {
  width:800px
}


