.customInput{
  padding: 0px;
  margin: 0px;
  position: relative;
  top: -7px;
  height: 30px;
  width: initial!important;
}

.schipcontainer>>>.chip-autocomplete.flex{
  display: block!important;
}

td,th{
  padding: 5px;
}
