<div class="row main">
  <div class="col s3 main">
    <mat-card *ngIf="organization" class="main">
      <mat-card-content>


        <button mat-fab class="grey back" matTooltip="Back" [matTooltipPosition]="'below'"
                [routerLink]="['/organizations']" style="margin-bottom:20px">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>

        <mat-form-field>
          <input matInput id="name" placeholder="Organization Name"
                 [(ngModel)]="organization.name" name="name" type="text" required/>
        </mat-form-field>


        <mat-form-field>
          <input matInput style="border-bottom: none;" placeholder="Organization code"
                 [(ngModel)]="organization.code" name="name" type="text" required/>
        </mat-form-field>


        <div>
          <mat-checkbox color="primary" name="search-is_customer" [(ngModel)]="organization.is_customer">
            Is Customer
          </mat-checkbox>
        </div>

        <div>
          <mat-checkbox color="primary" name="search-is_supplier" [(ngModel)]="organization.is_supplier">
            Is Supplier
          </mat-checkbox>
        </div>

        <div>
          <mat-checkbox color="primary" name="search-is_serioplast" [(ngModel)]="organization.is_serioplast_group">
            Is Serioplast Group
          </mat-checkbox>
        </div>

        <div class="flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab class="green white-text right" matTooltip="Save" [matTooltipPosition]="'below'"
                  (click)="createOrganization()">
            <mat-icon>send</mat-icon>
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col s9">

    <mat-card class="main" *ngIf="organization.pk && organization.is_customer">
      <mat-card-content>
        <div class="row">
          <h5>{{organization.name}} as Customer</h5>
          <sp-table-with-pages #customersTable [nResults]="8" [small]="true" [noItemsMessage]="noItemsMessageCustomers"
                               [headerConf]="headerConfCustomers"
                               [availableActions]="availableActionsCust" [getData]="loadCustomers.bind(this)"></sp-table-with-pages>
        </div>
        <div class="row" style="padding: 10px;margin-top: 15px; background-color: whitesmoke">
          <div class="col s12">
            <sp-autocomplete #CustomerFilterAC [label]="'add Customer (by Sap Code or Description)'"
                             [sourceFunction]="loadCustomersFilter.bind(this)"
                             (valueChanged)="assignCustomer.bind(this)($event)"></sp-autocomplete>
          </div>
          <div class="col s12">
            <div class="flex">
              <span class="fill-remaining-space"></span>
              <button *ngIf="customerForm" mat-mini-fab class="serioplast-green right" type="submit"
                      (click)="addCustomer(customersTable)">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card class="main" *ngIf="organization.pk && organization.is_supplier">
      <mat-card-content>
        <div class="row">
          <h5>{{organization.name}} as Supplier</h5>
          <sp-table-with-pages #suppliersTable [nResults]="8" [small]="true" [noItemsMessage]="noItemsMessageSuppliers"
                               [headerConf]="headerConfSuppliers"
                               [availableActions]="availableActionsSupp" [getData]="loadSuppliers.bind(this)"
          ></sp-table-with-pages>
        </div>
        <div class="row" style="padding: 10px;margin-top: 15px; background-color: whitesmoke">
          <div class="col s12">
            <sp-autocomplete #SupplierFilterAC [label]="'add Supplier (by Sap Code or Description )'"
                             [sourceFunction]="loadSuppliersFilter.bind(this)"
                             (valueChanged)="assignSupplier.bind(this)($event)"></sp-autocomplete>
          </div>

          <button *ngIf="supplierForm" mat-mini-fab class="serioplast-green right" type="submit"
                  (click)="addSupplier(suppliersTable)">
            <i class="material-icons">send</i>
          </button>
        </div>

      </mat-card-content>
    </mat-card>
    <br>
    <mat-card class="main" *ngIf="organization.pk && organization.is_serioplast_group">
      <mat-card-content>
        <div class="row">
          <h5>{{organization.name}} as Legal Entities</h5>
          <sp-table-with-pages #legalentitiesTable [nResults]="8" [small]="true"
                               [noItemsMessage]="noItemsMessageLegalEntities"
                               [headerConf]="headerConfLegalEntities"
                               [availableActions]="availableActions" [getData]="loadLegalEntities.bind(this)"
          ></sp-table-with-pages>
        </div>


      </mat-card-content>
    </mat-card>

  </div>
</div>




