<div class="row">
  <div class="col s2">
    <sales-pricelist-filters #filters (reloadEvent)="reload($event)" [cir]="true" (preventAccess)="preventAccess()"></sales-pricelist-filters>
  </div>
  <div class="col s10">
    <sp-table-with-pages #table [small]="true" [getData]="getCustomerMaterials.bind(this)" [nResults]="15" [noItemsMessage]="noItemsMessage" [headerConf]="headerConf" [availableActions]="availableActions" [ready]="ready"></sp-table-with-pages>
    <div class="flex" style="padding:10px">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab class="serioplast-green" (click)="createPIR()"><mat-icon>add</mat-icon></button>
    </div>

  </div>
</div>
