<table *ngIf="user && !small">
  <tbody>
    <tr>
      <td style="width:45px">
        <div style="width:45px; height:45px">
          <img style="display:none" src="{{user.avatar}}" (error)="hideImg()">
          <div *ngIf="!hideAvatar" [style]="getImageAsBackground()"></div>
        </div>
      </td>
      <td>{{user.first_name}} {{user.last_name}}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="user && small">
  <div style="width:45px; height:45px">
    <img style="display:none" src="{{user.avatar}}" (error)="hideImg()">
    <div *ngIf="!hideAvatar" [style]="getImageAsBackground()" matTooltip="{{user.first_name}} {{user.last_name}}"></div>
  </div>
</div>


