
/*td, th {*/
  /*padding: 4px 4px;*/
  /*display: table-cell;*/
  /*text-align: left;*/
  /*vertical-align: middle;*/
  /*border-radius: 2px;*/
/*}*/

.customChip{
  outline: none;
  margin: 2px;
  padding-top: 0px;
  background-color: white;
  cursor: pointer;
  cursor: hand;

  /*no selectable*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari*/
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.mandat{
  background-color: #4caf50;
  color: white;
}

.add-button-container {
  padding:10px;
}
