<ng-container>
  <div class="row" style="margin-top:10px;">
    <div class="col s12 m3">
      <h5>Filters</h5><br>
      <div class="row">

        <form #form>
          <user-sites (siteChange)="site_change($event)" [allowEmpty]="true"></user-sites>

          <mat-form-field>
            <mat-select [placeholder]="'Select worktool'" name="local_packages" [(ngModel)]="selected_worktool.pk"
                        (ngModelChange)="worktool_change()">
              <mat-option>Select a value</mat-option>
              <mat-option *ngFor="let worktool of worktools" [value]="worktool.pk">
                {{ worktool.__str__ }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <sp-search-reset (search)="load_site_package()" (reset)="form.reset();"></sp-search-reset>
        </form>
      </div>
    </div>

    <div class="col s12 m9">
      <mat-card>
        <div class="flex">
          <h5 style="margin-bottom: 0px;">Site Packages
            <ng-container *ngIf="!activePackages">Inactive</ng-container>
          </h5>
          <span class="fill-remaining-space"></span>
          <mat-slide-toggle color="primary" [(ngModel)]="activePackages" (ngModelChange)="reloadPackages()">Active
          </mat-slide-toggle>
        </div>

        <package-obj-list-create *ngIf="formShow" (undo)="undoCreate()" [selected_worktool]="selected_worktool"
                                 (load_site_package)="load_site_package($event)" [selected_site]="selected_site"
                                 [sites]="userSites" [selectedLocalPackageItem]="selectedLocalPackageItem"
                                 [mode_edit]="mode_edit"></package-obj-list-create>

        <!--<div style="width: 300px;">-->

        <!--<button mat-button (click)="toggleForm()" class="serioplast-green right" *ngIf="formShow"><i-->
        <!--class="material-icons">close</i>-->
        <!--</button>-->
        <!--</div>-->

        <table class="mdl-data-table">
          <thead>
            <th width="20%" class="mdl-data-table__cell--non-numeric">Object</th>
            <th width="20%" class="mdl-data-table__cell--non-numeric">Local label</th>
            <th width="20%" class="mdl-data-table__cell--non-numeric">Site</th>
            <th width="40%" class="mdl-data-table__cell--non-numeric">Reference</th>
          </thead>

        </table>
        <div *ngFor="let p of localpackages">
          <package-obj-list [cpn]="cpn" [open_package_tab]="open_package_tab_from_child" [local_package]="p"
                            (selectPackageTab)="selectPackageTab($event)"
                            (load_site_package)="load_site_package($event)"
                            (onEditLocalPackageItem)="OnEditLocalPackageItem($event)"></package-obj-list>
        </div>
        <div class="add-button-container flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab (click)="createPackage()" class="serioplast-green">
            <mat-icon>add</mat-icon>
          </button>
        </div>

      </mat-card>
    </div>
  </div>

</ng-container>
