<div *ngIf="workingcontacts">
  <h5 id="Contacts">Work Contacts</h5>

  <table class="mdl-data-table bordered" style="margin-bottom: 15px;">
    <tr>
      <td>
        <sp-ng-translate [value]="'Work Mobile Phone'"></sp-ng-translate>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Work Mobile Phone" [(ngModel)]="workingcontacts.work_mobile_phone" type="text"/>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <sp-ng-translate [value]="'Work Landline Phone'"></sp-ng-translate>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Work Landline Phone" [(ngModel)]="workingcontacts.work_landline_phone"
                 type="text"/>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <sp-ng-translate [value]="'Work Email'"></sp-ng-translate>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Work Email" [(ngModel)]="workingcontacts.work_email" type="text" required/>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <sp-ng-translate [value]="'Work Address'"></sp-ng-translate>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Work Address" [(ngModel)]="workingcontacts.work_address" type="text" required
                 (placeChanged)="getAddress($event)" google-places-autocomplete/>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <sp-save-undo (save)="saveWorkingContact.bind(this)" [undoCondition]="false"></sp-save-undo>

</div>
