.model_card_cont{
  overflow: hidden;
  margin: 0px;
  position: relative;
  height: calc(100% - 90px)!important;
}

.model_card{
  overflow: auto;
  height: 100%;
  padding:2px;
}

.main{
  height: 100%;
}

.close{
  position:fixed;
  bottom:20px;
  /*left: 100px;*/
  right:20px;
}


.printer-radio-group{
  display: inline-flex;
  flex-direction: column;
}

.printer-radio-button{
  margin: 5px;
}

.print-dialog {
  width:500px;
}



