<div class="row main">
  <div class="col m8 s12 model_card">

    <table class="bordered striped">
      <tr>
        <td>
          <h4>{{workorder.WorkOrderNumber}} -
            {{workorder.ConfirmedQuantity|ExpThousandsSeparator}}/{{workorder.RequiredQuantity|ExpThousandsSeparator}}</h4>
          <h5>{{workorder.Material}} - {{workorder.MatDescription}}</h5>
          <table class="bordered" *ngIf="workorder.WOperationLink.results">
            <ng-container *ngFor="let ops of workorder.WOperationLink.results,let islast = last">
              <tr>
                <td>
                  {{ops.OpNumber}}
                </td>
                <td>
                  {{ops.WorkCenter}}
                </td>
                <td>
                  <ng-container *ngIf="ops.Milestone">
                    {{ops.Description}}
                  </ng-container>
                </td>
                <td *ngIf="ops.Milestone">

                  <button mat-fab class="serioplast-green right" style="height: 100px;width: 100px;" *ngIf="islast && workorder.PackIns" (click)="openConfirmationModalDialog(ops,true)">
                    <mat-icon class="md-24" style="font-size: 50px;position: relative;left: -12px;top:5px;">print</mat-icon>
                  </button>
                  <button mat-fab class="serioplast-green right"  *ngIf="!islast || !workorder.PackIns" (click)="openConfirmationModalDialog(ops,false)">
                  <mat-icon class="md-24" >send</mat-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
          </table>
        </td>
        <td style="vertical-align: top;">

        </td>
      </tr>
    </table>

    <ng-container *ngIf="workorder.WComponentLink.results">
      <h4><sp-ng-translate [value]="'RAW_MATERIALS'"></sp-ng-translate></h4>
      <table class="bordered striped">
        <th><sp-ng-translate [value]="'ITEM'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'CODE'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'MATERIAL'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'NEEDED'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'IN_STOCK'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'ACTIONS'"></sp-ng-translate></th>
        <tr *ngFor="let hit of workorder.WComponentLink.results">

          <td>{{hit.ItemNumber}}</td>
          <td>{{hit.ComponentCode}}</td>
          <td>{{hit.CompDescription}}</td>
          <td>{{(hit.ReqQuantity-hit.ConsQuantity)|ExpThousandsSeparator}}</td>
          <td>{{hit.StockQuantity|ExpThousandsSeparator}}</td>
          <td>
            <mat-icon *ngIf="hit.Action=='BTC'" (click)="openBatchModalDialog(hit)" title="Batch">assignment</mat-icon>
            <ng-container *ngIf="hit.Action=='PCK'">
              <mat-icon (click)="openUnpackModalDialog(hit)" title="Unpack">remove_shopping_cart</mat-icon>
              <mat-icon (click)="openPackModalDialog(hit)" title="Repack">shopping_cart</mat-icon>
            </ng-container>
          </td>
        </tr>
      </table>
    </ng-container>
    <ng-container *ngIf="workorder.WPackLink.results && workorder.PackIns">
      <h4><sp-ng-translate [value]="'PACKING'"></sp-ng-translate></h4>
      <table class="bordered striped" *ngIf="workorder.WPackLink.results">
        <th><sp-ng-translate [value]="'ID'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'MATERIAL'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'NEEDED'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'IN_STOCK'"></sp-ng-translate></th>
        <tr *ngFor="let hit of workorder.WPackLink.results">

          <td>{{hit.PackCode}}</td>
          <td>{{hit.PackDescription}}</td>
          <td>{{(hit.ReqQuantity-hit.ConsQuantity)|ExpThousandsSeparator}}</td>
          <td>{{hit.StockQuantity|ExpThousandsSeparator}}</td>
        </tr>
      </table>
    </ng-container>
  </div>
  <ng-container *ngIf="workorder && confirmations.length > 0">
    <div class="col m4 s12 model_card_cont">
      <table class="bordered striped">
        <th *ngIf="workorder.PackIns && workorder.PackIns != 'BULK'"><sp-ng-translate [value]="'SSCC'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'TIME'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'QUANTITY'"></sp-ng-translate></th>
        <th><sp-ng-translate [value]="'PRG'"></sp-ng-translate></th>
        <th *ngIf="workorder.PackIns && workorder.PackIns != 'BULK'"><sp-ng-translate [value]="'ACTIONS'"></sp-ng-translate></th>
        <tr *ngFor="let hit of confirmations">
          <td *ngIf="workorder.PackIns && workorder.PackIns != 'BULK'">{{hit.SSCC|endCutter}}</td>
          <td>{{hit.CreationDate}} {{hit.CreationTime}}</td>
          <td>{{hit.QtyConfirmed | ExpThousandsSeparator}}</td>
          <td>{{hit.ConfNumber|number }}</td>
          <td *ngIf="workorder.PackIns && workorder.PackIns != 'BULK'">
            <mat-icon (click)="openReprintModal(hit,true)">print</mat-icon>
          </td>

        </tr>
      </table>
    </div>
  </ng-container>

</div>

<sp-dialog-confirm #confirmationModalConfirm [confirmFunction]="saveConfirmation.bind(this)" [title]="' '" [denyFunction]="emptyFunc">
  <div class="row">
    <div class="col s12">
      <mat-form-field>
        <input type="text" [(ngModel)] ="quantityConfirmed" matInput [placeholder]="tr('QUANTITY')">
      </mat-form-field>
    </div>
  </div>
  <div class="row" *ngIf="workorder.PackIns && print && printers.length">
    <div class="col s12">
      <fixed-field [label]="tr('PRINTER')" [useContent]="true">
        <mat-radio-group [(ngModel)] = "printerName" class="printer-radio-group">
          <mat-radio-button *ngFor="let printer of printers" [value]="printer.Name" class="printer-radio-button" [checked]="printer == printerName" (change)="setLocalStoragePreferredPrinter(printer)">{{printer.Name}}</mat-radio-button>
        </mat-radio-group>
      </fixed-field>
    </div>
  </div>
</sp-dialog-confirm>

<sp-dialog-confirm #batchModalConfirm [confirmFunction]="saveBatch.bind(this)" [title]="' '" [denyFunction]="emptyFunc">
  <div class="row">
    <div class="col s12">
      <mat-form-field>
        <input type="text" [(ngModel)] ="batch.BatchNumber" matInput [placeholder]="tr('SERIOPLAST_BATCH_NUMBER')">
      </mat-form-field>
    </div>
  </div>
</sp-dialog-confirm>

<sp-dialog-confirm #rePrintModalConfirm [confirmFunction]="rePrint.bind(this)" [title]="' '" [denyFunction]="emptyFunc">
  <div class="row" *ngIf="print && printers.length">
    <div class="col s12">
      <fixed-field [label]="tr('PRINTER')" [useContent]="true">
        <mat-radio-group [(ngModel)] = "printerName" class="printer-radio-group">
          <mat-radio-button *ngFor="let printer of printers" [value]="printer.Name" class="printer-radio-button" [checked]="printer == printerName" (change)="setLocalStoragePreferredPrinter(printer)">{{printer.Name}}</mat-radio-button>
        </mat-radio-group>
      </fixed-field>
    </div>
  </div>
</sp-dialog-confirm>

<sp-dialog-confirm #packModalConfirm [confirmFunction]="saveRepack.bind(this)" [title]="' '" [denyFunction]="emptyFunc">

  <div class="row">
    <div class="col s12">
      <mat-form-field>
        <input type="text" [(ngModel)] ="hu.PackedQty" matInput [placeholder]="tr('QUANTITY')">
      </mat-form-field>
    </div>
  </div>

  <div class="row" *ngIf="packagings.length > 1">

    <div class="col s12">
      <fixed-field [label]="tr('PALLETIZATION')" [useContent]="true">
        <mat-radio-group [(ngModel)]="selectedPackaging">
          <mat-radio-button *ngFor="let packaging of packagings" [value]="packaging">{{packaging.Palletization}} - {{packaging.Description}}</mat-radio-button>
        </mat-radio-group>
      </fixed-field>
    </div>
  </div>

  <div class="row" *ngIf="packagings.length == 1 && selectedPackaging">
    <fixed-field [label]="tr('PALLETIZATION')" [value]="selectedPackaging.Palletization+' - '+selectedPackaging.Description"></fixed-field>
  </div>
</sp-dialog-confirm>

<sp-dialog-confirm #unpackModalConfirm [confirmFunction]="unPack.bind(this)" [title]="' '" [denyFunction]="emptyFunc">
  <div class="row">
    <div class="col s12">
      <mat-form-field>
        <input type="text" [(ngModel)] ="hu.SSCC" matInput [placeholder]="tr('SSCC')">
      </mat-form-field>
    </div>
  </div>
</sp-dialog-confirm>

<sp-dialog-confirm #popupMessage [confirmFunction]="emptyFunc.bind(this)" [title]="popupHeaderTitle" [headerColor]="popupMessageHeaderColor">
  <div class="row">
    <div class="col s12">
      {{popupMessageResponse}}
    </div>
  </div>
</sp-dialog-confirm>


<sp-dialog #printDialog [closeByOverlayClick]="false">
  <div class="print-dialog">
    <div class="row" *ngIf="huToPrint && huToPrint.SSCC">
      <div class="col s4" *ngIf="printers.length>0">
        <mat-form-field>
          <mat-select [(ngModel)]="huToPrint.Printer" [placeholder]="tr('PRINTERS')">
            <mat-option *ngFor="let p of printers" [value]="p.Name">{{p.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s4" *ngIf="huLabels.length>0 && huToPrint.HULabelLink && huToPrint.HULabelLink[0]">
        <mat-form-field>
          <mat-select [(ngModel)]="huToPrint.HULabelLink[0].LabelName" (ngModelChange)="handleLabelChange()" [placeholder]="tr('LABELS')">
            <mat-option *ngFor="let l of huLabels" [value]="l.LabelName">{{l.LabelDesc}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col s4 " *ngIf="huToPrint.HULabelLink && huToPrint.HULabelLink[0] && huToPrint.HULabelLink[0].LabelName">
        <mat-form-field>
          <input type="number" id="copies" [(ngModel)]="huToPrint.HULabelLink[0].Copies" matInput [placeholder]="tr('COPIES')"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="huToPrint && huToPrint.Printer && huToPrint.HULabelLink && huToPrint.HULabelLink[0].LabelName">
      <div class="col s12">
        <div class="flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab class="serioplast-green" (click)="doPrintHU()"><mat-icon>print</mat-icon></button>
        </div>
      </div>
    </div>
  </div>

</sp-dialog>
