<ng-container *ngIf="!disableSection">
  <div class="addForm" *ngIf="editOn">
    <div class="row">
      <div class="col s8">
        <div class="row nomargin">
          <div class="col s6">
            <mat-form-field>
              <mat-select [placeholder]="tr('TYPE')" [(ngModel)]="odfToEdit.document.type.pk" name="document_type" class="full-width">
                <ng-container *ngFor="let t of matOrgDocTypes">
                  <mat-option [value]="t.pk">{{t.__str__}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col s6">

            <mat-form-field class="hideInput">
              <input matInput placeholder="{{tr('DOCUMENT')}}" value=" " [disabled]="true">
              <div class="flex" *ngIf="odfToEdit.document.attachment_file">
                {{extractFileName(odfToEdit.document.attachment_file)}}
                <button type="button" mat-mini-fab (click)="odfToEdit.document.attachment_file=null" class="serioplast-red">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <ng-container *ngIf="!odfToEdit.document.attachment_file">
                <button mat-raised-button class="serioplast-green" (click)="doc.click()">File</button>
                <input hidden type="file" #doc (change)="uploadFile(doc)"/>
                <ng-container *ngIf="doc.value">
                  {{extractFileName(doc.value)}}
                  <button type="button" mat-mini-fab (click)="doc.value=null" class="serioplast-red">
                    <mat-icon>delete</mat-icon>
                  </button>
                </ng-container>

              </ng-container>
            </mat-form-field>
          </div>
        </div>
        <div class="row nomargin">
          <div class="col s6">
            <mat-form-field>
              <input type="text" [(ngModel)]="odfToEdit.document.doc_id" matInput [placeholder]="tr('DOCUMENT_ID')"/>
            </mat-form-field>
          </div>
          <div class="col s6">
            <mat-form-field>
              <input type="text" [(ngModel)]="odfToEdit.document.version" matInput [placeholder]="tr('VERSION')"/>
            </mat-form-field>
          </div>
        </div>
        <div class="row nomargin">
          <div class="col s12">
            <mat-form-field>
              <textarea matInput [placeholder]="tr('NOTES')" [(ngModel)]="odfToEdit.document.notes"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col s4">
        <mat-card>
          <mat-card-title>Materials</mat-card-title>
          <mat-card-content>

            <ng-container *ngIf="createMode">
              <organization-search [label]="tr('ORGANIZATION')" (organizationSelected)="organizationSelected($event)"></organization-search>
              <!--<mat-form-field>-->
                <!--<mat-select [placeholder]="tr('ORGANIZATION')" [(ngModel)]="odfToEdit.organization.pk" name="organization" (ngModelChange)="handleOrganizationEditChange()">-->
                  <!--<ng-container *ngFor="let o of organizations">-->
                    <!--<mat-option [value]="o.pk">{{o.__str__}}</mat-option>-->
                  <!--</ng-container>-->
                <!--</mat-select>-->
              <!--</mat-form-field>-->
            </ng-container>

            <ng-container *ngIf="!createMode">
              <mat-form-field>
                <input type="text" [(ngModel)]="odfToEdit.organization.__str__" matInput [placeholder]="tr('ORGANIZATION')" matInput/>
              </mat-form-field>
            </ng-container>

            <div class="material flex" *ngFor="let d of odfToEdit.material_organizations">
              <mat-checkbox [color]="'primary'" [(ngModel)]="d.active">
                <pk-tr [source]="d.materialOrganization.material.pk|material"></pk-tr>
              </mat-checkbox>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <sp-save-undo (undo)="undoMaterialOrganizationDocument()" (save)="saveMaterialOrganizationDocument()" [saveCondition]="canSave()"></sp-save-undo>
  </div>

  <ng-container *ngIf="!editOn">

    <ng-container *ngIf="orgDocs.length>0">
      <div class="docs-container">
        <ng-container *ngFor="let od of orgDocs" >
          <mat-card class="organization-documents" *ngIf="od.documents.length>0">
            <mat-card-title>{{od.organization.__str__}}</mat-card-title>
            <mat-card-content>
              <div>
                <table #table class="mdl-data-table striped noclick">
                  <thead>
                  <tr>
                    <th style="width:40%;">File</th>
                    <th><sp-ng-translate [value]="'TYPE'"></sp-ng-translate></th>
                    <th><sp-ng-translate [value]="'ID'"></sp-ng-translate></th>
                    <th><sp-ng-translate [value]="'VERSION'"></sp-ng-translate></th>
                    <th style="min-width:130px">
                      <sp-ng-translate [value]="'ACTIONS'"></sp-ng-translate>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngFor="let d of od.documents">
                    <tr [ngClass]="{'unavailable':!d.is_enabled_for_material}">
                      <td>
                        {{extractFileName(d.document.__str__)}}
                      </td>
                      <td>{{d.document.type.__str__}}</td>
                      <td>{{d.document.doc_id}}</td>
                      <td>{{d.document.version}}</td>
                      <td>
                        <mat-icon *ngIf="d.is_enabled_for_material" matTooltip="Download" [matTooltipPosition]="'below'" (click)="downloadMaterialOrganizationDocument(d.document)">
                          file_download
                        </mat-icon>
                        <mat-icon matTooltip="Edit" [matTooltipPosition]="'below'" (click)="editMaterialOrganizationDocument(d)">edit
                        </mat-icon>
                        <mat-icon *ngIf="d.is_enabled_for_material" matTooltip="Delete" [matTooltipPosition]="'below'" (click)="deleteMaterialOrganizationDocument(d.document)">
                          delete
                        </mat-icon>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>
              <div class="row flex add-container">
                <span class="fill-remaining-space"></span>
                <button mat-mini-fab type="button" class="serioplast-green" matTooltip="Create"
                        [matTooltipPosition]="'below'" (click)="createMaterialOrganizationDocument(od.organization)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="orgDocs.length==0">
      {{tr('NO_DOCS_AVAILABLE')}}
    </ng-container>


    <div class="row flex add-container">
      <span class="fill-remaining-space"></span>
      <button mat-mini-fab type="button" class="serioplast-green" matTooltip="Create"
              [matTooltipPosition]="'below'" (click)="createMaterialOrganizationDocument()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </ng-container>
</ng-container>



