.addForm {
  margin:10px;
  padding:10px;
}

.docs-container {
  padding:10px 0;
}

.organization-documents {
  background:rgba(76,175,80, 0.2);
  box-shadow: none;
  transition: initial;
  margin-bottom:10px;
}

.organization-documents table{
  background:white;
}

.organization-documents table tr.unavailable{
  opacity:0.2;
}

.add-container {
  padding:20px;
}

