<div class="row main" materialize>

  <div class="col s1">
    <sp-settings>
      <div style="width:400px; height:400px">
        <sp-language-selector></sp-language-selector>
      </div>
    </sp-settings>
  </div>


    <!--<button mat-fab class="serioplast-red logout" (click)="logout()">-->
      <!--<mat-icon class="md-24">power_settings_new</mat-icon>-->
    <!--</button>-->

  <div class="col s10">

    <div class="row main outlet">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>






