<button mat-fab class="back grey" (click)="back()">
  <i class="material-icons">keyboard_arrow_left</i>
</button>

<div class="container" style="padding-top:20px;">
  <sp-stepper #stepper>
    <!-- STEP 1: Material & Site -->
    <sp-stepper-item [nextCondition]="step1ProceedCondition.bind(this)" (onConfirm)="step1ProceedConfirm()">
      <sp-stepper-item-title>Material and Site</sp-stepper-item-title>
      <sp-stepper-item-content-active >
        <div class="row">
          <div class="col s8">
            <user-sites (siteChange)="handleSiteChange($event)"></user-sites>
          </div>
          <div class="col s4">
            <mat-checkbox color="primary" [(ngModel)]="useAsMaterialFilter" (ngModelChange)="setSiteFilter()">
              <sp-ng-translate [value]="'USE_AS_MATERIAL_FILTER'"></sp-ng-translate>
            </mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col s12" *ngIf="session.site.code" >
            <material-selector (selectedMaterial)="selectedMaterial.bind(this)($event)" [additionalQuery]="materialAdditionalQuery"></material-selector>
          </div>
        </div>
      </sp-stepper-item-content-active>
      <sp-stepper-item-content-inactive>
        <div class="row">
          <div class="col s6">
            <fixed-field *ngIf="session.site.pk" [label]="'SITE'" [value]="session.site.__str__"></fixed-field>
          </div>
          <div class="col s6">
            <fixed-field *ngIf="session.material.pk" [label]="'MATERIAL'" [value]="session.material.__str__"></fixed-field>
          </div>

        </div>
      </sp-stepper-item-content-inactive>
    </sp-stepper-item>

     <!--STEP 2: Control Plan & Routing-->
    <sp-stepper-item [nextCondition]="step2ProceedCondition.bind(this)" (onConfirm)="step2ProceedConfirm()" (onPrevious)="step2Previous()">
      <sp-stepper-item-title>Control Plan</sp-stepper-item-title>
      <sp-stepper-item-content-active>
        <div class="row" *ngIf="session.material && session.material.pk">
          <div class="col s4">
            <mat-form-field>
              <mat-select [(ngModel)]="cpSite" [placeholder]="tr('CONTROL_PLAN_SITE')" (ngModelChange)="handleSiteCPChange()" class="full-width">
                <mat-option *ngFor="let s of sites" [value]="s.pk">{{s.__str__}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col s8">
            <div class="flex">
              <div style="width: calc(100% - 40px)">
                <mat-form-field>
                  <mat-select [(ngModel)]="session.control_plan.pk" [placeholder]="tr('CONTROL_PLAN')" (ngModelChange)="handleControlPlanChange()">
                    <mat-option *ngFor="let cp of controlPlans" [value]="cp.pk">{{cp.description}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-icon *ngIf="session.control_plan.pk && session.control_plan.measures && session.control_plan.measures.length>0" (click)="showCPDetail(session.control_plan.pk)">visibility</mat-icon>
            </div>

          </div>

        </div>
      </sp-stepper-item-content-active>
      <sp-stepper-item-content-inactive>
        <div class="row" *ngIf="session.control_plan && session.control_plan.pk">
          <div class="col s12">
            <div class="flex" >
              <div style="width:calc(100% - 40px)">
                <fixed-field [label]="tr('CONTROL_PLAN')" [value]="session.control_plan.description"></fixed-field>
              </div>
              <mat-icon *ngIf="session.control_plan.pk" (click)="showCPDetail(session.control_plan.pk)">visibility</mat-icon>
            </div>

          </div>
        </div>
      </sp-stepper-item-content-inactive>
    </sp-stepper-item>

     <!--STEP 3: Batch-->
    <sp-stepper-item [nextCondition]="step3ProceedCondition.bind(this)" (onConfirm)="step3ProceedConfirm()" (onPrevious)="step3Previous()">
      <sp-stepper-item-title>Batch</sp-stepper-item-title>
      <sp-stepper-item-content-active>
        <div class="row">
          <div class="col s3">
            <mat-checkbox [(ngModel)]="session.external" color="primary">
              <sp-ng-translate [value]="'EXTERNAL'"></sp-ng-translate>
            </mat-checkbox>
          </div>
        </div>
        <div class="row" *ngIf="session.material && session.material.pk && session.control_plan && session.control_plan.pk">
          <ng-container *ngIf="session.external">
            <div class="col s6">
              <datetime-input [placeholder]="'SAMPLING_TIME'" [(ngModel)]="session.sampling_time"></datetime-input>
            </div>
            <div class="col s6">
              <mat-form-field>
                <input type="text" [(ngModel)]="session.batch" matInput [placeholder]="tr('EXTERNAL_BATCH_CODE')"/>
              </mat-form-field>
            </div>

          </ng-container>
          <ng-container *ngIf="!session.external">
            <div class="col s3">
              <datetime-input [placeholder]="'SAMPLING_TIME'" [(ngModel)]="session.sampling_time"></datetime-input>
            </div>
            <div class="col s3">
              <date-input [placeholder]="tr('BATCH_FROM')"  [(ngModel)]="fromDate"></date-input>
            </div>
            <div class="col s3">
              <div class="flex">
                <div style="width:calc(100% - 40px)">
                  <date-input [placeholder]="tr('BATCH_TO')"  [(ngModel)]="toDate"></date-input>
                </div>
                <div>
                  <mat-icon *ngIf="fromDate && toDate" (click)="loadBatches()">search</mat-icon>
                </div>
              </div>
            </div>
            <div class="col s3" *ngIf="batches.length">
              <mat-form-field>
                <mat-select [(ngModel)]="session.batch" [placeholder]="tr('BATCH_SELECTION')" (ngModelChange)="handleBatchSelection()" class="full-width">
                  <mat-option value="" disabled selected></mat-option>
                  <mat-option *ngFor="let b of batches" [value]="b.BatchNumber">{{b.BatchNumber}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>

          </ng-container>
        </div>
      </sp-stepper-item-content-active>
      <sp-stepper-item-content-inactive>
        <div class="row">
          <div class="col s4">
            <fixed-field [label]="tr('SAMPLING_TIME')" [value]="session.sampling_time|date:'d/M/yy, H:mm'"></fixed-field>
          </div>
          <div class="col s4">
            <fixed-field [label]="tr('EXTERNAL')" [value]="session.external" [isBoolean]="true"></fixed-field>
          </div>
          <div class="col s4">
            <fixed-field [label]="tr('BATCH')" [value]="session.batch"></fixed-field>
          </div>


        </div>
      </sp-stepper-item-content-inactive>

    </sp-stepper-item>

     <!--STEP 4: Grouping Factors & Factor Levels -->
    <sp-stepper-item [nextCondition]="step4ProceedCondition.bind(this)" (onConfirm)="step4ProceedConfirm()" (onPrevious)="step4Previous()">
      <sp-stepper-item-title>Grouping Factors & Factor Levels</sp-stepper-item-title>
      <sp-stepper-item-content-active>
        <ng-container *ngFor="let gf of session.groupingfactor_set">
          <div class="grouping-factor flex">
            <div class="actions" style="width:50px; margin-right:10px">
              <mat-icon (click)="deleteGroupingFactor(gf)">delete</mat-icon>
            </div>
            <div class="name"  style="width:150px; margin-right:10px">
              <input type="text" [(ngModel)]="gf.name" style="margin:0" placeholder="Name">
            </div>
            <div class="input"  style="width:150px; margin-right:10px">
              <input type="text" [(ngModel)]="gf.level_string" (ngModelChange)="makeFactorLevels(gf)" style="margin:0" placeholder="Factor Levels">
            </div>

            <div style="width:100px; margin-right:10px" *ngIf="gf.factorlevel_set.length>0">
              <button mat-button class="serioplast-blue" (click)="selectAll(gf)">Select all</button>
            </div>

            <div class="factor-levels flex">
              <mat-checkbox color="primary" *ngFor="let fl of gf.factorlevel_set" [(ngModel)]="fl.active"
                           style="margin-right:10px">{{fl.name}}
              </mat-checkbox>
            </div>

            <div style="width:50px;">
              <mat-icon *ngIf="gf && gf.factorlevel_set && !isGFOK(gf)" matTooltip="{{gf.message}}">warning</mat-icon>
            </div>
          </div>
        </ng-container>
        <div class="flex" style="padding:10px">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab class="serioplast-green" (click)="addGroupingFactor()"><mat-icon>add</mat-icon></button>
        </div>

      </sp-stepper-item-content-active>
      <sp-stepper-item-content-inactive>
        <div class="row" *ngIf="session.groupingfactor_set && session.groupingfactor_set.length>0">
          <div class="col s12">
            <p *ngFor="let gf of session.groupingfactor_set">
              <b style="color:#4CAF50">{{gf.name}}</b>: <span [innerHTML]="printFl(gf)"></span>
            </p>
          </div>
        </div>
        <div class="row save-button-container" >
          <div class="col s12 flex">
            <button mat-mini-fab class="serioplast-grey" (click)="backLastStep()">
              <i class="material-icons">keyboard_arrow_left</i>
            </button>
            <span class="fill-remaining-space"></span>
            <button mat-mini-fab class="serioplast-grey create" (click)="createSession()">
              <i class="material-icons">send</i>
            </button>
          </div>
        </div>
      </sp-stepper-item-content-inactive>
    </sp-stepper-item>
  </sp-stepper>
</div>


<sp-dialog #cpDetailDialog>
  <div style="width:900px">
    <app-seriolab-control-plan-view [cp]="cpToShow" *ngIf="cpToShow"></app-seriolab-control-plan-view>
  </div>
</sp-dialog>









