.back {
  position:fixed;
  top:60px;
  left:20px;
}

.row.filters {
  margin-top:20px;
}

#material {
  width:100%;
}

.create {
  color:white;
}

.back {
  position:absolute;
  top:20px;
  left:20px;
}

.save-button-container {
  padding:20px;
}

.factor-levels {
  flex-wrap: wrap;
  width:calc(100% - 490px);
  margin-right:10px
}
