td, th {
  padding: 4px 4px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

h5 {
  font-size: 1.44rem;
  line-height: 110%;
  margin: 0.2rem 0 1.66rem 0;
}

mat-select{
  width:100%;
}

.mat-select-panel {
  max-height: 320px;
}

.table-wrapper{
  overflow-x: auto;
  overflow-y: hidden;
}

.mat-select-panel {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 100% !important;
}

.test:hover{
  background: red;
}

.filter-package{
  color: #4CAF50;
}
.filter-package:hover{
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding:0;
}

*>>>table.striped {
  border-collapse: collapse;
}

*>>>table.striped>tbody>tr:nth-child(odd) {
  background-color: #f2f2f2;
}
