<div class="row">
</div>
<div class="row">
  <div class="col s12 m2">
    <div class="row">
      <div class="col s12">
        <h5>Filters</h5>
      </div>

      <mat-form-field>
        <mat-select placeholder="Organization" [(ngModel)]="organization_ref" name="org_ref"
                    (ngModelChange)="organizationChange()" required>
          <mat-option>Select a value</mat-option>
          <mat-option *ngFor="let org of organizations" [value]="org.pk">
            {{org.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <mat-select placeholder="Department" [(ngModel)]="department_ref" name="dept_ref"
                    (ngModelChange)="deptChange()" [disabled]="departmentDisabled" required>
          <mat-option disabled>Select a value</mat-option>
          <mat-option *ngFor="let dept of departments" [value]="dept.pk">
            {{dept.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <h6>Select packages</h6>
      <mat-list>
        <mat-list-item *ngFor="let pn of packagesAll">
          <package-checkbox [packagesNamesSelected]="packageNames" [package_name]="pn"
                            (onChangePackageCheckbox)="onChangePackageCheckbox($event)"></package-checkbox>
        </mat-list-item>
      </mat-list>

      <div class="flex">
        <span class="fill-remaining-space"></span>
        <button mat-mini-fab class="serioplast-green right" (click)="filterCompanyPositionNames()">
          <mat-icon>search</mat-icon>
        </button>
      </div>

    </div>
  </div>


  <div class="col s12 m10">
    <h5>Job Titles and Package names</h5>
    <div class="table-wrapper" *ngIf="deptPack">
      <div>
        <table *ngIf="packages.length == 0">
          <tr>
            <td style="width: 2%;color:orange;"><i class="material-icons">warning</i></td>
            <td style="color: orange">Please select packages</td>
          </tr>
        </table>
      </div>
      <table class="mdl-data-table striped noclick mdl-shadow--2dp" *ngIf="companypositionNames.length > 0">
        <thead>
        <th class="mdl-data-table__cell--non-numeric">Company Position Name</th>
        <th class="mdl-data-table__cell--non-numeric"></th>
        <th *ngFor="let p of packages" class="mdl-data-table__cell--non-numeric">{{p.name}}</th>
        </thead>
        <tr *ngFor="let cpn of companypositionNames">

          <td class="mdl-data-table__cell--non-numeric"><span matTooltip="{{cpn.org_level.__str__}}">{{cpn.name}}</span></td>
          <td class="mdl-data-table__cell--non-numeric">
            <cpnpackage-dialog [cpn]="cpn"></cpnpackage-dialog>
          </td>
          <td *ngFor="let p of packages" class="mdl-data-table__cell--non-numeric">
            <mat-checkbox color="primary" [checked]="isPackageEnabled(cpn,p)" (change)="togglePackageName(cpn,p)"
                          matTooltip="{{cpn.__str__}} - {{p.name}}"></mat-checkbox>
          </td>

        </tr>
      </table>
    </div>
    <sp-save-undo [saveCondition]="companypositionNamesToSave.length>0" [undoCondition]="false" (save)="saveCompanyPositionNames()"></sp-save-undo>
  </div>
</div>
