<div>
  <mat-select [placeholder]="translationService.translate('LANGUAGE_SELECT')" class="language" style="width: 100%"
             [(ngModel)]="language" (ngModelChange)="changeLanguage()">
    <mat-option [value]="" disabled selected>
      <sp-ng-translate [value]="'LANGUAGE_SELECT'"></sp-ng-translate>
    </mat-option>
    <mat-option *ngFor="let lang of translationService.availableLanguages" [value]="lang.code">
      <div class="flex">
        <sp-ng-translate [value]="lang.desc"></sp-ng-translate>
        <span class="fill-remaining-space"></span>
        <span class="flag {{lang.flagClass}} circle"></span>
      </div>
    </mat-option>
  </mat-select>
</div>
