<div class="row" style="margin-top:10px" *ngIf="purchaseOrder && deliveryHeader && !(purchaseOrder.POItemLink && purchaseOrder.POItemLink.length>0) && !(deliveryHeader.DelItemLink && deliveryHeader.DelItemLink.length>0)">
  <div class="col s5">
    <div class="centered">
      <div class="centered">
        <user-sites [appName]="'deck'" #sitesUser (siteChange)="siteSelected($event)"></user-sites>
      </div>
      <div>
        <mat-form-field>
          <input matInput [placeholder]="tr('PURCHASE_ORDER')" maxlength="10" type="text" [(ngModel)]="purchaseOrder.Order" style="width:calc(100% - 20px)"/>
          <mat-icon *ngIf="purchaseOrder.Order && purchaseOrder.Order.length==10 && poPlant && poPlant.code" (click)="loadPurchaseOrder()" class="small">search
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col s2 valign" style="height:60px">
    <div style="padding-top:20px;text-align: center">
      <sp-ng-translate [value]="'OR'"></sp-ng-translate>
    </div>
  </div>
  <div class="col s5">
    <div class="centered">
      <div>
        <mat-form-field>
          <input matInput [placeholder]="tr('DELIVERY')" maxlength="10" type="text" [(ngModel)]="deliveryHeader.Delivery" style="width:calc(100% - 20px)"/>
          <mat-icon *ngIf="deliveryHeader.Delivery && deliveryHeader.Delivery.length==10" (click)="loadDelivery()" class="small">search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="(purchaseOrder.POItemLink && purchaseOrder.POItemLink.length>0) || (deliveryHeader.DelItemLink && deliveryHeader.DelItemLink.length>0)">
  <div class="col s12" *ngIf="purchaseOrder.POItemLink && purchaseOrder.POItemLink.length>0">
    <div class="centered flex">
      <div>
        <mat-form-field>
          <input matInput [placeholder]="tr('PURCHASE_ORDER')" maxlength="10" type="text" [(ngModel)]="purchaseOrder.Order" [disabled]="true"/>
        </mat-form-field>
      </div>
      <div style="margin-left:20px; position:relative">
        <mat-form-field>
          <input matInput [placeholder]="tr('SITE')" type="text" [value]="poPlant.__str__" [disabled]="true"/>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col s12" *ngIf="deliveryHeader.DelItemLink && deliveryHeader.DelItemLink.length>0">
    <div class="centered">
      <div>
        <mat-form-field>
          <input matInput [placeholder]="tr('DELIVERY')"type="text" [value]="deliveryHeader.Delivery" [disabled]="true"/>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="purchaseOrder.POItemLink && purchaseOrder.POItemLink.length>0">


  <div class="flex" >
    <h5>{{purchaseOrder.SupplierName}} ({{purchaseOrder.Supplier}})</h5>
    <span class="fill-remaining-space"></span>
    <div *ngIf="purchaseOrder.printer && purchaseOrder.copies">
      Printer: {{purchaseOrder.printer}}; Copies: {{purchaseOrder.copies}} <mat-icon (click)="setPrintInfoBatch()">edit</mat-icon>
    </div>
  </div>

  <div class="flex" *ngIf="printers.length==0">
    <span class="fill-remaining-space"></span>
    <div>
      <sp-ng-translate [value]="'NO_PRINTERS_AVAILABLE'"></sp-ng-translate>
    </div>
  </div>

  <ng-container *ngFor="let i of purchaseOrder.POItemLink">
    <div class="po-item">
      <div class="row">
        <div class="col s1">
          <mat-checkbox [(ngModel)]="i.selected" color="primary"></mat-checkbox>
        </div>
        <div class="col s11">
          <div class="row">
            <div class="col s3">
              <mat-form-field>
                <input matInput [placeholder]="tr('ITEM')"type="text" [value]="i.Item" [disabled]="true"/>
              </mat-form-field>
            </div>
            <div class="col s7">
              <mat-form-field>
                <input matInput [placeholder]="tr('MATERIAL')"type="text" [value]="i.Material+' '+i.Description" [disabled]="true"/>
              </mat-form-field>
            </div>
            <div class="col s2">
              <mat-form-field>
                <ng-container *ngIf="i.SuppBatchLink && i.SuppBatchLink.length==0">
                  <input matInput [placeholder]="tr('AMOUNT')"type="number" [(ngModel)]="i.Quantity" style="width:calc(100% - 50px)" (ngModelChange)="i.selected=true; checkQuantity(i)"/>&nbsp;{{i.Uom}}
                </ng-container>
                <ng-container *ngIf="i.SuppBatchLink && i.SuppBatchLink.length>0">
                  <input matInput [placeholder]="tr('AMOUNT')"type="text" [value]="i.Quantity+ ' '+i.Uom"/>
                </ng-container>
              </mat-form-field>
            </div>
          </div>

          <ng-container *ngIf="!i.Palletization">

            <mat-accordion class="small">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <sp-ng-translate [value]="'SUPPLIER_BATCHES'"></sp-ng-translate>
                  </mat-panel-title>
                </mat-expansion-panel-header>


                <sp-table-with-pages [availableActions]="availableActionsSupplierBatch" [headerConf]="headerConfSupplierBatch" [renderOnly]="true" [data]="i.SuppBatchLink" [showPaginator]="false"></sp-table-with-pages>

                <div class="add-button-container flex" *ngIf="!i.enable_add && calculateMissingPOI(i)>0">
                  <span class="fill-remaining-space"></span>
                  <button mat-mini-fab class="serioplast-green" (click)="addSupplierBatchToItem(i)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <div class="add-hu-container flex" *ngIf="i.enable_add && i.bToAdd">
                  <mat-form-field style="width:300px">
                    <input matInput [placeholder]="tr('SUPPLIER_BATCH')"type="text" maxlength="15" [(ngModel)]="i.bToAdd.SuppBatch"/>
                  </mat-form-field>
                  <mat-form-field style="margin-left:20px; width:300px">
                    <input matInput [placeholder]="tr('AMOUNT')"type="number" step="0.01" [(ngModel)]="i.bToAdd.Quantity"/>
                  </mat-form-field>

                   <button mat-mini-fab class="serioplast-green" (click)="confirmAddBatchToItem(i)">
                    <mat-icon>send</mat-icon>
                  </button>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </ng-container>
        </div>
      </div>

    </div>
  </ng-container>

  <sp-save-undo (undo)="reset()" (save)="savePO()"></sp-save-undo>
</ng-container>


<ng-container *ngIf="deliveryHeader.DelItemLink && deliveryHeader.DelItemLink.length>0">

  <div class="flex" *ngIf="deliveryHeader.printer && deliveryHeader.label && deliveryHeader.copies">
    <span class="fill-remaining-space"></span>
    <div>
      Printer: {{deliveryHeader.printer}}; Label: {{deliveryHeader.label}}; Copies: {{deliveryHeader.copies}} <mat-icon (click)="setPrintInfo()">edit</mat-icon>
    </div>
  </div>

  <div class="flex" *ngIf="printers.length==0">
    <span class="fill-remaining-space"></span>
    <div>
      <sp-ng-translate [value]="'NO_PRINTERS_AVAILABLE'"></sp-ng-translate>
    </div>
  </div>

  <ng-container *ngFor="let i of deliveryHeader.DelItemLink">
    <div class="d-item">
      <div class="row">
        <div class="col s2">
          <mat-form-field>
            <input matInput [placeholder]="tr('ITEM')" [(ngModel)]="i.Item" [disabled]="true"/>
          </mat-form-field>
        </div>
        <div class="col s4">
          <mat-form-field>
            <input matInput [placeholder]="tr('MATERIAL')" [value]="i.Material+' '+i.Description" [disabled]="true"/>
          </mat-form-field>
        </div>
        <div class="col s4">
          <mat-form-field>
            <input matInput [placeholder]="tr('PALLETTIZATION')" [value]="i.Palletization?i.Palletization:'-'" [disabled]="true"/>
          </mat-form-field>
        </div>
        <div class="col s2">
          <mat-form-field>
            <input matInput [placeholder]="tr('AMOUNT')" [value]="parseFloat(i.Quantity)+' '+i.Uom" [disabled]="true"/>
          </mat-form-field>
        </div>
      </div>

      <ng-container *ngIf="i.palletizationDefQty">

        <mat-accordion class="small">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <sp-ng-translate [value]="'HANDLING_UNITS'"></sp-ng-translate>
              </mat-panel-title>
            </mat-expansion-panel-header>


            <sp-table-with-pages *ngIf="i.hus&& i.hus.length>0" [availableActions]="availableActionsHU" [headerConf]="headerConfHU" [renderOnly]="true" [data]="i.hus" [showPaginator]="false" [noItemsMessage]="'No items'"></sp-table-with-pages>

            <div class="add-button-container flex" *ngIf="!i.enable_add && !targetReached(i)">
              <span class="fill-remaining-space"></span>
              <button mat-mini-fab class="serioplast-green" (click)="addHuToItem(i)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <div class="add-hu-container flex" *ngIf="i.enable_add && i.huToAdd">
              <mat-form-field style="width:20%">
                <input matInput [placeholder]="tr('AMOUNT')"type="number" step="0.01" [(ngModel)]="i.huToAdd.PackedQty"/>
              </mat-form-field>
              <mat-form-field style="margin-left:20px; width:20%">
                <input matInput [placeholder]="tr('SUPPLIER_BATCH')"type="text" maxlength="15" [(ngModel)]="i.huToAdd.SuppBatch"/>
              </mat-form-field>
              <mat-form-field style="margin-left:20px; width:20%">
                <input matInput [placeholder]="tr('REPEATS')"type="number" min="1" [(ngModel)]="i.huToAdd.repeats"/>
              </mat-form-field>

              <button mat-mini-fab class="serioplast-green" (click)="confirmAddHuToItem(i)">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
    </div>
  </ng-container>
  <sp-save-undo (save)="saveDelivery()" (undo)="reset()"></sp-save-undo>
</ng-container>

<sp-dialog #printSettingDialog [closeByOverlayClick]="false">
  <div class="print-dialog">
    <div class="row">
      <div class="col s4" *ngIf="printers.length>0">
        <mat-form-field>
          <mat-select [placeholder]="tr('PRINTER')" [(ngModel)]="deliveryHeader.printer">
            <mat-option *ngFor="let p of printers" [value]="p.Name">{{p.Name}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col s4" *ngIf="labels.length>0">
        <mat-form-field>
          <mat-select [placeholder]="tr('LABEL')" [(ngModel)]="deliveryHeader.label">
            <mat-option *ngFor="let l of labels" [value]="l.LabelName">{{l.LabelDesc}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s4">
        <mat-form-field>
          <input matInput [placeholder]="tr('COPIES')" type="number" id="copies" [(ngModel)]="deliveryHeader.copies"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab class="serioplast-green" (click)="printSettingDialog.close()">
            <mat-icon>print</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

</sp-dialog>

<sp-dialog #printSettingDialogPO [closeByOverlayClick]="false">
  <div class="print-dialog">
    <div class="row">
      <div class="col s4" *ngIf="printers.length>0">
        <mat-form-field>
          <mat-select [placeholder]="tr('PRINTER')" [(ngModel)]="purchaseOrder.printer">
            <mat-option *ngFor="let p of printers" [value]="p.Name">{{p.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s4">
        <mat-form-field>
          <input type="number" matInput [placeholder]="tr('COPIES')" [(ngModel)]="purchaseOrder.copies"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab class="serioplast-green" (click)="printSettingDialogPO.close()">
            <mat-icon>print</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

</sp-dialog>

<sp-dialog #printSettingDialogEdit [closeByOverlayClick]="true">
  <div class="print-dialog">
    <div class="row">
      <div class="col s4" *ngIf="printers.length>0">
        <mat-form-field>
          <mat-select [placeholder]="tr('PRINTER')" [(ngModel)]="deliveryHeader.printer">
            <mat-option *ngFor="let p of printers" [value]="p.Name">{{p.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s4" *ngIf="labels.length>0">
        <mat-form-field>
          <mat-select [placeholder]="tr('LABEL')" [(ngModel)]="deliveryHeader.label">
            <mat-option *ngFor="let l of labels" [value]="l.LabelName">{{l.LabelDesc}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s4">
        <mat-form-field>
          <input type="number" matInput [placeholder]="tr('COPIES')" [(ngModel)]="deliveryHeader.copies"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab class="serioplast-green" (click)="printSettingDialogEdit.close()">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

</sp-dialog>

<sp-dialog #printSettingDialogEditPO [closeByOverlayClick]="true">
  <div class="print-dialog">
    <div class="row">
      <div class="col s4" *ngIf="printers.length>0">
        <mat-form-field>
          <mat-select [placeholder]="tr('PRINTER')" [(ngModel)]="purchaseOrder.printer">
            <mat-option *ngFor="let p of printers" [value]="p.Name">{{p.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s4">
        <mat-form-field>
          <input type="number" matInput [placeholder]="tr('COPIES')" [(ngModel)]="purchaseOrder.copies"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="flex">
          <span class="fill-remaining-space"></span>
          <button mat-mini-fab class="serioplast-green" (click)="printSettingDialogEditPO.close()">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

</sp-dialog>

