.hidden {
  display:none;
}

.deliveries {
  margin-bottom:20px;
  padding:0 20px;
}

.po-item {
  padding:10px;
  margin-bottom:10px;
  background:#cdeecb;
}

.d-item {
  padding:10px;
  margin-bottom:10px;
  background:#96db91;
}


.po-item sp-accordion-item>>>mat-toolbar,
.d-item sp-accordion-item>>>mat-toolbar{
  height:30px;
  font-size:14px;
  line-height:30px;
  background-color:#ddd;
  padding:0 10px;
  min-height: 30px;
  color:black;
}

.po-item sp-accordion-item>>>.mat-toolbar-row,
.d-item sp-accordion-item>>>.mat-toolbar-row{
  height:30px;
}

sp-accordion-item>>>.mat-card {
  padding:10px;
}

.add-button-container {
  padding:20px;
}

mat-icon.small {
  font-size: inherit;
  height: 1.125em;
  line-height: 1.125;
  width: 1em;
}
