
<div class="row nomargin">
  <div class="col s12 flex">
    <span class="fill-remaining-space"></span>
    <span *ngIf="worktooltype.editable"><span class="small">Editable/</span> </span>
    <span *ngIf="worktooltype.asset_tool"><span class="small">Asset Tool/</span> </span>
    <span *ngIf="worktooltype.by_plant"><span class="small">Plant Specs/</span> </span>
  </div>

</div>


<mat-accordion>
  <mat-expansion-panel [expanded]="show">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h6><b>{{ worktooltype.name }}</b></h6>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="background-color: rgba(76,175,80, 0.2);padding: 10px;margin-bottom: 10px;border-bottom: solid 2px #4caf50;">


      <mat-chip-list >
        <mat-chip *ngFor="let obj of worktooltype.objects" class="worktool" (click)="addObjToPackage(obj)">
          <div class="flex">
            {{obj.__str__}}
            <mat-icon>keyboard_arrow_right</mat-icon>
          </div>
        </mat-chip>
      </mat-chip-list>
    </div>

  </mat-expansion-panel>

</mat-accordion>


<!--<div style="margin-bottom: 10px;">-->
  <!--<div style="background-color: whitesmoke;">-->
    <!--<i *ngIf="show" class="material-icons green-text right" style="margin: 2px;"-->
       <!--(click)="showobj()">keyboard_arrow_up</i>-->
    <!--<i *ngIf="!show" class="material-icons green-text right" style="margin: 2px;" (click)="hideobj()">keyboard_arrow_down</i>-->
    <!--<h6 style="margin-bottom:0px;padding:5px;"><b>{{ worktooltype.name }}</b></h6>-->
    <!--<div class="divider"></div>-->
  <!--</div>-->
  <!--<div *ngIf="show" style="background-color: rgba(76,175,80, 0.2);padding: 10px;margin-bottom: 10px;border-bottom: solid 2px #4caf50;">-->


    <!--<mat-chip-list >-->
      <!--<mat-chip *ngFor="let obj of worktooltype.objects" class="worktool" (click)="addObjToPackage(obj)">-->
        <!--<div class="flex">-->
          <!--{{obj.__str__}}-->
          <!--<mat-icon>keyboard_arrow_right</mat-icon>-->
        <!--</div>-->
      <!--</mat-chip>-->
    <!--</mat-chip-list>-->
  <!--</div>-->

<!--</div>-->


