
td, th {
  padding: 4px 4px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

h5 {
  font-size: 1.44rem;
  line-height: 110%;
  margin: 0.2rem 0 1.66rem 0;
}

mat-chip.worktool {
  outline: none;
  background-color: white;
  margin: 2px;
  padding-top: 0px;
  cursor:pointer;
}

mat-chip.worktool .flex {
  margin-top:7px;
}

*>>>.mat-expansion-panel-body {
  padding:0;
}
