<mat-tab-group #tab (selectTabChange)="tabChange()">
  <mat-tab label="Employees">
    <hr-employees-list *ngIf="selectedIndex==0"></hr-employees-list>
  </mat-tab>
  <mat-tab label="Badges">
    <badges-management *ngIf="selectedIndex==1"></badges-management>
  </mat-tab>
  <mat-tab label="Local Packages">
  <local-package *ngIf="selectedIndex==2"></local-package>
  </mat-tab>
  <mat-tab label="Reports">
    <hr-management-analytics *ngIf="selectedIndex==3"></hr-management-analytics>
  </mat-tab>
</mat-tab-group>


